<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.MQUserEmailDao">
	
	<select id="queryEmailListByEmailAddress" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.message_id messageId
		FROM
			email_mail a
		WHERE (a.to_people = #{userAddress}
		OR INSTR(CONCAT(',', a.to_cc, ','), CONCAT(',', #{userAddress}, ','))
		OR INSTR(CONCAT(',', a.to_bcc, ','), CONCAT(',', #{userAddress}, ',')))
		AND a.email_state = '1'
	</select>
	
	<insert id="insertEmailListToServer" parameterType="java.util.Map">
	     insert into email_mail
	     (id, title, send_date, replay_sign, is_new, is_contain_attach, from_people, to_people, to_cc, to_bcc, message_id, content, create_time, email_state)
	     values
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.id}, #{item.title}, #{item.sendDate}, #{item.replaySign}, #{item.isNew}, #{item.isContainAttach}, #{item.fromPeople}, #{item.toPeople}, #{item.toCc}, 
				#{item.toBcc}, #{item.messageId}, #{item.content}, #{item.createTime}, #{item.emailState})  
		</foreach>  
	</insert>
	
	<insert id="insertEmailEnclosureListToServer" parameterType="java.util.Map">
	     insert into email_enclosure
	     (id, file_name, file_ext_name, file_path, file_size, parent_id)
	     values
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.id}, #{item.fileName}, #{item.fileExtName}, #{item.filePath}, #{item.fileSize}, #{item.parentId})  
		</foreach>  
	</insert>
	
	<select id="queryEmailListByEmailFromAddress" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.message_id messageId
		FROM
			email_mail a
		WHERE a.from_people = #{userAddress}
		AND a.email_state = '1'
	</select>
	
	<select id="queryDeleteEmailListByEmailFromAddress" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.message_id messageId
		FROM
			email_mail a
		WHERE (a.to_people = #{userAddress}
		OR INSTR(CONCAT(',', a.to_cc, ','), CONCAT(',', #{userAddress}, ','))
		OR INSTR(CONCAT(',', a.to_bcc, ','), CONCAT(',', #{userAddress}, ',')))
		AND a.email_state = '2'
	</select>
	
	<select id="queryDraftsEmailListByEmailFromAddress" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.message_id messageId
		FROM
			email_mail a
		WHERE a.from_people = #{userAddress}
		AND a.email_state = '0'
	</select>
	
	<select id="queryEmailMessageIdByEmailId" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.message_id messageId
        FROM
            email_mail a
        WHERE
            a.id = #{emailId}
    </select>
    
    <update id="editEmailMessageIdByEmailId" parameterType="java.util.Map">
        UPDATE email_mail
        <set>
            <if test="messageId != '' and messageId != null">
                message_id = #{messageId},
            </if>
        </set>
        WHERE id = #{id}
    </update>
    
    <select id="queryServiceMationBySericeId" resultType="java.util.Map">
    	SELECT
			a.id,
			a.order_num orderNum,
			b.user_name userName,
			a.service_user_id userId,
			IFNULL(b.email, '') email,
			IFNULL(a.cooperation_user_id, '') cooperationUserId
		FROM
			crm_service a,
			sys_eve_user_staff b
		WHERE a.id = #{serviceId}
		AND a.service_user_id = b.user_id
    </select>
    
    <select id="queryCooperationUserNameById" resultType="java.util.Map">
		SELECT
			b.user_id id,
			b.user_name `name`,
			b.email
		FROM
			crm_service a,
			sys_eve_user_staff b
		WHERE
			a.id = #{serviceId}
		AND INSTR(CONCAT(',', a.cooperation_user_id, ','),CONCAT(',', b.user_id, ','))
	</select>
	
	<insert id="insertNoticeListMation" parameterType="java.util.Map">
	     insert into sys_eve_user_notice 
	     (id, title, `desc`, content, state, receive_id, type, create_id, create_time)
	     values
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.id}, #{item.title}, #{item.noticeDesc}, #{item.content}, #{item.state}, #{item.userId}, #{item.type}, #{item.createId}, #{item.createTime})
		</foreach>  
	</insert>
	
</mapper>