<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
    <link href="../../assets/lib/layui/lay/modules/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <link href="../../assets/lib/layui/lay/modules/contextMenu/jquery.contextMenu.min.css" rel="stylesheet" />
</head>
<body>
	<div style="margin: 0 auto; padding: 20px;">
	    <form class="layui-form" action="" id="showForm" autocomplete="off">
	        
	    </form>
	</div>
	
	<script type="text/x-handlebars-template" id="beanTemplate">
		{{#bean}}
			<div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">任职单位<i class="red">*</i></label>
		        <div class="layui-input-block">
		        	<input type="text" id="workUnit" name="workUnit" win-verify="required" placeholder="请输入任职单位" class="layui-input" value="{{workUnit}}" maxlength="150"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">任职部门<i class="red">*</i></label>
		        <div class="layui-input-block">
		        	<input type="text" id="department" name="department" win-verify="required" placeholder="请输入任职部门" class="layui-input" value="{{department}}" maxlength="100"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">职务<i class="red">*</i></label>
		        <div class="layui-input-block">
		        	<input type="text" id="job" name="job" win-verify="required" placeholder="请输入职务" class="layui-input" value="{{job}}" maxlength="100"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">岗位</label>
		        <div class="layui-input-block">
		        	<input type="text" id="station" name="station" placeholder="请输入岗位" class="layui-input" value="{{station}}" maxlength="100"/>
		        </div>
		    </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">任职开始日期<i class="red">*</i></label>
	            <div class="layui-input-block">
	                <input type="text" id="startTime" name="startTime" win-verify="required" placeholder="请选择任职开始日期" class="layui-input" value="{{startTime}}" maxlength="20"/>
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">任职结束日期</label>
	            <div class="layui-input-block">
	                <input type="text" id="endTime" name="endTime" win-verify="required" placeholder="请选择任职结束日期" class="layui-input" value="{{endTime}}" maxlength="20"/>
	            </div>
	        </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">附件资料</label>
				<div class="layui-input-block" id="enclosureUpload">
		        </div>
		    </div>
			<div class="layui-form-item layui-col-xs12">
		        <div class="layui-input-block">
		            <button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
		            <button class="winui-btn" lay-submit lay-filter="formEditBean"><language showName="com.skyeye.save"></language></button>
		        </div>
		    </div>
		{{/bean}}
	</script>
	
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
		layui.config({base: '../../js/sysStaffJobResume/'}).use('sysStaffJobResumeEdit');
	</script>
</body>
</html>