<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SysWorkPlanDao">
	
	<select id="querySysWorkPlanList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			b.user_name userName,
			a.plan_type planType,
			DATE_FORMAT(a.create_time, '%Y-%m-%d') createTime,
			CASE a.whether_mail WHEN '1' THEN '是' WHEN '2' THEN '否' ELSE '否' END whetherMail,
			CASE a.whether_notice WHEN '1' THEN '是' WHEN '2' THEN '否' ELSE '否' END whetherNotice,
			CASE a.whether_time WHEN '1' THEN CONVERT(a.notify_time, char) WHEN '2' THEN '-' ELSE '-' END whetherTime,
			CASE a.whether_notify WHEN '1' THEN '未通知' WHEN '2' THEN '已通知' ELSE '未通知' END whetherNotify,
			a.whether_time whetherTimeState,
			a.create_id createId,
			#{userId} userId
		FROM
			sys_work_plan a
			LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id,
			sys_work_plan_executor c
		WHERE a.id = c.plan_id
		AND a.plan_type = #{checkPlan}
		AND a.plan_cycle = #{nowCheckType}
		AND (c.user_id = #{userId} OR a.create_id = #{userId})
		<if test="title != '' and title != null">
			AND a.title LIKE '%${title}%'
		</if>
		<choose>
            <when test="(startTime != null and startTime !='') or (endTime != null and endTime != '')">
            	<if test="startTime != null and startTime !=''">
					AND DATE_FORMAT(a.start_time, '%Y-%m-%d') >= DATE_FORMAT(#{startTime}, '%Y-%m-%d')
            	</if>
            	<if test="endTime != null and endTime !=''">
					AND DATE_FORMAT(a.end_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{endTime}, '%Y-%m-%d')
            	</if>
            </when>
            <otherwise>
                AND DATE_FORMAT(a.start_time, '%Y-%m-%d') >= DATE_FORMAT(NOW(), '%Y-%m-%d') AND DATE_FORMAT(a.end_time, '%Y-%m-%d') &lt;= DATE_FORMAT(NOW(), '%Y-%m-%d')
            </otherwise>
        </choose>
        GROUP BY a.id
	</select>
	
	<insert id="insertSysWorkPlanISPeople" parameterType="java.util.Map">
		INSERT INTO sys_work_plan 
	    (id, title, content, enclosure_info, plan_cycle, plan_type, assignment_type, start_time, end_time, whether_mail, whether_notice, whether_time, notify_time, whether_notify, create_id, create_time)
	    VALUES
	    (#{id}, #{title}, #{content}, #{planEnclosure}, #{planCycle}, #{planType}, #{assignmentType}, #{startTime}, #{endTime}, #{whetherMail}, #{whetherNotice}, #{whetherTime}, #{notifyTime}, #{whetherNotify}, #{createId}, #{createTime})
	</insert>
	
	<insert id="insertSysWorkPlanExecutorISPeople" parameterType="java.util.Map">
		INSERT INTO sys_work_plan_executor 
	    (id, plan_id, user_id, state)
	    VALUES
	    (#{id}, #{planId}, #{userId}, #{state})
	</insert>
	
	<insert id="insertSysWorkPlanExecutors" parameterType="java.util.Map">
	     insert into sys_work_plan_executor
	     (id, plan_id, user_id, state)
	     values
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.id}, #{item.planId}, #{item.userId}, #{item.state})
		</foreach>  
	</insert>
	
	<select id="queryUserMationByUserIds" resultType="java.util.Map">
		SELECT
			IFNULL(a.email, '') email,
			a.user_name userName,
			a.user_id userId
		FROM
			sys_eve_user_staff a
		WHERE
			INSTR(CONCAT(',', #{carryPeople}, ','), CONCAT(',', a.user_id, ','))
	</select>
	
	<select id="queryPlanMationByUserIdAndPlanId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			a.notify_time notifyTime,
			a.whether_time whetherTime
		FROM
			sys_work_plan a
		WHERE
			a.id = #{id}
		AND a.create_id = #{userId}
	</select>
	
	<update id="updateWhetherTimeById" parameterType="java.util.Map">
		UPDATE sys_work_plan
		<set>
			whether_time = #{whetherTime},
			notify_time = #{notifyTime},
		</set>
		WHERE id = #{id}
	</update>
	
	<delete id="deleteSysWorkPlanById" parameterType="java.util.Map">
		DELETE
		FROM
			sys_work_plan
		WHERE
			id = #{id}
	</delete>
	
	<delete id="deleteSysWorkPlanUserById" parameterType="java.util.Map">
		DELETE
		FROM
			sys_work_plan_executor
		WHERE
			plan_id = #{planId}
	</delete>
	
	<select id="querySysWorkPlanToEditById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			a.content,
			a.plan_cycle planCycle,
			a.plan_type planType,
			a.assignment_type assignmentType,
			DATE_FORMAT(a.start_time, '%Y-%m-%d') startTime,
			DATE_FORMAT(a.end_time, '%Y-%m-%d') endTime,
			a.whether_mail whetherMail,
			a.whether_notice whetherNotice,
			a.whether_time whetherTime,
			CONVERT(a.notify_time, char) notifyTime
		FROM
			sys_work_plan a
		WHERE a.id = #{id}
	</select>
	
	<select id="querySysWorkPlanExecutorsToEditById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.user_id userId,
			IFNULL(b.email, '') email,
			b.user_name userName
		FROM
			sys_work_plan_executor a,
			sys_eve_user_staff b
		WHERE
			a.plan_id = #{id}
		AND a.user_id = b.user_id
	</select>
	
	<select id="querySysWorkPlanEnclosuresToEditById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.file_name `name`,
			a.file_address fileAddress
		FROM
			sys_enclosure a,
			sys_work_plan b
		WHERE
			INSTR(CONCAT(',', b.enclosure_info, ','), CONCAT(',', a.id, ','))
		AND b.id = #{id}
	</select>
	
	<update id="editSysWorkPlanISPeople" parameterType="java.util.Map">
		UPDATE sys_work_plan
		<set>
			title = #{title},
			content = #{content},
			assignment_type = #{assignmentType},
			enclosure_info = #{planEnclosure},
			whether_mail = #{whetherMail},
			whether_notice = #{whetherNotice},
			whether_time = #{whetherTime},
			notify_time = #{notifyTime},
		</set>
		WHERE id = #{id}
	</update>
	
	<update id="editSysWorkPlanTimingSend" parameterType="java.util.Map">
		UPDATE sys_work_plan
		<set>
			whether_time = '1',
			notify_time = #{notifyTime},
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="querySysWorkPlanDetailsById" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			a.content,
			a.plan_cycle planCycle,
			a.plan_type planType,
			DATE_FORMAT(a.create_time, '%Y-%m-%d') createTime,
			CASE a.whether_mail WHEN '1' THEN '是' WHEN '2' THEN '否' ELSE '否' END whetherMail,
			CASE a.whether_notice WHEN '1' THEN '是' WHEN '2' THEN '否' ELSE '否' END whetherNotice,
			CASE a.whether_time WHEN '1' THEN CONVERT(a.notify_time, char) WHEN '2' THEN '-' ELSE '-' END whetherTime,
			CASE a.whether_notify WHEN '1' THEN '未通知' WHEN '2' THEN '已通知' ELSE '未通知' END whetherNotify,
			a.assignment_type assignmentType,
			CONVERT(a.start_time, char) startTime,
			CONVERT(a.end_time, char) endTime,
			CONVERT(a.notify_time, char) notifyTime
			<if test="executorId != '' and executorId != null">
				,c.state,
		       c.remark
			</if>
		FROM
			sys_work_plan a
			<if test="executorId != '' and executorId != null">
				,sys_work_plan_executor c
			</if>
		WHERE a.id = #{id}
		<if test="executorId != '' and executorId != null">
			AND c.plan_id = a.id
			AND c.user_id = #{executorId}
		</if>
	</select>
	
	<insert id="insertNoticeMation" parameterType="java.util.Map">
	     insert into sys_eve_user_notice 
	     (id, title, `desc`, content, state, receive_id, type, create_id, create_time)
	     values(#{id}, #{title}, #{noticeDesc}, #{content}, #{state}, #{userId}, #{type}, #{createId}, #{createTime})
	</insert>
	
	<insert id="insertNoticeListMation" parameterType="java.util.Map">
	     insert into sys_eve_user_notice 
	     (id, title, `desc`, content, state, receive_id, type, create_id, create_time)
	     values
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.id}, #{item.title}, #{item.noticeDesc}, #{item.content}, #{item.state}, #{item.userId}, #{item.type}, #{item.createId}, #{item.createTime})
		</foreach>  
	</insert>

	<select id="queryMySysWorkPlanListByUserId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			b.user_name userName, #计划下达人
			a.plan_type planType,
		    a.plan_cycle planCycle,
			DATE_FORMAT(a.create_time, '%Y-%m-%d') createTime,
			DATE_FORMAT(a.start_time, '%Y-%m-%d') startTime,
			DATE_FORMAT(a.end_time, '%Y-%m-%d') endTime,
			CASE a.whether_mail WHEN '1' THEN '是' WHEN '2' THEN '否' ELSE '否' END whetherMail,
			CASE a.whether_notice WHEN '1' THEN '是' WHEN '2' THEN '否' ELSE '否' END whetherNotice,
			CASE a.whether_time WHEN '1' THEN CONVERT(a.notify_time, char) WHEN '2' THEN '-' ELSE '-' END whetherTime,
			CASE a.whether_notify WHEN '1' THEN '未通知' WHEN '2' THEN '已通知' ELSE '未通知' END whetherNotify,
			a.whether_time whetherTimeState,
		    c.user_id executorId,
		    c.state
		FROM
			sys_work_plan a
			LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id,
			sys_work_plan_executor c
		WHERE a.id = c.plan_id
			AND c.user_id = #{userId}
			<if test="title != '' and title != null">
				AND a.title LIKE '%${title}%'
			</if>
			<if test="userName != '' and userName != null">
				AND b.user_name LIKE '%${userName}%'
			</if>
			<if test="state != '' and state != null">
				AND c.state = #{state}
			</if>
			<if test="planType != '' and planType != null">
				AND a.plan_type = #{planType}
			</if>
			<if test="planCycle != '' and planCycle != null">
				AND a.plan_cycle = #{planCycle}
			</if>
			<choose>
				<when test="(startTime != null and startTime !='') or (endTime != null and endTime != '')">
					<if test="startTime != null and startTime !=''">
						AND DATE_FORMAT(a.start_time, '%Y-%m-%d') >= DATE_FORMAT(#{startTime}, '%Y-%m-%d')
					</if>
					<if test="endTime != null and endTime !=''">
						AND DATE_FORMAT(a.end_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{endTime}, '%Y-%m-%d')
					</if>
				</when>
				<otherwise>
				</otherwise>
			</choose>
		GROUP BY a.id
		ORDER BY a.start_time DESC
	</select>

	<select id="queryMySysWorkPlanMationByUserId" resultType="java.util.Map">
		SELECT
			a.state
		FROM
			sys_work_plan_executor a
		WHERE a.plan_id = #{planId}
		AND a.user_id = #{userId}
	</select>

	<update id="subEditWorkPlanStateById" parameterType="java.util.Map">
		UPDATE sys_work_plan_executor
		<set>
			state = #{state},
			remark = #{remark},
		</set>
		WHERE plan_id = #{id}
		AND user_id = #{userId}
	</update>

	<select id="queryMyCreateSysWorkPlanList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			b.user_name userName, #计划下达人
			a.plan_type planType,
			a.plan_cycle planCycle,
			DATE_FORMAT(a.create_time, '%Y-%m-%d') createTime,
			DATE_FORMAT(a.start_time, '%Y-%m-%d') startTime,
			DATE_FORMAT(a.end_time, '%Y-%m-%d') endTime,
			CASE a.whether_mail WHEN '1' THEN '是' WHEN '2' THEN '否' ELSE '否' END whetherMail,
			CASE a.whether_notice WHEN '1' THEN '是' WHEN '2' THEN '否' ELSE '否' END whetherNotice,
			CASE a.whether_time WHEN '1' THEN CONVERT(a.notify_time, char) WHEN '2' THEN '-' ELSE '-' END whetherTime,
			CASE a.whether_notify WHEN '1' THEN '未通知' WHEN '2' THEN '已通知' ELSE '未通知' END whetherNotify,
			a.whether_time whetherTimeState
		FROM
			sys_work_plan a
			LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
		WHERE a.create_id = #{userId}
		<if test="title != '' and title != null">
			AND a.title LIKE '%${title}%'
		</if>
		<if test="planType != '' and planType != null">
			AND a.plan_type = #{planType}
		</if>
		<if test="planCycle != '' and planCycle != null">
			AND a.plan_cycle = #{planCycle}
		</if>
		<choose>
			<when test="(startTime != null and startTime !='') or (endTime != null and endTime != '')">
				<if test="startTime != null and startTime !=''">
					AND DATE_FORMAT(a.start_time, '%Y-%m-%d') >= DATE_FORMAT(#{startTime}, '%Y-%m-%d')
				</if>
				<if test="endTime != null and endTime !=''">
					AND DATE_FORMAT(a.end_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{endTime}, '%Y-%m-%d')
				</if>
			</when>
			<otherwise>
			</otherwise>
		</choose>
		GROUP BY a.id
		ORDER BY a.start_time DESC
	</select>

	<select id="queryAllSysWorkPlanList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			b.user_name userName, #计划下达人
			a.plan_type planType,
			a.plan_cycle planCycle,
			DATE_FORMAT(a.create_time, '%Y-%m-%d') createTime,
			DATE_FORMAT(a.start_time, '%Y-%m-%d') startTime,
			DATE_FORMAT(a.end_time, '%Y-%m-%d') endTime,
			CASE a.whether_mail WHEN '1' THEN '是' WHEN '2' THEN '否' ELSE '否' END whetherMail,
			CASE a.whether_notice WHEN '1' THEN '是' WHEN '2' THEN '否' ELSE '否' END whetherNotice,
			CASE a.whether_time WHEN '1' THEN CONVERT(a.notify_time, char) WHEN '2' THEN '-' ELSE '-' END whetherTime,
			CASE a.whether_notify WHEN '1' THEN '未通知' WHEN '2' THEN '已通知' ELSE '未通知' END whetherNotify,
			a.whether_time whetherTimeState
		FROM
			sys_work_plan a
			LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
		WHERE 1=1
		<if test="title != '' and title != null">
			AND a.title LIKE '%${title}%'
		</if>
		<if test="userName != '' and userName != null">
			AND b.user_name LIKE '%${userName}%'
		</if>
		<if test="planType != '' and planType != null">
			AND a.plan_type = #{planType}
		</if>
		<if test="planCycle != '' and planCycle != null">
			AND a.plan_cycle = #{planCycle}
		</if>
		<choose>
			<when test="(startTime != null and startTime !='') or (endTime != null and endTime != '')">
				<if test="startTime != null and startTime !=''">
					AND DATE_FORMAT(a.start_time, '%Y-%m-%d') >= DATE_FORMAT(#{startTime}, '%Y-%m-%d')
				</if>
				<if test="endTime != null and endTime !=''">
					AND DATE_FORMAT(a.end_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{endTime}, '%Y-%m-%d')
				</if>
			</when>
			<otherwise>
			</otherwise>
		</choose>
		GROUP BY a.id
		ORDER BY a.start_time DESC
	</select>

	<select id="queryMyChildJobUserListByUserId" resultType="java.util.Map">
		SELECT
			c.user_id
		FROM
			company_job a,
			sys_eve_user_staff b,
			sys_eve_user_staff c
		WHERE INSTR(CONCAT(',', a.p_id, ','), CONCAT(',', b.job_id, ','))
		  	AND b.user_id = #{userId}
		  	AND c.job_id = a.id
			AND c.user_id != #{userId}
			AND c.user_id IS NOT null AND LENGTH(c.user_id) > 0
		GROUP BY c.user_id
	</select>

	<select id="queryMyBranchSysWorkPlanList" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			b.user_name userName, #计划下达人
			a.plan_type planType,
			a.plan_cycle planCycle,
			DATE_FORMAT(a.create_time, '%Y-%m-%d') createTime,
			DATE_FORMAT(a.start_time, '%Y-%m-%d') startTime,
			DATE_FORMAT(a.end_time, '%Y-%m-%d') endTime,
			CASE a.whether_mail WHEN '1' THEN '是' WHEN '2' THEN '否' ELSE '否' END whetherMail,
			CASE a.whether_notice WHEN '1' THEN '是' WHEN '2' THEN '否' ELSE '否' END whetherNotice,
			CASE a.whether_time WHEN '1' THEN CONVERT(a.notify_time, char) WHEN '2' THEN '-' ELSE '-' END whetherTime,
			CASE a.whether_notify WHEN '1' THEN '未通知' WHEN '2' THEN '已通知' ELSE '未通知' END whetherNotify,
			a.whether_time whetherTimeState,
			c.user_id executorId,
			c.state,
		    d.user_name executorName
		FROM
			sys_work_plan a
			LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id,
			sys_work_plan_executor c
			LEFT JOIN sys_eve_user_staff d ON c.user_id = d.user_id
		WHERE a.id = c.plan_id
		AND c.user_id IN
		<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
			#{item}
		</foreach>
		<if test="title != '' and title != null">
			AND a.title LIKE '%${title}%'
		</if>
		<if test="userName != '' and userName != null">
			AND b.user_name LIKE '%${userName}%'
		</if>
		<if test="executorName != '' and executorName != null">
			AND d.user_name LIKE '%${executorName}%'
		</if>
		<if test="state != '' and state != null">
			AND c.state = #{state}
		</if>
		<if test="planType != '' and planType != null">
			AND a.plan_type = #{planType}
		</if>
		<if test="planCycle != '' and planCycle != null">
			AND a.plan_cycle = #{planCycle}
		</if>
		<choose>
			<when test="(startTime != null and startTime !='') or (endTime != null and endTime != '')">
				<if test="startTime != null and startTime !=''">
					AND DATE_FORMAT(a.start_time, '%Y-%m-%d') >= DATE_FORMAT(#{startTime}, '%Y-%m-%d')
				</if>
				<if test="endTime != null and endTime !=''">
					AND DATE_FORMAT(a.end_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{endTime}, '%Y-%m-%d')
				</if>
			</when>
			<otherwise>
			</otherwise>
		</choose>
		ORDER BY a.start_time DESC
	</select>
	
</mapper>