<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SysQuartzRunHistoryDao">

    <insert id="insertSysQuartzRunHistoryMation" parameterType="com.skyeye.eve.entity.quartz.SysQuartzRunHistory">
        INSERT INTO sys_quartz_run_history
        (id, quartz_id, state, start_time, end_time, start_type, start_user_id)
        VALUES
        (#{id}, #{quartzId}, #{state}, #{startTime}, #{endTime}, #{startType}, #{startUserId})
    </insert>

    <update id="updateSysQuartzRunHistoryComplateState">
        update sys_quartz_run_history
        <set>
            state = #{state},
            end_time = #{endTime},
        </set>
        where id = #{id}
    </update>

    <select id="querySysQuartzRunHistoryByQuartzId" resultType="java.util.Map">
        SELECT
            a.id,
            a.state,
            CONVERT(a.start_time, char) startTime,
            CONVERT(a.end_time, char) endTime,
            a.start_type startType,
            CASE a.start_type WHEN 1 THEN '自动启动' WHEN 2 THEN '人工启动' ELSE '' END startTypeName,
            CONCAT_WS('_', b.job_number, b.user_name) startUserName
        FROM
            sys_quartz_run_history a
            LEFT JOIN sys_eve_user_staff b ON a.start_user_id = b.user_id
        WHERE a.quartz_id = #{quartzId}
        ORDER BY a.start_time DESC
    </select>

    <select id="querySysQuartzRunHistoryById" resultType="com.skyeye.eve.entity.quartz.SysQuartzRunHistory">
        SELECT
            a.id,
            a.state,
            a.quartz_id quartzId,
            CONVERT(a.start_time, char) startTime,
            CONVERT(a.end_time, char) endTime,
            a.start_type startType
        FROM
            sys_quartz_run_history a
        WHERE a.id = #{id}
    </select>

</mapper>