<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SysQuartzDao">

	<select id="selectAll" resultType="com.skyeye.eve.entity.quartz.SysQuartz">
		SELECT
			a.id,
			a.name,
			a.groups,
			a.status,
			a.cron,
			a.remark,
			a.quartz_ip quartzIp,
			a.quartz_port quartzPort,
			a.quartz_type quartzType,
		    a.quartz_key quartzKey,
			a.create_id createId,
			a.create_time createTime
		FROM 
			sys_quartz a
		WHERE a.quartz_ip = #{quartzIp}
		AND a.quartz_port = #{quartzPort}
		AND a.quartz_type = #{quartzType}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM
			sys_quartz
		WHERE
			id = #{id}
	</delete>
	
	<delete id="deleteByName" parameterType="java.lang.String">
		DELETE FROM
			sys_quartz
		WHERE
			name = #{name}
	</delete>
	
	<insert id="insert" parameterType="com.skyeye.eve.entity.quartz.SysQuartz">
		INSERT INTO sys_quartz
		(id, name, groups, status, cron, remark, quartz_ip, quartz_port, quartz_type, create_id, create_time)
		VALUES
		(#{id}, #{name}, #{groups}, #{status}, #{cron}, #{remark}, #{quartzIp}, #{quartzPort}, #{quartzType}, #{createId}, #{createTime})
	</insert>

	<update id="updateByName" parameterType="com.skyeye.eve.entity.quartz.SysQuartz">
		update sys_quartz
		<set>
			<if test="cron != null and cron != ''">
				cron = #{cron},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
		</set>
		where name = #{name}
	</update>
	
	<!-- 问卷管理 -->
	<select id="querySurveyMationById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.survey_name surveyName,
			a.survey_note surveyNote,
			a.survey_qu_num surveyQuNum,
			a.survey_state surveyState,
			a.an_item_least_num anItemLeastNum,
			a.an_item_most_num anItemMostNum,
			a.effective,
			a.effective_ip effectiveIp,
			a.effective_time effectiveTime,
			a.answer_num answerNum,
			a.html_path htmlPath,
			a.is_share isShare,
			a.mail_only mailOnly,
			a.rule,
			a.rule_code ruleCode,
			a.sid,
			a.refresh,
			a.survey_tag surveyTag,
			a.view_answer viewAnswer,
			a.visibility,
			a.yn_end_num ynEndNum,
			a.end_num endNum,
			a.yn_end_time ynEndTime,
			CONVERT(a.end_time, char) endTime,
			CONVERT(a.real_start_time, char) startTime,
			a.view_answer viewAnswer,
			a.survey_state surveyState
		FROM
			dw_survey_directory a
		WHERE a.id = #{id}
	</select>
	
	<update id="editSurveyStateToEndNumZdById" parameterType="java.util.Map">
		UPDATE dw_survey_directory
		<set>
			real_end_time = #{realEndTime},
			survey_state = '2',
			end_type = '2',
		</set>
		WHERE id = #{id}
	</update>
	
	<!-- 日程管理 -->
	<select id="queryMationByScheduleId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			b.id,
			a.user_id userId,
			a.user_name userName,
			DATE_FORMAT(b.create_time, '%Y年%m月%d日') createTime,
			CONVERT(b.start_time, char) startTime,
			b.title,
			b.remarks,
			IFNULL(a.email, '') email
		FROM
			sys_eve_user_staff a,
			schedule_day b
		WHERE b.create_id = a.user_id
		AND b.id = #{id}
	</select>
	
	<insert id="insertNoticeMation" parameterType="java.util.Map">
	     insert into sys_eve_user_notice 
	     (id, title, `desc`, content, state, receive_id, type, create_id, create_time)
	     values(#{id}, #{title}, #{noticeDesc}, #{content}, #{state}, #{userId}, #{type}, #{createId}, #{createTime})
	</insert>
	
	<update id="editMationByScheduleId" parameterType="java.util.Map">
		UPDATE schedule_day
		<set>
			state = '1',
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="queryScheduleMationByScheduleId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			b.id,
			DATE_FORMAT(b.create_time, '%Y年%m月%d日') createTime,
			DATE_FORMAT(b.start_time, '%Y年%m月%d日') startTime,
			DATE_FORMAT(b.end_time, '%Y年%m月%d日') endTime,
			b.title,
			IFNULL(b.remarks, '') remarks
		FROM
			schedule_day b
		WHERE b.id = #{id}
	</select>
	
	<select id="queryAllUserAndEmailISNotNull" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.user_id userId,
			a.user_name userName,
			a.email
		FROM
			sys_eve_user_staff a
		WHERE a.email IS NOT NULL
		AND LENGTH(a.email) > 0
		GROUP BY a.email
	</select>
	
	<insert id="insertNoticeListMation" parameterType="java.util.Map">
	     insert into sys_eve_user_notice 
	     (id, title, `desc`, content, state, receive_id, type, create_id, create_time)
	     values
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.id}, #{item.title}, #{item.noticeDesc}, #{item.content}, #{item.state}, #{item.userId}, #{item.type}, #{item.createId}, #{item.createTime})
		</foreach>  
	</insert>
	
	<!-- 工作计划 -->
	<select id="queryWorkPlanMationToQuartzById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			a.whether_mail whetherMail,
			a.whether_notice whetherNotice,
			a.plan_type planType
		FROM
			sys_work_plan a
		WHERE a.id = #{id}
		AND a.whether_notify = '1'
	</select>
	
	<select id="queryUserMationByWorkPlanId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			IFNULL(b.email, '') email,
			b.user_name userName,
			a.user_id userId
		FROM
			sys_work_plan_executor a,
			sys_eve_user_staff b
		WHERE
			a.plan_id = #{id}
		AND a.user_id = b.user_id
		LIMIT 1
	</select>
	
	<update id="updateNotifyStateByPlanId" parameterType="java.util.Map">
		UPDATE sys_work_plan
		<set>
			whether_notify = '2'
		</set>
		WHERE id = #{id}
	</update>

	<select id="queryUserMationsByWorkPlanId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			IFNULL(b.email, '') email,
			b.user_name userName,
			a.user_id userId
		FROM
			sys_work_plan_executor a,
			sys_eve_user_staff b
		WHERE
			a.plan_id = #{id}
		AND a.user_id = b.user_id
	</select>

	<update id="editNoticeStateById">
		UPDATE sys_notice
		<set>
			state = #{state}
		</set>
		WHERE id = #{noticeId}
	</update>

	<select id="querySystemQuartzList" resultType="java.util.Map">
		SELECT
			a.id,
			a.name,
			a.groups,
			a.cron,
			a.remark,
			a.quartz_key quartzKey
		FROM
			sys_quartz a
		WHERE a.quartz_type = '2'
	</select>

	<select id="queryMyTaskQuartzList" resultType="java.util.Map">
		SELECT
			a.id,
			a.name,
			a.groups,
			a.cron,
			a.remark,
			a.quartz_key quartzKey
		FROM
			sys_quartz a
		WHERE a.create_id = #{userId}
		AND a.quartz_type = '1'
	</select>

	<select id="querySystemQuartzByIdAndType" resultType="java.util.Map">
		SELECT
			a.id,
			a.name,
			a.groups,
			a.cron,
			a.remark,
			a.quartz_key quartzKey,
		    a.class_path classPath,
		    a.method_name methodName
		FROM
			sys_quartz a
		WHERE a.quartz_type = #{type}
		AND a.id = #{quartzId}
	</select>

</mapper>