<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="padding:20px; margin:0 auto;">
	    <form class="layui-form" action="" id="showForm">
	    	
	    </form>
	</div>

	<script type="text/x-handlebars-template" id="beanTemplate">
		{{#bean}}
		<div class="layui-form-item layui-col-xs12">
			<span class="hr-title">基础信息</span><hr>
		</div>
		<div class="layui-form-item layui-col-xs12">
			<label class="layui-form-label">类型<i class="red">*</i></label>
			<div class="layui-input-block winui-radio">
				<input type="radio" name="category" value="1" title="个人通讯录" lay-filter="category" />
				<input type="radio" name="category" value="2" title="公共通讯录" lay-filter="category" />
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6" id="typeIdBox">
			<label class="layui-form-label">类别<i class="red">*</i></label>
			<div class="layui-input-block">
				<select lay-filter="typeId" lay-search="" id="typeId">

				</select>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6 layui-hide" id="readonlyBox">
			<label class="layui-form-label">他人只读<i class="red">*</i></label>
			<div class="layui-input-block winui-radio">
				<input type="radio" name="readonly" value="1" title="是" lay-filter="readonly" checked/>
				<input type="radio" name="readonly" value="2" title="否" lay-filter="readonly" />
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">姓名<i class="red">*</i></label>
			<div class="layui-input-block">
				<input type="text" id="name" name="name" win-verify="required" placeholder="请输入姓名" class="layui-input" maxlength="10" value="{{name}}"/>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">称呼</label>
			<div class="layui-input-block">
				<input type="text" id="nameCall" name="nameCall" placeholder="请输入称呼" class="layui-input" maxlength="10" value="{{nameCall}}"/>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">公司</label>
			<div class="layui-input-block">
				<input type="text" id="company" name="company" placeholder="请输入公司" class="layui-input" maxlength="50" value="{{company}}"/>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">部门</label>
			<div class="layui-input-block">
				<input type="text" id="department" name="department" placeholder="请输入部门" class="layui-input" maxlength="50" value="{{department}}"/>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs12">
			<span class="hr-title">联系方式</span><hr>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">个人电话</label>
			<div class="layui-input-block">
				<input type="text" id="personalPhone" name="personalPhone" placeholder="请输入个人电话" class="layui-input" maxlength="20" value="{{personalPhone}}"/>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">办公电话</label>
			<div class="layui-input-block">
				<input type="text" id="workPhone" name="workPhone" placeholder="请输入办公电话" class="layui-input" maxlength="20" value="{{workPhone}}"/>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">传真</label>
			<div class="layui-input-block">
				<input type="text" id="fax" name="fax" placeholder="请输入传真" class="layui-input" maxlength="30" value="{{fax}}"/>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">个人邮箱</label>
			<div class="layui-input-block">
				<input type="text" id="email" name="email" placeholder="请输入个人邮箱" class="layui-input" maxlength="50" value="{{email}}"/>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">其他电话</label>
			<div class="layui-input-block">
				<input type="text" id="otherPhone" name="otherPhone" placeholder="请输入其他电话" class="layui-input" maxlength="20" value="{{otherPhone}}"/>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">其他邮箱</label>
			<div class="layui-input-block">
				<input type="text" id="otherEmail" name="otherEmail" placeholder="请输入其他邮箱" class="layui-input" maxlength="50" value="{{otherEmail}}"/>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">微信号</label>
			<div class="layui-input-block">
				<input type="text" id="wechatNum" name="wechatNum" placeholder="请输入微信号" class="layui-input" maxlength="200" value="{{wechatNum}}"/>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs12">
			<span class="hr-title">通讯地址</span><hr>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">商务地址</label>
			<div class="layui-input-block">
				<input type="text" id="workAddress" name="workAddress" placeholder="请输入商务地址" class="layui-input" maxlength="50" value="{{workAddress}}"/>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">商务邮编</label>
			<div class="layui-input-block">
				<input type="text" id="workCode" name="workCode" placeholder="请输入商务邮编" class="layui-input" maxlength="15" value="{{workCode}}"/>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">个人地址</label>
			<div class="layui-input-block">
				<input type="text" id="personAddress" name="personAddress" placeholder="请输入个人地址" class="layui-input" maxlength="50" value="{{personAddress}}"/>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">个人邮编</label>
			<div class="layui-input-block">
				<input type="text" id="personCode" name="personCode" placeholder="请输入个人邮编" class="layui-input" maxlength="15" value="{{personCode}}"/>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs12">
			<span class="hr-title">其他信息</span><hr>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">公司网站</label>
			<div class="layui-input-block">
				<input type="text" id="companyUrl" name="companyUrl" placeholder="请输入公司网站" class="layui-input" maxlength="200" value="{{companyUrl}}"/>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">个人网站</label>
			<div class="layui-input-block">
				<input type="text" id="personUrl" name="personUrl" placeholder="请输入个人网站" class="layui-input" maxlength="200" value="{{personUrl}}"/>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">生日</label>
			<div class="layui-input-block">
				<input type="text" id="birthday" name="birthday" placeholder="请选择生日日期" class="layui-input" value="{{birthday}}"/>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs12">
			<label class="layui-form-label">备注</label>
			<div class="layui-input-block">
				<textarea id="remarks" name="remarks" placeholder="请输入备注" class="layui-textarea" style="height: 100px;" maxlength="200">{{remarks}}</textarea>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs12">
			<div class="layui-input-block">
				<button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
				<button class="winui-btn" lay-submit lay-filter="formEditBean"><language showName="com.skyeye.save"></language></button>
			</div>
		</div>
		{{/bean}}
	</script>

	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
        layui.config({base: '../../js/mail/'}).use('mailEdit');
    </script>
</body>
</html>