<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SmProjectPageDao">
	
	<select id="queryProPageMationByProIdList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.`name`,
			IF(ISNULL(a.file_path) || LENGTH(TRIM(a.file_path)) &lt; 1, a.default_file_path, a.file_path) filePath,
			IF(ISNULL(a.file_name) || LENGTH(TRIM(a.file_name)) &lt; 1, a.default_file_name, a.file_name) fileName
		FROM
			sm_project_page a
		WHERE
			a.sm_project_id = #{proId}
		ORDER BY a.sort DESC
	</select>
	
	<select id="queryFilePathNumMaxMation" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.default_file_path_num redisFilePathNum
		FROM
			sm_project_page a
		ORDER BY
			a.default_file_path_num DESC
		LIMIT 1
	</select>
	
	<select id="queryFileNameNumMaxMation" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.default_file_name_num redisFileNameNum
		FROM
			sm_project_page a
		ORDER BY
			a.default_file_name_num DESC
		LIMIT 1
	</select>
	
	<select id="querySortMaxMationByProjectId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.sort sort
		FROM
			sm_project_page a
		WHERE 
			a.sm_project_id = #{proId}
		ORDER BY
			a.sort DESC
		LIMIT 1
	</select>
	
	<insert id="insertProPageMationByProId" parameterType="java.util.Map">
	     INSERT into sm_project_page 
	     (id, name, file_path, file_name, default_file_path, default_file_name, default_file_path_num, default_file_name_num, sm_project_id, sort, create_id, create_time)
	     VALUES
	     (#{id}, #{name}, #{filePath}, #{fileName}, #{defaultFilePath}, #{defaultFileName}, #{defaultFilePathNum}, #{defaultFileNameNum}, #{proId}, #{sort}, #{createId}, #{createTime})
	</insert>
	
	<select id="querySmProjectPageISTopByThisId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.sort sort,
			b.sort thisSort
		FROM
			sm_project_page a,
			sm_project_page b
		WHERE 
			b.sm_project_id = #{proId}
			AND b.id = #{id}
			AND a.sort > b.sort
		ORDER BY
			a.sort ASC
		LIMIT 1
	</select>
	
	<update id="editSmProjectPageSortTopById" parameterType="java.util.Map">
		UPDATE sm_project_page
		<set>
			sort = #{sort},
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="querySmProjectPageISLowerByThisId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.sort sort,
			b.sort thisSort
		FROM
			sm_project_page a,
			sm_project_page b
		WHERE 
			b.sm_project_id = #{proId}
			AND b.id = #{id}
			AND b.sort > a.sort
		ORDER BY
			a.sort DESC
		LIMIT 1
	</select>
	
	<update id="editSmProjectPageSortLowerById" parameterType="java.util.Map">
		UPDATE sm_project_page
		<set>
			sort = #{sort},
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="querySmProjectPageMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.`name` pageName,
			a.file_path filePath,
			a.file_name fileName
		FROM
			sm_project_page a
		WHERE 
			a.id = #{id}
	</select>
	
	<update id="editSmProjectPageMationById" parameterType="java.util.Map">
		UPDATE sm_project_page
		<set>
			<if test="name != '' and name != null">
				`name` = #{name},
			</if>
			file_path = #{filePath},
			file_name = #{fileName},
		</set>
		WHERE id = #{id}
	</update>
	
	<delete id="deleteSmProjectPageMationById" parameterType="java.util.Map">
		DELETE
		FROM
			sm_project_page
		WHERE
			id = #{id}
	</delete>
	
	<delete id="deleteSmProjectPageModeMationById" parameterType="java.util.Map">
		DELETE
		FROM
			sm_project_page_mode
		WHERE
			sm_project_page_id = #{id}
	</delete>
	
	
</mapper>