<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
	<link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
	<link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="padding: 10px;">
		<ul class="layadmin-setTheme-color">
			<li class="layadmin-setTheme-color-scheme" className="black-white">
				<div class="layadmin-setTheme-header" style="background-color: white;"></div>
				<div class="layadmin-setTheme-side" style="background-color: #20222A;">
					<div class="layadmin-setTheme-logo"></div>
				</div>
			</li>
			<li class="layadmin-setTheme-color-scheme" className="white-1995dc-bl">
				<div class="layadmin-setTheme-header" style="background-color: #1995dc;"></div>
				<div class="layadmin-setTheme-side" style="background-color: #20222A;">
					<div class="layadmin-setTheme-logo" style="background-color: #1995dc;"></div>
				</div>
			</li>
			<li class="layadmin-setTheme-color-scheme" className="white-605ca8-bl">
				<div class="layadmin-setTheme-header" style="background-color: #605ca8;"></div>
				<div class="layadmin-setTheme-side" style="background-color: #20222A;">
					<div class="layadmin-setTheme-logo" style="background-color: #605ca8;"></div>
				</div>
			</li>
			<li class="layadmin-setTheme-color-scheme" className="white-00a65a-bl">
				<div class="layadmin-setTheme-header" style="background-color: #00a65a;"></div>
				<div class="layadmin-setTheme-side" style="background-color: #20222A;">
					<div class="layadmin-setTheme-logo" style="background-color: #00a65a;"></div>
				</div>
			</li>
			<li class="layadmin-setTheme-color-scheme" className="white-e08e0b-bl">
				<div class="layadmin-setTheme-header" style="background-color: #e08e0b;"></div>
				<div class="layadmin-setTheme-side" style="background-color: #20222A;">
					<div class="layadmin-setTheme-logo" style="background-color: #e08e0b;"></div>
				</div>
			</li>
			<li class="layadmin-setTheme-color-scheme" className="white-d73925-bl">
				<div class="layadmin-setTheme-header" style="background-color: #d73925;"></div>
				<div class="layadmin-setTheme-side" style="background-color: #20222A;">
					<div class="layadmin-setTheme-logo" style="background-color: #d73925;"></div>
				</div>
			</li>
			<br/>

			<li class="layadmin-setTheme-color-scheme" className="white-1995dc">
				<div class="layadmin-setTheme-header" style="background-color: #1995dc;"></div>
				<div class="layadmin-setTheme-side">
					<div class="layadmin-setTheme-logo" style="background-color: #1995dc;"></div>
				</div>
			</li>
			<li class="layadmin-setTheme-color-scheme" className="white-3c8dbc">
				<div class="layadmin-setTheme-header" style="background-color: #3c8dbc;"></div>
				<div class="layadmin-setTheme-side">
					<div class="layadmin-setTheme-logo" style="background-color: #3c8dbc;"></div>
				</div>
			</li>
			<li class="layadmin-setTheme-color-scheme" className="white-605ca8">
				<div class="layadmin-setTheme-header" style="background-color: #605ca8;"></div>
				<div class="layadmin-setTheme-side">
					<div class="layadmin-setTheme-logo" style="background-color: #605ca8;"></div>
				</div>
			</li>
			<li class="layadmin-setTheme-color-scheme" className="white-EEA9B8">
				<div class="layadmin-setTheme-header" style="background-color: #EEA9B8;"></div>
				<div class="layadmin-setTheme-side">
					<div class="layadmin-setTheme-logo" style="background-color: #EEA9B8;"></div>
				</div>
			</li>
			<li class="layadmin-setTheme-color-scheme" className="white-d73925">
				<div class="layadmin-setTheme-header" style="background-color: #d73925;"></div>
				<div class="layadmin-setTheme-side">
					<div class="layadmin-setTheme-logo" style="background-color: #d73925;"></div>
				</div>
			</li>
		</ul>
	</div>

	<script src="../../assets/lib/layui/layui.js"></script>
	<script src="../../assets/lib/layui/custom.js"></script>
	<script type="text/javascript">
		layui.config({base : '../../js/colorScheme/'}).use('colorScheme');
	</script>
</body>
</html>