<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="margin:0 auto; height: 100%;">
		<div class="light-app-left">
			<div class="setting" id="setting">
				<a class="setting-a selected" title="个人计划" data-check="1">
					<span>个人计划</span>
				</a>
				<a class="setting-a" title="部门计划" data-check="2">
					<span>部门计划</span>
				</a>
				<a class="setting-a" title="公司计划" data-check="3">
					<span>公司计划</span>
				</a>
			</div>
		</div>
	    <div class="light-app-right" id="showForm">
	    	<div style="margin:0 auto; padding-top:0px;">
	    		<button type="button" class="layui-btn layui-btn-primary plan-type-btn plan-select" data-type="day"><i class="layui-icon"></i>日计划</button>
	    		<button type="button" class="layui-btn layui-btn-primary plan-type-btn" data-type="week"><i class="layui-icon"></i>周计划</button>
	    		<button type="button" class="layui-btn layui-btn-primary plan-type-btn" data-type="month"><i class="layui-icon"></i>月计划</button>
	    		<button type="button" class="layui-btn layui-btn-primary plan-type-btn" data-type="quarter"><i class="layui-icon"></i>季度计划</button>
	    		<button type="button" class="layui-btn layui-btn-primary plan-type-btn" data-type="halfyear"><i class="layui-icon"></i>半年计划</button>
	    		<button type="button" class="layui-btn layui-btn-primary plan-type-btn" data-type="year"><i class="layui-icon"></i>年计划</button>
	    	</div>
	    	<div class="txtcenter" style="margin:0 auto; padding-top:0px; margin-top: 10px;">
		    	<form class="layui-form layui-form-pane" action="" autocomplete="off">
			    	<div class="layui-form-item">
			    		<div class="layui-inline">
				    		<label class="layui-form-label">计划名称</label>
			                <div class="layui-input-inline">
			                    <input type="text" id="title" name="title" placeholder="请输入计划名称" class="layui-input" />
			                </div>
			                <button type="reset" class="layui-btn layui-btn-primary list-form-search"><language showName="com.skyeye.reset"></language></button>
			                <button class="layui-btn list-form-search" lay-submit lay-filter="formSearch"><language showName="com.skyeye.search2"></language></button>
	                	</div>
	                </div>
	            </form>
	        </div>
	        <div class="winui-toolbar">
		        <div class="winui-tool">
		        	<button id="reloadTable" class="winui-toolbtn"><i class="fa fa-refresh" aria-hidden="true"></i><language showName="com.skyeye.refreshDataBtn"></language></button>
		        	<button id="addCompanyPlan" class="winui-toolbtn" auth="1567561587761"><i class="fa fa-plus" aria-hidden="true"></i>新增公司计划</button>
		            <button id="addDepartmentPlan" class="winui-toolbtn" auth="1567561577490"><i class="fa fa-plus" aria-hidden="true"></i>新增部门计划</button>
		            <button id="addPeoplePlan" class="winui-toolbtn" auth="1567561566241"><i class="fa fa-plus" aria-hidden="true"></i>新增个人计划</button>
					<span style="color: #2f73c8;">计划制定已同步到执行人日程上，类型为工作，执行人也可在日程上进行查看。</span>
		        </div>
		    </div>
	    	<div class="plan-data-box">
	    		<div class="plan-data-left-box">
	    			<form class="layui-form layui-form-pane" action="" autocomplete="off">
				    	<div class="layui-form-item">
				    		<div class="layui-inline" id="checkDateTypeMonthBox">
			                    <input type="text" id="checkDateTypeMonth" class="layui-input" style="text-align: center;"/>
			                    <i class="fa fa-calendar fa-fw" style="position: absolute; top: 8px; right: 5px; color: lightsalmon;"></i>
		                	</div>
		                	<div class="layui-inline" style="display: none;" id="checkDateTypeYearBox">
			                    <input type="text" id="checkDateTypeYear" class="layui-input" style="text-align: center;"/>
			                    <i class="fa fa-calendar fa-fw" style="position: absolute; top: 8px; right: 5px; color: lightsalmon;"></i>
		                	</div>
		                </div>
		            </form>
		            <div style="width: 100%; height: calc(100% - 35px);">
		            	<ul class="plan-choose">
		            	</ul>
		            </div>
	    		</div>
	    		<div class="plan-data-right-box">
	        		<table id="messageTable" lay-filter="messageTable"></table>
	        		<script type="text/html" id="tableBar">
						{{# if(d.createId == d.userId){ }}
							{{# if((checkPlan === '1' || checkPlan == 1) && auth('1567561620738')){ }}
								<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit"><language showName="com.skyeye.editBtn"></language></a>
							{{# }else if((checkPlan === '2' || checkPlan == 2) && auth('1567561630828')){ }}
								<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit"><language showName="com.skyeye.editBtn"></language></a>
							{{# }else if((checkPlan === '3' || checkPlan == 3) && auth('1567561641410')){ }}
								<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit"><language showName="com.skyeye.editBtn"></language></a>
							{{# } }}
						{{# } }}
						{{# if(d.createId == d.userId && auth('1567561607793')){ }}
							<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del"><language showName="com.skyeye.deleteBtn"></language></a>
						{{# } }}
						{{# if(d.whetherTimeState == '1' && d.createId == d.userId){ }}
							{{# if(d.whetherTime > getFormatDate() && d.createId == d.userId && auth('1567561598407')){ }}
								<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="cancleTiming">取消定时发送</a>
							{{# }else if(d.whetherTime <= getFormatDate() && d.createId == d.userId && auth('1567561653003')){ }}
								<a class="layui-btn layui-btn-xs" lay-event="timingSend">重置定时发送</a>
							{{# } }}
						{{# }else if(d.createId == d.userId && auth('1567561653003')){ }}
							<a class="layui-btn layui-btn-xs" lay-event="timingSend">定时发送</a>
						{{# } }}
			        </script>
	    		</div>
        	</div>
	    </div>
	</div>
    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/sysworkplan/'}).use('sysworkplanlist');
    </script>
</body>
</html>