<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="margin:0 auto;padding:20px;">
	    <form class="layui-form" action="" id="showForm" autocomplete="off">

	    </form>
	</div>

	<script type="text/x-handlebars-template" id="beanTemplate">
		{{#bean}}
			<div class="layui-form-item layui-col-xs12">
				<span class="hr-title">基础信息</span><hr>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">主题：</label>
				<div class="layui-input-block ver-center">
					{{title}}
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">通知状态：</label>
				<div class="layui-input-block ver-center">
					{{whetherNotify}}
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label ver-center">计划周期：</label>
				<div class="layui-input-block ver-center" id="nowCheckTypeBox">
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">计划执行人：</label>
				<div class="layui-input-block ver-center" id="carryPeople">
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">时间段：</label>
				<div class="layui-input-block ver-center">
					{{startTime}} ~ {{endTime}}
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">内容：</label>
				<div class="layui-input-block ver-center">
					{{content}}
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">邮件通知：</label>
				<div class="layui-input-block ver-center">
					{{whetherMail}}
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">系统消息通知：</label>
				<div class="layui-input-block ver-center">
					{{whetherNotice}}
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">定时通知：</label>
				<div class="layui-input-block ver-center">
					{{whetherTime}}
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12 layui-hide" id="notifyTimeBox">
				<label class="layui-form-label">通知时间：</label>
				<div class="layui-input-block ver-center">
					{{notifyTime}}
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">附件：</label>
				<div class="layui-input-block ver-center" id="enclosureUploadBtn">
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12 layui-hide myExecutor">
				<span class="hr-title">我的执行情况</span><hr>
			</div>
			<div class="layui-form-item layui-col-xs12 layui-hide myExecutor">
				<label class="layui-form-label">状态：</label>
				<div class="layui-input-block ver-center" id="state">
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12 layui-hide myExecutor">
				<label class="layui-form-label">备注：</label>
				<div class="layui-input-block ver-center">
					{{remark}}
				</div>
			</div>
		{{/bean}}
	</script>
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
        layui.config({base: '../../js/sysworkplan/'}).use('sysworkplandetails');
    </script>
</body>
</html>