<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="padding-top:20px;padding-left: 10px; padding-right: 10px">
	    <form class="layui-form" action="" id="showForm" autocomplete="off">
	        <div class="layui-form-item">
		        <label class="layui-form-label">PC端推广地址</label>
		        <div class="layui-input-block">
		        	<input type="text" id="pcAddress" class="layui-input" maxlength="50" readonly="readonly"/>
		        	<div class="layui-form-mid layui-word-aux">
		        		<button type="button" class="layui-btn layui-btn-radius layui-btn-xs" id="openUrl">打开链接</button>
		        		<button type="button" class="layui-btn layui-btn-radius layui-btn-normal layui-btn-xs" id="copyUrl" data-clipboard-text="">复制</button>
		        	</div>
		        </div>
		    </div>
		    <div class="layui-form-item">
		        <label class="layui-form-label">社交分享</label>
		        <div class="layui-input-block">
		        	<div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare" data=''>
			        	<a class="bds_qzone"></a>
						<a class="bds_tsina"></a>
						<a class="bds_tqq"></a>
						<a class="bds_renren"></a>
						<a class="bds_t163"></a>
						<span class="bds_more"></span>
					</div>
					<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=519013" ></script>
					<script type="text/javascript" id="bdshell_js"></script>
		        </div>
		    </div>
	    </form>
	</div>
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
        layui.config({base: '../../js/dwsurveydesign/'}).use('surveyRelove');
    </script>
</body>
</html>