<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../assets/lib/layui/lay/modules/luckysheet/plugins/css/pluginsCss.css">
    <link rel="stylesheet" href="../../assets/lib/layui/lay/modules/luckysheet/plugins/plugins.css">
    <link rel='stylesheet' href='../../assets/lib/layui/lay/modules/luckysheet/css/luckysheet.css' />
    <link rel='stylesheet' href='../../assets/lib/layui/lay/modules/luckysheet/assets/iconfont/iconfont.css' />
</head>
<body>
	<div class="manage-console" style="overflow-x: hidden;">
		<div id="luckysheet" style="margin:0px;padding:0px;position:absolute;width:100%;height:100%;left: 0px;top: 0px;"></div>
	</div>
	
    <script src="../../assets/lib/layui/layui.js"></script>
    <script type="text/javascript" src="../../assets/lib/layui/lay/modules/luckysheet/plugins/js/plugin.js"></script>
    <script type="text/javascript" src="../../assets/lib/layui/lay/modules/luckysheet/luckysheet.umd.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/note/'}).use('noteEditLuckysheet');
    </script>
</body>
</html>