<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8" />
	    <title></title>
	    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
	    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
	    <link href="../../assets/lib/editormd/css/editormd.css" rel="stylesheet" />
	    <!-- 页面解析markdown为HTML显示需要的css -->
	    <link href="../../assets/lib/editormd/css/editormd.preview.min.css"rel="stylesheet" />
	    <!-- luckysheet -->
		<link rel="stylesheet" href="../../assets/lib/layui/lay/modules/luckysheet/plugins/css/pluginsCss.css">
		<link rel="stylesheet" href="../../assets/lib/layui/lay/modules/luckysheet/plugins/plugins.css">
		<link rel='stylesheet' href='../../assets/lib/layui/lay/modules/luckysheet/css/luckysheet.css' />
		<link rel='stylesheet' href='../../assets/lib/layui/lay/modules/luckysheet/assets/iconfont/iconfont.css' />
		<style type="text/css">
			img:hover{
				cursor: pointer;
			}
		</style>
	</head>
	<body style="background-color: rgb(249, 250, 251); overflow-y: auto">
		<div class="fileconsole-mask">
			<div class="cent">
				<i class="fa fa-spin fa-spinner fa-fw"></i><br><br>
				<font>加载中</font>
			</div>
		</div>
		<div class="share-file-title">
			<div class="sys-logo">
			</div>
			<div class="sys-login-mation">
				<div class="login-btn" id="operatorBtn">
					
				</div>
			</div>
		</div>
		<div class="share-file-content">
			<div class="noteTile" style="text-align:center">
				<span id="noteTile" style="font-size:18px; font-weight:bold;"></span>
	    	</div>
	    	<font id="createName"></font>
			<font id="createTime" style="float: right; color: darkgray;"></font>
			<hr>
			<div class="content" id="content" style="margin-top:30px; padding: 0px">
	    	</div>
		</div>
		
	    <script src="../../assets/lib/layui/layui.js"></script>
	    <!-- luckysheet -->
		<script type="text/javascript" src="../../assets/lib/layui/lay/modules/luckysheet/plugins/js/plugin.js"></script>
		<script type="text/javascript" src="../../assets/lib/layui/lay/modules/luckysheet/luckysheet.umd.js"></script>
		<script src="../../assets/lib/layui/custom.js"></script>
	    <script src="../../assets/lib/editormd/js/editormd.js"></script>
	   	<!-- 页面markdown解析成HTML需要的js -->
		<script src="../../assets/lib/editormd/lib/marked.min.js"></script>
		<script src="../../assets/lib/editormd/lib/prettify.min.js"></script>
		<script src="../../assets/lib/editormd/lib/raphael.min.js"></script>
		<script src="../../assets/lib/editormd/lib/underscore.min.js"></script>
		<script src="../../assets/lib/editormd/lib/sequence-diagram.min.js"></script>
		<script src="../../assets/lib/editormd/lib/flowchart.min.js"></script>
		<script src="../../assets/lib/editormd/lib/jquery.flowchart.min.js"></script>
	    <script type="text/javascript">
	        layui.config({base: '../../js/note/'}).use('shareNote');
	    </script>
	</body>
</html>