<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.LightAppDao">

	<select id="queryLightAppList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.app_name appName,
			c.type_name typeName,
			a.app_logo appLogo,
			a.app_url appUrl,
			a.state state,
			b.user_name createId,
			CONVERT(a.create_time, char) createTime
		FROM
			light_app a
			LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
			LEFT JOIN light_app_type c ON a.type_id = c.id
		WHERE a.state != 4
			<if test="appName != '' and appName != null">
			     AND a.app_name LIKE '%${appName}%'
		    </if>
			<if test="state != '' and state != null">
				AND a.state = #{state}
			</if>
			ORDER BY a.create_time ASC
	</select>
	
	<select id="queryLightAppMationByName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id
		FROM
			light_app a	
		WHERE 
			a.app_name = #{appName}
			AND a.state != 4
	</select>
	
	<select id="queryLightAppMationByNameAndId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id
		FROM
			light_app a	
		WHERE 
			a.app_name = #{appName}
			AND a.id != #{id}
			AND a.state != 4
	</select>
	
	<insert id="insertLightAppMation" parameterType="java.util.Map">
	    INSERT INTO light_app 
	    (id, app_name, type_id, app_logo, app_url, app_desc, state, create_id, create_time)
	    VALUES(#{id}, #{appName}, #{typeId}, #{appLogo}, #{appUrl}, #{desc}, #{state}, #{createId}, #{createTime})
	</insert>
	
	<select id="queryLightAppMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.state,
			a.app_name appName,
			a.type_id typeId,
			a.app_logo appLogo,
			a.app_url appUrl,
			a.app_desc appdesc
		FROM
			light_app a
		WHERE a.id = #{id}
	</select>
	
	<select id="queryLightAppStateById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.state,
			a.type_id typeId
		FROM
			light_app a
		WHERE a.id = #{id}
	</select>
	
	<select id="queryLightAppMationToAddWinById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.state,
			a.app_name appName,
			a.type_id typeId,
			a.app_logo appLogo,
			a.app_url appUrl,
			a.app_desc appdesc
		FROM
			light_app a
		WHERE a.id = #{id}
	</select>
	
	<update id="editLightAppMationById" parameterType="java.util.Map">
		UPDATE light_app
		<set>
			<if test="appName != '' and appName != null">
				app_name = #{appName},
			</if>
			<if test="typeId != '' and typeId != null">
				type_id = #{typeId},
			</if>
			<if test="appLogo != '' and appLogo != null">
				app_logo = #{appLogo},
			</if>
			<if test="appUrl != '' and appUrl != null">
				app_url = #{appUrl},
			</if>
			app_desc = #{desc}
		</set>
		WHERE id = #{id}
	</update>
	
	<update id="deleteLightAppById" parameterType="java.util.Map">
		UPDATE light_app
		<set>
			state = 4
		</set>
		WHERE id = #{id}
	</update>
	
	<update id="editLightAppUpById" parameterType="java.util.Map">
		UPDATE light_app
		<set>
			state = 2
		</set>
		WHERE id = #{id}
	</update>
	
	<update id="editLightAppDownById" parameterType="java.util.Map">
		UPDATE light_app
		<set>
			state = 3
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="queryLightAppUpList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.app_url appUrl,
			a.app_name appName,
			a.app_logo appLogo,
			IFNULL(a.app_desc, a.app_name) appDesc
		FROM
			light_app a,
			light_app_type b  
		WHERE a.type_id = b.id
			AND a.state = 2 
			AND b.state = 2
			<if test="typeId != '' and typeId != null">
				AND a.type_id = #{typeId}
			</if>
			ORDER BY a.create_time ASC
	</select>
	
</mapper>