<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.LightAppTypeDao">

	<select id="queryLightAppTypeList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.type_name typeName,
			a.icon_type iconType,
			a.icon_path iconPath,
			a.state state,
			a.order_by orderBy,
			b.user_name createId,
			CONVERT(a.create_time, char) createTime,
			(SELECT COUNT(*) FROM light_app b WHERE b.type_id = a.id and b.state != 4) useNum
		FROM
			light_app_type a
			LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
		WHERE a.state != 4
			<if test="typeName != '' and typeName != null">
			     AND a.type_name LIKE '%${typeName}%'
		    </if>
			<if test="state != '' and state != null">
				AND a.state = #{state}
			</if>
			ORDER BY a.order_by ASC
	</select>
	
	<select id="queryLightAppTypeMationByTypeName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id
		FROM
			light_app_type a	
		WHERE 
			a.type_name = #{typeName}
			AND a.state != 4
	</select>
	
	<select id="queryLightAppTypeMationByTypeNameAndId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id
		FROM
			light_app_type a	
		WHERE 
			a.type_name = #{typeName}
			AND a.id != #{id}
			AND a.state != 4
	</select>
	
	<select id="queryLightAppTypeAfterOrderBum" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.order_by orderBy
		FROM
			light_app_type a
		WHERE a.state != 4
		ORDER BY a.order_by DESC 
		LIMIT 1
	</select>
	
	<insert id="insertLightAppTypeMation" parameterType="java.util.Map">
	    INSERT INTO light_app_type 
	    (id, type_name, icon_type, icon_path, state, order_by, create_id, create_time)
	    VALUES(#{id}, #{typeName}, #{iconType}, #{iconPath}, #{state}, #{orderBy}, #{createId}, #{createTime})
	</insert>
	
	<select id="queryLightAppTypeMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.state,
			a.type_name typeName,
			a.icon_type iconType,
			a.icon_path iconPath
		FROM
			light_app_type a
		WHERE a.id = #{id}
	</select>
	
	<select id="queryLightAppTypeMationStateById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.state
		FROM
			light_app_type a
		WHERE a.id = #{id}
	</select>
	
	<update id="editLightAppTypeMationById" parameterType="java.util.Map">
		UPDATE light_app_type
		<set>
			<if test="typeName != '' and typeName != null">
				type_name = #{typeName},
			</if>
			<if test="iconType != '' and iconType != null">
				icon_type = #{iconType},
			</if>
			<if test="iconPath != '' and iconPath != null">
				icon_path = #{iconPath},
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="queryLightAppTypeISTopByThisId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			b.id,
			b.order_by orderBy,
			a.order_by thisOrderBy
		FROM
			light_app_type a,
			light_app_type b
		WHERE
			a.id = #{id}
		AND a.order_by > b.order_by
		AND b.state != 4
		ORDER BY b.order_by DESC LIMIT 1
	</select>
	
	<update id="editLightAppTypeSortTopById" parameterType="java.util.Map">
		UPDATE light_app_type
		<set>
			order_by = #{orderBy},
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="queryLightAppTypeISLowerByThisId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			b.id,
			b.order_by orderBy,
			a.order_by thisOrderBy
		FROM
			light_app_type a,
			light_app_type b
		WHERE
			a.id = #{id}
		AND b.order_by > a.order_by
		AND b.state != 4
		ORDER BY b.order_by ASC LIMIT 1
	</select>
	
	<update id="editLightAppTypeSortLowerById" parameterType="java.util.Map">
		UPDATE light_app_type
		<set>
			order_by = #{orderBy}
		</set>
		WHERE id = #{id}
	</update>
	
	<update id="deleteLightAppTypeById" parameterType="java.util.Map">
		UPDATE light_app_type
		<set>
			state = 4
		</set>
		WHERE id = #{id}
	</update>
	
	<update id="editLightAppTypeUpTypeById" parameterType="java.util.Map">
		UPDATE light_app_type
		<set>
			state = 2
		</set>
		WHERE id = #{id}
	</update>
	
	<update id="editLightAppTypeDownTypeById" parameterType="java.util.Map">
		UPDATE light_app_type
		<set>
			state = 3
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="queryLightAppTypeUpList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.type_name name,
			a.icon_type iconType,
			a.icon_path iconPath
		FROM
			light_app_type a
		WHERE a.state =2
			ORDER BY a.order_by ASC
	</select>
	
</mapper>