<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>

    <div class="winui-toolbar">
        <div class="winui-tool">
            <button id="reloadTable" class="winui-toolbtn search-table-btn-right"><i class="fa fa-refresh" aria-hidden="true"></i><language showName="com.skyeye.refreshDataBtn"></language></button>
        </div>
    </div>

    <div class="layui-row">
        <div class="layui-col-xs12">
            <div style="margin:auto 10px;">
                <table id="messageTable" lay-filter="messageTable"></table>
            </div>
        </div>
    </div>
    <script type="text/html" id="tableBar">
    </script>

    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/schedule/'}).use('myScheduleTableList');
    </script>
</body>
</html>