<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="padding:20px; margin:0 auto;">
	    <form class="layui-form" action="" id="showForm">
        	<div class="layui-form-item">
		        <label class="layui-form-label">标题</label>
		        <div class="layui-input-block">
		        	<input type="text" id="title" name="title" placeholder="请输入标题" win-verify="required" class="layui-input"/>
		        </div>
		    </div>
		    <div class="layui-form-item">
		        <label class="layui-form-label">时间段</label>
		        <div class="layui-input-block">
		        	<input type="text" id="holidayTime" name="holidayTime" placeholder="请选择节假日时间段" win-verify="required" class="layui-input"/>
		        </div>
		    </div>
		    <div class="layui-form-item">
		        <div class="layui-input-block">
		            <button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
		            <button class="winui-btn" lay-submit lay-filter="formBean"><language showName="com.skyeye.save"></language></button>
		        </div>
		    </div>
	    </form>
	</div>
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
        layui.config({base: '../../js/schedule/'}).use('scheduleadd');
    </script>
</body>
</html>