<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.CodeModelHistoryDao">
	
	<select id="queryCodeModelHistoryList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.table_name tableName,
			a.file_path filePath,
			CONVERT(a.create_time, char) createTime
		FROM
			code_model_history a
		WHERE a.group_id = #{groupId}
		GROUP BY a.file_path
		ORDER BY a.create_time DESC
	</select>
	
	<select id="queryCodeModelHistoryListByFilePath" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.file_name fileName,
			a.file_type fileType,
			a.content
		FROM
			code_model_history a
		WHERE a.file_path = #{filePath}
	</select>
	
</mapper>