<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.DwSurveyDirectoryDao">
	
	<select id="queryDwSurveyDirectoryList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.survey_name surveyName,
			a.sid,
			b.user_name userName,
			CONVERT(a.create_time, char) createTime,
			a.answer_num answerNum,
			CASE a.survey_state WHEN '0' THEN '设计' WHEN '1' THEN '执行中' WHEN '2' THEN '结束' ELSE '' END surveyState
		FROM
			dw_survey_directory a
			LEFT JOIN sys_eve_user b ON a.create_id = b.id
		WHERE a.visibility = '1'<!-- 显示 -->
			AND a.dir_type = '2'<!-- 问卷 -->
			AND a.survey_model = '1'<!-- 问卷模块 -->
			<if test="surveyName != '' and surveyName != null">
				AND a.survey_name LIKE '%${surveyName}%'
			</if>
			<if test="surveyState != '' and surveyState != null">
				AND a.survey_state = #{surveyState}
			</if>
			ORDER BY a.create_time DESC
	</select>
	
	<insert id="insertDwSurveyDirectoryMation" parameterType="java.util.Map">
	     INSERT into dw_survey_directory 
	     (id, survey_name, sid, dir_type, survey_model, survey_note, create_id, create_time)
	     VALUES
	     (#{id}, #{surveyName}, #{sId}, #{dirType}, #{surveyModel}, #{surveyNote}, #{createId}, #{createTime})
	</insert>
	
	<select id="queryQuestionListByBelongId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.answer_input_row answerInputRow,
			a.answer_input_width answerInputWidth,
			a.belong_id belongId,
			a.cell_count cellCount,
			a.check_type checkType,
			a.contacts_attr contactsAttr,
			a.contacts_field contactsField,
			a.copy_from_id copyFromId,
			a.create_time createTime,
			a.hv,
			a.is_required isRequired,
			a.keywords,
			a.order_by_id orderById,
			a.param_int01 paramInt01,
			a.param_int02 paramInt02,
			a.parent_qu_id parentQuId,
			a.qu_name quName,
			a.qu_note quNote,
			a.qu_tag quTag,
			a.qu_title quTitle,
			a.qu_type quType,
			a.rand_order randOrder,
			a.tag,
			a.visibility,
			a.yesno_option yesnoOption 
		FROM
			dw_question a
		WHERE
			a.belong_id = #{id}<!-- 所属问卷 -->
		AND a.tag = '2'<!-- 问卷的题 -->
		AND a.qu_tag != '2'<!-- 不是大题 -->
		ORDER BY
			a.order_by_id ASC
	</select>
	
	<select id="queryQuestionLogicListByQuestionId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.cg_qu_item_id cgQuItemId,
			a.ck_qu_id ckQuId,
			a.create_time createTime,
			a.ge_le geLe,
			a.logic_type logicType,
			a.score_num scoreNum,
			a.sk_qu_id skQuId,
			a.visibility 
		FROM
			dw_question_logic a
		WHERE
			a.ck_qu_id = #{id}
		AND a.visibility = '1'
	</select>
	
	<select id="queryQuestionChenRowListByQuestionId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.option_name optionName,
			a.order_by_id orderById,
			a.qu_id quId,
			a.visibility
		FROM
			dw_qu_chen_row a
		WHERE
			a.qu_id = #{id}
		AND a.visibility = '1'
		ORDER BY
			a.order_by_id ASC
	</select>
	
	<select id="queryQuestionChenColumnListByQuestionId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.option_name optionName,
			a.order_by_id orderById,
			a.qu_id quId,
			a.visibility
		FROM
			dw_qu_chen_column a
		WHERE
			a.qu_id = #{id}
		AND a.visibility = '1'
		ORDER BY
			a.order_by_id ASC
	</select>
	
	<select id="queryQuestionMultiFillBlankListByQuestionId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.check_type checkType,
			a.option_name optionName,
			a.option_title optionTitle,
			a.order_by_id orderById,
			a.qu_id qu_id,
			a.visibility
		FROM
			dw_qu_multi_fillblank a
		WHERE
			a.qu_id = #{id}
		AND a.visibility = '1'
		ORDER BY
			a.order_by_id ASC
	</select>
	
	<select id="queryQuestionRadioListByQuestionId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.check_type checkType,
			a.is_note isNote,
			a.is_required_fill isRequiredFill,
			a.option_name optionName,
			a.option_title optionTitle,
			a.order_by_id orderById,
			a.qu_id quId,
			a.visibility
		FROM
			dw_qu_radio a
		WHERE
			a.qu_id = #{id}
		AND a.visibility = '1'
		ORDER BY
			a.order_by_id ASC
	</select>
	
	<select id="queryQuestionCheckBoxListByQuestionId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.check_type checkType,
			a.is_note isNote,
			a.is_required_fill isRequiredFill,
			a.option_name optionName,
			a.option_title optionTitle,
			a.order_by_id orderById,
			a.qu_id quId,
			a.visibility
		FROM
			dw_qu_checkbox a
		WHERE
			a.qu_id = #{id}
		AND a.visibility = '1'
		ORDER BY
			a.order_by_id ASC
	</select>
	
	<select id="queryQuestionChenOptionListByQuestionId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.qu_id quId,
			a.option_name optionName,
			a.order_by_id orderById
		FROM
			dw_qu_chen_option a
		WHERE
			a.qu_id = #{id}
		ORDER BY
			a.order_by_id ASC
	</select>
	
	<select id="queryQuestionScoreListByQuestionId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.qu_id quId,
			a.option_name optionName,
			a.option_title optionTitle,
			a.order_by_id orderById,
			a.visibility,
			#{paramInt02} paramInt02
		FROM
			dw_qu_score a
		WHERE
			a.qu_id = #{id}
		AND a.visibility = '1'
		ORDER BY
			a.order_by_id ASC
	</select>
	
	<select id="queryQuestionOrderByListByQuestionId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.qu_id quId,
			a.option_name optionName,
			a.option_title optionTitle,
			a.order_by_id orderById,
			a.visibility
		FROM
			dw_qu_orderby a
		WHERE
			a.qu_id = #{id}
		AND a.visibility = '1'
		ORDER BY
			a.order_by_id ASC
	</select>
	
	<select id="queryChildQuestionListByBelongId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.answer_input_row answerInputRow,
			a.answer_input_width answerInputWidth,
			a.belong_id belongId,
			a.cell_count cellCount,
			a.check_type checkType,
			a.contacts_attr contactsAttr,
			a.contacts_field contactsField,
			a.copy_from_id copyFromId,
			a.create_time createTime,
			a.hv,
			a.is_required isRequired,
			a.keywords,
			a.order_by_id orderById,
			a.param_int01 paramInt01,
			a.param_int02 paramInt02,
			a.parent_qu_id parentQuId,
			a.qu_name quName,
			a.qu_note quNote,
			a.qu_tag quTag,
			a.qu_title quTitle,
			a.qu_type quType,
			a.rand_order randOrder,
			a.tag,
			a.visibility,
			a.yesno_option yesnoOption 
		FROM
			dw_question a
		WHERE
			a.belong_id = #{belongId}<!-- 所属问卷 -->
		AND a.tag = '2'<!-- 问卷的题 -->
		AND a.qu_tag != '2'<!-- 不是大题 -->
		AND a.parent_qu_id = #{id}
		ORDER BY
			a.order_by_id ASC
	</select>
	
	<select id="querySurveyMationById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.survey_name surveyName,
			a.survey_note surveyNote,
			a.survey_qu_num surveyQuNum,
			a.an_item_least_num anItemLeastNum,
			a.an_item_most_num anItemMostNum,
			a.effective,
			a.effective_ip effectiveIp,
			a.effective_time effectiveTime,
			a.answer_num answerNum,
			a.html_path htmlPath,
			a.is_share isShare,
			a.mail_only mailOnly,
			a.rule,
			a.rule_code ruleCode,
			a.refresh,
			a.survey_tag surveyTag,
			a.view_answer viewAnswer,
			a.visibility,
			a.yn_end_num ynEndNum,
			a.end_num endNum,
			a.yn_end_time ynEndTime,
			CONVERT(a.end_time, char) endTime,
			a.view_answer viewAnswer
		FROM
			dw_survey_directory a
		WHERE a.id = #{id}
	</select>
	
	<update id="editDwSurveyMationById" parameterType="java.util.Map">
		UPDATE dw_survey_directory
		<set>
			effective = #{effective},
			effective_ip = #{effectiveIp},
			rule = #{rule},
			rule_code = #{ruleCode},
			refresh = #{refresh},
			yn_end_num = #{ynEndNum},
			end_num = #{endNum},
			yn_end_time = #{ynEndTime},
			<if test="endTime != '' and endTime != null">
				end_time = #{endTime},
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<insert id="addQuestionMation" parameterType="java.util.Map">
	     INSERT into dw_question 
	     (id, answer_input_row, answer_input_width, belong_id, cell_count, check_type, contacts_attr, contacts_field, copy_from_id, hv, is_required,
	     	keywords, order_by_id, param_int01, param_int02, parent_qu_id, qu_name, qu_note, qu_tag, qu_title, qu_type, rand_order, tag, visibility,
	     	yesno_option, create_time)
	     VALUES
	     (#{id}, #{answerInputRow}, #{answerInputWidth}, #{belongId}, #{cellCount}, #{checkType}, #{contactsAttr}, #{contactsField}, #{copyFormId}, #{hv}, #{isRequired},
	     	#{keywords}, #{orderById}, #{paramInt01}, #{paramInt02}, #{parentQuId}, #{quName}, #{quNote}, #{quTag}, #{quTitle}, #{quType}, #{randOrder}, #{tag}, #{visibility},
	     	#{yesnoOption}, #{createTime})
	</insert>
	
	<insert id="addQuestionLogicsMationList" parameterType="java.util.Map">
	     insert into dw_question_logic
	     (id, title, cg_qu_item_id, ck_qu_id, qu_logic_id, ge_le, logic_type, score_num, sk_qu_id, visibility, create_id, create_time)
	     values
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.id}, #{item.title}, #{item.cgQuItemId}, #{item.ckQuId}, #{item.quLogicId}, #{item.geLe}, #{item.logicType}, 
					#{item.scoreNum}, #{item.skQuId}, #{item.visibility}, #{item.createId}, #{item.createTime})  
		</foreach>  
	</insert>
	
	<insert id="addQuestionScoreMationList" parameterType="java.util.Map">
	     insert into dw_qu_score
	     (id, qu_id, option_id, option_name, option_title, order_by_id, visibility, create_id, create_time)
	     values
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.id}, #{item.quId}, #{item.optionId}, #{item.optionName}, #{item.optionTitle}, #{item.orderById}, #{item.visibility}, #{item.createId}, #{item.createTime})  
		</foreach>  
	</insert>
	
	<insert id="addQuestionOrderquMationList" parameterType="java.util.Map">
	     insert into dw_qu_orderby
	     (id, qu_id, option_id, option_name, option_title, order_by_id, visibility, create_id, create_time)
	     values
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.id}, #{item.quId}, #{item.optionId}, #{item.optionName}, #{item.optionTitle}, #{item.orderById}, #{item.visibility}, #{item.createId}, #{item.createTime})  
		</foreach>  
	</insert>
	
	<insert id="addQuestionRadioMationList" parameterType="java.util.Map">
	     insert into dw_qu_radio
	     (id, qu_id, option_id, option_name, option_title, check_type, is_note, is_required_fill, order_by_id, visibility, create_id, create_time)
	     values
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.id}, #{item.quId}, #{item.optionId}, #{item.optionName}, #{item.optionTitle}, #{item.checkType}, #{item.isNote},
				#{item.isRequiredFill}, #{item.orderById}, #{item.visibility}, #{item.createId}, #{item.createTime})  
		</foreach>  
	</insert>
	
</mapper>