<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rc.eve.dao.SysQuartzDao">

	<resultMap id="BaseResultMap" type="com.skyeye.quartz.entity.SysQuartz">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="groups" property="groups" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="cron" property="cron" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, name, groups, status, cron, remark
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sys_quartz
		where id = #{id, jdbcType=VARCHAR}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from sys_quartz
		where id = #{id, jdbcType=VARCHAR}
	</delete>
	
	<insert id="insert" parameterType="com.skyeye.quartz.entity.SysQuartz">
		insert into sys_quartz (id, name, groups,
		status, cron, remark
		)
		values (#{id, jdbcType=VARCHAR}, #{name, jdbcType=VARCHAR},
		#{groups, jdbcType=VARCHAR},
		#{status, jdbcType=INTEGER}, #{cron, jdbcType=VARCHAR}, #{remark, jdbcType=VARCHAR}
		)
	</insert>
	
	<insert id="insertSelective" useGeneratedKeys="true"
		keyProperty="id" parameterType="com.skyeye.quartz.entity.SysQuartz">
		insert into sys_quartz
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="groups != null">
				groups,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="cron != null">
				cron,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id, jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name, jdbcType=VARCHAR},
			</if>
			<if test="groups != null">
				#{groups, jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status, jdbcType=INTEGER},
			</if>
			<if test="cron != null">
				#{cron, jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark, jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.skyeye.quartz.entity.SysQuartz">
		update sys_quartz
		<set>
			<if test="name != null">
				name = #{name, jdbcType=VARCHAR},
			</if>
			<if test="groups != null">
				groups = #{groups, jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status, jdbcType=INTEGER},
			</if>
			<if test="cron != null">
				cron = #{cron, jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark, jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id, jdbcType=VARCHAR}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="com.skyeye.quartz.entity.SysQuartz">
		update sys_quartz
		set name = #{name, jdbcType=VARCHAR},
		groups = #{groups, jdbcType=VARCHAR},
		status = #{status, jdbcType=INTEGER},
		cron = #{cron, jdbcType=VARCHAR},
		remark = #{remark, jdbcType=VARCHAR}
		where id = #{id, jdbcType=VARCHAR}
	</update>
	
</mapper>