<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
    <div class="winui-toolbar">
        <div class="winui-tool">
            <button id="reloadTable" class="winui-toolbtn"><i class="fa fa-refresh" aria-hidden="true"></i><language showName="com.skyeye.refreshDataBtn"></language></button>
            <button id="addBean" class="winui-toolbtn" auth="1552959527026"><i class="fa fa-cloud-upload" aria-hidden="true"></i>上传桌面背景图</button>
        </div>
    </div>
    <div style="margin:auto 10px;">
        <div class="layui-col-xs12" id="showForm">
        	
        </div>
    </div>
    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/sysEveWinBgPic/'}).use('sysEveWinBgPicList');
    </script>
</body>
</html>