<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="margin:0 auto; padding:20px;">
	    <form class="layui-form" action="" id="showForm" autocomplete="off">

	    </form>
	</div>

	<!-- 新增权限点 -->
	<script type="text/x-handlebars-template" id="authPointTemplate">
		<div class="layui-form-item">
			<label class="layui-form-label">权限点名称<i class="red">*</i></label>
			<div class="layui-input-block">
				<input type="text" id="authMenuName" name="authMenuName" win-verify="required" placeholder="请输入权限点名称" class="layui-input" maxlength="50"/>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">接口url<i class="red">*</i></label>
			<div class="layui-input-block">
				<input type="text" id="authMenu" name="authMenu" win-verify="required" placeholder="请输入接口url" class="layui-input" maxlength="100"/>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
				<button class="winui-btn" lay-submit lay-filter="formEditBean"><language showName="com.skyeye.save"></language></button>
			</div>
		</div>
	</script>

	<!-- 新增分组 -->
	<script type="text/x-handlebars-template" id="groupTemplate">
		<div class="layui-form-item">
			<label class="layui-form-label">名称<i class="red">*</i></label>
			<div class="layui-input-block">
				<input type="text" id="authMenuName" name="authMenuName" win-verify="required" placeholder="请输入名称" class="layui-input" maxlength="50"/>
				<div class="layui-form-mid layui-word-aux">分组名称。例如：类型</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">标识<i class="red">*</i></label>
			<div class="layui-input-block">
				<input type="text" id="authMenu" name="authMenu" win-verify="required" placeholder="请输入标识" class="layui-input" maxlength="100"/>
				<div class="layui-form-mid layui-word-aux">分组标识，切记不可重复，重复则按同一组计算。例如：state</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
				<button class="winui-btn" lay-submit lay-filter="formEditBean"><language showName="com.skyeye.save"></language></button>
			</div>
		</div>
	</script>

	<!-- 新增数据权限 -->
	<script type="text/x-handlebars-template" id="dataAuthPointTemplate">
		<div class="layui-form-item">
			<label class="layui-form-label">名称<i class="red">*</i></label>
			<div class="layui-input-block">
				<input type="text" id="authMenuName" name="authMenuName" win-verify="required" placeholder="请输入名称" class="layui-input" maxlength="50"/>
				<div class="layui-form-mid layui-word-aux">数据权限名称。例如：我创建的</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">表达式<i class="red">*</i></label>
			<div class="layui-input-block">
				<input type="text" id="authMenu" name="authMenu" win-verify="required" placeholder="请输入表达式" class="layui-input" maxlength="100"/>
				<div class="layui-form-mid layui-word-aux">数据权限表达式。例如：type == myCreate</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
				<button class="winui-btn" lay-submit lay-filter="formEditBean"><language showName="com.skyeye.save"></language></button>
			</div>
		</div>
	</script>

	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
        layui.config({base: '../../js/appWorkPageAuthPoint/'}).use('appWorkPageAuthPointEdit');
    </script>
</body>
</html>