<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
    <style type="text/css">
        .layui-table-cell {
            height: auto;
        }
    </style>
</head>
<body>
    <div style="margin:0 auto;padding:20px;">
        <form class="layui-form" action="" id="showForm" autocomplete="off">
            <div class="layui-form-item layui-col-xs12">
                <span class="hr-title">会签设定</span><hr>
            </div>
            <div class="layui-form-item layui-col-xs12">
                <label class="layui-form-label">会签类型：</label>
                <div class="layui-input-block ver-center" id="jointlySignType">
                </div>
            </div>
            <div class="layui-form-item layui-col-xs12">
                <label class="layui-form-label">备注：</label>
                <div class="layui-input-block ver-center">
                    主持人不参与会签。
                </div>
            </div>
            <div class="layui-form-item layui-col-xs12">
                <div class="winui-tool" style="text-align: left;">
                    <button id="addRow" class="winui-toolbtn" type="button"><i class="fa fa-plus" aria-hidden="true"></i>新增行</button>
                    <button id="deleteRow" class="winui-toolbtn" type="button"><i class="fa fa-trash-o" aria-hidden="true"></i>删除行</button>
                </div>
                <table class="layui-table" id="messageTable">

                </table>
            </div>

            <div class="layui-form-item layui-col-xs12">
                <div class="layui-input-block">
                    <button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
                    <button class="winui-btn" lay-submit lay-filter="formAddBean"><language showName="com.skyeye.submit"></language></button>
                </div>
            </div>
        </form>
    </div>

    <script type="text/html" id="checkboxTpl">
        <input type="checkbox" name="lock" value="{{d.LAY_TABLE_INDEX}}" title="" lay-filter="lockDemo" {{d.isMandatory == 1 ? 'checked': ''}}>
    </script>

    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/addSignTask/'}).use('jointlySign');
    </script>
</body>
</html>