<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SysNoticeDao">
	
	<select id="querySysNoticeList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			c.type_name typeName,
			d.type_name secondTypeName,
			a.whether_email whetherEmail,
			a.time_send timeSend,
			CONVERT(a.delayed_time, char) delayedTime,
			a.send_type sendType,
			a.real_lines_type realLinesType,
			CONVERT(a.real_lines_time, char) realLinesTime,
			a.create_name createName,
			CONVERT(a.create_time, char) createTime,
			a.state,
			a.order_by orderBy
		FROM
			sys_notice a,
			sys_notice_type c,
			sys_notice_type d
		WHERE 
			a.type_id = c.id
			AND a.second_type_id = d.id
			<if test="title != '' and title != null">
				AND a.title LIKE '%${title}%'
			</if>
			<if test="firstTime != '' and firstTime != null and lastTime != '' and lastTime != null">
				AND a.real_lines_time >= #{firstTime} AND #{lastTime} >= a.real_lines_time
			</if>
			<if test="state != '' and state != null">
				AND a.state = #{state}
			</if>
			<if test="realLinesType != '' and realLinesType != null">
				AND a.real_lines_type = #{realLinesType}
			</if>
			<if test="whetherEmail != '' and whetherEmail != null">
				AND a.whether_email = #{whetherEmail}
			</if>
			AND a.state != 0
			ORDER BY a.order_by DESC
	</select>
	
	<select id="querySysNoticeMationByName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id
		FROM
			sys_notice a
		WHERE a.title = #{title}
		AND a.state != 0
	</select>
	
	<select id="querySysNoticeMationByNameAndId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id
		FROM
			sys_notice a
		WHERE a.title = #{title}
		AND a.id != #{id}
		AND a.state != 0
	</select>
	
	<insert id="insertSysNoticeMation" parameterType="java.util.Map">
	    INSERT into sys_notice 
	    (id, title, content, whether_email, time_send,
		<if test="delayedTime != '' and delayedTime != null">
	    	delayed_time,
		</if>
	     send_type, type_id, second_type_id, order_by, state, create_id, create_name, create_time)
	    VALUES(#{id}, #{title}, #{content}, #{whetherEmail}, #{timeSend},
		<if test="delayedTime != '' and delayedTime != null">
	    	#{delayedTime},
		</if>
	     #{sendType}, #{typeId}, #{secondTypeId}, #{orderBy}, #{state}, #{createId}, #{createName}, #{createTime})
	</insert>
	
	<select id="querySysNoticeBySimpleLevel" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			COUNT(*) simpleNum
		FROM
			sys_notice 
	</select>
	
	<update id="deleteSysNoticeById" parameterType="java.util.Map">
		UPDATE sys_notice
		<set>
			state = 0
		</set>
		WHERE id = #{id}
	</update>
	
	<update id="updateUpSysNoticeById" parameterType="java.util.Map">
		UPDATE sys_notice
		<set>
			<if test="realLinesType != null and realLinesType != ''">
				real_lines_type = #{realLinesType},
			</if>
			<if test="realLinesTime != null and realLinesTime != ''">
				real_lines_time = #{realLinesTime},
			</if>
			<if test="timeSend != null and timeSend != ''">
				time_send = #{timeSend},
			</if>
			state = 2
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="querySysNoticeStateById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.state
		FROM
			sys_notice a	
		WHERE 
			a.id = #{id}
	</select>
	
	<select id="querySysNoticeMationById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.state,
			a.time_send timeSend,
			a.whether_email whetherEmail,
			a.title
		FROM
			sys_notice a	
		WHERE 
			a.id = #{id}
	</select>
	
	<update id="updateDownSysNoticeById" parameterType="java.util.Map">
		UPDATE sys_notice
		<set>
			state = 3
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="selectSysNoticeById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			a.type_id typeId,
			a.second_type_id secondTypeId,
			a.content,
			a.whether_email whetherEmail,
			a.time_send timeSend,
			CONVERT(a.delayed_time, char) delayedTime,
			a.send_type sendType
		FROM
			sys_notice a
		WHERE 
			a.id = #{id}
	</select>
	
	<update id="editSysNoticeMationById" parameterType="java.util.Map">
		UPDATE sys_notice
		<set>
			title = #{title},
			content = #{content},
			whether_email = #{whetherEmail},
			time_send = #{timeSend},
			<if test="delayedTime != null and delayedTime != ''">
				delayed_time = #{delayedTime},
			</if>
			send_type = #{sendType},
			type_id = #{typeId},
			second_type_id = #{secondTypeId}
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="querySysNoticeUpMationById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.order_by thisOrderBy,
			b.id,
			b.order_by prevOrderBy
		FROM
			sys_notice a,
			sys_notice b
		WHERE
			a.id = #{id}
		AND b.order_by > a.order_by
		AND b.state != 0
		ORDER BY
			b.order_by ASC
		LIMIT 1
	</select>
	
	<update id="editSysNoticeMationOrderNumUpById" parameterType="java.util.Map">
		UPDATE sys_notice
		<set>
			order_by = #{upOrderBy},
		</set>
		WHERE id = #{id}
	</update>

	<select id="querySysNoticeDownMationById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.order_by thisOrderBy,
			b.id,
			b.order_by prevOrderBy
		FROM
			sys_notice a,
			sys_notice b
		WHERE
			a.id = #{id}
		AND a.order_by > b.order_by
		AND b.state != 0
		ORDER BY
			b.order_by DESC
		LIMIT 1
	</select>

	<insert id="insertSysNoticeUser" parameterType="java.util.Map">
	    INSERT into sys_notice_user 
	    (id, user_id, user_name, user_email, notice_id)
	    VALUES
	    <foreach collection="list" item="item" index="index" separator=",">
	    	(#{item.id}, #{item.userId}, #{item.userName}, #{item.userEmail}, #{item.noticeId})
	    </foreach>
	</insert>
	
	<delete id="deleteSysNoticeUserById" parameterType="java.util.Map">
	    DELETE
		FROM 
			sys_notice_user
		WHERE 
			notice_id = #{id}
	</delete>
	
	<select id="querySysNoticeStateAndTimeSend" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.state,
			a.time_send timeSend
		FROM
			sys_notice a
		WHERE
			a.id = #{id}
	</select>
	
	<update id="editSysNoticeTimeUpMation" parameterType="java.util.Map">
		UPDATE sys_notice
		<set>
			time_send = 2,
			delayed_time = #{delayedTime}
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="querySysNoticeDetailsById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			a.content,
			c.type_name typeName,
			d.type_name secondTypeName,
			CASE a.whether_email WHEN '1' THEN '否' WHEN '2' THEN '是' END whetherEmail,
			CASE a.time_send WHEN '1' THEN '不设置' WHEN '2' THEN '设置' WHEN '3' THEN '已失效' WHEN '4' THEN '已执行' END timeSend,
			CONVERT(a.delayed_time, char) delayedTime,
			CASE a.send_type WHEN '1' THEN '群发所有人' WHEN '2' THEN '选择性群发' END sendType,
			CASE a.real_lines_type WHEN '1' THEN '手动上线' WHEN '2' THEN '定时上线' END realLinesType,
			CONVERT(a.real_lines_time, char) realLinesTime,
			CONVERT(a.create_time, char) createTime,
			CASE a.state WHEN '1' THEN '新建' WHEN '2' THEN '上线' WHEN '3' THEN '下线' END state,
			CASE a.state WHEN '1' THEN 'state-new' WHEN '2' THEN 'state-up' WHEN '3' THEN 'state-down' END colorClass,
			a.create_name createName,
			GROUP_CONCAT(b.user_name) userName
		FROM
			sys_notice a,
			sys_notice_user b,
			sys_notice_type c,
			sys_notice_type d
		WHERE 
			a.id = #{id}
			AND a.id = b.notice_id
			AND a.type_id = c.id
			AND a.second_type_id = d.id
	</select>

	<select id="selectAllSendUser" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.user_email userEmail
		FROM
			sys_notice_user a
		WHERE a.notice_id = #{id}
		AND a.user_email IS NOT NULL
		AND LENGTH(a.user_email) > 0
	</select>
	
	<select id="queryUserReceivedSysNotice" parameterType="java.util.Map" resultType="java.util.Map">
			SELECT
				a.id,
				a.title,
				CONVERT (a.real_lines_time, CHAR) linesTime,
				a.create_name createName,
				d.type_name typeName
			FROM
				sys_notice a,
				sys_notice_user c,
				sys_notice_type d
			WHERE
				c.user_id = #{userId}
			AND c.notice_id = a.id
			AND a.second_type_id = d.id
			AND a.state = 2
			AND a.send_type = 2
			<if test="typeId != '' and typeId != null">
				AND a.type_id = #{typeId}
			</if>
			<if test="title != '' and title != null">
				AND a.title LIKE '%${title}%'
			</if>
			<if test="firstTime != '' and firstTime != null and lastTime != '' and lastTime != null">
				AND a.real_lines_time >= #{firstTime} AND #{lastTime} >= a.real_lines_time
			</if>
		UNION ALL
			SELECT
				a.id,
				a.title,
				CONVERT (a.real_lines_time, CHAR) linesTime,
				a.create_name createName,
				d.type_name typeName
			FROM
				sys_notice a,
				sys_notice_type d
			WHERE
			a.second_type_id = d.id
			AND a.state = 2
			AND a.send_type = 1
		<if test="typeId != '' and typeId != null">
			AND a.type_id = #{typeId}
		</if>
		<if test="title != '' and title != null">
			AND a.title LIKE '%${title}%'
		</if>
		<if test="firstTime != '' and firstTime != null and lastTime != '' and lastTime != null">
			AND a.real_lines_time >= #{firstTime} AND #{lastTime} >= a.real_lines_time
		</if>
	</select>
	
	<select id="queryReceivedSysNoticeDetailsById" parameterType="java.util.Map" resultType="java.util.Map">
			SELECT
				a.id,
				a.title,
				a.content,
				CONVERT (a.real_lines_time, CHAR) linesTime,
				a.create_name createName,
				d.type_name typeName
			FROM
				sys_notice a,
				sys_notice_user c,
				sys_notice_type d
			WHERE
				a.id = #{id}
			AND c.user_id = #{userId}
			AND c.notice_id = a.id
			AND a.second_type_id = d.id
			AND a.state = 2
			AND a.send_type = 2
		UNION ALL
			SELECT
				a.id,
				a.title,
				a.content,
				CONVERT (a.real_lines_time, CHAR) linesTime,
				a.create_name createName,
				d.type_name typeName
			FROM
				sys_notice a,
				sys_notice_type d
			WHERE
				a.id = #{id}
			AND a.second_type_id = d.id
			AND a.state = 2
			AND a.send_type = 1
	</select>
	
	<select id="queryReceivedSysNoticeUserInfoById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.user_id id,
			a.user_name name,
			a.user_email email
		FROM
			sys_notice_user a
		WHERE
			a.notice_id = #{id}
	</select>
	
	<select id="queryAllUserList" resultType="java.util.Map">
		SELECT
			a.user_id userId,
			a.user_name userName,
			a.email
		FROM
			sys_eve_user_staff a
		WHERE a.state = '1'
		AND a.user_id IS NOT NULL AND LENGTH(a.user_id) > 0
	</select>
	
</mapper>