<script>
    layui.link(winui.path + 'css/theme.css');
</script>
<div class="winui-tab" style="height:100%">
    <div class="winui-tab-left">
        <div class="winui-tab-title">选项</div>
        <div class="winui-scroll-y" style="height:auto;position:absolute;top:50px;bottom:0;">
            <ul class="winui-tab-nav">
                <li class="winui-this"><i class="fa fa-picture-o fa-fw"></i>背景</li>
                <li><i class="fa fa-paw fa-fw"></i>主题色</li>
                <li><i class="fa fa-lock fa-fw"></i>锁屏界面</li>
                <li><i class="fa fa-windows fa-fw"></i>开始</li>
                <li><i class="fa fa-tasks fa-fw"></i>任务栏</li>
                <li><i class="fa fa-tasks fa-fw"></i>菜单显示</li>
            </ul>
        </div>
    </div>
    <div class="winui-tab-right">
        <div class="winui-scroll-y">
            <div class="winui-tab-content" id="choose-content">
                
            </div>
        </div>
    </div>
</div>

<script src="../../js/systheme/systheme.js" type="text/javascript"></script>