<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.SealSeServiceStatisFormsDao">

    <select id="queryCustomOrderTable" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			b.`name` customName,
			c.`name` typeName,
			IFNULL(COUNT(d.id), 0) allNum,
			IFNULL(COUNT(e.id), 0) complateNum
		FROM
			crm_service a
			LEFT JOIN crm_service_type c ON a.type_id = c.id
			LEFT JOIN crm_service d ON a.id = d.id AND d.state != '1'#所有工单
			LEFT JOIN crm_service e ON a.id = e.id AND e.state = '7',#已完工工单
			crm_customer b
		WHERE a.customer_id = b.id
		<if test="customName != '' and customName != null">
			AND b.`name` LIKE '%${customName}%'
		</if>
		<if test="serviceType != '' and serviceType != null">
			AND a.type_id = #{serviceType}
		</if>
		<choose>
            <when test="(startTime != null and startTime !='') or (endTime != null and endTime != '')">
            	<if test="startTime != null and startTime !=''">
					AND DATE_FORMAT(a.create_time, '%Y-%m-%d') >= DATE_FORMAT(#{startTime}, '%Y-%m-%d')
            	</if>
            	<if test="endTime != null and endTime !=''">
					AND DATE_FORMAT(a.create_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{endTime}, '%Y-%m-%d')
            	</if>
            </when>
        </choose>
		GROUP BY a.type_id, b.id
		ORDER BY b.`name`
    </select>
    
    <select id="queryUserWorkerOrderTable" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT
			b.user_name userName,
			IFNULL(COUNT(d.id), 0) allNum,
			IFNULL(COUNT(e.id), 0) complateNum
		FROM
			crm_service a
			LEFT JOIN crm_service d ON a.id = d.id AND d.state != '1'#所有工单
			LEFT JOIN crm_service e ON a.id = e.id AND e.state = '7',#已完工工单
			sys_eve_user_staff b
		WHERE a.service_user_id = b.user_id
		<if test="userName != '' and userName != null">
			AND b.user_name LIKE '%${userName}%'
		</if>
		<choose>
            <when test="(startTime != null and startTime !='') or (endTime != null and endTime != '')">
            	<if test="startTime != null and startTime !=''">
					AND DATE_FORMAT(a.create_time, '%Y-%m-%d') >= DATE_FORMAT(#{startTime}, '%Y-%m-%d')
            	</if>
            	<if test="endTime != null and endTime !=''">
					AND DATE_FORMAT(a.create_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{endTime}, '%Y-%m-%d')
            	</if>
            </when>
        </choose>
		GROUP BY a.service_user_id
		ORDER BY b.user_name
    </select>
    
    <select id="queryWarrantyOrderTable" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT
			CASE a.product_warranty WHEN '1' THEN '保内' ELSE '保外' END warrantyName,
			IFNULL(COUNT(d.id), 0) allNum,
			IFNULL(COUNT(e.id), 0) complateNum
		FROM
			crm_service a
			LEFT JOIN crm_service d ON a.id = d.id AND d.state != '1'#所有工单
			LEFT JOIN crm_service e ON a.id = e.id AND e.state = '7'#已完工工单
		WHERE 1 = 1
		<choose>
            <when test="(startTime != null and startTime !='') or (endTime != null and endTime != '')">
            	<if test="startTime != null and startTime !=''">
					AND DATE_FORMAT(a.create_time, '%Y-%m-%d') >= DATE_FORMAT(#{startTime}, '%Y-%m-%d')
            	</if>
            	<if test="endTime != null and endTime !=''">
					AND DATE_FORMAT(a.create_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{endTime}, '%Y-%m-%d')
            	</if>
            </when>
        </choose>
		GROUP BY a.product_warranty
    </select>
    
    <select id="queryProductTypeOrderTable" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT
			a.product_name productName,
			IFNULL(COUNT(d.id), 0) allNum,
			IFNULL(COUNT(e.id), 0) complateNum
		FROM
			crm_service a
			LEFT JOIN crm_service d ON a.id = d.id AND d.state != '1'#所有工单
			LEFT JOIN crm_service e ON a.id = e.id AND e.state = '7'#已完工工单
		WHERE 1 = 1
		<if test="productName != '' and productName != null">
			AND a.product_name LIKE '%${productName}%'
		</if>
		<choose>
            <when test="(startTime != null and startTime !='') or (endTime != null and endTime != '')">
            	<if test="startTime != null and startTime !=''">
					AND DATE_FORMAT(a.create_time, '%Y-%m-%d') >= DATE_FORMAT(#{startTime}, '%Y-%m-%d')
            	</if>
            	<if test="endTime != null and endTime !=''">
					AND DATE_FORMAT(a.create_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{endTime}, '%Y-%m-%d')
            	</if>
            </when>
        </choose>
		GROUP BY a.product_id
    </select>
	
</mapper>