<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.SealSeServiceMyPartsDao">

    <select id="queryMyApplyPartsList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			b.material_id materialId,
			b.material_name materialName,
			b.material_model materialModel,
			FORMAT(b.unit_price, 2) unitPrice,
			SUM(b.oper_number) - 
			IFNULL((SELECT SUM(c.oper_number) FROM crm_service_fault_use_material c WHERE c.norms_id = b.m_unit_id AND c.create_id = a.create_id), 0) operNumber,
			CASE d.unit WHEN '1' THEN d.unit_name ELSE f.`name` END unitName #商品计量单位
		FROM
			crm_service_apply a,
			crm_service_apply_material b,
			erp_material d,
			erp_material_norms g
			LEFT JOIN erp_unit f ON f.id = g.unit_id
		WHERE
			a.create_id = #{userId}
		AND a.state = '1'
		AND a.id = b.apply_id
		AND b.material_id = d.id
		AND b.m_unit_id = g.id
        <if test="materialName != '' and materialName != null">
            AND b.material_name LIKE '%${materialName}%'
        </if>
		<if test="materialModel != '' and materialModel != null">
            AND b.material_model LIKE '%${materialModel}%'
        </if>
        <if test="materialGroupName != '' and materialGroupName != null">
            AND e.group_name LIKE '%${materialGroupName}%'
        </if>
        GROUP BY b.m_unit_id
    </select>
    
    <select id="queryMyApplyUsePartsList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.material_id materialId,
			a.material_name materialName,
			a.material_model materialModel,
			SUM(a.oper_number) operNumber,
			FORMAT(a.unit_price, 2) unitPrice,
			CASE b.unit WHEN '1' THEN b.unit_name ELSE d.`name` END unitName #商品计量单位
		FROM
			crm_service_fault_use_material a,
			erp_material b,
			erp_material_norms c
			LEFT JOIN erp_unit d ON d.id = c.unit_id
		WHERE
			a.create_id = #{userId}
		AND a.material_id = b.id
		AND a.norms_id = c.id
        <if test="materialName != '' and materialName != null">
            AND a.material_name LIKE '%${materialName}%'
        </if>
		<if test="materialModel != '' and materialModel != null">
            AND a.material_model LIKE '%${materialModel}%'
        </if>
        <if test="materialGroupName != '' and materialGroupName != null">
            AND c.group_name LIKE '%${materialGroupName}%'
        </if>
        GROUP BY a.norms_id
    </select>
    
</mapper>