<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
    <div style="padding:20px; margin:0 auto;">
        <form class="layui-form" action="" id="showForm">
            <div class="layui-form-item layui-col-xs12">
                <label class="layui-form-label">名称<i class="red">*</i></label>
                <div class="layui-input-block">
                    <input type="text" id="accountName" name="accountName" win-verify="required" placeholder="请输入账户名称" class="layui-input" maxlength="25"/>
                </div>
            </div>
            <div class="layui-form-item layui-col-xs6">
                <label class="layui-form-label">编号<i class="red">*</i></label>
                <div class="layui-input-block">
                    <input type="text" id="serialNo" name="serialNo" placeholder="请输入编号" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item layui-col-xs6">
                <label class="layui-form-label">期初金额<i class="red">*</i></label>
                <div class="layui-input-block">
                    <input type="text" id="initialAmount" name="initialAmount" win-verify="required|money" placeholder="请输入期初金额" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item layui-col-xs6">
                <label class="layui-form-label">是否默认<i class="red">*</i></label>
                <div class="layui-input-block winui-radio">
                    <input type="radio" name="isDefault" value="0" title="否" checked="checked"/>
                    <input type="radio" name="isDefault" value="1" title="是"/>
                </div>
            </div>
            <div class="layui-form-item layui-col-xs12">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea id="remark" name="remark" placeholder="请输入备注信息" maxlength="200" class="layui-textarea" style="height: 100px;"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-col-xs12">
                <div class="layui-input-block">
                    <button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
                    <button class="winui-btn" lay-submit lay-filter="formAddBean"><language showName="com.skyeye.save"></language></button>
                </div>
            </div>
        </form>
    </div>
    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/account/'}).use('accountAdd');
    </script>
</body>
</html>