<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
    <link href="../../assets/lib/layui/lay/modules/timeaxis/timeaxis.css" rel="stylesheet" />
    <style type="text/css">
    	.history-date h2{
    		margin-bottom: 0px;
    	}
    	.history-date h2 a{
    		font-size: 12px;
    	}
    	.history-date ul li h3 a{
   		    color: currentColor;
    		font-size: 15px;
    	}
		.ver-center{
			padding-top: 6px;
		}
    </style>
</head>
<body>
	<div style="margin:0 auto; height: 100%; overflow: hidden;">
		<div class="layui-tab layui-tab-card">
			<ul class="layui-tab-title">
				<li class="layui-this">基本信息</li>
				<li class="">流程图</li>
				<li class="">审批历史</li>
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					<div class="layui-form-item layui-col-xs12">
			   			<span class="hr-title" id="activitiTitle"></span><hr>
			    	</div>
			    	<div id="showForm" style="height: auto; width: 100%; float: left;">
			    		
			    	</div>
			    	<div class="layui-form-item layui-col-xs12">
			   			<span class="hr-title">审批</span><hr>
			    	</div>
				    <form class="layui-form" action="">
						<div class="layui-form-item layui-col-xs12" id="multiInstanceBox">

						</div>
				        <div class="layui-form-item layui-col-xs12">
							<label class="layui-form-label"><span id="resultTitle">审批结果</span><i class="red">*</i></label>
							<div class="layui-input-block winui-radio">
								<input type="radio" name="flag" value="1" title="同意" checked="checked"/>
								<input type="radio" name="flag" value="2" title="拒绝" />
							</div>
						</div>
						<div class="layui-form-item layui-col-xs12" id="approvalOpinionDom">
							<label class="layui-form-label">审批意见</label>
							<div class="layui-input-block">
								<textarea id="opinion" placeholder="请输入审批意见" maxlength="200" class="layui-textarea" style="height: 100px;"></textarea>
							</div>
						</div>
						<div class="layui-form-item layui-col-xs12" id="subBtnBox">
							<div class="layui-input-block">
								<button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
								<button class="winui-btn" lay-submit lay-filter="formAddBean">提交</button>
							</div>
						</div>
						<div class="layui-form-item layui-col-xs12">
							<label class="layui-form-label">其他操作：</label>
							<div class="layui-input-block" id="otherMenuOperator">

							</div>
						</div>
				    </form>
				</div>
				<div class="layui-tab-item">
					<img alt="" src="" id="processInstanceIdImg">
				</div>
				<div class="layui-tab-item">
					<div class="history" id="timeTreeApprovalHistoryList">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 文本展示 -->
	<script type="text/x-handlebars-template" id="textTemplate">
        {{#bean}}
            <div class="layui-form-item layui-col-xs{{proportion}}">
	            <label class="layui-form-label">{{name}}：</label>
	            <div class="layui-input-block ver-center">
        			{{value}}
        		</div>
	        </div>
        {{/bean}}
    </script>
    
    <!-- 附件展示 -->
    <script type="text/x-handlebars-template" id="enclosureTemplate">
        {{#bean}}
            <div class="layui-form-item layui-col-xs{{proportion}}">
	            <label class="layui-form-label">{{name}}：</label>
	            <div class="layui-input-block ver-center">
        			{{#each value}}
						<a rowid="{{id}}" class="enclosureItem" rowpath="{{fileAddress}}" href="javascript:;" style="color:blue;">{{name}}</a><br>
					{{/each}}
        		</div>
	        </div>
        {{/bean}}
    </script>
    
    <!-- 富文本展示 -->
    <script type="text/x-handlebars-template" id="eichTextTemplate">
        {{#bean}}
            <div class="layui-form-item layui-col-xs{{proportion}}">
	            <label class="layui-form-label">{{name}}：</label>
	            <div class="layui-input-block ver-center">
        			{{{value}}}
        		</div>
	        </div>
        {{/bean}}
    </script>
    
    <!-- 图片展示 -->
    <script type="text/x-handlebars-template" id="picTemplate">
        {{#bean}}
            <div class="layui-form-item layui-col-xs{{proportion}}">
	            <label class="layui-form-label">{{name}}：</label>
	            <div class="layui-input-block ver-center">
        			{{#each photo}}
                        <img src="{{photoValue}}" class="photo-img">
                    {{/each}}
        		</div>
	        </div>
        {{/bean}}
    </script>
    
    <!-- 表格展示 -->
    <script type="text/x-handlebars-template" id="tableTemplate">
        {{#bean}}
            <div class="layui-form-item layui-col-xs{{proportion}}">
	            <label class="layui-form-label">{{name}}：</label>
	            <div class="layui-input-block ver-center" id="showTable{{orderBy}}">
        		</div>
	        </div>
        {{/bean}}
    </script>
    
    <!-- 时间线审批历史列表模板 -->
    <script type="text/x-handlebars-template" id="timeTreeApprovalHistory">
		{{#bean}}
			<div class="history-date">
				<h2 class="{{showClass}}"><a href="#nogo">{{createTime}}</a></h2>
				<ul>
					<li class="green">
						<h3><a>节点：{{title}}</a><span>审批人：{{opName}}</span></h3>
						<div>[{{flagName}}]<br/>审批意见：{{{opinion}}}</div>
					</li>
				</ul>
			</div>
		{{/bean}}
	</script>

	<!-- 多实例会签信息 -->
	<script type="text/x-handlebars-template" id="multiInstance">
		{{#bean}}
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">完成条件：</label>
				<div class="layui-input-block ver-center">
					{{completionCondition}}
				</div>
			</div>
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">状态：</label>
				<div class="layui-input-block ver-center" id="multiInstanceState">

				</div>
			</div>
			<div class="layui-form-item layui-col-xs4">
				<label class="layui-form-label">会签任务总数：</label>
				<div class="layui-input-block ver-center">
					{{nrOfInstances}}
				</div>
			</div>
			<div class="layui-form-item layui-col-xs4">
				<label class="layui-form-label">正在执行的会签总数：</label>
				<div class="layui-input-block ver-center">
					{{nrOfActiveInstances}}
				</div>
			</div>
			<div class="layui-form-item layui-col-xs4">
				<label class="layui-form-label">已完成的会签任务总数：</label>
				<div class="layui-input-block ver-center">
					{{nrOfCompletedInstances}}
				</div>
			</div>
		{{/bean}}
	</script>
	
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
        layui.config({base: '../../js/approvalActiviti/'}).use('approvalProcess');
    </script>
</body>
</html>