<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="padding-top:20px;">
	    <form class="layui-form" action="" id="showForm" autocomplete="off">
	        <div class="layui-form-item">
	            <div class="p_DialogContent">
					<input type="hidden" name="svyAttrSaveTag" value="1">
					<div class="p_DialogContentTitle">回答限制</div>
					<div class="p_DialogContentRoot">
						<div class="p_DialogContentItem"><label><input type="checkbox" name="effective" value="4"> 每台电脑或手机只能答一次</label></div>
						<div class="p_DialogContentItem"><label><input type="checkbox" name="effectiveIp" value="1"> 每个IP只能答一次</label></div>
						<div class="p_DialogContentItem"><label><input type="checkbox" name="rule" value="3"> 启用访问密码</label> &nbsp;&nbsp;&nbsp;设置密码：
							<input type="text" size="10" name="ruleCode" class="inputSytle_1">
						</div>
						<div class="p_DialogContentItem"><label><input type="checkbox" name="refresh" value="1"> 有重复回答启用验证码</label></div>
						<div class="p_DialogContentItem" style="display: none;"><label><input type="checkbox" name="mailOnly" value="1"> 只有邮件邀请唯一链接的受访者可回答</label></div>
					</div>
				</div>
				<div class="p_DialogContent">
					<div class="p_DialogContentTitle">何时结束</div>
					<div class="p_DialogContentRoot">
						<div class="p_DialogContentItem"><label><input type="checkbox" name="ynEndNum" value="1"> 收集到&nbsp;<input type="text" size="12"  class="inputSytle_1" name="endNum">&nbsp;份答卷时结束</label></div>
						<div class="p_DialogContentItem"><label><input type="checkbox" name="ynEndTime" value="1"> 到&nbsp;<input type="text" size="20"  class="inputSytle_1 Wdate" onfocus="WdatePicker({minDate:'%y-%M-{%d+1}',dateFmt:'yyyy-MM-dd HH:mm:ss'})" name="endTime">&nbsp;时结束 </label></div>
					</div>
				</div>
	        </div>
	        <div class="layui-form-item">
	            <div class="layui-input-block">
	                <button class="winui-btn" id="cancle">取消</button>
	                <button class="winui-btn" lay-submit lay-filter="formAddBean">保存</button>
	            </div>
	        </div>
	    </form>
	</div>
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
        layui.config({base: '../../js/dwsurveydesign/'}).use('designSurveyOp');
    </script>
</body>
</html>