<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
    <div class="winui-toolbar">
        <div class="winui-tool">
            <button id="reloadTable" class="winui-toolbtn search-table-btn-right"><i class="fa fa-refresh" aria-hidden="true"></i><language showName="com.skyeye.refreshDataBtn"></language></button>
            <button id="addBean" class="winui-toolbtn search-table-btn-right" auth="1649929352279"><i class="fa fa-plus" aria-hidden="true"></i>面试安排</button>
        </div>
    </div>
    <div style="margin:auto 10px;">
        <table id="messageTable" lay-filter="messageTable"></table>
        <script type="text/html" id="messageTableBar">
            {{# if((d.state == '2' || d.state == '3')) { }}
                {{# if(auth('1649929381788')) { }}
                    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="cancellation">作废</a>
                {{# } }}
                {{# if(auth('1649929352279')) { }}
                    <a class="layui-btn layui-btn-xs" lay-event="edit"><language showName="com.skyeye.editBtn"></language></a>
                {{# } }}
            {{# } }}
            {{# if(d.state == '4' && auth('1650189947768')) { }}
                <a class="layui-btn layui-btn-xs" lay-event="inductionResult">入职</a>
            {{# } }}
        </script>
    </div>

    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/bossInterviewArrangement/'}).use('bossInterviewArrangementList');
    </script>
</body>
</html>