<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
    <link href="../../assets/lib/layui/lay/modules/timeaxis/timeaxis.css" rel="stylesheet" />
    <style type="text/css">
    	.history-date h2{
    		margin-bottom: 0px;
    	}
    	.history-date h2 a{
    		font-size: 12px;
    	}
    	.history-date ul li h3 a{
   		    color: currentColor;
    		font-size: 15px;
    	}
    </style>
</head>
<body>
	<div style="margin:0 auto; height: 100%; overflow: hidden;">
		<div class="layui-tab layui-tab-card">
			<ul class="layui-tab-title">
				<li class="layui-this">基本信息</li>
				<li class="">流程图</li>
				<li class="">审批历史</li>
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
			    	<div id="showForm" style="height: auto; width: 100%; float: left;">
			    		
			    	</div>
					<div class="layui-form-item layui-col-xs12">
						<span class="hr-title">审批信息</span><hr>
					</div>
					<div class="layui-form-item layui-col-xs12">
						<label class="layui-form-label">当前审批人：</label>
						<div class="layui-input-block ver-center" id="taskCurrentAssignee">

						</div>
					</div>
				</div>
				<div class="layui-tab-item">
					<img alt="" src="" id="processInstanceIdImg">
				</div>
				<div class="layui-tab-item">
					<div class="history" id="timeTreeApprovalHistoryList">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	
    <!-- 时间线审批历史列表模板 -->
    <script type="text/x-handlebars-template" id="timeTreeApprovalHistory">
		{{#bean}}
			<div class="history-date">
				<h2 class="{{showClass}}"><a href="#nogo">{{createTime}}</a></h2>
				<ul>
					<li class="green">
						<h3><a>节点：{{title}}</a><span>审批人：{{opName}}</span></h3>
						<div>[{{flagName}}]<br/>审批意见：{{{opinion}}}</div>
					</li>
				</ul>
			</div>
		{{/bean}}
	</script>
	
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
        layui.config({base: '../../js/activitiCommon/'}).use('processInstanceDetails');
    </script>
</body>
</html>