<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
    <link href="../../assets/lib/layui/lay/modules/timeaxis/timeaxis.css" rel="stylesheet" />
	<link href="../../assets/lib/winui/css/customer/voucherUtil.css" rel="stylesheet" />
    <style type="text/css">
    	.history-date h2{
    		margin-bottom: 0px;
    	}
    	.history-date h2 a{
    		font-size: 12px;
    	}
    	.history-date ul li h3 a{
   		    color: currentColor;
    		font-size: 15px;
    	}
    </style>
</head>
<body>
	<div style="margin:0 auto; height: 100%; overflow: hidden;">
		<div class="layui-tab layui-tab-card">
			<ul class="layui-tab-title">
				<li class="layui-this">基本信息</li>
				<li class="">流程图</li>
				<li class="">审批历史</li>
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					<div class="layui-form-item layui-col-xs12">
			   			<span class="hr-title" id="activitiTitle"></span><hr>
			    	</div>
			    	<div id="showForm" style="height: auto; width: 100%; float: left;">
			    		
			    	</div>
				</div>
				<div class="layui-tab-item">
					<img alt="" src="" id="processInstanceIdImg">
				</div>
				<div class="layui-tab-item">
					<div class="history" id="timeTreeApprovalHistoryList">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 文本展示 -->
	<script type="text/x-handlebars-template" id="textTemplate">
        {{#bean}}
            <div class="layui-form-item layui-col-xs{{proportion}}">
	            <label class="layui-form-label">{{name}}：</label>
	            <div class="layui-input-block ver-center">
        			{{value}}
        		</div>
	        </div>
        {{/bean}}
    </script>
    
    <!-- 附件展示 -->
    <script type="text/x-handlebars-template" id="enclosureTemplate">
        {{#bean}}
            <div class="layui-form-item layui-col-xs{{proportion}}">
	            <label class="layui-form-label">{{name}}：</label>
	            <div class="layui-input-block ver-center">
        			{{#each value}}
						<a rowid="{{id}}" class="enclosureItem" rowpath="{{fileAddress}}" href="javascript:;" style="color:blue;">{{name}}</a><br>
					{{/each}}
        		</div>
	        </div>
        {{/bean}}
    </script>
    
    <!-- 富文本展示 -->
    <script type="text/x-handlebars-template" id="eichTextTemplate">
        {{#bean}}
            <div class="layui-form-item layui-col-xs{{proportion}}">
	            <label class="layui-form-label">{{name}}：</label>
	            <div class="layui-input-block ver-center">
        			{{{value}}}
        		</div>
	        </div>
        {{/bean}}
    </script>
    
    <!-- 图片展示 -->
    <script type="text/x-handlebars-template" id="picTemplate">
        {{#bean}}
            <div class="layui-form-item layui-col-xs{{proportion}}">
	            <label class="layui-form-label">{{name}}：</label>
	            <div class="layui-input-block ver-center">
        			{{#each photo}}
                        <img src="{{photoValue}}" class="photo-img">
                    {{/each}}
        		</div>
	        </div>
        {{/bean}}
    </script>
    
    <!-- 表格展示 -->
    <script type="text/x-handlebars-template" id="tableTemplate">
        {{#bean}}
            <div class="layui-form-item layui-col-xs{{proportion}}">
	            <label class="layui-form-label">{{name}}：</label>
	            <div class="layui-input-block ver-center" id="showTable{{orderBy}}">
        		</div>
	        </div>
        {{/bean}}
    </script>

	<!-- 凭证展示 -->
	<script type="text/x-handlebars-template" id="voucherTemplate">
		{{#bean}}
		<div class="layui-form-item layui-col-xs{{proportion}}">
			<label class="layui-form-label">{{name}}：</label>
			<div class="layui-input-block ver-center" id="showVoucher{{orderBy}}" style="overflow-x: auto;">
			</div>
		</div>
		{{/bean}}
	</script>
    
    <!-- 时间线审批历史列表模板 -->
    <script type="text/x-handlebars-template" id="timeTreeApprovalHistory">
		{{#bean}}
			<div class="history-date">
				<h2 class="{{showClass}}"><a href="#nogo">{{createTime}}</a></h2>
				<ul>
					<li class="green">
						<h3><a>节点：{{title}}</a><span>审批人：{{opName}}</span></h3>
						<div>[{{flagName}}]<br/>审批意见：{{{opinion}}}</div>
					</li>
				</ul>
			</div>
		{{/bean}}
	</script>
	
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
	<script src="../../assets/lib/layui/customer/voucher/spinbox.js"></script>
	<script src="../../assets/lib/layui/customer/voucher/voucherUtil.js"></script>
   	<script type="text/javascript">
        layui.config({base: '../../js/activitiCommon/'}).use('processInstanceDetails');
    </script>
</body>
</html>