<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.DsFormPageTypeDao">
	
	<select id="queryDsFormPageTypeList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.type_name typeName,
			a.parent_id parentId,
			b.user_name createName,
			CONVERT(a.create_time, char) createTime,
			c.user_name lastUpdateName,
			CONVERT(a.last_update_time, char) lastUpdateTime
		FROM
			ds_form_page_type a
			LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
			LEFT JOIN sys_eve_user_staff c ON a.last_update_id = c.user_id
		WHERE 1 = 1
			<if test="typeName != '' and typeName != null">
				AND a.type_name LIKE '%${typeName}%'
			</if>
		ORDER BY a.create_time DESC
	</select>

	<insert id="insertDsFormPageType" parameterType="java.util.Map">
		INSERT INTO ds_form_page_type
	    	(id, type_name, parent_id, create_id, create_time, last_update_id, last_update_time)
	    VALUES
	        (#{id}, #{typeName}, #{parentId}, #{userId}, #{createTime}, #{userId}, #{createTime})
	</insert>

	<select id="queryDsFormPageTypeById" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT
			a.id,
			a.type_name typeName,
			a.parent_id parentId,
			b.user_name createName,
			CONVERT(a.create_time, char) createTime,
			c.user_name lastUpdateName,
			CONVERT(a.last_update_time, char) lastUpdateTime
		FROM
			ds_form_page_type a
			LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
			LEFT JOIN sys_eve_user_staff c ON a.last_update_id = c.user_id
		WHERE a.id = #{id}
	</select>

	<select id="queryDsFormPageTypeByParentIdAndTypeName" parameterType="java.util.Map" resultType="java.lang.String">
		SELECT
			a.id
		FROM
			ds_form_page_type a
		WHERE a.parent_id = #{parentId} AND a.type_name = #{typeName}
	</select>

	<select id="queryDsFormPageTypeByParentId" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT
			a.id,
			a.type_name typeName,
			a.parent_id parentId,
			b.user_name createName,
			CONVERT(a.create_time, char) createTime,
			c.user_name lastUpdateName,
			CONVERT(a.last_update_time, char) lastUpdateTime
		FROM
			ds_form_page_type a
				LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
				LEFT JOIN sys_eve_user_staff c ON a.last_update_id = c.user_id
		WHERE a.parent_id = #{parentId}
	</select>

	<update id="updateDsFormPageTypeById" parameterType="java.util.Map">
		UPDATE ds_form_page_type
		SET
			type_name = #{typeName},
			parent_id = #{parentId},
			last_update_id = #{userId},
			last_update_time = #{lastUpdateTime}
		WHERE id = #{id}
	</update>

	<delete id="delDsFormPageTypeById" parameterType="java.lang.String">
		DELETE FROM ds_form_page_type
		WHERE id = #{id}
	</delete>

	<delete id="delDsFormPageTypeByParentId" parameterType="java.lang.String">
		DELETE FROM ds_form_page_type
		WHERE parent_id = #{parentId}
	</delete>
</mapper>