<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.ErpCommonDao">

    <select id="queryDepotHeadDetailsMationById" resultType="java.util.Map">
        SELECT
			a.id,
			a.default_number defaultNumber,
			CONCAT_WS('_', g.job_number, a.oper_person_name) operPersonName,
			CONVERT (a.create_time, CHAR) createTime,
			CONVERT (a.oper_time, CHAR) operTime,
			IF(IFNULL(b.supplier, '') = '', d.`name`, b.supplier) supplierName,
			c.`name` accountName,
			FORMAT(a.total_price, 2) totalPrice,
			CASE a.pay_type WHEN '1' THEN '现金' WHEN '2' THEN '记账' WHEN '3' THEN '其他' ELSE '' END payType,
			a.remark,
			a.status state,
			a.sub_type subType,
            a.submit_type submitType,
            a.process_instance_id processInstanceId,
			a.status_content statusContent,
			a.link_number linkNumber,
			<!-- 计划完成日期 -->
			CONVERT (a.plan_complate_time, CHAR) planComplateTime,
            <!-- 实际完成日期 -->
			CONVERT (a.real_complate_time, CHAR) realComplateTime,
			FORMAT(a.change_amount, 2) changeAmount,
			FORMAT(a.give_change, 2) giveChange,
			FORMAT(a.discount, 2) discount,
			FORMAT(a.discount_money, 2) discountMoney,
			FORMAT(a.discount_last_money, 2) discountLastMoney,
			FORMAT(a.other_money, 2) otherMoney,
			FORMAT((IFNULL(a.discount_money, 0) + IFNULL(a.discount_last_money, 0)), 2) taxLastMoneyPrice,
			<!-- 优惠后金额 - 本次付款金额 -->
			FORMAT((IFNULL(a.discount_last_money, 0) - IFNULL(a.change_amount, 0)), 2) arrears,
			a.other_money_list otherMoneyList,
			(SELECT group_concat(distinct m.user_name) FROM sys_eve_user_staff m WHERE INSTR(CONCAT(',', a.salesman, ','), CONCAT(',', m.user_id, ','))) salesMan,
			<!-- 生产计划单信息 -->
			f.id producitonId,
			f.default_number producitonOrderNum,
            <!-- 统筹信息 -->
		    a.need_over_plan needOverPlan,
			CASE a.need_over_plan WHEN '1' THEN '需要' WHEN '2' THEN '不需要' ELSE '不需要' END needOverPlanName
		FROM
			erp_depothead a
			LEFT JOIN erp_supplier b ON a.organ_id = b.id
			LEFT JOIN ifs_account c ON a.account_id = c.id
			LEFT JOIN crm_customer d ON a.organ_id = d.id
			<!-- 生产计划单信息 -->
			LEFT JOIN erp_production_purchase e ON a.id = e.purchase_order_id
			LEFT JOIN erp_production_head f ON e.produciton_id = f.id
        	LEFT JOIN sys_eve_user_staff g ON g.user_id = a.oper_person_id
		WHERE a.id = #{orderId}
		AND a.delete_flag = '0'
    </select>
    
    <select id="queryDepotItemDetailsMationById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			a.material_id materialId,
			CONCAT(a.material_name, '(', a.material_model, ')') materialNames,
			a.oper_number operNumber,
			FORMAT(a.unit_price, 2) unitPrice,
			FORMAT(a.all_price, 2) allPrice,
			a.remark,
			b.`name` deportName,
			f.`name` anotherDepotName,
			IFNULL(e.`name`, c.unit_name) unitName,
			FORMAT(a.tax_unit_price, 2) taxUnitPrice,
			FORMAT(a.tax_rate, 2) taxRate,
			FORMAT(a.tax_money, 2) taxMoney,
			FORMAT(a.tax_last_money, 2) taxLastMoney,
			CASE a.m_type WHEN 0 THEN '普通' WHEN 1 THEN '组合件' WHEN 2 THEN '普通子件' ELSE '' END mTypeName
		FROM
			erp_depotitem a
			LEFT JOIN erp_depot b ON a.depot_id = b.id
			LEFT JOIN erp_depot f ON a.another_depot_id = f.id,
			erp_material c,
			erp_material_norms d
			LEFT JOIN erp_unit e ON d.unit_id = e.id
		WHERE
			a.header_id = #{id}
		AND a.delete_flag = '0'
		AND a.material_id = c.id
		AND a.norms_id = d.id
		ORDER BY a.m_type ASC
    </select>
    
	<select id="queryInoutitemMationById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.`name`,
			#{otherPrice} otherPrice
		FROM
			erp_inoutitem a
		WHERE
			a.id = #{inoutitemId}
		AND delete_flag = '0'
	</select>
	
	<!-- 根据订单id获取该订单下的所有商品规格信息 -->
	<select id="queryOrderNormsToEditByOrderId" resultType="java.util.Map">
		SELECT
			a.id,
			a.depot_id depotId,
			a.material_id materialId, #商品id
			b.`name` materialName, #商品名称
			b.model materialModel, #商品型号
			b.unit materialUnit, #商品单位，是多个还是单个,  1.单个  2.多个
			b.unit_name materialUnitName, #计量单位  当unit=1时，必填
			a.norms_id mUnitId, #规格id
			IFNULL(SUM(IFNULL(d.initial_tock, 0) + IFNULL(e.stock_num, 0)), 0) currentTock, #当前库存
			a.oper_number operNum, #申请数量
			CONVERT(a.unit_price, decimal(24, 2)) unitPrice, #单价
			CONVERT(a.all_price, decimal(24, 2)) allPrice, #总金额
			CONVERT(a.tax_unit_price, decimal(24, 2)) taxUnitPrice, #含税单价
			CONVERT(a.tax_rate, decimal(24, 2)) taxRate, #税率
			CONVERT(a.tax_money, decimal(24, 2)) taxMoney, #税额
			CONVERT(a.tax_last_money, decimal(24, 2)) taxLastMoney, #价税合计
			a.m_type mType, #商品类型  0.普通  1.组合件  2.普通子件
			a.another_depot_id anotherDepotId, #调拨时，对方仓库Id
			a.remark,
			k.default_number orderNumber,
			k.id orderHeaderId
		FROM
			erp_depotitem a
			LEFT JOIN erp_material b ON a.material_id = b.id
			LEFT JOIN erp_material_norms_tock d ON a.norms_id = d.norms_id AND IF(a.depot_id IS NULL, 0 = 0, d.depot_id = a.depot_id)
			LEFT JOIN erp_material_depot_stock e ON a.norms_id = e.norms_id AND IF(a.depot_id IS NULL, 0 = 0, e.depot_id = a.depot_id),
			erp_depothead k
		WHERE
			a.header_id = #{orderId}
		AND a.header_id = k.id
		AND a.delete_flag = '0'
		GROUP BY a.id
	</select>
	
    <!-- 插入主单据信息 -->
    <insert id="insertOrderParentMation" parameterType="java.util.Map">
        INSERT INTO erp_depothead
        (id, `type`, sub_type, default_number, number, oper_person_id, oper_person_name, create_time, oper_time, 
        	organ_id, account_id, total_price, pay_type, remark, status, delete_flag, link_number, give_change, 
        	discount, discount_money, discount_last_money, other_money, other_money_list, change_amount, salesman,
         	need_over_plan, plan_complate_time, submit_type)
        VALUES
        (#{id}, #{type}, #{orderType}, #{defaultNumber}, #{number}, #{operPersonId}, #{operPersonName}, #{createTime}, #{operTime},
    		#{organId}, #{accountId}, #{totalPrice}, #{payType}, #{remark}, #{status}, #{deleteFlag}, #{linkNumber}, #{giveChange},
    		#{discount}, #{discountMoney}, #{discountLastMoney}, #{otherMoney}, #{otherMoneyList}, #{changeAmount}, #{salesMan},
         	#{needOverPlan}, #{planComplateTime}, #{submitType})
    </insert>
    
    <!-- 插入子单据信息 -->
    <insert id="insertOrderChildMation" parameterType="java.util.Map">
	     INSERT INTO erp_depotitem
	     (id, header_id, material_id, material_name, material_model, norms_id, oper_number, basic_number, 
	     	unit_price, all_price, remark, depot_id, another_depot_id, m_type, delete_flag,
	     	tax_unit_price, tax_rate, tax_money, tax_last_money)
	     VALUES
		<foreach collection="list" item="item" index="index" separator="," >  
		(#{item.id}, #{item.headerId}, #{item.materialId}, #{item.materialName}, #{item.materialModel}, #{item.mUnitId}, #{item.operNumber}, #{item.baseNumber},
			#{item.estimatePurchasePrice}, #{item.allPrice}, #{item.remark}, #{item.depotId}, #{item.anotherDepotId}, #{item.mType}, #{item.deleteFlag},
			#{item.taxUnitPrice}, #{item.taxRate}, #{item.taxMoney}, #{item.taxLastMoney})  
		</foreach>  
	</insert>
	
	<!-- 修改主单据信息 -->
	<update id="editOrderParentMationById" parameterType="java.util.Map">
		UPDATE erp_depothead
		<set>
			<if test="operTime != '' and operTime != null">
	            oper_time = #{operTime},
	        </if>
	        <if test="organId != '' and organId != null">
	            organ_id = #{organId},
	        </if>
            account_id = #{accountId},
            remark = #{remark},
            salesman = #{salesMan},
	        <if test="payType != '' and payType != null">
	            pay_type = #{payType},
	        </if>
	        <if test="totalPrice != '' and totalPrice != null">
	            total_price = #{totalPrice},
	        </if>
	        <if test="giveChange != '' and giveChange != null">
	            give_change = #{giveChange},
	        </if>
	        discount = #{discount},
	        discount_money = #{discountMoney},
	        discount_last_money = #{discountLastMoney},
	        change_amount = #{changeAmount},
	        other_money = #{otherMoney},
	        other_money_list = #{otherMoneyList},
			<if test="needOverPlan != '' and needOverPlan != null">
				need_over_plan = #{needOverPlan},
			</if>
			plan_complate_time = #{planComplateTime},
		</set>
		WHERE id = #{id}
		AND sub_type = #{orderType}
	</update>
	
	<!-- 获取主单据信息用于编辑回显 -->
	<select id="queryOrderMationToEditById" resultType="java.util.Map">
		SELECT
			a.id,
			a.organ_id organId,
			b.`name` customName,
			c.supplier supplierName,
			CONVERT (a.oper_time, char) operTime,
			a.account_id accountId,
			CONVERT(a.total_price, decimal(24, 2)) totalPrice,
			CONVERT(a.give_change, decimal(24, 2)) giveChange,
			a.pay_type payType,
			a.remark,
		    a.status state,
		    a.submit_type submitType,
			CONVERT(a.change_amount, decimal(24, 2)) changeAmount,
			a.link_number linkNumber,
			<!-- 计划完成日期 -->
			CONVERT (a.plan_complate_time, CHAR) planComplateTime,
			CONVERT(a.discount, decimal(24, 2)) discount,
			CONVERT(a.discount_money, decimal(24, 2)) discountMoney,
			CONVERT(a.discount_last_money, decimal(24, 2)) discountLastMoney,
			CONVERT(a.other_money, decimal(24, 2)) otherMoney,
			CONVERT((IFNULL(a.discount_money, 0) + IFNULL(a.discount_last_money, 0)), decimal(24, 2)) taxLastMoneyPrice,
			<!-- 优惠后金额 - 本次付款金额 -->
			CONVERT((IFNULL(a.discount_last_money, 0) - IFNULL(a.change_amount, 0)), decimal(24, 2)) arrears,
			a.other_money_list otherMoneyList,
			a.salesman salesMan,
			<!-- 生产计划单信息 -->
			e.id producitonId,
			e.default_number producitonOrderNum,
			<!-- 统筹信息 -->
			a.need_over_plan needOverPlan
		FROM
			erp_depothead a
			LEFT JOIN crm_customer b ON a.organ_id = b.id
			LEFT JOIN erp_supplier c ON a.organ_id = c.id
			<!-- 生产计划单信息 -->
			LEFT JOIN erp_production_purchase d ON a.id = d.purchase_order_id
			LEFT JOIN erp_production_head e ON d.produciton_id = e.id
		WHERE
			a.id = #{orderId}
		AND a.delete_flag = '0'
		AND a.sub_type = #{orderType}
	</select>
	
	<!-- 获取主单据状态 -->
	<select id="queryOrderParentStateById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.`status`,
		    a.need_over_plan needOverPlan
		FROM
			erp_depothead a
		WHERE
			a.id = #{orderId}
		AND a.delete_flag = '0'
		AND a.sub_type = #{orderType}
	</select>
    
    <!-- 删除主单据信息 -->
    <delete id="deleteOrderParentMationById">
		DELETE
		FROM
			erp_depothead
		WHERE
			id = #{orderId}
		AND sub_type = #{orderType}
	</delete>
	
	<!-- 删除子单据信息 -->
	<delete id="deleteOrderChildMationById">
		DELETE
		FROM
			erp_depotitem
		WHERE
			header_id = #{orderId}
	</delete>
	
	<!-- 新增生产单与采购订单的关系信息erp_production_purchase -->
	<insert id="insertProductionOrderRelationMation" parameterType="java.util.Map">
        INSERT INTO erp_production_purchase
        (produciton_id, purchase_order_id)
        VALUES
        (#{productionId}, #{purchaseOrderId})
    </insert>
    
    <!-- 根据采购订单id删除生产单与采购订单的关系信息 -->
    <delete id="deleteProductionOrderRelationMationByPurchaseOrderId">
		DELETE
		FROM
			erp_production_purchase
		WHERE
			purchase_order_id = #{purchaseOrderId}
	</delete>
	
	<!-- 修改生产计划单状态 -->
	<update id="editProductionOrderStateById">
		UPDATE erp_production_head
		<set>
	        state = #{state}
		</set>
		WHERE id = #{productionId}
	</update>
	
	<!-- 根据单据id获取当前单据所有商品规格数量 -->
	<select id="queryOrderNormsNumMationByOrderId" resultType="java.util.Map">
		SELECT
			a.id,
			a.depot_id depotId,
			a.material_id materialId,
			a.norms_id normsId,
			a.oper_number operNumber,
			a.m_type mType,
			a.another_depot_id anotherDepotId
		FROM
			erp_depotitem a
		WHERE
			a.header_id = #{orderId}
	</select>
	
	<!-- 根据单据编号获取该单据下的商品规格还有多少数量没有入库/出库 -->
	<select id="queryOrderNormsOverNumMationByOrderNumber" resultType="java.util.Map">
		SELECT
			a.id,
			a.material_id materialId,
			a.norms_id normsId,
			a.oper_number - IFNULL((
				SELECT
					SUM(m.oper_number)
				FROM
					erp_depothead k,
					erp_depotitem m
				WHERE
					k.id = m.header_id
				AND k.link_number = #{orderNumber}
				AND k.id != a.id
				AND m.norms_id = a.norms_id
				AND k.delete_flag = '0'
				AND k.status = '2' #审核通过的
				GROUP BY
					k.link_number
			), 0) nowNumber #当前剩余入库数量
		FROM
			erp_depotitem a,
			erp_depothead b
		WHERE
			b.default_number = #{orderNumber}
		AND b.id = a.header_id
		AND a.delete_flag = '0'
		GROUP BY a.id
	</select>
	
	<!-- 根据单据编号修改单据状态为已完成 -->
	<update id="editOrderStatusToComByOrderNumber">
		UPDATE erp_depothead
		<set>
	        `status` = '4'
		</set>
		WHERE default_number = #{orderNumber}
	</update>
	
	<!-- 根据仓库id和规格id获取当前规格的库存 -->
	<select id="queryDepotStockByDepotIdAndNormsId" resultType="java.util.Map">
		SELECT
			a.stock_num stockNum
		FROM
			erp_material_depot_stock a
		WHERE
			a.norms_id = #{normsId}
		AND a.depot_id = #{depotId}
	</select>

	<!-- 根据仓库id和规格id修改当前规格的库存 -->
	<update id="editDepotStockByDepotIdAndNormsId">
		UPDATE erp_material_depot_stock
		<set>
	        stock_num = #{stockNum}
		</set>
		WHERE 
			norms_id = #{normsId}
		AND depot_id = #{depotId}
	</update>
	
	<!-- 新增当前规格的库存信息 -->
	<insert id="insertDepotStockByDepotIdAndNormsId">
        INSERT INTO erp_material_depot_stock
        (material_id, norms_id, depot_id, stock_num)
        VALUES
        (#{materialId}, #{normsId}, #{depotId}, #{stockNum})
    </insert>
    
    <!-- 修改订单状态为审核中 -->
    <update id="editOrderStateToSubExamineById">
		UPDATE erp_depothead
		<set>
            `status` = '1'
		</set>
		WHERE id = #{orderId}
		AND sub_type = #{orderType}
	</update>

	<update id="editOrderStateById">
		UPDATE erp_depothead
		<set>
			`status` = #{state}
		</set>
		WHERE id = #{orderId}
		AND sub_type = #{orderType}
	</update>

    <update id="editOrderStateToSubActiviti">
		UPDATE erp_depothead
		<set>
			`status` = #{state},
			process_instance_id = #{processInId}
		</set>
		WHERE id = #{orderId}
	</update>

    <!-- 根据销售单id获取生产计划单 -->
	<select id="queryErpProductionHeadByPId" resultType="java.util.Map">
		SELECT
			a.id,
			#{orderId} parentId,
			a.default_number `name`,
			a.state,
			#{type} subType,
			CONVERT (a.plan_complate_date, char) planComplateDate
		FROM
			erp_production_head a
		WHERE
			a.order_id = #{orderId}
		AND a.state != 0
	</select>

	<!-- 根据生产计划单id获取加工单 -->
	<select id="queryErpMachinHead" resultType="java.util.Map">
		SELECT
			a.id,
			a.production_id parentId,
			a.order_num `name`,
			a.state,
			#{type} subType,
			CONVERT (a.end_time, char) planComplateDate
		FROM
			erp_machin_header a
		WHERE
		<if test="idsList != null and idsList.size() &gt; 0">
			<foreach collection="idsList" item="id" separator="," open=" a.production_id in(" close=")">
				#{id}
			</foreach>
		</if>
	</select>

	<!-- 根据生产计划单id获取采购单 -->
	<select id="queryErpPurchaseHead" resultType="java.util.Map">
		SELECT
			a.id,
			b.produciton_id parentId,
			a.default_number `name`,
			a.status state,
			a.sub_type subType,
			CONVERT (a.plan_complate_time, char) planComplateDate,
			CONVERT (a.real_complate_time, char) realComplateDate
		FROM
			erp_depothead a,
			erp_production_purchase b
		WHERE a.id = b.purchase_order_id
		AND a.delete_flag = '0'
		<if test="idsList != null and idsList.size() &gt; 0">
			<foreach collection="idsList" item="id" separator="," open=" AND b.produciton_id in(" close=")">
				#{id}
			</foreach>
		</if>
	</select>

	<!-- 根据加工单id获取子单据(工序验收单) -->
	<select id="queryErpMachinChild" resultType="java.util.Map">
		SELECT
			a.id,
			a.header_id parentId,
			a.order_number `name`,
			a.state,
			#{type} subType,
		    CONVERT (a.accept_time, char) realComplateDate
		FROM
			erp_machin_child a
		WHERE
		<if test="idsList != null and idsList.size() &gt; 0">
			<foreach collection="idsList" item="id" separator="," open=" a.header_id in(" close=")">
				#{id}
			</foreach>
		</if>
	</select>

	<!-- 根据加工单id获取验收入库单 -->
	<select id="queryErpMachinPut" resultType="java.util.Map">
		SELECT
			a.id,
			a.link_number parentId,
			a.default_number `name`,
			a.status state,
			a.sub_type subType,
			CONVERT (a.real_complate_time, char) realComplateDate
		FROM
			erp_depothead a
		WHERE
		<if test="idsList != null and idsList.size() &gt; 0">
			<foreach collection="idsList" item="id" separator="," open=" a.link_number in(" close=")">
				#{id}
			</foreach>
		</if>
	</select>

	<!-- 根据采购单id获取采购入库单 -->
	<select id="queryErpPurchasePutHead" resultType="java.util.Map">
		SELECT
			a.id,
			a.link_number parentId,
			a.default_number `name`,
			a.status state,
			a.sub_type subType,
			CONVERT (a.real_complate_time, char) realComplateDate
		FROM
			erp_depothead a
		WHERE
		<if test="idsList != null and idsList.size() &gt; 0">
			<foreach collection="idsList" item="id" separator="," open=" a.link_number in(" close=")">
				#{id}
			</foreach>
		</if>
	</select>

	<!-- 根据销售单id获取销售出库单 -->
	<select id="queryErpSalesOutHead" resultType="java.util.Map">
		SELECT
			a.id,
			a.link_number parentId,
			a.default_number `name`,
			a.status state,
		    a.sub_type subType,
			CONVERT (a.real_complate_time, char) realComplateDate
		FROM
			erp_depothead a,
			erp_depothead b
		WHERE b.id = #{orderId}
		AND a.link_number = b.default_number
	</select>

	<!-- 根据订单id获取领料单/退料单/补料单 -->
	<select id="queryErpPickHead" resultType="java.util.Map">
		SELECT
			a.id,
			a.machin_id parentId,
			a.default_number `name`,
			a.`status` state,
			a.type subType,
			CONVERT (a.real_complate_time, char) realComplateDate
		FROM
			erp_pick_header a
		WHERE a.type = #{type}
		<if test="idsList != null and idsList.size() &gt; 0">
			<foreach collection="idsList" item="id" separator="," open=" AND a.machin_id in(" close=")">
				#{id}
			</foreach>
		</if>
	</select>

	<!-- 根据订单id获取生产计划单信息 -->
	<select id="queryProductionHeadDetailsMationById" resultType="java.util.Map">
		SELECT
			a.id,
			a.default_number defaultNumber,
			a.state,
			#{type} subType,
			CONVERT (a.plan_complate_date, char) planComplateDate
		FROM
			erp_production_head a
		WHERE
			a.id = #{orderId}
	</select>

	<!-- 根据订单id获取加工单信息 -->
	<select id="queryMachinDetailsMationById" resultType="java.util.Map">
		SELECT
			a.id,
			a.order_num defaultNumber,
			a.state,
			#{type} subType,
			CONVERT (a.end_time, char) realComplateDate
		FROM
			erp_machin_header a
		WHERE
			a.id = #{orderId}
	</select>

	<select id="queryOrderMationByProcessInstanceId" resultType="java.util.Map">
		SELECT
			a.id
		FROM
		    erp_depothead a
		WHERE a.process_instance_id = #{processInstanceId}
	</select>

</mapper>