<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.ErpStockInventoryDao">
	<!-- 库存盘点 -->
	
    <insert id="insertDepotNormsInventory" parameterType="java.util.Map">
        INSERT INTO erp_stock_inventory
        (id, material_id, norms_id, depot_id, original_number, current_number, create_id, create_time)
        VALUES 
        (#{id}, #{materialId}, #{normsId}, #{depotId}, #{stockNum}, #{number}, #{createId}, #{createTime})
    </insert>
    
    <select id="queryDepotNormsNumberListByDepotId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.`name`,
			a.model,
			b.`name` categoryName,
			a.enabled,
			CASE a.`type` WHEN '1' THEN '自产' WHEN '2' THEN '外购' ELSE '参数错误' END typeName,
			CONVERT (a.create_time, CHAR) createTime,
			CASE a.unit WHEN '1' THEN a.unit_name WHEN '2' THEN f.`name` ELSE '' END unitName,
			IFNULL((SELECT SUM(it.initial_tock) FROM erp_material_norms_tock it WHERE e.id = it.norms_id AND it.depot_id = #{depotId}), 0) initialTock, #初始数量
			IFNULL((SELECT SUM(sn.stock_num) FROM erp_material_depot_stock sn WHERE e.id = sn.norms_id AND sn.depot_id = #{depotId}), 0) stockNum, #后续更改的数量-可盘点数量
			IFNULL((SELECT SUM(it.initial_tock) FROM erp_material_norms_tock it WHERE e.id = it.norms_id AND it.depot_id = #{depotId}), 0) + 
				IFNULL((SELECT SUM(sn.stock_num) FROM erp_material_depot_stock sn WHERE e.id = sn.norms_id AND sn.depot_id = #{depotId}), 0) allTock, #当前总数量
			e.id normsId,
			#{depotId} depotId
		FROM
			erp_material a
			LEFT JOIN erp_material_category b ON a.category_id = b.id,
			erp_material_norms e
			LEFT JOIN erp_unit f ON f.id = e.unit_id
		WHERE a.delete_flag = '0'
		AND a.id = e.meterial_id
		AND e.delete_flag = '0'
        <if test="categoryId != '' and categoryId != null">
            AND a.category_id = #{categoryId}
        </if>
        <if test="materialName != '' and materialName != null">
            AND a.`name` LIKE '%${materialName}%'
        </if>
        <if test="enabled != '' and enabled != null">
            AND a.enabled = #{enabled}
        </if>
        <if test="typeNum != '' and typeNum != null">
            AND a.`type` = #{typeNum}
        </if>
        <if test="model != '' and model != null">
            AND a.model LIKE '%${model}%'
        </if>
        GROUP BY e.id
        ORDER BY a.create_time DESC
	</select>
	
	<select id="queryDepotNormsHistoryInventory" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			b.`name` materialName,
			b.model materialModel,
			IFNULL(d.`name`, b.unit_name) unitName,
			a.original_number originalNumber,
			a.current_number currentNumber,
			DATE_FORMAT(a.create_time, '%Y-%m-%d') createTime,
			e.user_name userName
		FROM
			erp_stock_inventory a
			LEFT JOIN erp_material b ON a.material_id = b.id
			LEFT JOIN erp_material_norms c ON a.norms_id  = c.id
			LEFT JOIN erp_unit d ON c.unit_id = d.id,
			sys_eve_user_staff e
		WHERE
			a.norms_id = #{normsId}
		AND a.depot_id = #{depotId}
		AND a.create_id = e.user_id
		ORDER BY a.create_time DESC
	</select>
	
</mapper>