<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.MemberDao">

    <select id="queryMemberByList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            s.id,
            s.supplier memberName,
            s.contacts,
            s.phonenum,
            s.email,
            s.description,
            s.isystem,
            s.type memberType,
            s.enabled,
            FORMAT(s.advance_in, 2) advanceIn,
            FORMAT(s.begin_need_get, 2) beginNeedGet,
            FORMAT(s.begin_need_pay, 2) beginNeedPay,
            FORMAT(s.all_need_get, 2) allNeedGet,
            FORMAT(s.all_need_pay, 2) allNeedPay,
            s.fax,
            FORMAT(s.tax_rate, 2) taxRate,
            s.telephone,
            CONVERT (s.create_time, CHAR) createTime
        FROM
            erp_supplier s
        WHERE
            s.delete_flag = 0
        AND s.type = 3
        <if test="memberName != '' and memberName != null">
            AND s.supplier LIKE '%${memberName}%'
        </if>
        <if test="telephone != '' and telephone != null">
            AND s.telephone LIKE '%${telephone}%'
        </if>
        <if test="email != '' and email != null">
            AND s.email LIKE '%${email}%'
        </if>
        <if test="fax != '' and fax != null">
            AND s.fax LIKE '%${fax}%'
        </if>
        <if test="enabled != '' and enabled != null">
            AND s.enabled = #{enabled}
        </if>
        ORDER BY s.create_time DESC
    </select>

    <select id="queryMemberByUserIdAndMember" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            s.id,
            s.supplier memberName,
            s.contacts,
            s.phonenum,
            s.email,
            s.description,
            s.isystem,
            s.type memberType,
            s.enabled
        FROM
            erp_supplier s
        WHERE s.supplier = #{memberName}
        AND s.delete_flag = 0
        AND s.type = 3
        ORDER BY s.id DESC LIMIT 0,1
    </select>

    <insert id="insertMember" parameterType="java.util.Map">
        INSERT INTO erp_supplier(
            id,
            contacts,
            phonenum,
            email,
            description,
            advance_in,
            begin_need_get,
            begin_need_pay,
            all_need_get,
            all_need_pay,
            fax,
            telephone,
            address,
            tax_num,
            bank_name,
            account_number,
            tax_rate,
            supplier,
            isystem,
            type,
            enabled,
            delete_flag,
            create_time
        ) VALUES (
            #{id},
            #{contacts},
            #{phonenum},
            #{email},
            #{description},
            #{advanceIn},
            #{beginNeedGet},
            #{beginNeedPay},
            #{allNeedGet},
            #{allNeedPay},
            #{fax},
            #{telephone},
            #{address},
            #{taxNum},
            #{bankName},
            #{accountNumber},
            #{taxRate},
            #{memberName},
            #{isystem},
            #{memberType},
            #{enabled},
            #{deleteFlag},
            #{createTime}
        )
    </insert>

    <select id="queryMemberById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            s.id,
            s.supplier memberName,
            s.contacts,
            s.phonenum,
            s.email,
            s.description,
            s.isystem,
            s.type memberType,
            s.enabled,
            s.advance_in advanceIn,
            s.begin_need_get beginNeedGet,
            s.begin_need_pay beginNeedPay,
            s.all_need_get allNeedGet,
            s.all_need_pay allNeedPay,
            s.fax,
            s.tax_rate taxRate,
            s.address,
            s.telephone,
            s.tax_num taxNum,
            s.bank_name bankName,
            s.account_number accountNumber,
            s.delete_flag deleteFlag
        FROM
            erp_supplier s
        WHERE s.id = #{id}
        AND s.type = 3
        ORDER BY s.id DESC LIMIT 0,1
    </select>

    <update id="editMemberByDeleteFlag" parameterType="java.util.Map">
        UPDATE erp_supplier
        <set>
            delete_flag = #{deleteFlag},
        </set>
        WHERE id = #{id}
    </update>

    <update id="editMemberById" parameterType="java.util.Map">
        UPDATE erp_supplier
        <set>
            supplier = #{memberName},
            contacts = #{contacts},
            phonenum = #{phonenum},
            email = #{email},
            description = #{description},
            advance_in = #{advanceIn},
            begin_need_get = #{beginNeedGet},
            begin_need_pay = #{beginNeedPay},
            all_need_get = #{allNeedGet},
            all_need_pay = #{allNeedPay},
            fax = #{fax},
            telephone = #{telephone},
            tax_num = #{taxNum},
            bank_name = #{bankName},
            address = #{address},
            account_number = #{accountNumber},
            tax_rate = #{taxRate}
        </set>
        WHERE id = #{id}
        AND delete_flag = 0
    </update>

    <update id="editMemberByEnabled" parameterType="java.util.Map">
        UPDATE erp_supplier
        <set>
            enabled = #{enabled}
        </set>
        WHERE id = #{id}
        AND delete_flag = 0
    </update>

    <update id="editMemberByNotEnabled" parameterType="java.util.Map">
        UPDATE erp_supplier
        <set>
            enabled = #{enabled}
        </set>
        WHERE id = #{id}
        AND delete_flag = 0
    </update>

    <select id="queryMemberByIdAndName" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            s.id
        FROM
            erp_supplier s
        WHERE s.id != #{id}
        AND s.type = 3
        AND s.supplier = #{memberName}
        AND s.delete_flag = 0
        ORDER BY s.id DESC LIMIT 0,1
    </select>

    <select id="queryMemberByEnabled" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            s.id
        FROM
            erp_supplier s
        WHERE s.id = #{id}
        AND s.type = 3
        AND s.enabled = #{enabled}
        AND s.delete_flag = 0
        ORDER BY s.id DESC LIMIT 0,1
    </select>

    <select id="queryMemberByIdAndInfo" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            s.id,
            s.supplier memberName,
            s.contacts,
            s.phonenum,
            s.email,
            s.description,
            s.isystem,
            s.type memberType,
            s.enabled,
            FORMAT(s.advance_in, 2) advanceIn,
            FORMAT(s.begin_need_get, 2) beginNeedGet,
            FORMAT(s.begin_need_pay, 2) beginNeedPay,
            FORMAT(s.all_need_get, 2) allNeedGet,
            FORMAT(s.all_need_pay, 2) allNeedPay,
            s.fax,
            FORMAT(s.tax_rate, 2) taxRate,
            s.address,
            s.telephone,
            s.tax_num taxNum,
            s.bank_name bankName,
            s.account_number accountNumber,
            s.delete_flag deleteFlag
        FROM
            erp_supplier s
        WHERE s.id = #{id}
        AND s.type = 3
        ORDER BY s.id DESC LIMIT 0,1
    </select>
    
    <select id="queryMemberListToSelect" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT
			a.id,
			a.supplier `name`
		FROM
			erp_supplier a
		WHERE a.delete_flag = '0'
		AND a.type = '3'
    </select>
    
</mapper>