<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.StatisticsDao">

    <select id="queryWarehousingDetails" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			b.id headerId,
			b.default_number defaultNumber,
			b.sub_type subType,
			CASE b.sub_type WHEN 1 THEN '采购入库' WHEN 2 THEN '销售退货' WHEN 3 THEN '零售退货' WHEN 4 THEN '其他入库' WHEN 5 THEN '销售出库' 
							WHEN 6 THEN '采购退货' WHEN 7 THEN '调拨' WHEN 8 THEN '零售出库' WHEN 9 THEN '其他出库'
							WHEN 15 THEN '验收入库' ELSE '' END subTypeName,
			CONVERT(b.oper_time, CHAR) operTime,
			a.material_name materialName,
			a.material_model materialModel,
			a.oper_number operNumber,
			FORMAT(a.unit_price, 2) unitPrice,
			FORMAT(a.all_price, 2) allPrice,
			IF(IFNULL(c.supplier, '') = '', e.`name`, c.supplier) supplierName,
			d.`name` depotName,
			b.status,
			b.status_content statusContent,
			b.link_number linkNumber
		FROM
			erp_depotitem a
			LEFT JOIN erp_depot d ON a.depot_id = d.id,
			erp_depothead b
			LEFT JOIN erp_supplier c ON b.organ_id = c.id
			LEFT JOIN crm_customer e ON b.organ_id = e.id
		WHERE a.delete_flag = '0'
		AND a.header_id = b.id
		AND b.type = '2'
		AND b.sub_type != '10'
        <if test="materialName != '' and materialName != null">
            AND a.material_name LIKE '%${materialName}%'
        </if>
        <if test="depotId != '' and depotId != null">
            AND a.depot_id = #{depotId}
        </if>
        <if test="organName != '' and organName != null">
            AND IF(IFNULL(c.supplier, '') = '', e.`name`, c.supplier) LIKE '%${organName}%'
        </if>
        <if test="startTime != '' and startTime != null and endTime != '' and endTime != null">
			AND b.oper_time >= #{startTime} AND #{endTime} >= b.oper_time
		</if>
        ORDER BY b.oper_time DESC
    </select>
    
    <select id="queryOutgoingDetails" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			b.id headerId,
			b.default_number defaultNumber,
			b.sub_type subType,
			CASE b.sub_type WHEN 1 THEN '采购入库' WHEN 2 THEN '销售退货' WHEN 3 THEN '零售退货' WHEN 4 THEN '其他入库' WHEN 5 THEN '销售出库' 
							WHEN 6 THEN '采购退货' WHEN 7 THEN '调拨' WHEN 8 THEN '零售出库' WHEN 9 THEN '其他出库' ELSE '' END subTypeName,
			CONVERT(b.oper_time, CHAR) operTime,
			a.material_name materialName,
			a.material_model materialModel,
			a.oper_number operNumber,
			FORMAT(a.unit_price, 2) unitPrice,
			FORMAT(a.all_price, 2) allPrice,
			IF(IFNULL(c.supplier, '') = '', e.`name`, c.supplier) supplierName,
			d.`name` depotName,
			b.status,
			b.status_content statusContent,
			b.link_number linkNumber
		FROM
			erp_depotitem a
			LEFT JOIN erp_depot d ON a.depot_id = d.id,
			erp_depothead b
			LEFT JOIN erp_supplier c ON b.organ_id = c.id
			LEFT JOIN crm_customer e ON b.organ_id = e.id
		WHERE a.delete_flag = '0'
		AND a.header_id = b.id
		AND b.type = '1'
		AND b.sub_type != '11'
        <if test="materialName != '' and materialName != null">
            AND a.material_name LIKE '%${materialName}%'
        </if>
        <if test="depotId != '' and depotId != null">
            AND a.depot_id = #{depotId}
        </if>
        <if test="customerName != '' and customerName != null">
            AND IF(IFNULL(c.supplier, '') = '', e.`name`, c.supplier) LIKE '%${customerName}%'
        </if>
        <if test="startTime != '' and startTime != null and endTime != '' and endTime != null">
			AND b.oper_time >= #{startTime} AND #{endTime} >= b.oper_time
		</if>
        ORDER BY b.oper_time DESC
    </select>
    
    <select id="queryInComimgDetails" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT
			b.id,
			b.`name` materialName,
			b.model,
			IFNULL(c.`name`, b.unit_name) unitName,
			IFNULL(SUM(m.oper_number), 0) currentTock,
			FORMAT(IFNULL(SUM(m.total_price), 0), 2) currentTockMoney,
			IFNULL(SUM(m.oper_number * (CASE m.sub_type 
									WHEN 2 THEN 1
									WHEN 3 THEN 1
									ELSE 0 
								END)), 0) returnCurrentTock,
			FORMAT(IFNULL(SUM(m.total_price * (CASE m.sub_type 
									WHEN 2 THEN 1
									WHEN 3 THEN 1
									ELSE 0 
								END)), 0), 2) returnCurrentTockMoney
		FROM
			erp_material_norms a
			LEFT JOIN erp_unit c ON a.unit_id = c.id
			LEFT JOIN (
					SELECT 
						q.norms_id,
						p.total_price,
						q.oper_number,
						p.sub_type,
						p.type,
						q.m_type
					FROM 
						erp_depothead p,
						erp_depotitem q
					WHERE
						q.header_id = p.id
					AND q.delete_flag = '0'
					AND p.delete_flag = '0'
					AND p.type = '2'
					AND p.sub_type != '10'
					AND DATE_FORMAT(p.oper_time, '%Y-%m') = #{operTime}
					) m ON m.norms_id = a.id,
			erp_material b
		WHERE a.meterial_id = b.id
		<if test="materialName != '' and materialName != null">
            AND b.material_name LIKE '%${materialName}%'
        </if>
		AND a.delete_flag = '0'
		AND b.delete_flag = '0'
		GROUP BY a.id
		ORDER BY b.`name`
    </select>
    
    <select id="querySalesDetails" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT
			b.id,
			b.`name` materialName,
			b.model,
			IFNULL(c.`name`, b.unit_name) unitName,
			IFNULL(SUM(m.oper_number), 0) currentTock,
			FORMAT(IFNULL(SUM(m.total_price), 0), 2) currentTockMoney,
			IFNULL(SUM(m.oper_number * (CASE m.sub_type 
									WHEN 6 THEN 1
									ELSE 0 
								END)), 0) returnCurrentTock,
			FORMAT(IFNULL(SUM(m.total_price * (CASE m.sub_type 
									WHEN 6 THEN 1
									ELSE 0 
								END)), 0), 2) returnCurrentTockMoney
		FROM
			erp_material_norms a
			LEFT JOIN erp_unit c ON a.unit_id = c.id
			LEFT JOIN (
					SELECT 
						q.norms_id,
						p.total_price,
						q.oper_number,
						p.sub_type,
						p.type,
						q.m_type
					FROM 
						erp_depothead p,
						erp_depotitem q
					WHERE
						q.header_id = p.id
					AND q.delete_flag = '0'
					AND p.delete_flag = '0'
					AND p.type = '1'
					AND p.sub_type != '11'
					AND DATE_FORMAT(p.oper_time, '%Y-%m') = #{operTime}
					) m ON m.norms_id = a.id,
			erp_material b
		WHERE a.meterial_id = b.id
		AND a.delete_flag = '0'
		AND b.delete_flag = '0'
		GROUP BY a.id
		ORDER BY b.`name`
    </select>
    
    <select id="queryCustomerReconciliationDetails" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT
			a.id,
			a.default_number defaultNumber,
			CASE a.sub_type WHEN 1 THEN '采购入库' WHEN 2 THEN '销售退货' WHEN 3 THEN '零售退货' WHEN 4 THEN '其他入库' WHEN 5 THEN '销售出库' 
									WHEN 6 THEN '采购退货' WHEN 7 THEN '调拨' WHEN 8 THEN '零售出库' WHEN 9 THEN '其他出库' ELSE '' END subTypeName,
			b.`name` supplierName,
			FORMAT(a.total_price, 2) totalPrice,
			FORMAT(IFNULL(a.change_amount, 0), 2) changeAmount,
			CONVERT(a.oper_time, CHAR) operTime,
			a.link_number linkNumber,
			a.status,
			a.sub_type subType
		FROM
			erp_depothead a,
			crm_customer b
		WHERE
			a.delete_flag = '0'
		AND DATE_FORMAT(a.oper_time, '%Y-%m') = #{operTime}
		<if test="customerName != '' and customerName != null">
           AND b.`name` LIKE '%${customerName}%'
        </if>
		AND a.sub_type NOT IN(10, 11)
		AND b.id = a.organ_id
    </select>
    
    <select id="querySupplierReconciliationDetails" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT
			a.id,
			a.default_number defaultNumber,
			CASE a.sub_type WHEN 1 THEN '采购入库' WHEN 2 THEN '销售退货' WHEN 3 THEN '零售退货' WHEN 4 THEN '其他入库' WHEN 5 THEN '销售出库' 
									WHEN 6 THEN '采购退货' WHEN 7 THEN '调拨' WHEN 8 THEN '零售出库' WHEN 9 THEN '其他出库' ELSE '' END subTypeName,
			b.supplier supplierName,
			FORMAT(a.total_price, 2) totalPrice,
			FORMAT(IFNULL(a.change_amount, 0), 2) changeAmount,
			CONVERT(a.oper_time, CHAR) operTime,
			a.link_number linkNumber,
			a.status,
			a.sub_type subType
		FROM
			erp_depothead a,
			erp_supplier b
		WHERE
			a.delete_flag = '0'
		AND DATE_FORMAT(a.oper_time, '%Y-%m') = #{operTime}
		<if test="organName != '' and organName != null">
            AND b.supplier LIKE '%${organName}%'
        </if>
		AND a.sub_type NOT IN(10, 11)
		AND b.id = a.organ_id
		AND b.type = '1'
    </select>
    
    <select id="queryInComimgAllDetails" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT
			b.id,
			b.`name` materialName,
			b.model,
			IFNULL(c.`name`, b.unit_name) unitName,
			k.`name` typeName,
			IFNULL(SUM(m.oper_number * (CASE m.sub_type 
									WHEN 12 THEN (CASE m.m_type WHEN 1 THEN 0 ELSE 1 END)
									WHEN 13 THEN (CASE m.m_type WHEN 1 THEN 1 ELSE 0 END)
									ELSE CASE m.type WHEN 2 THEN 1 ELSE 0 END
								END)), 0) currentTock,
			FORMAT(IFNULL(SUM(m.total_price * (CASE m.sub_type 
									WHEN 12 THEN (CASE m.m_type WHEN 1 THEN 0 ELSE 1 END)
									WHEN 13 THEN (CASE m.m_type WHEN 1 THEN 1 ELSE 0 END)
									ELSE CASE m.type WHEN 2 THEN 1 ELSE 0 END
								END)), 0), 2) currentTockMoney
		FROM
			erp_material_norms a
			LEFT JOIN erp_unit c ON a.unit_id = c.id
			LEFT JOIN (
					SELECT 
						q.norms_id,
						p.total_price,
						q.oper_number,
						p.sub_type,
						p.type,
						q.m_type
					FROM 
						erp_depothead p,
						erp_depotitem q
					WHERE
						q.header_id = p.id
					AND q.delete_flag = '0'
					AND p.delete_flag = '0'
					AND (p.type = '2' OR (p.type = '3' AND p.sub_type IN(12, 13)))
					AND p.sub_type != '10'
					AND DATE_FORMAT(p.oper_time, '%Y-%m') = #{operTime}
					) m ON m.norms_id = a.id,
			erp_material b
			LEFT JOIN erp_material_category k ON b.category_id = k.id
		WHERE a.meterial_id = b.id
		<if test="materialName != '' and materialName != null">
            AND b.material_name LIKE '%${materialName}%'
        </if>
		AND a.delete_flag = '0'
		AND b.delete_flag = '0'
		GROUP BY a.id
		ORDER BY b.`name`
    </select>
    
    <select id="querySalesAllDetails" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT
			b.id,
			b.`name` materialName,
			b.model,
			IFNULL(c.`name`, b.unit_name) unitName,
			k.`name` typeName,
			IFNULL(SUM(m.oper_number * (CASE m.sub_type 
									WHEN 12 THEN (CASE m.m_type WHEN 1 THEN 1 ELSE 0 END)
									WHEN 13 THEN (CASE m.m_type WHEN 1 THEN 0 ELSE 1 END)
									ELSE CASE m.type WHEN 2 THEN 1 ELSE 0 END
								END)), 0) currentTock,
			FORMAT(IFNULL(SUM(m.total_price * (CASE m.sub_type 
									WHEN 12 THEN (CASE m.m_type WHEN 1 THEN 1 ELSE 0 END)
									WHEN 13 THEN (CASE m.m_type WHEN 1 THEN 0 ELSE 1 END)
									ELSE CASE m.type WHEN 2 THEN 1 ELSE 0 END
								END)), 0), 2) currentTockMoney
		FROM
			erp_material_norms a
			LEFT JOIN erp_unit c ON a.unit_id = c.id
			LEFT JOIN (
					SELECT 
						q.norms_id,
						p.total_price,
						q.oper_number,
						p.sub_type,
						p.type,
						q.m_type
					FROM 
						erp_depothead p,
						erp_depotitem q
					WHERE
						q.header_id = p.id
					AND q.delete_flag = '0'
					AND p.delete_flag = '0'
					AND (p.type = '1' OR (p.type = '3' AND p.sub_type IN(12, 13)))
					AND p.sub_type != '11'
					AND DATE_FORMAT(p.oper_time, '%Y-%m') = #{operTime}
					) m ON m.norms_id = a.id,
			erp_material b
			LEFT JOIN erp_material_category k ON b.category_id = k.id
		WHERE a.meterial_id = b.id
		<if test="materialName != '' and materialName != null">
            AND b.material_name LIKE '%${materialName}%'
        </if>
		AND a.delete_flag = '0'
		AND b.delete_flag = '0'
		GROUP BY a.id
		ORDER BY b.`name`
    </select>

</mapper>