<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.StoreHouseDao">

    <select id="queryStoreHouseByList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            d.id,
            d.`name` houseName,
            d.address,
            FORMAT(d.warehousing, 2) warehousing,
            FORMAT(d.truckage, 2) truckage,
            d.remark,
            d.principal,
            d.is_default isDefault,
            CONVERT (d.create_time, CHAR) createTime
        FROM
            erp_depot d
        WHERE
            d.delete_flag = 0
        <if test="name != '' and name != null">
            AND d.name LIKE '%${name}%'
        </if>
        ORDER BY d.create_time DESC
    </select>

    <select id="queryStoreHouseByName" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            d.id,
            d.`name` houseName
        FROM
            erp_depot d
        WHERE
            d.name = #{name}
        AND d.delete_flag = 0
        ORDER BY d.create_time DESC LIMIT 0,1
    </select>

    <insert id="insertStoreHouse" parameterType="java.util.Map">
        INSERT into erp_depot(
            id,
	        name,
            address,
            warehousing,
            truckage,
            remark,
            principal,
	        is_default,
	        create_time
        )VALUES(
	        #{id},
	        #{name},
            #{address},
            #{warehousing},
            #{truckage},
            #{remark},
	        #{principal},
	        #{isDefault},
	        #{createTime}
        )
    </insert>

    <select id="queryStoreHouseById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            d.id,
            d.`name` houseName,
            d.address,
            d.warehousing,
            d.truckage,
            d.remark,
            d.principal,
            d.is_default isDefault,
            CONVERT (d.create_time, CHAR) createTime
        FROM
            erp_depot d
        WHERE
            d.id = #{id}
        ORDER BY d.create_time DESC LIMIT 0,1
    </select>

    <update id="editStoreHouseById" parameterType="java.util.Map">
        UPDATE erp_depot
        <set>
            address = #{address},
            warehousing = #{warehousing},
            truckage = #{truckage},
            remark = #{remark},
            principal = #{principal},
            is_default = #{isDefault},
            name = #{name}
        </set>
        WHERE
            id = #{id}
        AND delete_flag = 0
    </update>

    <update id="editStoreHouseByDeleteFlag" parameterType="java.util.Map">
        UPDATE erp_depot
        <set>
            delete_flag = #{deleteFlag}
        </set>
        WHERE
            id = #{id}
    </update>

    <update id="editStoreHouseByDefault" parameterType="java.util.Map">
        UPDATE erp_depot
        <set>
            is_default = #{isDefault}
        </set>
        WHERE
            id = #{id}
        AND delete_flag = 0
    </update>

    <update id="editStoreHouseByDefaultAll" parameterType="java.util.Map">
        UPDATE erp_depot
        <set>
            is_default = #{isDefault}
        </set>
        WHERE
            delete_flag = 0
    </update>

    <select id="queryStoreHouseByIdAndName" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            d.id
        FROM
            erp_depot d
        WHERE
            d.id != #{id}
        AND d.name = #{name}
        AND d.delete_flag = 0
        ORDER BY d.create_time DESC LIMIT 0,1
    </select>

    <select id="queryStoreHouseByIsDefault" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            d.id
        FROM
            erp_depot d
        WHERE
            d.id = #{id}
        AND d.is_default = 1
        AND d.delete_flag = 0
        ORDER BY d.create_time DESC LIMIT 0,1
    </select>
    
    <select id="queyrStoreHouseListToSelect" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT
			a.id,
			a.`name`
		FROM
			erp_depot a
		WHERE
			a.delete_flag = '0'
		ORDER BY a.is_default ASC
    </select>

    <select id="queryStoreHouseByIdAndInfo" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            d.id,
            d.`name` houseName,
            d.address,
            FORMAT(d.warehousing, 2) warehousing,
            FORMAT(d.truckage, 2) truckage,
            d.remark,
            d.principal,
            d.is_default isDefault,
            CONVERT (d.create_time, CHAR) createTime
        FROM
            erp_depot d
        WHERE
            d.id = #{id}
        ORDER BY d.create_time DESC LIMIT 0,1
    </select>
    
    <select id="queryChargeUserNameById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			b.user_id id,
			b.user_name `name`,
			b.email
		FROM
			erp_depot a,
			sys_eve_user_staff b
		WHERE
			a.id = #{id}
		AND INSTR(CONCAT(',', a.principal, ','),CONCAT(',', b.user_id, ','))
	</select>
	
	<select id="queryStoreHouseListByCurrentUserId" resultType="java.util.Map">
    	SELECT
			a.id,
			a.`name`
		FROM
			erp_depot a
		WHERE
			INSTR(CONCAT(',', a.principal, ','),CONCAT(',', #{currentUserId}, ','))
    </select>
    
</mapper>