<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SysEveModelDao">
	
	<select id="querySysEveModelList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title title,
			CASE a.type WHEN '1' THEN '系统模板' WHEN '2' THEN '个人模板' ELSE a.type END type,
			a.logo,
			a.content content,
		    b.type_name firstTypeName,
		    c.type_name secondTypeName,
			d.user_name createName,
			CONVERT(a.create_time, char) createTime,
			e.user_name lastUpdateName,
			CONVERT(a.last_update_time, char) lastUpdateTime
		FROM
			sys_eve_model a
			LEFT JOIN sys_eve_model_type b ON a.first_type_id = b.id
			LEFT JOIN sys_eve_model_type c ON a.second_type_id = c.id
			LEFT JOIN sys_eve_user_staff d ON a.create_id = d.user_id
			LEFT JOIN sys_eve_user_staff e ON a.last_update_id = e.user_id
		WHERE 1 = 1
			<if test="title != '' and title != null">
				AND a.title LIKE '%${title}%'
			</if>
			<if test="type != '' and type != null">
				AND a.type = #{type}
			</if>
			<if test="firstTypeId != '' and firstTypeId != null">
				AND a.first_type_id = #{firstTypeId}
			</if>
			<if test="secondTypeId != '' and secondTypeId != null">
				AND a.second_type_id = #{secondTypeId}
			</if>
			<if test="type == '2'.toString()">
				AND a.create_id = #{userId}
			</if>
			ORDER BY a.create_time DESC
	</select>

	<select id="querySysEveModelMationByNameAndType" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id
		FROM
			sys_eve_model a
		WHERE
			a.title = #{title}
			AND a.type = #{type}
		<if test="id != '' and id != null">
			AND a.id != #{id}
		</if>
		<if test="type == '2'.toString()">
			AND a.create_id = #{userId}
		</if>
	</select>

	<insert id="insertSysEveModelMation" parameterType="java.util.Map">
		INSERT INTO sys_eve_model 
	    (id, title, content, type, create_id, create_time, first_type_id, second_type_id, last_update_id, last_update_time, logo)
	    VALUES(#{id}, #{title}, #{content}, #{type}, #{userId}, #{createTime}, #{firstTypeId}, #{secondTypeId}, #{userId}, #{createTime}, #{logo})
	</insert>

	<delete id="deleteSysEveModelById">
		DELETE
		FROM
			sys_eve_model
		WHERE
			id = #{id}
	</delete>

	<select id="selectSysEveModelMationById" resultType="java.util.Map">
		SELECT
			a.id,
			a.title title,
			a.content content,
		    a.logo,
			a.type,
			CASE a.type WHEN '1' THEN '系统模板' WHEN '2' THEN '个人模板' ELSE a.type END typeName,
			a.first_type_id firstTypeId,
			a.second_type_id secondTypeId,
		    b.type_name firstTypeName,
		    c.type_name secondTypeName
		FROM
			sys_eve_model a
			LEFT JOIN sys_eve_model_type b ON a.first_type_id = b.id
			LEFT JOIN sys_eve_model_type c ON a.second_type_id = c.id
		WHERE
			a.id = #{id}
	</select>
	
	<update id="editSysEveModelMationById" parameterType="java.util.Map">
		UPDATE sys_eve_model
		<set>
			title = #{title},
			content = #{content},
		    logo = #{logo},
			type = #{type},
			first_type_id = #{firstTypeId},
			second_type_id = #{secondTypeId},
			last_update_id = #{userId},
			last_update_time = #{lastUpdateTime}
		</set>
		WHERE id = #{id}
	</update>
	
	</mapper>