<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SysScheduleCommonDao">

    <select id="queryWhetherIsHolidayByDate" resultType="java.util.Map">
        SELECT
            a.id
        FROM
            schedule_day a
        WHERE #{day} >= DATE_FORMAT(a.start_time, '%Y-%m-%d')
        AND DATE_FORMAT(a.end_time, '%Y-%m-%d') >= #{day}
        AND a.type = 3
    </select>

</mapper>