<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SystemFoundationSettingsDao">
	
	<insert id="insertSystemFoundationSettings" parameterType="java.util.Map">
	     INSERT into system_foundation_settings 
	     (id, email_type, email_receipt_server, email_receipt_server_port, email_send_server, email_send_server_port,
	     	no_documentary_day_num, no_charge_id, holidays_type_json, year_holidays_mation, abnormal_mation, erp_examine_basic_design)
	     VALUES
	     (#{id}, #{emailType}, #{emailReceiptServer}, #{emailReceiptServerPort}, #{emailSendServer}, #{emailSendServerPort},
	     	#{noDocumentaryDayNum}, #{noChargeId}, #{holidaysTypeJson}, #{yearHolidaysMation}, #{abnormalMation}, #{erpExamineBasicDesign})
	</insert>
	
	<select id="querySystemFoundationSettingsList" resultType="java.util.Map">
		SELECT
			id,
			email_type emailType,
			email_receipt_server emailReceiptServer,
			email_receipt_server_port emailReceiptServerPort,
			email_send_server emailSendServer,
			email_send_server_port emailSendServerPort,
			no_documentary_day_num noDocumentaryDayNum,
			no_charge_id noChargeId,
			holidays_type_json holidaysTypeJson,
			year_holidays_mation yearHolidaysMation,
			abnormal_mation abnormalMation,
			erp_examine_basic_design erpExamineBasicDesign
		FROM
			system_foundation_settings
	</select>
	
	<update id="editSystemFoundationSettings" parameterType="java.util.Map">
		update system_foundation_settings
		<set>
			email_type = #{emailType},
			email_receipt_server = #{emailReceiptServer},
			email_receipt_server_port = #{emailReceiptServerPort},
			email_send_server = #{emailSendServer},
			email_send_server_port = #{emailSendServerPort},
			no_documentary_day_num = #{noDocumentaryDayNum},
			no_charge_id = #{noChargeId},
			holidays_type_json = #{holidaysTypeJson},
			year_holidays_mation = #{yearHolidaysMation},
			abnormal_mation = #{abnormalMation},
			erp_examine_basic_design = #{erpExamineBasicDesign}
		</set>
	</update>
	
</mapper>