<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="margin:0 auto;padding:20px;">
	    <form class="layui-form" action="" id="showForm">
		    
	    </form>
	</div>
	
	<!-- useTemplate -->
	<script type="text/x-handlebars-template" id="useTemplate">
		{{#bean}}
			<div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">标题：</label>
		        <div class="layui-input-block ver-center">
		            {{title}}
		        </div>
		    </div>
			<div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">单号：</label>
		        <div class="layui-input-block ver-center">
		            {{oddNumber}}
		        </div>
		    </div>
			<div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">状态：</label>
		        <div class="layui-input-block ver-center">
		            {{{stateName}}}
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">步骤：</label>
		        <div class="layui-input-block ver-center">
		            填单
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">责任人：</label>
		        <div class="layui-input-block ver-center">
		            {{userName}}
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">资产：</label>
		        <div class="layui-input-block">
		            <table class="layui-table">
		                <thead>
		                    <tr>
		                        <th>资产类别</th>
		                        <th>资产名称</th>
		                        <th style="min-width: 50px;">图片</th>
		                        <th style="min-width: 50px;">资产编号</th>
		                        <th style="min-width: 50px;">资产来源</th>
		                        <th style="min-width: 50px;">资产单价</th>
								<th>状态</th>
								<th>备注</th>
		                    </tr>
		                </thead>
		                <tbody id="useTable" class="insurance-table">
							{{#each goods}}
								<tr>
									<td>{{typeName}}</td>
									<td>{{managementName}}</td>
									<td><img src="{{managementImg}}" class="photo-img"></td>
									<td>{{assetNum}}</td>
									<td>{{fromId}}</td>
									<td>{{unitPrice}}</td>
									<td>{{stateName}}</td>
									<td>{{remark}}</td>
								</tr>
							{{/each}}
		                </tbody>
					</table>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">相关描述：</label>
		        <div class="layui-input-block ver-center">
		        	{{remark}}
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">相关附件：</label>
		        <div class="layui-input-block ver-center" id="enclosureUploadBtn">
		        </div>
		    </div>
		{{/bean}}
	</script>
	
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
		layui.config({base: '../../js/assetManagePurchase/'}).use('assetManagePurchaseDetails');
	</script>
</body>
</html>