<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
    <link href="../../assets/lib/layui/lay/modules/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <link href="../../assets/lib/layui/lay/modules/contextMenu/jquery.contextMenu.min.css" rel="stylesheet" />
    <link href="../../assets/lib/layui/lay/modules/jqueryStep/css/jquery.step.css" rel="stylesheet" />
    <style>
		.layui-input{
			height:30px;
		}
		.layui-table-cell {
			height: auto;
		    text-overflow: inherit;
		    overflow: visible;
		    white-space: normal;
		    word-wrap: break-word;
		}
	</style>
</head>
<body>
	<div id="step"></div>
	<div id="firstTab">
	    <div class="winui-toolbar">
	        <div class="winui-tool">
	            <button id="reloadTable" class="winui-toolbtn search-table-btn-right"><i class="fa fa-refresh" aria-hidden="true"></i><language showName="com.skyeye.refreshDataBtn"></language></button>
	        </div>
	    </div>
	    <div style="margin:auto 10px;">
	        <div style="width: 200px; float: left;">
	    		<div class="layui-inline" style="width: 100%">
	                <div class="layui-input-inline" style="width: 100%">
	                    <input type="text" id="name" name="name" placeholder="请输入要搜索的节点" class="layui-input" />
	                </div>
	            </div>
	            <div class="layui-inline" style="width: 100%">
	            	<ul id="materialCategoryType" class="ztree fsTree" method="get" isRoot="1"
						treeIdKey="id" inputs="parentId" treePIdKey="pId" clickCallbackInputs="parentId:$id" treeName="name" style="overflow-y: auto; height: 100%;"></ul>
	            </div>
	    	</div>
	    	<div style="width: calc(100% - 200px); float: left;">
		    	<div style="margin:auto 10px;">
			        <table id="messageTable" lay-filter="messageTable"></table>
			    </div>
	    	</div>
	    </div>
	    <button class="layui-btn layui-btn-sm layui-btn-normal" type="button" id="nextTab" style="float: right;">
        	下一步
        </button>
    </div>
    
    <div id="secondTab" style="display: none;">
    	<form class="layui-form" action="" id="showForm" autocomplete="off">
	    	<table class="layui-table">
	    		<thead>
	    			<tr>
	    				<th>商品名称</th>
	    				<th>型号</th>
	    				<th>所属类型</th>
	    				<th>商品来源</th>
	    				<th>BOM方案选择</th>
	    				<th>规格选择</th>
	    				<th>工序</th>
	    			</tr>
	    		</thead>
	        	<tbody id="tBody">
	            	
	            </tbody>
			</table>
		</form>
    	<button class="layui-btn layui-btn-sm layui-btn-normal" type="button" id="prevTab" style="float: right;">
        	上一步
        </button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" type="button" id="saveChoose" style="float: right;">
        	<i class="fa fa-save" aria-hidden="true" style="margin-right: 5px"></i>保存
        </button>
    </div>
    
    <script type="text/html" id="tableBody">
		{{#each rows}}
			<tr rowid="{{productId}}">
               	<td id="name{{productId}}">{{productName}}</td>
               	<td id="model{{productId}}">{{productModel}}</td>
               	<td>{{categoryName}}</td>
               	<td>
					<select lay-filter="typeId" lay-search="" id="type{{productId}}" disabled>
						<option value="1">自产</option>
						<option value="2">外购</option>
					</select>
				</td>
               	<td>
					<select lay-filter="bomListChoose" lay-search="" id="bom{{productId}}">
						<option value="">全部</option>
						{{#each bomList}}
							<option value="{{id}}">{{name}}</option>
						{{/each}}
					</select>
				</td>
               	<td>
					<select lay-filter="unitListChoose" lay-search="" id="norms{{productId}}">
						{{#each unitList}}
							<option value="{{id}}">{{name}}</option>
						{{/each}}
					</select>
				</td>
				<td>
					{{#each procedureMationList}}
						<span class="layui-badge layui-bg-gray">{{number}}</span>{{procedureName}}<br>
					{{/each}}
				</td>
            </tr>
		{{/each}}
    </script>
    
    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript" src="../../assets/lib/layui/lay/modules/jquery-min.js"></script>
    <script type="text/javascript" src="../../assets/lib/layui/lay/modules/jqueryStep/js/jquery.step.min.js"></script>
   	<script type="text/javascript" src="../../assets/lib/layui/lay/modules/contextMenu/jquery.contextMenu.min.js"></script>
    <script type="text/javascript" src="../../assets/lib/layui/lay/modules/ztree/js/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="../../assets/lib/layui/lay/modules/ztree/js/jquery.ztree.exhide.min.js"></script>
    <script type="text/javascript" src="../../assets/lib/layui/lay/modules/ztree/js/fuzzysearch.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/material/'}).use('materialChooseToProduce');
    </script>
</body>
</html>