<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div class="txtcenter" style="margin:0 auto;padding-top:10px;">
	    <form class="layui-form layui-form-pane" action="" autocomplete="off">
	    	<div class="layui-form-item">
	            <div class="layui-inline">
	            	<label class="layui-form-label">项目名称</label>
	                <div class="layui-input-inline">
	                    <input type="text" id="proName" name="proName" placeholder="请输入项目名称" class="layui-input" />
	                </div>
	                <label class="layui-form-label">项目分类</label>
	                <div class="layui-input-inline">
	                    <select id="typeId">
	                    	
	                    </select>
	                </div>
	                <label class="layui-form-label">状态</label>
	                <div class="layui-input-inline">
	                    <select id="state">
	                    	<option value="">全部</option>
	                    	<option value="0">草稿</option>
	                    	<option value="1">审核中</option>
	                    	<option value="11">审核通过</option>
	                    	<option value="12">审核不通过</option>
	                    	<option value="2">执行中</option>
	                    	<option value="3">已完结</option>
	                    	<option value="4">作废</option>
	                    	<option value="5">撤销</option>
	                    </select>
	                </div>
	                <label class="layui-form-label">项目所属</label>
	                <div class="layui-input-inline">
	                    <select id="proBelongId">
	                    	<option value="">全部</option>
	                    	<option value="1">我发起的项目</option>
	                    	<option value="2">我负责的项目</option>
	                    	<option value="3">我参与的项目</option>
	                    	<option value="4">我赞助的项目</option>
	                    </select>
	                </div>
	                <button type="reset" class="layui-btn layui-btn-primary list-form-search"><language showName="com.skyeye.reset"></language></button>
					<button class="layui-btn list-form-search" lay-submit lay-filter="formSearch"><language showName="com.skyeye.search2"></language></button>
	            </div>
	        </div>
	    </form>
	</div>
    <div class="winui-toolbar">
        <div class="winui-tool">
            <button id="reloadTable" class="winui-toolbtn"><i class="fa fa-refresh" aria-hidden="true"></i><language showName="com.skyeye.refreshDataBtn"></language></button>
            <button id="addBean" class="winui-toolbtn" auth="1574672416396"><i class="fa fa-plus" aria-hidden="true"></i><language showName="com.skyeye.addBtn"></language></button>
        </div>
    </div>
    <div style="margin:auto 10px;">
        <table id="messageTable" lay-filter="messageTable"></table>
        	<script type="text/html" id="tableBar">
				{{# if(d.editRow == '1' || d.editRow == '2'){ }}
					{{# if(auth('1574672432007')){ }}
            			<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit"><language showName="com.skyeye.editBtn"></language></a>
					{{# } }}
				{{# } }}
				{{# if(d.state == '0' || d.state == '12' || d.state == '5'){ }}
            		<a class="layui-btn layui-btn-xs" lay-event="subApproval">提交审批</a>
					{{# if(auth('1574672459168')){ }}
            			<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del"><language showName="com.skyeye.deleteBtn"></language></a>
					{{# } }}
					{{# if(auth('1574672480012')){ }}
            			<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="nullify">作废</a>
					{{# } }}
				{{# } }}
				{{# if(d.editRow == '2'){ }}
					{{# if(auth('1574672469648')){ }}
            			<a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="revoke">撤销</a>
					{{# } }}
				{{# } }}
				{{# if(d.state == '11'){ }}
					{{# if(auth('1574672507064')){ }}
            			<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="proappoint">项目任命</a>
					{{# } }}
					{{# if(auth('1574672493800')){ }}
            			<a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="execute">开始执行</a>
					{{# } }}
				{{# } }}
				{{# if(d.state == '2'){ }}
					{{# if(auth('1574672528063')){ }}
            			<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="end">成果和总结</a>
					{{# } }}
					{{# if(auth('1574672480012')){ }}
            			<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="nullify">作废</a>
					{{# } }}
				{{# } }}
        	</script>
    </div>
    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/proproject/'}).use('projectList');
    </script>
</body>
</html>