<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.ErpBomDao">
	
	<select id="queryErpBomList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			a.title,
			a.remark,
			a.make_num makeNum,
			FORMAT(a.consumables_price, 2) consumablesPrice, #耗材总费用
			FORMAT(a.procedure_price, 2) procedurePrice, #工序总费用
			FORMAT(a.wastage_price, 2) wastagePrice, #耗损总费用
			FORMAT(a.seal_price, 2) sealPrice, #产品销售价
			b.`name` materialName,
			b.model materialModel,
			CASE b.`type` WHEN '1' THEN b.unit_name ELSE d.`name` END unitName
		FROM
			erp_bom_parent a,
			erp_material b,
			erp_material_norms c
			LEFT JOIN erp_unit d ON c.unit_id = d.id
		WHERE a.material_id = b.id
		AND a.norms_id = c.id
		AND a.whether_delete = '0'
        <if test="materialName != '' and materialName != null">
            AND b.`name` LIKE '%${materialName}%'
        </if>
        <if test="materialModel != '' and materialModel != null">
            AND b.model LIKE '%${materialModel}%'
        </if>
        ORDER BY a.create_time DESC
    </select>
    
    <select id="queryBomTitleInSQLByTitle" resultType="java.util.Map">
    	SELECT
			a.id
		FROM
			erp_bom_parent a
		WHERE a.title = #{title}
		AND a.whether_delete = '0'
    </select>
    
    <insert id="insertErpBomParentMation" parameterType="java.util.Map">
        INSERT into erp_bom_parent
        (id, title, material_id, norms_id, remark, make_num, consumables_price, procedure_price, wastage_price, 
        	seal_price, create_id, create_time, whether_delete)
        VALUES(#{id}, #{title}, #{materialId}, #{normsId}, #{remark}, '1', #{consumablesPrice}, #{procedurePrice}, #{wastagePrice}, 
        	#{sealPrice}, #{createId}, #{createTime}, '0')
    </insert>
    
    <insert id="insertErpBomChildMation" parameterType="java.util.Map">
	     INSERT INTO erp_bom_child
	     (id, bom_id, parent_id, material_id, norms_id, need_num, unit_price, consumables_price, procedure_price,
	     	all_price, wastage_price, `type`, remark, whether_delete)
	     values
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.id}, #{item.bomId}, #{item.pId}, #{item.productId}, #{item.normsId}, #{item.needNum}, #{item.unitPrice}, #{item.consumablesPrice}, #{item.procedurePrice},
				#{item.allPrice}, #{item.childWastagePrice}, #{item.type}, #{item.remark}, '0')  
		</foreach>  
	</insert>
	
	<insert id="insertErpBomChildProcedureMation" parameterType="java.util.Map">
	     INSERT INTO erp_bom_child_procedure
	     (bom_child_id, procedure_id)
	     values
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.childId}, #{item.procedureId})  
		</foreach>  
	</insert>
	
	<select id="queryBomParentById" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			a.remark,
			a.material_id productId,
			FORMAT(a.consumables_price, 2) consumablesPrice,
			FORMAT(a.procedure_price, 2) procedurePrice,
			FORMAT(a.wastage_price, 2) wastagePrice,
			a.make_num makeNum,
			b.`name` productName,
			b.model productModel,
			CASE b.unit WHEN '1' THEN b.unit_name WHEN '2' THEN d.`name` ELSE '' END unitName
		FROM
			erp_bom_parent a
			LEFT JOIN erp_material b ON a.material_id = b.id
			LEFT JOIN erp_material_norms c ON a.norms_id = c.id
			LEFT JOIN erp_unit d ON c.unit_id = d.id
		WHERE
			a.id = #{bomId}
		AND a.whether_delete = '0'
	</select>
	
	<update id="deleteErpBomParentMationById">
        UPDATE erp_bom_parent
        <set>
            whether_delete = '1'
        </set>
        WHERE
            id = #{bomId}
    </update>
    
    <update id="deleteErpBomChildMationById">
        UPDATE erp_bom_child
        <set>
            whether_delete = '1'
        </set>
        WHERE
            bom_id = #{bomId}
    </update>
    
    <select id="queryErpBomMationToEditById" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			a.remark,
			a.material_id productId,
			a.norms_id normsId,
			b.`name` productName,
			b.model productModel,
			b.unit,
			b.unit_name unitName
		FROM
			erp_bom_parent a
			LEFT JOIN erp_material b ON a.material_id = b.id
		WHERE
			a.id = #{bomId}
		AND a.whether_delete = '0'
	</select>
	
	<select id="queryBomTitleInSQLByIdAndTitle" resultType="java.util.Map">
    	SELECT
			a.id
		FROM
			erp_bom_parent a
		WHERE a.title = #{title}
		AND a.whether_delete = '0'
		AND a.id != #{bomId}
    </select>
    
    <update id="editErpBomParentMation" parameterType="java.util.Map">
        UPDATE erp_bom_parent
        <set>
            title = #{title},
            material_id = #{materialId},
            norms_id = #{normsId},
            remark = #{remark},
            consumables_price = #{consumablesPrice},
            procedure_price = #{procedurePrice},
            wastage_price = #{wastagePrice},
            seal_price = #{sealPrice},
        </set>
        WHERE
            id = #{id}
    </update>
    
    <delete id="deleteErpBomChildMationByBomId">
        DELETE
        	erp_bom_child,
        	erp_bom_child_procedure
		FROM
			erp_bom_child
			LEFT JOIN erp_bom_child_procedure ON erp_bom_child.id = erp_bom_child_procedure.bom_child_id
		WHERE
			bom_id = #{bomId}
    </delete>
    
    <select id="queryErpBomListByNormsId" resultType="java.util.Map">
        SELECT
			a.id,
			a.title `name`,
			a.remark,
			a.make_num makeNum,
			FORMAT(a.consumables_price, 2) consumablesPrice, #耗材总费用
			FORMAT(a.procedure_price, 2) procedurePrice, #工序总费用
			FORMAT(a.wastage_price, 2) wastagePrice, #耗损总费用
			FORMAT(a.seal_price, 2) sealPrice, #产品销售价
			b.`name` materialName,
			b.model materialModel,
			CASE b.`type` WHEN '1' THEN b.unit_name ELSE d.`name` END unitName
		FROM
			erp_bom_parent a,
			erp_material b,
			erp_material_norms c
			LEFT JOIN erp_unit d ON c.unit_id = d.id
		WHERE a.material_id = b.id
		AND a.norms_id = c.id
		AND a.whether_delete = '0'
		AND a.norms_id = #{normsId}
        ORDER BY a.create_time DESC
    </select>

	<select id="queryBomChildProcedureListByChildId" resultType="java.util.Map">
		SELECT
			b.id procedureId,
			b.`name` procedureName,
			b.number,
			FORMAT(b.unit_price, 2) unitPrice
		FROM
			erp_bom_child_procedure a,
			erp_work_procedure b
		WHERE
			a.bom_child_id = #{childId}
		  AND a.procedure_id = b.id
		  AND b.whether_delete = '1'
		ORDER BY b.number ASC
	</select>
	
</mapper>