<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.ErpDepartStockDao">
	
	<select id="queryMaterialReserveList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			a.`name`,
			a.model,
			b.`name` categoryName,
			a.enabled,
			CASE a.`type` WHEN '1' THEN '自产' WHEN '2' THEN '外购' ELSE '参数错误' END typeName,
			CONVERT (a.create_time, CHAR) createTime,
			a.unit,
			a.unit_name unitName
		FROM
			erp_material a
			LEFT JOIN erp_material_category b ON a.category_id = b.id
		WHERE a.delete_flag = '0'
        <if test="categoryId != '' and categoryId != null">
            AND a.category_id = #{categoryId}
        </if>
        <if test="materialName != '' and materialName != null">
            AND a.`name` LIKE '%${materialName}%'
        </if>
        <if test="enabled != '' and enabled != null">
            AND a.enabled = #{enabled}
        </if>
        <if test="typeNum != '' and typeNum != null">
            AND a.`type` = #{typeNum}
        </if>
        <if test="model != '' and model != null">
            AND a.model LIKE '%${model}%'
        </if>
        GROUP BY a.id
        ORDER BY a.create_time DESC
    </select>
    
    <select id="queryMaterialNormsMationDetailsById" resultType="java.util.Map">
		SELECT
			a.id,
			b.`name` unitName,
			CASE b.base_unit WHEN '1' THEN '基础单位' WHEN '2' THEN '副单位' ELSE '' END baseUnit,
			IFNULL(a.safety_tock, 0) safetyTock,
			FORMAT(a.retail_price, 2) retailPrice,
			FORMAT(a.low_price, 2) lowPrice,
			FORMAT(a.estimate_purchase_price, 2) estimatePurchasePrice,
			FORMAT(a.sale_price, 2) salePrice,
			IFNULL(SUM(IFNULL(c.stock_num, 0)), 0) allTock
		FROM
			erp_material_norms a
			LEFT JOIN erp_unit b ON a.unit_id = b.id
			LEFT JOIN erp_department_stock c ON a.id = c.norms_id <if test="departMentId != '' and departMentId != null">AND c.department_id = #{departMentId}</if>
		WHERE
			a.meterial_id = #{materialId}
		AND a.delete_flag = '0'
		GROUP BY a.id
		ORDER BY b.number ASC
	</select>
    
</mapper>