<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.ErpFarmDao">
	
	<select id="queryErpFarmList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.farm_number farmNumber,
			a.farm_name farmName,
			a.state,
			b.department_name departmentName,
			cp.user_name chargeName,
			bu.user_name createName,
			DATE_FORMAT(CONVERT(a.create_time, CHAR),'%Y-%m-%d') createTime,
			cu.user_name lastUpdateName,
			DATE_FORMAT(CONVERT(a.last_update_time, CHAR),'%Y-%m-%d') lastUpdateTime
		FROM
			erp_farm a
			LEFT JOIN company_department b ON a.department_id = b.id
			LEFT JOIN sys_eve_user_staff cp ON a.charge_person = cp.user_id
			LEFT JOIN sys_eve_user_staff bu ON a.create_id = bu.user_id
			LEFT JOIN sys_eve_user_staff cu ON a.last_update_id = cu.user_id
		WHERE a.state != '3'
        <if test="farmNumber != '' and farmNumber != null">
            AND a.farm_number LIKE '%${farmNumber}%'
        </if>
		<if test="farmName != '' and farmName != null">
			AND a.farm_name LIKE '%${farmName}%'
		</if>
        <if test="state != '' and state != null">
            AND a.state = #{state}
        </if>
        ORDER BY a.create_time DESC
    </select>
    
    <select id="queryErpFarmMationByName" resultType="java.util.Map">
    	SELECT
			a.id
		FROM
			erp_farm a
		WHERE (a.farm_number = #{farmNumber}
		OR a.farm_name = #{farmName})
		AND a.state != '3'
    </select>
    
    <insert id="insertErpFarmMation" parameterType="java.util.Map">
        INSERT into erp_farm
        (id, farm_number, farm_name, `desc`, department_id, charge_person, state, create_id, create_time, last_update_id, last_update_time)
        VALUES(#{id}, #{farmNumber}, #{farmName}, #{desc}, #{departmentId}, #{chargePerson}, #{state}, #{createId}, #{createTime}, #{createId}, #{createTime})
    </insert>

	<delete id="deleteFarmProcedureByFarmId">
        DELETE
		FROM
			erp_farm_procedure
		WHERE
			farm_id = #{farmId}
    </delete>
    
    <insert id="insertFarmProcedureList" parameterType="java.util.Map">
	     INSERT INTO erp_farm_procedure
	     (procedure_id, farm_id, state)
	     VALUES
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.procedureId}, #{item.farmId}, #{item.state})
		</foreach>  
	</insert>

	<select id="queryErpFarmToEditById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.farm_number farmNumber,
			a.farm_name farmName,
			a.`desc`,
			a.department_id departmentId,
			a.charge_person chargePerson,
			cp.user_name chargeName
		FROM
			erp_farm a
			LEFT JOIN sys_eve_user_staff cp ON a.charge_person = cp.user_id
		WHERE a.state != '3'
		AND a.id = #{farmId}
	</select>

	<select id="queryErpFarmByNameAndId" resultType="java.util.Map">
    	SELECT
			a.id
		FROM
			erp_farm a
		WHERE (a.farm_number = #{farmNumber}
		OR a.farm_name = #{farmName})
		AND a.id != #{id}
		AND a.state != '3'
    </select>

	<update id="editErpFarmMationById">
		UPDATE erp_farm
		<set>
			farm_number = #{farmNumber},
			farm_name = #{farmName},
			`desc` = #{desc},
			department_id = #{departmentId},
			charge_person = #{chargePerson},
			last_update_id = #{lastUpdateId},
			last_update_time = #{lastUpdateTime},
		</set>
		WHERE
		id = #{id}
	</update>

	<select id="queryErpFarmMationStateById" resultType="java.util.Map">
    	SELECT
			a.state
		FROM
			erp_farm a
		WHERE a.id = #{farmId}
    </select>

	<update id="editErpFarmMationStateById">
		UPDATE erp_farm
		<set>
			state = #{state},
		</set>
		WHERE
		id = #{farmId}
	</update>

	<select id="queryErpFarmMationById" resultType="java.util.Map">
		SELECT
			a.id,
			a.farm_number farmNumber,
			a.farm_name farmName,
			a.state,
			a.`desc`,
			b.department_name departmentName,
			cp.user_name chargeName,
			bu.user_name createName,
			DATE_FORMAT(CONVERT(a.create_time, CHAR),'%Y-%m-%d') createTime,
			cu.user_name lastUpdateName,
			DATE_FORMAT(CONVERT(a.last_update_time, CHAR),'%Y-%m-%d') lastUpdateTime
		FROM
			erp_farm a
			LEFT JOIN company_department b ON a.department_id = b.id
			LEFT JOIN sys_eve_user_staff cp ON a.charge_person = cp.user_id
			LEFT JOIN sys_eve_user_staff bu ON a.create_id = bu.user_id
			LEFT JOIN sys_eve_user_staff cu ON a.last_update_id = cu.user_id
		WHERE a.state != '3'
		AND a.id = #{farmId}
	</select>

	<select id="queryErpFarmListByProcedureId" resultType="java.util.Map">
		SELECT
			a.id,
			a.farm_name `name`
		FROM
			erp_farm a,
			erp_farm_procedure b
		WHERE a.id = b.farm_id
		AND b.procedure_id = #{procedureId}
	</select>

	<select id="queryProcedureListByFarmId" resultType="java.util.Map">
		SELECT
			c.id procedureId,
			c.name procedureName,
			c.number,
			c.unit_price unitPrice,
			d.department_name departmentName
		FROM
			erp_farm_procedure b,
			erp_work_procedure c
			LEFT JOIN company_department d ON c.department_id = d.id
		WHERE
			b.farm_id = #{farmId}
		AND b.procedure_id = c.id
	</select>
	
	<select id="queryErpFarmListToTable" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id farmId,
			a.farm_number farmNumber,
			a.farm_name farmName,
			a.state,
			b.department_name departmentName,
			cp.user_name chargeName,
			bu.user_name createName,
			DATE_FORMAT(CONVERT(a.create_time, CHAR),'%Y-%m-%d') createTime,
			cu.user_name lastUpdateName,
			DATE_FORMAT(CONVERT(a.last_update_time, CHAR),'%Y-%m-%d') lastUpdateTime
		FROM
			erp_farm a
			LEFT JOIN company_department b ON a.department_id = b.id
			LEFT JOIN sys_eve_user_staff cp ON a.charge_person = cp.user_id
			LEFT JOIN sys_eve_user_staff bu ON a.create_id = bu.user_id
			LEFT JOIN sys_eve_user_staff cu ON a.last_update_id = cu.user_id
			LEFT JOIN erp_farm_procedure c ON a.id = c.farm_id
		WHERE a.state != '3'
        <if test="farmNumber != '' and farmNumber != null">
            AND a.farm_number LIKE '%${farmNumber}%'
        </if>
		<if test="farmName != '' and farmName != null">
			AND a.farm_name LIKE '%${farmName}%'
		</if>
        <if test="procedureId != '' and procedureId != null">
            AND c.procedure_id = #{procedureId}
        </if>
        GROUP BY a.id
        ORDER BY a.create_time DESC
    </select>
    
    <select id="queryErpFarmProcedureListByIds" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id farmId,
			a.farm_number farmNumber,
			a.farm_name farmName,
			a.state,
			b.department_name departmentName,
			cp.user_name chargeName,
			bu.user_name createName,
			DATE_FORMAT(CONVERT(a.create_time, CHAR),'%Y-%m-%d') createTime,
			cu.user_name lastUpdateName,
			DATE_FORMAT(CONVERT(a.last_update_time, CHAR),'%Y-%m-%d') lastUpdateTime
		FROM
			erp_farm a
			LEFT JOIN company_department b ON a.department_id = b.id
			LEFT JOIN sys_eve_user_staff cp ON a.charge_person = cp.user_id
			LEFT JOIN sys_eve_user_staff bu ON a.create_id = bu.user_id
			LEFT JOIN sys_eve_user_staff cu ON a.last_update_id = cu.user_id
			LEFT JOIN erp_farm_procedure c ON a.id = c.farm_id
		WHERE a.state != '3'
        	<if test="idsList != null and idsList.size() &gt; 0">
		        <foreach collection="idsList" item="id" separator="," open=" AND a.id in(" close=")">
		            #{id}
		        </foreach>
		    </if>
        GROUP BY a.id
        ORDER BY a.create_time DESC
    </select>
	
</mapper>