<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.ErpWorkProcedureDao">
	
    <select id="queryErpWorkProcedureList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			a.number,
			a.`name`,
			FORMAT(a.unit_price, 2) unitPrice,
			b.department_name departmentName,
			a.content,
            d.`name` typeName,
            IFNULL((SELECT COUNT(1) FROM erp_work_procedure_operator c WHERE a.id = c.procedure_id GROUP BY a.id), 0) operatorUserNum
		FROM
			erp_work_procedure a
			LEFT JOIN company_department b ON a.department_id = b.id
            LEFT JOIN erp_work_procedure_type d ON a.type_id = d.id
		WHERE a.whether_delete = '1'
        <if test="name != '' and name != null">
            AND a.`name` LIKE '%${name}%'
        </if>
        <if test="number != '' and number != null">
            AND a.number LIKE '%${number}%'
        </if>
        ORDER BY a.number ASC
    </select>

    <select id="queryErpWorkProcedureByNameOrNumber" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id
        FROM
            erp_work_procedure a
        WHERE
            a.whether_delete = '1'
        AND (a.`name` = #{name} OR a.number = #{number})
    </select>

    <insert id="insertErpWorkProcedureMation" parameterType="java.util.Map">
        INSERT INTO erp_work_procedure
        (id, `name`, number, unit_price, department_id, content, whether_delete, create_id, create_time, type_id)
        VALUES 
        (#{id}, #{name}, #{number}, #{unitPrice}, #{departmentId}, #{content}, '1', #{createId}, #{createTime}, #{procedureType})
    </insert>

    <select id="queryErpWorkProcedureToEditById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.`name`,
            a.number,
            CONVERT(a.unit_price, decimal(24, 2)) unitPrice,
            a.department_id departmentId,
            a.content,
            a.type_id procedureType
        FROM
          	erp_work_procedure a
        WHERE
            a.whether_delete = '1'
        AND a.id = #{id}
    </select>

    <update id="deletErpWorkProcedureById" parameterType="java.util.Map">
        UPDATE erp_work_procedure
        <set>
            delete_flag = '0'
        </set>
        WHERE
            id = #{id}
    </update>

    <select id="queryErpWorkProcedureByNameOrNumberAndId" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id
        FROM
          	erp_work_procedure a
        WHERE
            a.whether_delete = '1'
        AND (a.`name` = #{name} OR a.number = #{number})
        AND a.id != #{id}
    </select>

    <update id="editErpWorkProcedureById" parameterType="java.util.Map">
        UPDATE erp_work_procedure
        <set>
            `name` = #{name},
            number = #{number},
            unit_price = #{unitPrice},
            department_id = #{departmentId},
            content = #{content},
            type_id = #{procedureType},
        </set>
        WHERE id = #{id}
    </update>
    
    <select id="queryErpWorkProcedureListToTable" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id procedureId,
			a.number,
			a.`name` procedureName,
			FORMAT(a.unit_price, 2) unitPrice,
			b.department_name departmentName,
			a.content
		FROM
			erp_work_procedure a
			LEFT JOIN company_department b ON a.department_id = b.id
		WHERE a.whether_delete = '1'
        <if test="name != '' and name != null">
            AND a.`name` LIKE '%${name}%'
        </if>
        <if test="number != '' and number != null">
            AND a.number LIKE '%${number}%'
        </if>
        ORDER BY a.number ASC
    </select>
    
    <select id="queryErpWorkProcedureListByIds" resultType="java.util.Map">
		SELECT
			a.id procedureId,
			a.number,
			a.`name` procedureName,
			FORMAT(a.unit_price, 2) unitPrice,
			b.department_name departmentName,
			a.content
		FROM
			erp_work_procedure a
			LEFT JOIN company_department b ON a.department_id = b.id
		WHERE a.whether_delete = '1'
			<if test="idsList != null and idsList.size() &gt; 0">
		        <foreach collection="idsList" item="id" separator="," open=" AND a.id in(" close=")">
		            #{id}
		        </foreach>
		    </if>
		ORDER BY a.number ASC
	</select>

    <select id="queryErpWorkProcedureMationById" resultType="java.util.Map">
        SELECT
            a.id,
            a.`name`,
            a.number,
            CONVERT(a.unit_price, decimal(24, 2)) unitPrice,
            b.department_name departmentName,
			a.content,
            d.`name` typeName
        FROM
          	erp_work_procedure a
          	LEFT JOIN company_department b ON a.department_id = b.id
            LEFT JOIN erp_work_procedure_type d ON a.type_id = d.id
        WHERE
            a.whether_delete = '1'
        AND a.id = #{procedureId}
    </select>
    
    <select id="queryErpWorkProcedureListToSelect" resultType="java.util.Map">
        SELECT
			a.id,
			a.`name`
		FROM
			erp_work_procedure a
		WHERE a.whether_delete = '1'
        ORDER BY a.number ASC
    </select>

</mapper>