<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.ErpWorkProcedureOperatorDao">

    <select id="queryProcedureUserListByProcedureId" resultType="java.util.Map">
        SELECT
			b.user_id id,
			b.user_name `name`,
			b.email
		FROM
			erp_work_procedure_operator a,
			sys_eve_user_staff b
		WHERE
			a.procedure_id = #{procedureId}
		AND a.user_id = b.user_id
    </select>

    <insert id="insertProcedureUserList" parameterType="java.util.Map">
        INSERT INTO erp_work_procedure_operator
        (procedure_id, user_id, remark)
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.procedureId}, #{item.userId}, #{item.remark})
        </foreach>
    </insert>

    <delete id="deleteProcedureUserByProcedureId">
        DELETE
		FROM
			erp_work_procedure_operator
		WHERE
			procedure_id = #{procedureId}
    </delete>

</mapper>