<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.ErpWayProcedureDao">
	
    <select id="queryErpWayProcedureList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			a.way_number wayNumber,
			a.way_name wayName,
			a.state,
			bu.user_name createName,
			DATE_FORMAT(CONVERT(a.create_time, CHAR),'%Y-%m-%d') createTime,
			cu.user_name lastUpdateName,
			DATE_FORMAT(CONVERT(a.last_update_time, CHAR),'%Y-%m-%d') lastUpdateTime
		FROM
			erp_way_procedure a
			LEFT JOIN sys_eve_user_staff bu ON a.create_id = bu.user_id
			LEFT JOIN sys_eve_user_staff cu ON a.last_update_id = cu.user_id
		WHERE a.state != 3
        <if test="wayNumber != '' and wayNumber != null">
            AND a.way_number LIKE '%${wayNumber}%'
        </if>
        <if test="wayName != '' and wayName != null">
            AND a.way_name LIKE '%${wayName}%'
        </if>
        <if test="state != '' and state != null">
            AND a.state = #{state}
        </if>
        ORDER BY a.create_time DESC
    </select>

    <select id="queryErpWayProcedureByNameOrNumber" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id
        FROM
            erp_way_procedure a
        WHERE
            a.state != 3
        AND (a.way_name = #{wayName} OR a.way_number = #{wayNumber})
    </select>
    
    <insert id="insertErpWayProcedureMation" parameterType="java.util.Map">
        INSERT INTO erp_way_procedure
        (id, way_number, way_name, state, create_id, create_time, last_update_id, last_update_time)
        VALUES 
        (#{id}, #{wayNumber}, #{wayName}, #{state}, #{createId}, #{createTime}, #{createId}, #{createTime})
    </insert>
    
    <delete id="deleteProcedureByWayProcedureId">
        DELETE
		FROM
			erp_way_procedure_child
		WHERE
			way_id = #{wayProcedureId}
    </delete>
    
    <insert id="insertWayProcedureList" parameterType="java.util.Map">
	     INSERT INTO erp_way_procedure_child
	     (id, way_id, procedure_id, order_by, farm_id)
	     VALUES
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.id}, #{item.wayProcedureId}, #{item.procedureId}, #{item.orderBy}, #{item.farmId})
		</foreach>  
	</insert>

    <select id="queryErpWayProcedureToEditById" resultType="java.util.Map">
        SELECT
			a.id,
			a.way_number wayNumber,
			a.way_name wayName
        FROM
          	erp_way_procedure a
        WHERE
            a.state != 3
        AND a.id = #{wayProcedureId}
    </select>
    
    <select id="queryProcedureListByWayProcedureId" resultType="java.util.Map">
        SELECT
			a.procedure_id procedureId,
			b.`name` procedureName,
			b.number,
			b.unit_price unitPrice,
			d.department_name departmentName,
			a.farm_id farmId,
			c.farm_name farmName
		FROM
			erp_way_procedure_child a
			LEFT JOIN erp_work_procedure b ON b.id = a.procedure_id
			LEFT JOIN erp_farm c ON c.id = a.farm_id
			LEFT JOIN company_department d ON b.department_id = d.id
		WHERE
			a.way_id = #{wayProcedureId}
		ORDER BY a.order_by ASC
    </select>
    
    <select id="queryErpWayProcedureByNameAndId" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id
        FROM
            erp_way_procedure a
        WHERE
            a.state != 3
        AND (a.way_name = #{wayName} OR a.way_number = #{wayNumber})
        AND a.id != #{id}
    </select>
    
    <update id="editErpWayProcedureMationById" parameterType="java.util.Map">
        UPDATE erp_way_procedure
        <set>
            way_number = #{wayNumber},
			way_name = #{wayName},
			last_update_id = #{lastUpdateId},
			last_update_time = #{lastUpdateTime},
        </set>
        WHERE
            id = #{id}
    </update>
    
    <select id="queryErpFarmMationStateById" resultType="java.util.Map">
        SELECT
            a.state
        FROM
            erp_way_procedure a
        WHERE
            a.state != 3
        AND a.id = #{wayProcedureId}
    </select>
    
    <update id="editErpFarmMationStateById" parameterType="java.util.Map">
        UPDATE erp_way_procedure
        <set>
            state = #{state},
        </set>
        WHERE
            id = #{wayProcedureId}
    </update>
    
    <select id="queryErpWayProcedureDetailsById" resultType="java.util.Map">
        SELECT
			a.id,
			a.way_number wayNumber,
			a.way_name wayName,
			a.state,
			bu.user_name createName,
			DATE_FORMAT(CONVERT(a.create_time, CHAR),'%Y-%m-%d') createTime,
			cu.user_name lastUpdateName,
			DATE_FORMAT(CONVERT(a.last_update_time, CHAR),'%Y-%m-%d') lastUpdateTime
		FROM
			erp_way_procedure a
			LEFT JOIN sys_eve_user_staff bu ON a.create_id = bu.user_id
			LEFT JOIN sys_eve_user_staff cu ON a.last_update_id = cu.user_id
		WHERE a.state != 3
        AND a.id = #{wayProcedureId}
    </select>
    
</mapper>