<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="margin:0 auto;padding:20px;">
	    <form class="layui-form" action="" id="showForm" autocomplete="off">
	        <div class="layui-form-item">
		        <label class="layui-form-label">公告标题<i class="red">*</i></label>
		        <div class="layui-input-block">
		        	<input type="text" id="title" name="title" win-verify="required" placeholder="请输入公告标题" class="layui-input"/>
		        </div>
		    </div>
		    <div class="layui-inline">
			    <label class="layui-form-label">一级分类<i class="red">*</i></label>
	            <div class="layui-input-inline">
	                <select lay-filter="noticeTypeId" lay-search="" win-verify="required" id="noticeTypeId">
	                
	                </select>
	            </div>
			</div>
		    <div class="layui-inline">
		        <label class="layui-form-label">二级分类<i class="red">*</i></label>
		        <div class="layui-input-inline">
		        	<select lay-filter="secondTypeId" lay-search="" win-verify="required" id="secondTypeId">
	                
	                </select>
		        </div>
		    </div>
			<div class="layui-form-item">
		        <label class="layui-form-label">群发类型<i class="red">*</i></label>
		        <div class="layui-input-block winui-radio">
		            <input type="radio" name="sendType" value="1" title="群发所有人" lay-filter="sendType" checked="checked"/>
		            <input type="radio" name="sendType" value="2" title="选择性群发" lay-filter="sendType"/>
		        </div>
		    </div>
		    <div class="layui-form-item" id="sendTo" style="display: none;">
		        <label class="layui-form-label">人员选择<i class="red">*</i></label>
                <div class="layui-input-block">
                    <input type="text" id="userName" name="userName" placeholder="请选择公告收件人" class="layui-input" />
                    <i class="fa fa-user-plus input-icon" id="userNameSelPeople"></i>
                </div>
		    </div>
		    <div class="layui-form-item">
		        <label class="layui-form-label">定时通知<i class="red">*</i></label>
		        <div class="layui-input-block winui-radio">
		            <input type="radio" name="timeSend" value="1" title="不设置" lay-filter="timeSend" checked="checked"/>
		            <input type="radio" name="timeSend" value="2" title="设置" lay-filter="timeSend"/>
		        </div>
		    </div>
		    <div class="layui-form-item" id="sendTime" style="display: none;">
		        <label class="layui-form-label">通知时间<i class="red">*</i></label>
		        <div class="layui-input-block">
                	<input type="text" id="delayedTime" name="delayedTime" placeholder="请选择定时通知时间" class="layui-input"/>
                </div>
		    </div>
		    <div class="layui-form-item">
		        <label class="layui-form-label">邮件通知<i class="red">*</i></label>
		        <div class="layui-input-block winui-radio">
		            <input type="radio" name="whetherEmail" value="1" title="否" lay-filter="whetherEmail" checked="checked"/>
		            <input type="radio" name="whetherEmail" value="2" title="是" lay-filter="whetherEmail"/>
		        </div>
		    </div>
		    <div class="layui-form-item">
		        <label class="layui-form-label">公告内容<i class="red">*</i></label>
		        <div class="layui-input-block">
					<textarea id="content" name="content" placeholder="请输入公告内容" class="layui-textarea"></textarea>
				</div>
		    </div>
		    <div class="layui-form-item">
		        <div class="layui-input-block">
		            <button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
		            <button class="winui-btn" lay-submit lay-filter="formAddBean"><language showName="com.skyeye.save"></language></button>
		        </div>
		    </div>
	    </form>
	</div>
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
		layui.config({base: '../../js/sysnotice/'}).use('sysnoticeadd');
	</script>
</body>
</html>