<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="margin: 0 auto; padding: 20px;">
	    <form class="layui-form" action="" id="showForm">
		    
	    </form>
	</div>
	
	<!-- beanTemplate -->
	<script type="text/x-handlebars-template" id="beanTemplate">
		{{#bean}}
			<div class="layui-form-item layui-col-xs12">
				<span class="hr-title">基本信息</span><hr>
			</div>
			<div class="layui-form-item layui-col-xs3">
		        <label class="layui-form-label">会员<i class="red">*</i></label>
		        <div class="layui-input-block">
					<input type="text" id="memberId" name="memberId" placeholder="请选择会员" win-verify="required" class="layui-input" readonly="readonly"/>
					<i class="fa fa-plus-circle input-icon chooseMemberBtn"></i>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs3">
		        <label class="layui-form-label">单据日期<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="operTime" name="operTime" win-verify="required" placeholder="请选择单据日期" class="layui-input" value="{{operTime}}"/>
		        </div>
		    </div>
			<div class="layui-form-item layui-col-xs3">
		        <label class="layui-form-label">结算账户</label>
		        <div class="layui-input-block">
		            <select id="accountId" lay-search></select>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs3">
		        <label class="layui-form-label">收款类型</label>
		        <div class="layui-input-block">
		            <select id="payType" lay-search>
		            	<option value="1">现金</option>
		            	<option value="2">记账</option>
		            	<option value="3">其他</option>
		            </select>
		        </div>
		    </div>
			<div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">出库仓库<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <select id="depotId" name="depotId" lay-search="" win-verify="required" lay-filter="depotId">
		            	
		            </select>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">列表项<i class="red">*</i></label>
		        <div class="layui-input-block" id="productList">

		        </div>
		    </div>
			<div class="layui-form-item layui-col-xs4">
		        <label class="layui-form-label">共计金额</label>
		        <div class="layui-input-block ver-center" id="allPrice" style="min-height: 20px; border-bottom: 1px solid black; color: purple; font-weight: 700; font-size: 17px;">
		            {{totalPrice}}
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs4">
		        <label class="layui-form-label">收款金额</label>
		        <div class="layui-input-block">
		            <input type="text" id="changeAmount" name="changeAmount" win-verify="required|money" value="{{changeAmount}}" class="layui-input" style="color: red; font-size: 17px;"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs4">
		        <label class="layui-form-label">找零金额</label>
		        <div class="layui-input-block ver-center" id="giveChange" style="min-height: 20px; border-bottom: 1px solid black; color: green; font-weight: 700; font-size: 17px;">
		            {{giveChange}}
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">备注</label>
		        <div class="layui-input-block">
		        	<textarea id="remark" name="remark" placeholder="请输入备注" class="layui-textarea" style="height: 100px;" maxlength="200">{{remark}}</textarea>
		        </div>
		    </div>
			<div id="dsFormShow">

			</div>
		    <div class="layui-form-item layui-col-xs12">
		        <div class="layui-input-block">
					<button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
					<button class="winui-btn formEditBean layui-hide" lay-submit lay-filter="formEditBean">保存为草稿</button>
					<button class="winui-btn formSubOneBean layui-hide" lay-submit lay-filter="formSubOneBean">提交审批</button>
					<button class="winui-btn formSubTwoBean layui-hide" lay-submit lay-filter="formSubTwoBean">提交</button>
					<button class="winui-btn save layui-hide" lay-submit lay-filter="save"><language showName="com.skyeye.save"></language></button>
		        </div>
		    </div>
		{{/bean}}
	</script>
	
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
	<script src="../../js/erpcommon/loadStock.js"></script>
   	<script type="text/javascript">
		layui.config({base: '../../js/retailoutlet/'}).use('retailoutletedit');
	</script>
</body>
</html>