<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.ErpPageDao">
	
	<select id="queryThisMonthSales" resultType="String">
		SELECT
			FORMAT(IFNULL(SUM(a.change_amount), 0), 2) salesMoney
		FROM
			erp_depothead a
		WHERE
			date_format(a.create_time, '%Y-%m') = date_format(now(), '%Y-%m')
		AND a.`status` IN(2, 4)
		AND a.sub_type = '11'
	</select>
	
	<select id="queryThisMonthRetail" resultType="String">
		SELECT
			FORMAT(IFNULL(SUM(a.change_amount), 0), 2) retailMoney
		FROM
			erp_depothead a
		WHERE
			date_format(a.create_time, '%Y-%m') = date_format(now(), '%Y-%m')
		AND a.`status` IN(2, 4)
		AND a.sub_type = '8'
	</select>
	
	<select id="queryThisMonthPurchase" resultType="String">
		SELECT
			FORMAT(IFNULL(SUM(a.change_amount), 0), 2) purchaseMoney
		FROM
			erp_depothead a
		WHERE
			date_format(a.create_time, '%Y-%m') = date_format(now(), '%Y-%m')
		AND a.`status` IN(2, 4)
		AND a.sub_type = '10'
	</select>
	
	<select id="queryThisMonthProfit" resultType="String">
		SELECT
			FORMAT(IFNULL(SUM(a.change_amount * 
				(CASE a.sub_type WHEN 8 THEN 1 WHEN 10 THEN -1 WHEN 11 THEN 1 ELSE 0 END)), 0), 2) profitMoney
		FROM
			erp_depothead a
		WHERE
			date_format(a.create_time, '%Y-%m') = date_format(now(), '%Y-%m')
		AND a.`status` IN(2, 4)
		AND a.sub_type IN(8, 10, 11)
	</select>
	
	<select id="querySixMonthPurchaseMoneyList" resultType="java.util.Map">
		SELECT
			a.`year_month` yearMonth,
			CONVERT(IFNULL(SUM(b.change_amount), 0), decimal(24, 2)) purchaseMoney
		FROM
			(SELECT DATE_FORMAT(CURDATE(), '%Y-%m') AS `year_month` 
			UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 1 MONTH), '%Y-%m') AS `year_month` 
			UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 2 MONTH), '%Y-%m') AS `year_month` 
			UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 3 MONTH), '%Y-%m') AS `year_month` 
			UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 4 MONTH), '%Y-%m') AS `year_month` 
			UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 5 MONTH), '%Y-%m') AS `year_month`) a
			LEFT JOIN erp_depothead b ON date_format(b.create_time, '%Y-%m') = a.`year_month`
				AND b.`status` IN(2, 4)
				AND b.sub_type = '10'
		GROUP BY a.`year_month`
	</select>
	
	<select id="querySixMonthSealsMoneyList" resultType="java.util.Map">
		SELECT
			a.`year_month` yearMonth,
			CONVERT(IFNULL(SUM(b.change_amount), 0), decimal(24, 2)) salesMoney
		FROM
			(SELECT DATE_FORMAT(CURDATE(), '%Y-%m') AS `year_month` 
			UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 1 MONTH), '%Y-%m') AS `year_month` 
			UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 2 MONTH), '%Y-%m') AS `year_month` 
			UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 3 MONTH), '%Y-%m') AS `year_month` 
			UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 4 MONTH), '%Y-%m') AS `year_month` 
			UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 5 MONTH), '%Y-%m') AS `year_month`) a
			LEFT JOIN erp_depothead b ON date_format(b.create_time, '%Y-%m') = a.`year_month`
				AND b.`status` IN(2, 4)
				AND b.sub_type = '11'
		GROUP BY a.`year_month`
	</select>
	
	<select id="queryTwelveMonthProfitMoneyList" resultType="java.util.Map">
		SELECT
			a.`year_month` yearMonth,
			CONVERT(IFNULL(SUM(b.change_amount * 
				(CASE b.sub_type WHEN 8 THEN 1 WHEN 10 THEN -1 WHEN 11 THEN 1 ELSE 0 END)), 0), decimal(24, 2)) profitMoney
		FROM
			(SELECT DATE_FORMAT(CURDATE(), '%Y-%m') AS `year_month` 
			UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 1 MONTH), '%Y-%m') AS `year_month` 
			UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 2 MONTH), '%Y-%m') AS `year_month` 
			UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 3 MONTH), '%Y-%m') AS `year_month` 
			UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 4 MONTH), '%Y-%m') AS `year_month` 
			UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 5 MONTH), '%Y-%m') AS `year_month`
			UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 6 MONTH), '%Y-%m') AS `year_month`
			UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 7 MONTH), '%Y-%m') AS `year_month`
			UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 8 MONTH), '%Y-%m') AS `year_month`
			UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 9 MONTH), '%Y-%m') AS `year_month`
			UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 10 MONTH), '%Y-%m') AS `year_month`
			UNION SELECT DATE_FORMAT((CURDATE() - INTERVAL 11 MONTH), '%Y-%m') AS `year_month`) a
			LEFT JOIN erp_depothead b ON date_format(b.create_time, '%Y-%m') = a.`year_month`
				AND b.`status` IN(2, 4)
				AND b.sub_type IN(8, 10, 11)
		GROUP BY a.`year_month`
	</select>
	
</mapper>