<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.MainPageDao">
	
	<select id="queryCheckOnWorkNumByUserId" resultType="String">
		SELECT
			COUNT(a.id) checkOnWorkNum
		FROM
			check_work a
		WHERE
			date_format(a.check_date, '%Y-%m') = date_format(now(), '%Y-%m')
		AND a.state = '1'
		AND a.create_id = #{userId}
	</select>
	
	<select id="queryDiskCloudFileNumByUserId" resultType="String">
		SELECT
			COUNT(a.id) diskCloudFileNum
		FROM
			file_catelog_papers a
		WHERE
			a.create_id = #{userId}
	</select>
	
	<select id="queryForumNumByUserId" resultType="String">
		SELECT
			COUNT(a.id) forumNum
		FROM
			forum_content a
		WHERE
			a.create_id = #{userId}
	</select>
	
	<select id="queryKnowledgeNumByUserId" resultType="String">
		SELECT
			COUNT(a.id) knowledgeNum
		FROM
			knowlg_content a
		WHERE
			a.create_id = #{userId}
		AND a.state = '2'
	</select>
	
	<select id="queryFirstSysNoticeTypeUpStateList" resultType="java.util.Map">
		SELECT
			a.id,
			a.type_name name
		FROM
			sys_notice_type a
		WHERE 
			a.state = 2
		AND a.parent_id = '0'
		ORDER BY a.order_by ASC
	</select>
	
	<select id="queryNoticeContentListByUserIdAndTypeId" resultType="java.util.Map">
		SELECT
			*
		FROM
				(SELECT
					a.id,
					a.title,
					CONVERT (a.real_lines_time, CHAR) linesTime,
					a.create_name createName,
					d.type_name typeName
				FROM
					sys_notice a,
					sys_notice_user c,
					sys_notice_type d
				WHERE
					c.user_id = #{userId}
				AND c.notice_id = a.id
				AND a.second_type_id = d.id
				AND a.state = 2
				AND a.send_type = 2
				AND a.type_id = #{typeId}
			UNION ALL
				SELECT
					a.id,
					a.title,
					CONVERT (a.real_lines_time, CHAR) linesTime,
					a.create_name createName,
					d.type_name typeName
				FROM
					sys_notice a,
					sys_notice_type d
				WHERE
				a.second_type_id = d.id
				AND a.state = 2
				AND a.send_type = 1
				AND a.type_id = #{typeId}) a
		ORDER BY a.linesTime DESC
		LIMIT 8		
	</select>
	
	<select id="queryHotForumList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.forum_desc `desc`,
            (select GROUP_CONCAT(DISTINCT tag_name,'-',id) from forum_tag  where INSTR(CONCAT(',', a.tag_id, ','), CONCAT(',', id, ','))) tagName,
            a.forum_title title,
            (SELECT COUNT(*) FROM forum_comment b WHERE a.id = b.forum_id) commentNum,
            CONVERT(a.create_time, char) createTime,
            b.user_photo userPhoto,
            b.id userId
        FROM
            forum_content a
            LEFT JOIN sys_eve_user_staff b ON b.user_id = a.create_id
        WHERE a.state = '1' AND (a.type = '1' OR (a.type = '2' AND a.create_id = #{userId})) AND a.anonymous = '1' AND a.id in (SELECT t.id FROM(select DISTINCT(forum_id) id from forum_hot ORDER BY update_time desc LIMIT 6)t)
        UNION ALL 
        SELECT
            a.id,
            a.forum_desc `desc`,
            (select GROUP_CONCAT(DISTINCT tag_name,'-',id) from forum_tag  where INSTR(CONCAT(',', a.tag_id, ','), CONCAT(',', id, ','))) tagName,
            a.forum_title title,
            (SELECT COUNT(*) FROM forum_comment b WHERE a.id = b.forum_id) commentNum,
            CONVERT(a.create_time, char) createTime,
            '../../assets/images/anonymousphoto.jpg' userPhoto,
            '' userId
        FROM
            forum_content a
        WHERE a.state = '1' AND (a.type = '1' OR (a.type = '2' AND a.create_id = #{userId})) AND a.anonymous = '2' AND a.id in (SELECT t.id FROM(select DISTINCT(forum_id) id from forum_hot ORDER BY update_time desc LIMIT 6)t)
    </select>
    
    <select id="queryKnowledgeContentPhoneList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			b.`name` typeName,
			DATE_FORMAT(a.create_time, '%Y-%m-%d') createTime
		FROM
			knowlg_content a
			LEFT JOIN knowlg_type b ON a.type_id = b.id
		WHERE
			a.state = 2
		ORDER BY
			a.examine_time DESC
		LIMIT 8
	</select>
	
</mapper>