<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="margin:0 auto;padding:20px;">
	    <form class="layui-form" action="" id="showForm">
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">标题<i class="red">*</i></label>
		        <div class="layui-input-block ver-center" id="useTitle">
		            
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">步骤</label>
		        <div class="layui-input-block ver-center">
		            填单
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">责任人<i class="red">*</i></label>
		        <div class="layui-input-block ver-center" id="useName">
		            
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">乘车人数<i class="red">*</i></label>
		        <div class="layui-input-block">
		        	<input type="text" id="passengerNum" name="passengerNum" win-verify="required|number" placeholder="请输入包括司机在内的乘车人数最大值" class="layui-input"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">乘车人信息</label>
		        <div class="layui-input-block">
		        	<input type="text" id="passengerInfo" name="passengerInfo" placeholder="请输入乘车人信息" class="layui-input"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">是否自驾<i class="red">*</i></label>
		        <div class="layui-input-block winui-radio">
		            <input type="radio" name="isSelfDrive" lay-filter="isSelfDrive" value="1" title="自驾" checked="checked"/>
		            <input type="radio" name="isSelfDrive" lay-filter="isSelfDrive" value="2" title="安排司机" />
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6 layui-hide" id="ishasDriver">
		        <label class="layui-form-label">驾驶人信息</label>
		        <div class="layui-input-block">
		        	<select id="driverId" lay-filter="driverId">
		        	
		        	</select>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">用车时间段<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="departureTime" name="departureTime" win-verify="required" placeholder="注意时间段详细到小时分钟" class="layui-input"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">指定车辆</label>
		        <div class="layui-input-block">
		        	<select id="designatedVehicleId" name="designatedVehicleId" lay-filter="designatedVehicleId">
		        	
		        	</select>
		        	<div class="layui-form-mid layui-word-aux">车辆的选择与乘车人数相关，请先确保填写乘车人数</div>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">乘车时间地点</label>
		        <div class="layui-input-block">
		        	<input type="text" id="timeAndPlaceOfTravel" name="timeAndPlaceOfTravel" placeholder="乘车时间地点" class="layui-input"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">用车事由<i class="red">*</i></label>
		        <div class="layui-input-block">
		        	<textarea id="reasonsForUsingCar" name="reasonsForUsingCar" placeholder="请详细说明用车事由" win-verify="required" class="layui-textarea" style="height: 100px;" maxlength="200"></textarea>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">相关描述</label>
		        <div class="layui-input-block">
		        	<textarea id="remark" name="remark" placeholder="请输入相关描述" class="layui-textarea" style="height: 100px;" maxlength="200"></textarea>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">相关附件</label>
				<div class="layui-input-block" id="enclosureUpload">
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <div class="layui-input-block">
		            <button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
		            <button class="winui-btn" lay-submit lay-filter="formAddBean">保存为草稿</button>
		            <button class="winui-btn" lay-submit lay-filter="formSubBean">提交审批</button>
		        </div>
		    </div>
	    </form>
	</div>
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
		layui.config({base: '../../js/vehicleManageUse/'}).use('vehicleManageUseAdd');
	</script>
</body>
</html>