<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.SealServicePhoneDao">
	
	<select id="queryNumberInEveryStateIsMine" resultType="java.util.Map">
		SELECT
			a.state,
			CASE a.state WHEN '2' THEN '待接单' WHEN '3' THEN '待签到' WHEN '4' THEN '待完工' WHEN '5' THEN '待评价' END stateName,
			COUNT(a.id) stateNumber
		FROM
			crm_service a
		WHERE
			a.service_user_id = #{userId}
		AND a.state IN(2, 3, 4, 5)
		GROUP BY a.state
	</select>
	
	<select id="queryNumberInEveryStateIsAll" resultType="java.util.Map">
		SELECT
			a.state,
			CASE a.state WHEN '1' THEN '待派工' WHEN '6' THEN '待审核' WHEN '7' THEN '已完工' END stateName,
			COUNT(a.id) stateNumber
		FROM
			crm_service a
		WHERE
			a.state IN(1, 6, 7)
		GROUP BY a.state
	</select>
	
	<select id="querySealSeServiceState" resultType="java.util.Map">
		SELECT
			a.id,
			a.state
		FROM
			crm_service a
		WHERE
			a.id = #{id}
	</select>
	
	<insert id="insertSealSeServiceWaitToSignonMation" parameterType="java.util.Map">
	    INSERT into crm_service_register 
		(id, service_id, register_id, longitude, latitude, address, remark, create_time)
		VALUES(#{id}, #{serviceId}, #{registerId}, #{longitude}, #{latitude}, #{address}, #{remark}, #{createTime})
	</insert>
	
	<update id="editSealSeServiceWaitToSignonMation" parameterType="java.util.Map">
        UPDATE crm_service
        <set>
            state = 4
        </set>
        WHERE id = #{serviceId}
    </update>
    
    <select id="queryFeedBackList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			b.`name` typeName,#反馈类型
			a.content,#反馈内容
			a.enclosure_info enclosureInfo,#反馈附件
			c.user_name feedbackUserName,#反馈人
			CONVERT(a.create_time, CHAR) feedbackCreateTime #反馈时间
		FROM
			crm_service_feedback a
			LEFT JOIN sys_eve_user_staff c ON a.create_id = c.user_id,
			crm_service_feedback_type b
		WHERE a.service_id = #{serviceId}
		AND a.type_id = b.id
    </select>
    
	<select id="queryAllPartsList" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT
			a.id,
			a.`name`,
			a.model,
			a.unit,
			a.unit_name unitName,
			a.first_in_unit firstInUnit,
			a.first_out_unit firstOutUnit
		FROM
			erp_material a
		WHERE
			a.delete_flag = '0'
		AND a.enabled = '1'
		AND a.`type` = '1'
    </select>
	
</mapper>