<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
	<link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
	<style type="text/css">
		.layui-form-label{
			width: 45px;
		}

		.layui-input-block{
			margin-left: 55px;
		}
	</style>
</head>

<body>
	<div style="padding:20px; margin:0 auto;">
		<div class="winui-toolbar">
			<div class="winui-tool">
				<button id="chooseEmailModel" class="winui-toolbtn"><i class="fa fa-plus" aria-hidden="true"></i>模板选择</button>
			</div>
		</div>
	    <form class="layui-form" action="" id="showForm">
		    <div class="layui-form-item">
		        <label class="layui-form-label">收件人<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="toPeople" name="toPeople" placeholder="请选择收件人" class="layui-input" style="padding-right: 30px;"/>
		            <i class="fa fa-user-plus input-icon" id="toPeopleSelPeople" title="从员工选择" style="right: 28px;"></i>
					<i class="fa fa-address-book input-icon" id="toPeopleSelMail" title="从通讯录选择"></i>
		        </div>
		    </div>
		    <div class="layui-form-item">
		        <label class="layui-form-label">抄送</label>
		        <div class="layui-input-block">
		            <input type="text" id="toCc" name="toCc" placeholder="请选择抄送人" class="layui-input" style="padding-right: 30px;"/>
		            <i class="fa fa-user-plus input-icon" id="toCcSelPeople" title="从员工选择" style="right: 28px;"></i>
					<i class="fa fa-address-book input-icon" id="toCcSelMail" title="从通讯录选择"></i>
		        </div>
		    </div>
		    <div class="layui-form-item">
		        <label class="layui-form-label">密送</label>
		        <div class="layui-input-block">
		            <input type="text" id="toBcc" name="toBcc" placeholder="请选择密送人" class="layui-input" style="padding-right: 30px;"/>
		            <i class="fa fa-user-plus input-icon" id="toBccSelPeople" title="从员工选择" style="right: 28px;"></i>
					<i class="fa fa-address-book input-icon" id="toBccSelMail" title="从通讯录选择"></i>
		        </div>
		    </div>
		    <div class="layui-form-item">
		        <label class="layui-form-label">主题</label>
		        <div class="layui-input-block">
		            <input type="text" id="title" name="title" placeholder="请填写邮件主题" class="layui-input"/>
		            <div class="layui-form-mid layui-word-aux" id="enclosureUpload">
		            </div>
		        </div>
		    </div>
		    <div class="layui-form-item">
		        <label class="layui-form-label">正文<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <textarea id="content" name="content" style="display: none;"></textarea>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <div class="layui-input-block">
		            <button class="winui-btn" lay-submit lay-filter="formAddBean"><language showName="com.skyeye.save"></language></button>
		            <button class="winui-btn" lay-submit lay-filter="formSendBean">发送</button>
		        </div>
		    </div>
	    </form>
	</div>
	<script src="../../assets/lib/layui/lay/modules/ace/ace.js"></script>
	<script src="../../assets/lib/layui/layui.js"></script>
	<script src="../../assets/lib/layui/custom.js"></script>
	<script type="text/javascript">
		layui.config({base: '../../js/useremail/'}).use('sendemail');
	</script>
</body>
</html>