<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.school.dao.SchoolTeacherDao">

	<select id="querySchoolTeacherList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.job_number jobNumber,
			a.user_name userName,
			a.user_photo userPhoto,
			a.user_idcard userIdCard,
			a.user_sex userSex,
			a.email,
			a.phone,
			a.home_phone homePhone,
			a.qq,
			a.state,
			c.school_name schoolName
		FROM
			sys_eve_user_staff a,
			school_staff_mation b,
			school_mation c
		WHERE a.id = b.staff_id
		AND b.school_id = c.id
		AND a.`type` = '2'
		<if test="userName != '' and userName != null">
			AND a.user_name LIKE '%${userName}%'
		</if>
		<if test="userIdCard != '' and userIdCard != null">
			AND a.user_idcard LIKE '%${userIdCard}%'
		</if>
		<if test="userSex != '' and userSex != null">
			AND a.user_sex = #{userSex}
		</if>
		<choose>
			<!-- 查询的不是所有的数据 -->
    		<when test="schoolPowerId != 'all'.toString()">
    			AND c.id = #{schoolPowerId}
    		</when>
    		<!-- 查询的是所有的数据 -->
    		<when test="schoolPowerId == 'all'.toString()">
    			<if test="schoolId != '' and schoolId != null">
					AND c.id = #{schoolId}
				</if>
    		</when>
		</choose>
		ORDER BY a.state ASC, a.entry_time DESC
	</select>

	<select id="querySchoolTeacherToTableList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id staffId,
			IFNULL(a.user_id, '') userId,
			a.job_number jobNumber,
			a.user_name userName,
			a.user_photo userPhoto,
			CASE a.user_sex WHEN '2' THEN '女' WHEN '1' THEN '男' ELSE '保密' END userSex,
			a.email,
			a.phone,
			a.home_phone homePhone,
			a.qq,
			c.school_name schoolName,
			CASE WHEN a.user_id = null THEN '未分配帐号' WHEN LENGTH(a.user_id) > 0 THEN '已分配帐号' ELSE '未分配帐号' END userCodeState
		FROM
			sys_eve_user_staff a,
			school_staff_mation b,
			school_mation c
		WHERE a.id = b.staff_id
		AND b.school_id = c.id
		AND a.`type` = '2'
		AND a.state NOT IN(2, 5)
		<if test="userName != '' and userName != null">
			AND a.user_name LIKE '%${userName}%'
		</if>
		<if test="userSex != '' and userSex != null">
			AND a.user_sex = #{userSex}
		</if>
		<!-- 不包含当前登录用户 -->
		<if test="whetherIncludeMe == '2'.toString()">
			AND a.user_id != #{userId}
		</if>
		<!-- 必须已分配帐号 -->
		<if test="whetherHasCode == '1'.toString()">
			AND a.user_id IS NOT NULL
			AND LENGTH(a.user_id) > 0
		</if>
		<choose>
			<!-- 查询的不是所有的数据 -->
    		<when test="schoolPowerId != 'all'.toString()">
    			AND c.id = #{schoolPowerId}
    		</when>
    		<!-- 查询的是所有的数据 -->
    		<when test="schoolPowerId == 'all'.toString()">
    			<if test="schoolId != '' and schoolId != null">
					AND c.id = #{schoolId}
				</if>
    		</when>
		</choose>
		ORDER BY a.state ASC, a.entry_time DESC
	</select>
	
	<select id="querySchoolTeacherListByStaffIds" resultType="java.util.Map">
		SELECT
			b.user_id userId,
			b.id staffId,
			b.user_name userName,
			CASE b.user_sex WHEN '2' THEN '女' WHEN '1' THEN '男' ELSE '保密' END userSex
		FROM
			sys_eve_user_staff b
		WHERE 
			<if test="idsList != null and idsList.size() &gt; 0">
		        <foreach collection="idsList" item="id" separator="," open=" b.id in(" close=")">
		            #{id}
		        </foreach>
		    </if>
	</select>
	
</mapper>