<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.school.dao.SchoolGradeSubjectDao">

	<select id="querySchoolGradeSubjectList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			b.school_name schoolName,
			a.grade_name gradeName,
			a.grade_order gradeOrder,
			a.year_n yearN,
			COUNT(d.id) subjectNum
		FROM
			school_grade_mation a
			LEFT JOIN school_grade_subject d ON a.id = d.grade_id,
			school_mation b
		WHERE a.school_id = b.id
		AND a.type = '1'
		<if test="gradeName != '' and gradeName != null">
			AND a.grade_name LIKE '%${gradeName}%'
		</if>
		<choose>
			<!-- 查询的不是所有的数据 -->
    		<when test="schoolPowerId != 'all'.toString()">
    			AND a.school_id = #{schoolPowerId}
    		</when>
    		<!-- 查询的是所有的数据 -->
    		<when test="schoolPowerId == 'all'.toString()">
    			<if test="schoolId != '' and schoolId != null">
					AND a.school_id = #{schoolId}
				</if>
    		</when>
		</choose>
		GROUP BY a.id
		ORDER BY a.grade_order ASC
	</select>
	
	<select id="querySchoolGradeSkillById" resultType="java.util.Map">
		SELECT
			b.id,
			b.subject_name subjectName
		FROM
			school_grade_subject a,
			school_subject_mation b
		WHERE
			a.grade_id = #{gradeId}
		AND a.subject_id = b.id
	</select>
	
	<select id="querySchoolGradeMationById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			b.id schoolId,
			b.school_name schoolName,
			a.grade_name gradeName,
			a.grade_order gradeOrder,
			a.year_n yearN
		FROM
			school_grade_mation a,
			school_mation b
		WHERE a.school_id = b.id
		AND a.type = '1'
		AND a.id = #{id}
	</select>
	
	<delete id="deleteSchoolGradeSubjectMation">
		DELETE
		FROM
			school_grade_subject
		WHERE
			grade_id = #{gradeId}
	</delete>
	
	<insert id="insertSchoolGradeSubjectMation" parameterType="java.util.Map">
	     INSERT INTO school_grade_subject
	     (id, grade_id, subject_id)
	     VALUES
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.id}, #{item.gradeId}, #{item.subjectId})  
		</foreach>  
	</insert>
	
</mapper>