<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.school.dao.SchoolTimeSettingDao">

	<select id="queryGradeListToRow" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.grade_name gradeName
		FROM
			school_grade_mation a
		WHERE a.type = '1'
		<choose>
			<!-- 查询的不是所有的数据 -->
    		<when test="schoolPowerId != 'all'.toString()">
    			AND a.school_id = #{schoolPowerId}
    		</when>
    		<!-- 查询的是所有的数据 -->
    		<when test="schoolPowerId == 'all'.toString()">
    			<if test="schoolId != '' and schoolId != null">
					AND a.school_id = #{schoolId}
				</if>
    		</when>
		</choose>
		ORDER BY a.grade_order ASC
	</select>
	
	<select id="querySemesterListToCol" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.`name` semesterName
		FROM
			school_semester_mation a
		WHERE 1=1
		<choose>
			<!-- 查询的不是所有的数据 -->
    		<when test="schoolPowerId != 'all'.toString()">
    			AND a.school_id = #{schoolPowerId}
    		</when>
    		<!-- 查询的是所有的数据 -->
    		<when test="schoolPowerId == 'all'.toString()">
    			<if test="schoolId != '' and schoolId != null">
					AND a.school_id = #{schoolId}
				</if>
    		</when>
		</choose>
		ORDER BY a.create_time ASC
	</select>
	
	<select id="queryTimeSettingList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.semester_id semesterId,
			a.grade_id gradeId,
			a.start_time startTime,
			a.end_time endTime
		FROM
			school_time_setting a
		WHERE 1=1
		<choose>
			<!-- 查询的不是所有的数据 -->
    		<when test="schoolPowerId != 'all'.toString()">
    			AND a.school_id = #{schoolPowerId}
    		</when>
    		<!-- 查询的是所有的数据 -->
    		<when test="schoolPowerId == 'all'.toString()">
    			<if test="schoolId != '' and schoolId != null">
					AND a.school_id = #{schoolId}
				</if>
    		</when>
		</choose>
	</select>
	
	<delete id="deleteSchoolTimeSettingMation" parameterType="java.util.Map">
		DELETE
		FROM
			school_time_setting
		WHERE
			school_id = #{schoolId}
	</delete>
	
	<insert id="insertSchoolTimeSettingMation" parameterType="java.util.Map">
	     insert into school_time_setting
	     (id, semester_id, grade_id, start_time, end_time, school_id, create_id, create_time)
	     values
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.id}, #{item.semesterId}, #{item.gradeId}, #{item.startTime}, #{item.endTime}, #{item.schoolId}, #{item.createId}, #{item.createTime})  
		</foreach>  
	</insert>
	
</mapper>