<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.school.dao.SchoolClassMationDao">
	
	<select id="querySchoolClassMationList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.class_name className,
			b.school_name schoolName,
			c.grade_name gradeName,
			a.`year`,
			d.`name` floorName,
			a.state,
			CASE a.state WHEN '1' THEN '当前班级' WHEN '2' THEN '历史班级' ELSE '' END stateName,
			e.user_name masterStaffName,
			a.limit_number limitNumber,
			CASE a.state WHEN '1' THEN COUNT(f.id) WHEN '2' THEN COUNT(g.id) ELSE 0 END actualNumber
		FROM
			school_class_mation a
			LEFT JOIN school_floor_mation d ON a.floor_id = d.id
			LEFT JOIN sys_eve_user_staff e ON a.master_staff_id = e.id
			LEFT JOIN school_class_student g ON a.id = g.class_id
			LEFT JOIN school_student_mation f ON a.id = f.now_class_id AND f.state = '1',
			school_mation b,
			school_grade_mation c
		WHERE a.school_id = b.id
			AND a.grade_id = c.id
			<if test="gradeId != '' and gradeId != null">
				AND a.grade_id = #{gradeId}
			</if>
			<if test="year != '' and year != null">
				AND a.`year` = #{year}
			</if>
			<if test="className != '' and className != null">
				AND a.class_name LIKE '%${className}%'
			</if>
			<choose>
				<!-- 查询的不是所有的数据 -->
	    		<when test="schoolPowerId != 'all'.toString()">
	    			AND a.school_id = #{schoolPowerId}
	    		</when>
	    		<!-- 查询的是所有的数据 -->
	    		<when test="schoolPowerId == 'all'.toString()">
	    			<if test="schoolId != '' and schoolId != null">
						AND a.school_id = #{schoolId}
					</if>
	    		</when>
			</choose>
			GROUP BY a.id
			ORDER BY a.`year` DESC, c.grade_order DESC
	</select>
	
	<select id="queryNewClassGradeMationByGradeId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.`year` sessionYear
		FROM
			school_class_mation a
		WHERE
			a.grade_id = #{gradeId}
		GROUP BY a.grade_id
		ORDER BY a.`year` DESC
	</select>
	
	<insert id="insertSchoolClassMation" parameterType="java.util.Map">
	     INSERT into school_class_mation
	     (id, school_id, grade_id, class_name, limit_number, master_staff_id, floor_id, `year`, state, create_id, create_time)
	     VALUES
	     (#{id}, #{schoolId}, #{gradeId}, #{className}, #{limitNumber}, #{masterStaffId}, #{floorId}, #{year}, #{state}, #{createId}, #{createTime})
	</insert>
	
	<delete id="deleteSchoolClassMationById" parameterType="java.util.Map">
		DELETE
		FROM
			school_class_mation
		WHERE
			id = #{id}
	</delete>
	
	<select id="querySchoolClassMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.class_name className,
			b.school_name schoolName,
			a.school_id schoolId,
			c.grade_name gradeName,
			a.`year`,
			a.floor_id floorId,
			a.master_staff_id  masterStaffId,
			d.user_name userName,
			a.limit_number limitNumber
		FROM
			school_class_mation a
			LEFT JOIN sys_eve_user_staff d ON a.master_staff_id = d.id,
			school_mation b,
			school_grade_mation c
		WHERE a.id = #{id}
		AND a.school_id = b.id
		AND a.grade_id = c.id
	</select>
	
	<select id="querySchoolClassMationByName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.class_name className
		FROM
			school_class_mation a
		WHERE 
			a.class_name = #{className}
		AND a.grade_id = #{gradeId}
		AND a.`year` = #{year}
		<if test="id != '' and id != null">
			AND a.id = #{id}
		</if>
	</select>
	
	<update id="editSchoolClassMationById" parameterType="java.util.Map">
		UPDATE school_class_mation
		<set>
			<if test="className != '' and className != null">
				class_name = #{className},
			</if>
			master_staff_id = #{masterStaffId},
			floor_id = #{floorId},
			limit_number = #{limitNumber}
		</set>
		WHERE id = #{id}
	</update>
	
	<update id="editClassGradeMationToHistoryByGradeId">
		UPDATE school_class_mation
		<set>
			state = '2'
		</set>
		WHERE grade_id = #{gradeId}
		AND state = '1'
	</update>
	
</mapper>