<script>
    layui.link(winui.path + 'css/theme.css');
</script>
<div class="winui-tab" style="height:100%">
    <div class="winui-tab-left">
        <div class="winui-tab-title">主题设置</div>
        <div class="winui-scroll-y" style="height:auto;position:absolute;top:50px;bottom:0;">
            <ul class="winui-tab-nav">
                <li class="winui-this"><i class="fa fa-picture-o fa-fw"></i>背景</li>
                <li><i class="fa fa-paw fa-fw"></i>主题色</li>
                <li><i class="fa fa-lock fa-fw"></i>锁屏界面</li>
                <li><i class="fa fa-windows fa-fw"></i>开始</li>
                <li><i class="fa fa-tasks fa-fw"></i>任务栏</li>
            </ul>
        </div>
    </div>
    <div class="winui-tab-right">
        <div class="winui-scroll-y">
            <div class="winui-tab-content">
                <!-- 背景设置 -->
                <div class="winui-tab-item layui-show">
                    <h1>预览</h1>
                    <div class="background-preview">
                        <div class="preview-start"></div>
                        <div class="preview-window">
                            <div class="preview-window-title"><p></p></div>
                            <span>示例文本</span>
                        </div>
                        <div class="preview-taskbar"></div>
                    </div>
                    <h2>选择图片</h2>
                    <div class="background-choose" id="background-choose" style="min-height: 90px;">
                    </div>
                    <h2>自定义图片</h2>
                    <div class="background-choose" id="cus-background-choose" style="min-height: 130px;">
                    </div>
                    <!-- 上传图片 -->
                    <div class="background-upload" id="addBean">浏览</div>
                </div>
                <!-- 颜色设置 -->
                <div class="winui-tab-item">
                    <h1>预览</h1>
                    <div class="background-preview">
                        <div class="preview-start"></div>
                        <div class="preview-window">
                            <div class="preview-window-title"><p></p></div>
                            <span>示例文本</span>
                        </div>
                        <div class="preview-taskbar"></div>
                    </div>
                    <h2>主题色</h2>
                    <div class="color-choose" id="color-choose"></div>
                </div>
                <!-- 锁屏界面 -->
                <div class="winui-tab-item">
                    <h1>预览</h1>
                    <div class="lockscreen-preview">
                        <div class="lockscreen-preview-time"></div>
                    </div>
                    <h2>选择图片</h2>
                    <div class="lockscreen-choose" id="lockscreen-choose" style="min-height: 90px;">
                    </div>
                    <h2>自定义图片</h2>
                    <div class="lockscreen-choose" id="cus-lockscreen-choose" style="min-height: 130px;">
                    </div>
                    <!-- 上传图片 -->
                    <div class="lockscreen-upload" id="addBean1">浏览</div>
                </div>
                <!-- 开始 -->
                <div class="winui-tab-item">
                    <h1>预览</h1>
                    <div class="background-preview">
                        <div class="preview-start"></div>
                        <div class="preview-window">
                            <div class="preview-window-title"><p></p></div>
                            <span>示例文本</span>
                        </div>
                        <div class="preview-taskbar"></div>
                    </div>
                    <h2>开始菜单尺寸</h2>
                    <div class="layui-form winui-radio start-size">
                        <input type="radio" name="startsize" value="xs" title="迷你" lay-filter="startSize">
                        <input type="radio" name="startsize" value="sm" title="中等" lay-filter="startSize">
                        <input type="radio" name="startsize" value="lg" title="宽敞" lay-filter="startSize">
                    </div>
                </div>
                <!-- 任务栏 -->
                <div class="winui-tab-item">
                    <h2>任务栏在屏幕上的位置</h2>
                    <div class="layui-form winui-radio taskbar-position">
                        <input type="radio" name="position" value="top" title="顶部" lay-filter="taskPosition">
                        <input type="radio" name="position" value="bottom" title="底部" lay-filter="taskPosition">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../js/systheme/systheme.js" type="text/javascript"></script>