<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
    <div style="padding:20px; margin:0 auto;">
        <form class="layui-form" action="" id="showForm">

        </form>
    </div>

    <script type="text/x-handlebars-template" id="beanTemplate">
        {{#bean}}
        <div class="layui-form-item layui-col-xs12">
            <span class="hr-title">基本信息</span><hr>
        </div>
        <div class="layui-form-item layui-col-xs12">
            <label class="layui-form-label">中文名称<i class="red">*</i></label>
            <div class="layui-input-block">
                <input type="text" id="titleCn" name="titleCn" win-verify="required" placeholder="请输入中文名称" class="layui-input" value="{{titleCn}}"/>
            </div>
        </div>
        <div class="layui-form-item layui-col-xs12">
            <label class="layui-form-label">英文名称<i class="red">*</i></label>
            <div class="layui-input-block">
                <input type="text" id="titleEn" name="titleEn" win-verify="required" placeholder="请输入英文名称" class="layui-input" value="{{titleEn}}"/>
            </div>
        </div>
        <div class="layui-form-item layui-col-xs12">
            <div class="layui-input-block">
                <button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
                <button class="winui-btn" lay-submit lay-filter="formEditBean"><language showName="com.skyeye.save"></language></button>
            </div>
        </div>
        {{/bean}}
    </script>

    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/mealRefundOrderReason/'}).use('mealRefundOrderReasonEdit');
    </script>
</body>
</html>