<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
    <link href="../../assets/lib/layui/lay/modules/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
	<link href="../../assets/lib/layui/css/tree-table.css" rel="stylesheet" />
    <link href="../../assets/lib/layui/lay/modules/contextMenu/jquery.contextMenu.min.css" rel="stylesheet" />
	<style type="text/css">
		.remove{
			position: absolute;
		    left: 3px;
		    margin-top: 10px !important;
		}
		.layui-badge{
			line-height: 15px !important;
		}
		.curSelectedNode{
			background-color: #e6e6e6 !important;
		}
		.procedureBox{
			word-break: keep-all;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.procedureSel{
		    float: left;
		    height: 20px;
		    width: 20px;
		    margin-top: 5px;
		    cursor: pointer;
		}
	</style>
</head>
<body>
	<div style="padding:20px; margin:0 auto;">
	    <form class="layui-form" action="" id="showForm">
	    	
	    </form>
	</div>
	
	<script type="text/html" id="mainHtml">
		{{#bean}}
			<div class="layui-form-item layui-col-xs12">
    			<span class="hr-title">父件资料</span><hr>
	    	</div>
	    	<div class="layui-form-item layui-col-xs12">
	            <label class="layui-form-label">BOM方案名称：</label>
	            <div class="layui-input-block ver-center">
	                {{title}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs12">
	            <label class="layui-form-label">商品名称：</label>
	            <div class="layui-input-block ver-center">
	                {{materialName}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">商品型号：</label>
	            <div class="layui-input-block ver-center">
	                {{materialModel}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">计量单位：</label>
	            <div class="layui-input-block ver-center">
	                {{unitName}}
	            </div>
	        </div>
			<div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">耗材总费用：</label>
	            <div class="layui-input-block ver-center">
	                {{consumablesPrice}}
	            </div>
	        </div>
			<div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">工序总费用：</label>
	            <div class="layui-input-block ver-center">
	                {{procedurePrice}}
	            </div>
	        </div>
			<div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">耗损总费用：</label>
	            <div class="layui-input-block ver-center">
	                {{wastagePrice}}
	            </div>
	        </div>
			<div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">制造数量：</label>
	            <div class="layui-input-block ver-center">
	                {{makeNum}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs12">
	            <label class="layui-form-label">备注说明：</label>
	            <div class="layui-input-block ver-center">
	                {{remark}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs12">
    			<span class="hr-title">子件清单</span><hr>
	    	</div>
	    	<div class="layui-form-item layui-col-xs12">
	            <label class="layui-form-label">列表项：</label>
	            <div class="layui-input-block">
	            	<ul id="treeDemo" class="ztree fsTree"></ul>
	            </div>
	        </div>
	    {{/bean}}
	</script>
	
	<!-- 表格标题 -->
	<script type="text/html" id="tableHeader">
		<li class="head">
			<a>
				<div class="diy" style="width: 20%">商品名称</div>
				<div class="diy" style="width: 13%">商品型号</div>
				<div class="diy" style="width: 6%">计量单位</div>
				<div class="diy" style="width: 15%">工序</div>
				<div class="diy" style="width: 6%">数量</div>
				<div class="diy" style="width: 6%">单价</div>
				<div class="diy" style="width: 6%">金额</div>
				<div class="diy" style="width: 6%">耗损</div>
				<div class="diy" style="width: 6%">商品来源</div>
				<div class="diy" style="width: 15%">备注</div>
			</a>
		</li>
	</script>
	
	<!-- 表格行 -->
	<script type="text/html" id="tableBody">
		<div class="diy" style="width: 13%">{{productModel}}</div>
		<div class="diy" style="width: 6%">{{unitName}}</div>
		<div class="diy procedureBox" style="width: 15%" id="procedureBox{{productId}}" 
			title="
			{{#each procedureMationList}}{{number}}、{{procedureName}}&#10;{{/each}}">
			{{#each procedureMationList}}
				<span class="layui-badge layui-bg-gray">{{number}}</span>{{procedureName}}，
			{{/each}}
		</div>
		<div class="diy" style="width: 6%">{{needNum}}</div>
		<div class="diy" style="width: 6%">{{unitPrice}}</div>
		<div class="diy" style="width: 6%; min-height: 30px;" id="allPrice{{productId}}"></div>
		<div class="diy" style="width: 6%">{{wastagePrice}}</div>
		<div class="diy" style="width: 6%; overflow: visible !important;">{{typeName}}</div>
		<div class="diy" style="width: 15%">{{remark}}</div>
	</script>
	
	<script src="../../assets/lib/layui/layui.js"></script>
	<script src="../../assets/lib/layui/custom.js"></script>
	<script type="text/javascript" src="../../assets/lib/layui/lay/modules/jquery-min.js"></script>
    <script type="text/javascript" src="../../assets/lib/layui/lay/modules/contextMenu/jquery.contextMenu.min.js"></script>
    <script type="text/javascript" src="../../assets/lib/layui/lay/modules/ztree/js/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="../../assets/lib/layui/lay/modules/ztree/js/jquery.ztree.exhide.min.js"></script>
	<script type="text/javascript">
	    layui.config({base: '../../js/erpBom/'}).use('erpBomDetail');
	</script>
</body>
</html>