<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div class="txtcenter" style="margin:0 auto;padding-top:10px;">
	    <form class="layui-form layui-form-pane" action="" autocomplete="off">
	        <div class="layui-form-item">
	            <div class="layui-inline">
	                <label class="layui-form-label">跟单状态</label>
	                <div class="layui-input-inline">
	                    <select id="documentaryState">
	                    	<option value="">全部</option>
	                    	<option value="0">进行中的商机</option>
	                    	<option value="1">7天未跟单</option>
	                    	<option value="2">30天未跟单</option>
	                    	<option value="3">90天未跟单</option>
	                    </select>
	                </div>
	                <label class="layui-form-label">新增时间</label>
	                <div class="layui-input-inline">
	                    <select id="createTime">
	                    	<option value="">全部</option>
	                    	<option value="0">本周新增</option>
	                    	<option value="1">上周新增</option>
	                    	<option value="2">本月新增</option>
	                    	<option value="3">上月新增</option>
	                    	<option value="4">本季度新增</option>
	                    	<option value="5">上季度新增</option>
	                    </select>
	                </div>
	                <label class="layui-form-label">状态</label>
	                <div class="layui-input-inline">
	                    <select id="state">
	                    	<option value="">全部</option>
	                    	<option value="0">草稿</option>
	                    	<option value="1">审核中</option>
	                    	<option value="11">审核通过</option>
	                    	<option value="12">审核不通过</option>
	                    	<option value="2">初期沟通</option>
	                    	<option value="3">方案与报价</option>
	                    	<option value="4">竞争与投标</option>
	                    	<option value="5">商务谈判</option>
	                    	<option value="6">成交</option>
	                    	<option value="7">丢单</option>
	                    	<option value="8">搁置</option>
	                    </select>
	                </div>
	                <button type="reset" class="layui-btn layui-btn-primary list-form-search"><language showName="com.skyeye.reset"></language></button>
					<button class="layui-btn list-form-search" lay-submit lay-filter="formSearch"><language showName="com.skyeye.search2"></language></button>
	            </div>
	        </div>
	    </form>
	</div>
    <div class="winui-toolbar">
        <div class="winui-tool">
            <button id="reloadTable" class="winui-toolbtn"><i class="fa fa-refresh" aria-hidden="true"></i><language showName="com.skyeye.refreshDataBtn"></language></button>
            <button id="addBean" class="winui-toolbtn" auth="1572508625517"><i class="fa fa-plus" aria-hidden="true"></i>新增商机</button>
        </div>
    </div>
    <div style="margin:auto 10px;">
        <table id="messageTable" lay-filter="messageTable"></table>
        <div style="margin:auto 10px;">
	        <table id="messageTable" lay-filter="messageTable"></table>
	       	<script type="text/html" id="tableBar">
				{{# if(d.state == '0' || d.state == '12'){ }}
					{{# if(auth('1573895164311')){ }}
            			<a class="layui-btn layui-btn-xs" lay-event="subApproval">提交审批</a>
					{{# } }}
					{{# if(auth('1572508665037')){ }}
            			<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete"><language showName="com.skyeye.deleteBtn"></language></a>
					{{# } }}
				{{# }else if(d.state == '11' || d.state == '2' || d.state == '3' || d.state == '4' || d.state == '5' || d.state == '8'){ }} 
					{{# if(auth('1573895352865')){ }}
            			<a class="layui-btn layui-btn-xs" lay-event="stateChange">状态变更</a>
					{{# } }}
				{{# } }}
				{{# if(d.editRow == '1' || d.editRow == '2'){ }}
					{{# if(auth('1572508648123')){ }}
						<a class="layui-btn layui-btn-xs" lay-event="edit"><language showName="com.skyeye.editBtn"></language></a>
					{{# } }}
				{{# } }}
				{{# if(d.editRow == '2'){ }}
					{{# if(d.state == '1' && auth('1573895251425')){ }}
						<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="revoke">撤销</a>
					{{# } }}
				{{# } }}
        	</script>
    	</div>
    </div>
    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/crmOpportunity/'}).use('crmOpportunityList');
    </script>
</body>
</html>