<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SchoolUserDao">
	
	<!-- 学生登录身份证作为登录帐号 -->
	<select id="queryMationByIdCardOrNo" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.id studentId,
			a.student_name userCode,
			a.student_name studentName,
			a.student_img studentImg,
			a.`password`,
			a.state,
			a.sex,
			CASE a.sex WHEN '0' THEN '保密' WHEN '1' THEN '男' WHEN '2' THEN '女' ELSE '未知' END stuSex,
			b.school_name schoolName,
			c.grade_name gradeName,
			IFNULL(d.class_name, '未分班') className
		FROM
			school_student_mation a
			LEFT JOIN school_mation b ON a.school_id = b.id
			LEFT JOIN school_grade_mation c ON a.grade_id = c.id
			LEFT JOIN school_class_mation d ON a.now_class_id = d.id
		WHERE a.idcard = #{userCode} OR a.student_no = #{userCode}
	</select>
	
	<select id="queryStuUserMationDetailById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.student_name studentName,
			a.student_no studentNo,
			a.student_img studentImg,
			a.`password`,
			a.state,
			a.sex,
			CASE a.sex WHEN '0' THEN '保密' WHEN '1' THEN '男' WHEN '2' THEN '女' ELSE '未知' END stuSex,
			b.school_name schoolName,
			c.grade_name gradeName,
			IFNULL(d.class_name, '未分班') className,
			a.session_year sessionYear,
			a.speciality
		FROM
			school_student_mation a
			LEFT JOIN school_mation b ON a.school_id = b.id
			LEFT JOIN school_grade_mation c ON a.grade_id = c.id
			LEFT JOIN school_class_mation d ON a.now_class_id = d.id
		WHERE a.id = #{stuId}
	</select>
	
	<update id="editUserPassword" parameterType="java.util.Map">
		UPDATE school_student_mation
		<set>
			<if test="password != '' and password != null">
				`password` = #{password},
			</if>
		</set>
		WHERE id = #{stuId}
	</update>
	
</mapper>