<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SchoolStuExamDao">
	
	<select id="queryMyWaitExamList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			c.id examId,
			c.survey_name examName,
			d.subject_name subjectName,
			c.survey_qu_num surveyQuNum,
			e.user_name createName,
			f.grade_name gradeName
		FROM
			school_student_mation a,
			exam_survey_class b,
			exam_survey_directory c
			LEFT JOIN school_subject_mation d ON c.subject_id = d.id
			LEFT JOIN sys_eve_user_staff e ON c.create_id = e.user_id
			LEFT JOIN school_grade_mation f ON c.grade_id = f.id
		WHERE a.id = #{stuId}
		AND a.now_class_id = b.class_id
		AND c.id = b.exam_survey_id
		AND c.survey_state = '1'
		AND c.id NOT IN (
			SELECT
				k.survey_id
			FROM
				exam_survey_answer k
			WHERE
				k.create_id = #{stuId}
		)
		ORDER BY c.real_start_time DESC
	</select>
	
	<select id="queryMyEndExamList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			c.id examId,
			c.survey_name examName,
			c.fraction examFraction,
			d.subject_name subjectName,
			c.survey_qu_num surveyQuNum,
			e.user_name createName,
			g.id answerId,
			g.state,
			CASE g.state WHEN '1' THEN '待阅卷' WHEN '2' THEN '已阅卷' ELSE '未知' END stateName,
			g.total_time totalTime,
			DATE_FORMAT(g.bg_an_date,'%Y-%m-%d %H:%i') bgAnDate,
			DATE_FORMAT(g.end_an_date,'%Y-%m-%d %H:%i') endAnDate,
			g.mark_fraction markFraction,
			f.grade_name gradeName
		FROM
			school_student_mation a,
			exam_survey_directory c
			LEFT JOIN school_subject_mation d ON c.subject_id = d.id
			LEFT JOIN sys_eve_user_staff e ON c.create_id = e.user_id
			LEFT JOIN school_grade_mation f ON c.grade_id = f.id,
			exam_survey_answer g
		WHERE a.id = #{stuId}
		AND a.id = g.create_id
		AND c.id = g.survey_id
		ORDER BY c.real_start_time DESC
	</select>
	
</mapper>