<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="margin:0 auto;padding:20px;">
	    <form class="layui-form" action="" id="showForm" autocomplete="off">
	        
	    </form>
	</div>

	<script type="text/x-handlebars-template" id="beanTemplate">
		{{#bean}}
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">菜单名称<i class="red">*</i></label>
			<div class="layui-input-block">
				<input type="text" id="menuName" name="menuName" win-verify="required" placeholder="请输入菜单名称" class="layui-input" value="{{menuName}}" />
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">英文名称<i class="red">*</i></label>
			<div class="layui-input-block">
				<input type="text" id="menuNameEn" name="menuNameEn" win-verify="required" placeholder="请输入英文名称" class="layui-input" value="{{menuNameEn}}" />
			</div>
		</div>
		<div class="layui-form-item layui-col-xs12" id="iconMation">

		</div>
		<div class="layui-form-item layui-col-xs12">
			<label class="layui-form-label">菜单地址<i class="red">*</i></label>
			<div class="layui-input-block">
				<input type="text" id="menuUrl" name="menuUrl" win-verify="required" placeholder="请输入菜单地址" class="layui-input" value="{{menuUrl}}" />
				<div class="layui-form-mid layui-word-aux">如果是一级菜单,格式为：--<br>如果是子菜单,格式为：../../tpl/model/modellist.html</div>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">所属桌面</label>
			<div class="layui-input-block">
				<select id="desktop" name="desktop" lay-filter="desktop" lay-search="" win-verify="required">

				</select>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">所属服务<i class="red">*</i></label>
			<div class="layui-input-block">
				<select id="menuSysWinId" name="menuSysWinId" class="menuSysWinId" win-verify="required" lay-filter="selectMenuSysWinId" lay-search="">

				</select>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">菜单类型<i class="red">*</i></label>
			<div class="layui-input-block winui-radio">
				<input type="radio" name="menuLevel" value="0" title="父菜单" lay-filter="menuLevel"/>
				<input type="radio" name="menuLevel" value="1" title="子菜单" lay-filter="menuLevel"/>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6" id="parentIdBox">
			<label class="layui-form-label">父菜单<i class="red">*</i></label>
			<div class="layui-input-block" id="lockParentSel">
			</div>
		</div>
		<div class="layui-form-item layui-col-xs12">
			<label class="layui-form-label">打开方式<i class="red">*</i></label>
			<div class="layui-input-block winui-radio">
				<input type="radio" name="menuType" value="html" title="当前页面打开" lay-filter="menuType"/>
				<input type="radio" name="menuType" value="win" title="新窗口打开" lay-filter="menuType"/>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">系统菜单<i class="red">*</i></label>
			<div class="layui-input-block winui-radio">
				<input type="radio" name="menuSysType" value="1" title="是" lay-filter="menuSysType" checked/>
				<input type="radio" name="menuSysType" value="2" title="否" lay-filter="menuSysType" />
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">同步共享<i class="red">*</i></label>
			<div class="layui-input-block winui-radio">
				<input type="radio" name="isShare" value="1" title="是" lay-filter="isShare" />
				<input type="radio" name="isShare" value="0" title="否" lay-filter="isShare" checked/>
			</div>
		</div>
		<div class="layui-form-item layui-col-xs12">
			<div class="layui-input-block">
				<button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
				<button class="winui-btn" lay-submit lay-filter="formEditMenu"><language showName="com.skyeye.save"></language></button>
			</div>
		</div>
		{{/bean}}
	</script>

	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
        layui.config({base: '../../js/sysEveMenu/'}).use('sysEveMenuEdit');
    </script>
</body>
</html>