<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="margin: 0 auto; padding: 20px;">
	    <form class="layui-form" action="" id="showForm">
			<div class="layui-form-item layui-col-xs12">
				<span class="hr-title">基本信息</span><hr>
			</div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">客户<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="customName" name="customName" win-verify="required" placeholder="请选择客户" class="layui-input" readonly="readonly"/>
		            <i class="fa fa-plus-circle input-icon" id="customMationSel"></i>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">单据日期<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="operTime" name="operTime" win-verify="required" placeholder="请选择单据日期" class="layui-input"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">入库仓库<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <select id="depotId" name="depotId" lay-search="" win-verify="required" lay-filter="depotId">
		            	
		            </select>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">列表项<i class="red">*</i></label>
		        <div class="layui-input-block" id="productList">

		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs3">
		        <label class="layui-form-label">结算账户</label>
		        <div class="layui-input-block">
		            <select id="accountId" lay-search></select>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs3">
		        <label class="layui-form-label">退款类型</label>
		        <div class="layui-input-block">
		            <select id="payType" lay-search>
		            	<option value="1">现金</option>
		            	<option value="2">记账</option>
		            	<option value="3">其他</option>
		            </select>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs3">
		        <label class="layui-form-label">金额合计</label>
		        <div class="layui-input-block ver-center" id="allPrice">
		            0.00
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs3">
		        <label class="layui-form-label">价税合计</label>
		        <div class="layui-input-block ver-center" id="taxLastMoneyPrice">
		            0.00
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">备注</label>
		        <div class="layui-input-block">
		        	<textarea id="remark" name="remark" placeholder="请输入备注" class="layui-textarea" style="height: 100px;" maxlength="200"></textarea>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs3">
		        <label class="layui-form-label">优惠率(%)</label>
		        <div class="layui-input-block">
		            <input type="text" id="discount" placeholder="请填写优惠率" class="layui-input" value="0.00"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs3">
		        <label class="layui-form-label">退款优惠金额</label>
		        <div class="layui-input-block">
		            <input type="text" id="discountMoney" placeholder="请填写优惠金额" class="layui-input" value="0.00"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs3">
		        <label class="layui-form-label">优惠后金额</label>
		        <div class="layui-input-block ver-center" id="discountLastMoney">
		        	0.00
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs3">
		        <label class="layui-form-label">本次退款</label>
		        <div class="layui-input-block">
		            <input type="text" id="changeAmount" placeholder="请填写退款金额" class="layui-input" value="0.00"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">本次欠款</label>
		        <div class="layui-input-block ver-center" id="arrears">
		            0.00
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">销售人员</label>
		        <div class="layui-input-block">
		            <input type="text" id="salesMan" name="salesMan" placeholder="请选择销售人员" class="layui-input" style="padding-right: 30px;"/>
		            <i class="fa fa-user-plus input-icon" id="toSalesManSelPeople"></i>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">其他费用</label>
		        <div class="layui-input-block" id="otherPriceTableList">

		        </div>
		    </div>
			<div id="dsFormShow">

			</div>
		    <div class="layui-form-item layui-col-xs12">
		        <div class="layui-input-block">
					<button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
					<button class="winui-btn formEditBean layui-hide" lay-submit lay-filter="formEditBean">保存为草稿</button>
					<button class="winui-btn formSubOneBean layui-hide" lay-submit lay-filter="formSubOneBean">提交审批</button>
					<button class="winui-btn formSubTwoBean layui-hide" lay-submit lay-filter="formSubTwoBean">提交</button>
					<button class="winui-btn save layui-hide" lay-submit lay-filter="save"><language showName="com.skyeye.save"></language></button>
		        </div>
		    </div>
	    </form>
	</div>
	
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script src="../../js/erpcommon/calculatePrice.js"></script>
	<script src="../../js/erpcommon/loadStock.js"></script>
   	<script type="text/javascript">
		layui.config({base: '../../js/salesreturns/'}).use('salesreturnsedit');
	</script>
</body>
</html>