<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div class="txtcenter" style="margin:0 auto;padding:10px;">
	    <form class="layui-form layui-form-pane" action="" autocomplete="off">
	        <div class="layui-form-item">
	            <div class="layui-inline">
	                
	                <!-- <button type="reset" class="layui-btn layui-btn-primary list-form-search"><language showName="com.skyeye.reset"></language></button>
	                <button class="layui-btn list-form-search" type="button" id="formSearchLightApp"><language showName="com.skyeye.search2"></language></button> -->
	            </div>
	        </div>
	    </form>
	</div>
	<div class="winui-toolbar">
        <div class="winui-tool">
            <button id="reloadAllConductTable" class="winui-toolbtn"><i class="fa fa-refresh" aria-hidden="true"></i><language showName="com.skyeye.refreshDataBtn"></language></button>
        </div>
    </div>
    <div style="margin:auto 10px;">
        <table id="messageAllConductTable" lay-filter="messageAllConductTable"></table>
        <script type="text/html" id="allConductTableBar">
			{{# if(d.suspended){ }}
				<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="activation">激活</a>
			{{# }else{ }}
				<a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="hangUp">挂起</a>
			{{# } }}
			<a class="layui-btn layui-btn-xs" lay-event="selTasks">详情</a>
        </script>
    </div>

    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/allactiviti/'}).use('alltodopossess');
    </script>
</body>
</html>