<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="height: 100%">
		<div class="layui-tab">
			<ul class="layui-tab-title">
				<li class="layui-this" id="orderMationLi">订单信息</li>
				<li>进度报表</li>
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					<form class="layui-form" action="" id="showForm">

					</form>
					<div class="layui-form-item layui-col-xs12">
						<div class="layui-input-block ver-center">
							<button class="winui-btn" type="button" id="jprint">打印</button>
						</div>
					</div>
				</div>
				<div class="layui-tab-item" style="height: 100%;">
					<iframe style="width: 100%; height: 100%; border: 0px;" id="contentIframe"></iframe>
				</div>
			</div>
		</div>
	</div>
	
	<!-- useTemplate -->
	<script type="text/x-handlebars-template" id="useTemplate">
		{{#bean}}
			<div class="layui-form-item layui-col-xs12">
    			<span class="hr-title">加工单信息</span><hr>
	    	</div>
	    	<div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">加工单单号：</label>
		        <div class="layui-input-block ver-center">
		            {{orderNum}}
		        </div>
		    </div>
			<div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">条形码：</label>
		        <div class="layui-input-block ver-center">
		            <img class="barCode" src="{{barCode}}" style="width: 150px;"/>
		        </div>
		    </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">加工商品：</label>
	            <div class="layui-input-block ver-center">
	                {{materialName}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">生产计划单：</label>
		        <div class="layui-input-block ver-center">
		            {{productionNumber}}
		        </div>
		    </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">商品型号：</label>
	            <div class="layui-input-block ver-center">
	                {{productModel}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">计量单位：</label>
	            <div class="layui-input-block ver-center">
	                {{unitName}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">加工数量：</label>
	            <div class="layui-input-block ver-center">
	                {{needNum}}
	            </div>
	        </div>
     	    <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">部门：</label>
	            <div class="layui-input-block ver-center">
	                {{departmentName}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">计划开始时间：</label>
	            <div class="layui-input-block ver-center">
	                {{startTime}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">计划结束时间：</label>
	            <div class="layui-input-block ver-center">
	                {{endTime}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs12">
	            <label class="layui-form-label">备注说明：</label>
	            <div class="layui-input-block ver-center">
	                {{remark}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs12">
    			<span class="hr-title">加工工序</span><hr>
	    	</div>
	    	<div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">工序资料：</label>
		        <div class="layui-input-block">
		        	<table class="layui-table" style="table-layout:fixed">
			    		<thead>
			    			<tr>
			    				<th style="width: 60px;">工序编号</th>
			    				<th style="width: 80px;">工序名称</th>
			    				<th style="width: 60px;">加工单价</th>
			    				<th style="width: 80px;">加工部门</th>
								<th style="width: 60px;">验收数</th>
								<th style="width: 60px;">合格数</th>
								<th style="width: 60px;">不合格数</th>
								<th style="width: 100px; text-align: center;">条形码</th>
								<th style="width: 60px; text-align: center;">状态</th>
								<th style="width: 80px; text-align: center;">操作</th>
			    			</tr>
			    		</thead>
			        	<tbody id="procedureBody">
			        		{{#each procedure}}
				        		<tr>
				        			<td>{{number}}</td>
				        			<td>{{procedureName}}</td>
				        			<td>{{unitPrice}}</td>
				        			<td>{{departmentName}}</td>
				        			<td>{{needNum}}</td>
				        			<td>{{acceptNum}}</td>
				        			<td>{{belowNum}}</td>
									<td><img class="barCode" src="{{barCode}}" style="width: 150px;"/></td>
				        			<td>{{{stateName}}}</td>
				        			<td>{{{operator}}}</td>
				        		</tr>
			        		{{/each}}
			            </tbody>
					</table>
		        </div>
		    </div>
	    	<div class="layui-form-item layui-col-xs12">
    			<span class="hr-title">工序物料</span><hr>
	    	</div>
	    	<div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">列表项：</label>
		        <div class="layui-input-block">
		            <table class="layui-table" style="table-layout:fixed">
		                <thead>
		                    <tr>
		                        <th style="width: 150px;">商品(型号)</th>
		                        <th style="width: 50px;">单位</th>
		                        <th style="width: 80px;">数量</th>
		                        <th style="width: 80px;">单价</th>
		                        <th style="width: 80px;">金额</th>
		                    </tr>
		                </thead>
		                <tbody id="useTable">
		                	{{#each materiel}}
			                	<tr>
									<td>{{productName}}({{productModel}})</td>
									<td>{{unitName}}</td>
									<td>{{needNumber}}</td>
									<td>{{unitPrice}}</td>
									<td>{{#compare1 needNumber unitPrice}}{{/compare1}}</td>
								</tr>
							{{/each}}
		                </tbody>
					</table>
		        </div>
		    </div>
			<div class="layui-form-item layui-col-xs12">
    			<span class="hr-title">录入人信息</span><hr>
	    	</div>
			<div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">录入人：</label>
	            <div class="layui-input-block ver-center">
	                {{createName}}
	            </div>
	        </div>
			<div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">录入时间：</label>
	            <div class="layui-input-block ver-center">
	                {{createTime}}
	            </div>
	        </div>
			<div class="layui-form-item layui-col-xs12">
    			<span class="hr-title">审核信息</span><hr>
	    	</div>
			<div class="layui-form-item layui-col-xs12">
	            <label class="layui-form-label">审核意见：</label>
	            <div class="layui-input-block ver-center">
	                {{examineContent}}
	            </div>
	        </div>
		{{/bean}}
	</script>
    
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
        layui.config({base: '../../js/erpMachin/'}).use('erpMachinDetails');
    </script>
</body>
</html>