<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div class="winui-tip alert-info" id="showInfo">加工单选择规则：1.单选，双击指定行数据即可选中；2.已审批通过的未完成的加工单。如没有查到要选择的单据，请检查单据信息是否满足当前规则。</div>
    <div class="winui-toolbar">
        <div class="winui-tool">
            <button id="reloadTable" class="winui-toolbtn search-table-btn-right"><i class="fa fa-refresh" aria-hidden="true"></i><language showName="com.skyeye.refreshDataBtn"></language></button>
        </div>
    </div>
    <div style="margin:auto 10px;">
    	<table id="messageTable" lay-filter="messageTable"></table>
    </div>
    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/erpMachin/'}).use('erpMachinStateIsPassNoComplateChoose');
    </script>
</body>
</html>