<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
    <div style="height: 100%">
        <div class="layui-tab">
            <ul class="layui-tab-title">
                <li class="layui-this" id="orderMationLi">工序验收信息</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <form class="layui-form" action="" id="showForm">

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- useTemplate -->
    <script type="text/x-handlebars-template" id="useTemplate">
        {{#bean}}
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">工序资料：</label>
            <div class="layui-input-block">
                <table class="layui-table" style="table-layout: fixed">
                    <thead>
                    <tr>
                        <th style="width: 60px;">工序编号</th>
                        <th style="width: 80px;">工序名称</th>
                        <th style="width: 140px;">验收单号</th>
                        <th style="width: 60px;">加工单价</th>
                        <th style="width: 80px;">加工部门</th>
                        <th style="width: 60px;">验收数</th>
                        <th style="width: 60px;">合格数</th>
                        <th style="width: 60px;">不合格数</th>
                        <th style="width: 100px; text-align: center;">条形码</th>
                        <th style="width: 60px; text-align: center;">状态</th>
                        <th style="width: 80px; text-align: center;">操作</th>
                    </tr>
                    </thead>
                    <tbody id="procedureBody">
                    {{#each machinChildList}}
                    <tr>
                        <td>{{procedureMation.number}}</td>
                        <td>{{procedureMation.name}}</td>
                        <td>{{oddNumber}}</td>
                        <td>{{procedureMation.unitPrice}}</td>
                        <td>{{procedureMation.departmentMation.name}}</td>
                        <td>{{acceptNum}}</td>
                        <td>{{quantityNum}}</td>
                        <td>{{belowNum}}</td>
                        <td><img class="barCode" src="{{barCodeMation.imagePath}}" style="width: 150px;"/></td>
                        <td>{{{stateName}}}</td>
                        <td>{{{operator}}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        {{/bean}}
    </script>

    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/erpMachin/'}).use('machinAccept');
    </script>
</body>
</html>