<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.BossIntervieweeFromDao">

    <select id="queryBossIntervieweeFromList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.from_url fromUrl,
            a.desc,
            b.user_name createName,
            CONVERT(a.create_time, char) createTime,
            c.user_name lastUpdateName,
            CONVERT(a.last_update_time, char) lastUpdateTime
        FROM
            boss_interviewee_from a
        LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
        LEFT JOIN sys_eve_user_staff c ON a.last_update_id = c.user_id
        WHERE 1 = 1
        <if test="title != '' and title != null">
            AND a.title LIKE '%${title}%'
        </if>
        ORDER BY a.create_time DESC
    </select>

    <insert id="insertBossIntervieweeFrom" parameterType="java.util.Map">
        INSERT INTO boss_interviewee_from
            (id, title, from_url, `desc`, create_id, create_time, last_update_id, last_update_time)
        VALUES
            (#{id}, #{title}, #{fromUrl}, #{desc}, #{userId}, #{createTime}, #{userId}, #{createTime})
    </insert>

    <select id="queryBossIntervieweeFromById" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.from_url fromUrl,
            a.desc,
            b.user_name createName,
            CONVERT(a.create_time, char) createTime,
            c.user_name lastUpdateName,
            CONVERT(a.last_update_time, char) lastUpdateTime
        FROM
            boss_interviewee_from a
        LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
        LEFT JOIN sys_eve_user_staff c ON a.last_update_id = c.user_id
        WHERE a.id = #{id}
    </select>

    <select id="queryBossIntervieweeFromTotalByTitle" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(1) FROM boss_interviewee_from
        WHERE title = #{title}
    </select>

    <update id="updateBossIntervieweeFromById" parameterType="java.util.Map">
        UPDATE boss_interviewee_from
        SET
            title = #{title},
            from_url = #{fromUrl},
            `desc` = #{desc},
            last_update_id = #{userId},
            last_update_time = #{lastUpdateTime}
        WHERE id = #{id}
    </update>

    <delete id="delBossIntervieweeFromById" parameterType="java.lang.String">
        DELETE FROM boss_interviewee_from
        WHERE id = #{id}
    </delete>
</mapper>