<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.AssetApplyPurchaseDao">

    <select id="queryMyAssetPurchaseList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.odd_number oddNum,
            IFNULL(a.process_instance_id, '') processInstanceId,
            a.state,
            CONVERT(a.create_time, char) createTime
        FROM
            asset_management_purchase a
        WHERE a.create_id = #{userId}
        <if test="state != '' and state != null">
            AND a.state = #{state}
        </if>
        <if test="startTime != '' and startTime != null and endTime != '' and endTime != null">
            AND a.create_time >= #{startTime} AND #{endTime} >= a.create_time
        </if>
        ORDER BY a.create_time DESC
    </select>

    <insert id="insertAssetPurchaseGoodsMation" parameterType="java.util.Map">
        insert into asset_management_purchase_goods
        (id, purchase_id, type_id, management_name, management_img, asset_num, from_id, unit_price, remark, state)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.id}, #{item.purchaseId}, #{item.typeId}, #{item.managementName}, #{item.managementImg}, #{item.assetNum}, #{item.fromId}, #{item.unitPrice}, #{item.remark}, #{item.state})
        </foreach>
    </insert>

    <insert id="insertAssetPurchaseMation" parameterType="java.util.Map">
        INSERT into asset_management_purchase
        (id, title, odd_number, state, process_instance_id, remark, enclosure_info, create_id, create_time)
        VALUES(#{id}, #{title}, #{oddNumber}, #{state}, #{processInstanceId}, #{remark}, #{enclosureInfo}, #{createId}, #{createTime})
    </insert>

    <select id="queryAssetPurchaseMationById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.odd_number oddNumber,
            a.state,
            a.remark,
            IFNULL(a.enclosure_info, '') enclosureInfo,
            IFNULL(a.process_instance_id, '') processInstanceId,
            b.user_name userName
        FROM
            asset_management_purchase a
            LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
        WHERE a.id = #{id}
    </select>

    <select id="queryAssetPurchaseGoodsMationById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.management_name managementName,
            b.type_name typeName,
            a.asset_num assetNum,
            a.management_img managementImg,
            c.from_name fromId,
            a.unit_price unitPrice,
            a.remark,
            a.state,
            CASE a.state WHEN '0' THEN '未提交审批' WHEN '1' THEN '等待审批' WHEN '2' THEN '审批通过' WHEN '3' THEN '审批不通过' END stateName
        FROM
            asset_management_from c,
            asset_management_purchase_goods a
            LEFT JOIN asset_management_type b ON a.type_id = b.id
        WHERE a.purchase_id = #{purchaseId}
        AND c.id = a.from_id
    </select>

    <select id="queryAssetGoodsListByPurchaseId" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.management_name assetName,
            a.management_img assetImg,
            a.type_id typeId,
            a.asset_num assetNum,
            a.from_id fromId,
            a.unit_price unitPrice
        FROM
            asset_management_purchase_goods a
        WHERE a.purchase_id = #{id}
        AND a.state = '2'
    </select>

    <update id="updateAssetPurchaseStateISInAudit" parameterType="java.util.Map">
        UPDATE asset_management_purchase
        <set>
            state = '1',
            process_instance_id = #{processInId}
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateAssetPurchaseGoodStateISInAudit" parameterType="java.util.Map">
        UPDATE asset_management_purchase_goods
        <set>
            state = '1'
        </set>
        WHERE purchase_id = #{purchaseId}
    </update>

    <select id="queryAssetPurchaseByProcessInstanceId" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id
        FROM
            asset_management_purchase a
        WHERE a.process_instance_id = #{processInstanceId}
        AND a.state = '1'
    </select>

    <select id="queryAssetPurchaseGoodsById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.management_name managementName,
            a.asset_num assetNum
        FROM
            asset_management_purchase_goods a
        WHERE
            a.purchase_id = #{id}
    </select>

    <update id="editAssetPurchaseGoodsById" parameterType="java.util.Map">
        UPDATE asset_management_purchase_goods
        <set>
            state = #{applyState}
        </set>
        WHERE purchase_id = #{id}
        AND state = '1'
    </update>

    <update id="editAssetPurchaseById" parameterType="java.util.Map">
        update asset_management_purchase
        <set>
            state = #{state}
        </set>
        WHERE
        id = #{id}
    </update>

    <update id="updateAssetPurchaseToCancellation" parameterType="java.util.Map">
        UPDATE asset_management_purchase
        <set>
            state = 4
        </set>
        WHERE id = #{id}
    </update>

    <select id="queryAssetPurchaseMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.odd_number oddNumver,
            a.remark,
            a.state,
            b.user_name userName,
            IFNULL(a.enclosure_info, '') enclosureInfo
        FROM
            asset_management_purchase a
            LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
        WHERE
            a.id = #{id}
    </select>

    <select id="queryAssetPurchaseGoodsMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.management_name managementName,
            a.management_img managementImg,
            a.type_id typeId,
            a.asset_num assetNum,
            a.from_id fromId,
            a.unit_price unitPrice,
            a.remark
        FROM
            asset_management_purchase_goods a
            LEFT JOIN asset_management c ON a.management_name = c.id
        WHERE a.purchase_id = #{id}
    </select>

    <update id="updateAssetPurchaseMation" parameterType="java.util.Map">
        UPDATE asset_management_purchase
        <set>
            remark = #{remark},
            enclosure_info = #{enclosureInfo}
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteAssetPurchaseGoodsMationById" parameterType="java.util.Map">
        DELETE
        FROM
            asset_management_purchase_goods
        WHERE
            purchase_id = #{id}
    </delete>

    <update id="editAssetPurchaseGoodsState" parameterType="java.util.Map">
        UPDATE asset_management_purchase_goods
        <set>
            state = '3'
        </set>
        WHERE id = #{id}
    </update>

    <update id="editAssetPurchaseToRevoke" parameterType="java.util.Map">
        UPDATE asset_management_purchase
        <set>
            state = '5',
            process_instance_id = ''
        </set>
        WHERE id = #{id}
    </update>

    <update id="editAssetPurchaseGoodsToRevoke" parameterType="java.util.Map">
        UPDATE asset_management_purchase_goods
        <set>
            state = '0'
        </set>
        WHERE purchase_id = #{id}
    </update>

    <select id="queryAssetPurchaseId" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id
        FROM
            asset_management_purchase a
        WHERE
            a.process_instance_id = #{processInstanceId}
    </select>

</mapper>