<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.AssetTypeDao">

    <select id="selectAllAssettypeMation" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        a.id,
        a.type_name typeName,
        a.state,
        a.order_by orderBy
        FROM
        asset_management_type a
        WHERE
        a.state != 3
        <if test="typeName != '' and typeName != null">
            AND a.type_name LIKE '%${typeName}%'
        </if>
        <if test="typeState != '' and typeState != null">
            AND a.state = #{typeState}
        </if>
        ORDER BY
        a.order_by ASC
    </select>

    <insert id="insertAssettypeMation" parameterType="java.util.Map">
        INSERT into asset_management_type
            (id, type_name, state, order_by, create_id, create_time)
        VALUES(#{id}, #{typeName}, #{state}, #{orderBy}, #{createId}, #{createTime})
    </insert>

    <update id="deleteAssettypeById" parameterType="java.util.Map">
        UPDATE asset_management_type
        <set>
            state = 3
        </set>
        WHERE id = #{id}
    </update>

    <select id="queryAssettypeMationById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.type_name typeName
        FROM
            asset_management_type a
        WHERE a.id = #{id}
    </select>

    <update id="editAssettypeMationById" parameterType="java.util.Map">
        UPDATE asset_management_type
        <set>
            <if test="typeName != '' and typeName != null">
                type_name = #{typeName},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="queryAssettypeMationByName" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id
        FROM
            asset_management_type a
        WHERE
            a.type_name = #{typeName}
          AND a.state != 3
    </select>

    <select id="queryAssettypeMationByNameAndId" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id
        FROM
            asset_management_type a
        WHERE
            a.type_name = #{typeName}
          AND a.id != #{id}
          AND a.state != 3
    </select>

    <select id="queryAssettypeAfterOrderBum" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.order_by orderBy
        FROM
            asset_management_type a
        WHERE a.state != 3
        ORDER BY a.order_by DESC
            LIMIT 1
    </select>

    <select id="selectAllAssettypeToChoose" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.type_name name
        FROM
            asset_management_type a
        WHERE
            a.state = 1
        ORDER BY
            a.order_by
    </select>

    <select id="queryAssettypeISTopByThisId" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            b.id,
            b.order_by orderBy,
            a.order_by thisOrderBy
        FROM
            asset_management_type a,
            asset_management_type b
        WHERE
            a.id = #{id}
          AND a.order_by > b.order_by
          AND b.state != 3
        ORDER BY b.order_by DESC LIMIT 1
    </select>

    <select id="queryAssettypeISLowerByThisId" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            b.id,
            b.order_by orderBy,
            a.order_by thisOrderBy
        FROM
            asset_management_type a,
            asset_management_type b
        WHERE
            a.id = #{id}
          AND b.order_by > a.order_by
          AND b.state != 3
        ORDER BY b.order_by ASC LIMIT 1
    </select>

    <update id="editAssettypeSortTopById" parameterType="java.util.Map">
        UPDATE asset_management_type
        <set>
            order_by = #{orderBy},
        </set>
        WHERE id = #{id}
    </update>

    <update id="editAssettypeSortLowerById" parameterType="java.util.Map">
        UPDATE asset_management_type
        <set>
            order_by = #{orderBy}
        </set>
        WHERE id = #{id}
    </update>

    <update id="editAssettypeUpTypeById" parameterType="java.util.Map">
        UPDATE asset_management_type
        <set>
            state = 1
        </set>
        WHERE id = #{id}
    </update>

    <update id="editAssettypeDownTypeById" parameterType="java.util.Map">
        UPDATE asset_management_type
        <set>
            state = 2
        </set>
        WHERE id = #{id}
    </update>

    <select id="queryAssettypeMationStateById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.state
        FROM
            asset_management_type a
        WHERE a.id = #{id}
    </select>

</mapper>