<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.ConferenceRoomReserveDao">

    <insert id="insertConferenceRoomReserveMation" parameterType="java.util.Map">
        INSERT INTO conference_room_reserve
        (id, title, odd_number, approval_state, reserve_state, process_instance_id, remark, enclosure_info, create_id, create_time,
         conference_room_id, reserve_reason, start_time, end_time)
        VALUES(#{id}, #{title}, #{oddNumber}, #{approvalState}, #{reserveState}, #{processInstanceId}, #{remark}, #{enclosureInfo}, #{createId}, #{createTime},
         #{conferenceRoom}, #{reserveReason}, #{startTime}, #{endTime})
    </insert>

    <!-- 用于展示当前用户的会议室预定申请列表 -->
    <select id="selectMyReserveConferenceRoomList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.odd_number oddNum,
            IFNULL(a.process_instance_id, '') processInstanceId,
            a.approval_state state,
            CONVERT(a.create_time, char) createTime
        FROM
            conference_room_reserve a
        WHERE a.create_id = #{userId}
        <if test="approvalState != '' and approvalState != null">
            AND a.approval_state = #{approvalState}
        </if>
        <if test="startTime != '' and startTime != null and endTime != '' and endTime != null">
            AND a.create_time >= #{startTime} AND #{endTime} >= a.create_time
        </if>
        ORDER BY a.create_time DESC
    </select>

    <!-- 根据流程id获取预定id及审批状态 -->
    <select id="queryConferenceRoomReserveByProcessInstanceId" resultType="java.util.Map">
        SELECT
            a.id,
            a.approval_state approvalState,
            CONVERT (a.start_time, CHAR) startTime,
            CONVERT (a.end_time, CHAR) endTime,
            a.conference_room_id conferenceRoom
        FROM
            conference_room_reserve a
        WHERE
            a.process_instance_id = #{processInstanceId}
    </select>

    <!-- 根据预定id获取预定数据用于详情 -->
    <select id="queryConferenceRoomReserveMationById" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.odd_number oddNumber,
            a.remark,
            b.user_name userName,
            IFNULL(a.enclosure_info, '') enclosureInfo,
            IFNULL(a.process_instance_id, '') processInstanceId,
            a.approval_state state,
            CASE a.reserve_state WHEN '0' THEN '待审批' WHEN '1' THEN '预定成功' WHEN '2' THEN '预定失败'  END reserveStateName,
            c.room_name conferenceRoom,
            CONVERT(a.start_time, char) startTime,
            CONVERT(a.end_time, char) endTime,
            a.reserve_reason reserveReason
        FROM
            conference_room_reserve a
            LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
            LEFT JOIN conference_room c ON a.conference_room_id = c.id
        WHERE a.id = #{id}
    </select>

    <!-- 根据预定id获取预定数据 -->
    <select id="queryConferenceRoomReserveToEditById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.title,
            a.odd_number oddNumber,
            a.remark,
            b.user_name userName,
            a.enclosure_info enclosureInfo,
            a.conference_room_id conferenceRoom,
            a.approval_state state,
            CONCAT(CONVERT (a.start_time, CHAR),' - ', CONVERT (a.end_time, CHAR)) reserveTime,
            a.reserve_reason reserveReason,
            IFNULL(a.process_instance_id, '') processInstanceId,
            a.approval_state approvalState
        FROM
            conference_room_reserve a
            LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
        WHERE a.id = #{id}
    </select>

    <!-- 根据预定id将审批状态更改为作废 -->
    <update id="updateConferenceRoomReserveToCancellation" parameterType="java.util.Map">
        UPDATE conference_room_reserve
        <set>
            approval_state = 4
        </set>
        WHERE id = #{id}
    </update>

    <!-- 根据预定id将预定审批状态更改为审批中 -->
    <update id="updateConferenceRoomReserveStateISInAudit">
        UPDATE conference_room_reserve
        <set>
            approval_state = '1',
            process_instance_id = #{processInId}
        </set>
        WHERE id = #{id}
    </update>

    <!-- 根据预定id更改审核状态和预定状态 -->
    <update id="updateConferenceRoomReserveStateById" parameterType="java.util.Map">
        UPDATE conference_room_reserve
        <set>
            <if test="approvalState != '' and approvalState != null">
                approval_state = #{approvalState},
            </if>
            <if test="reserveState != '' and reserveState != null">
                reserve_state = #{reserveState},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateConferenceRoomReserveToRevokeById" parameterType="java.util.Map">
        UPDATE conference_room_reserve
        <set>
            <if test="approvalState != '' and approvalState != null">
                approval_state = #{approvalState},
            </if>
            <if test="reserveState != '' and reserveState != null">
                reserve_state = #{reserveState},
            </if>
            process_instance_id = ''
        </set>
        WHERE id = #{id}
    </update>

    <!-- 获取该会议室预定时间段内已被其他人预定的数据 -->
    <select id="queryConferenceRoomReserveListByTime" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id
        FROM
            conference_room_reserve a
        WHERE
            a.conference_room_id = #{conferenceRoom}
          AND a.reserve_state = '1'
          AND ((CONVERT (a.start_time, CHAR) >= #{startTime} AND #{endTime} > CONVERT (a.start_time, CHAR))
            OR (#{startTime} >= CONVERT (a.start_time, CHAR) AND CONVERT (a.end_time, CHAR) >= #{endTime})
            OR (#{endTime} >= CONVERT (a.end_time, CHAR) AND CONVERT (a.end_time, CHAR) > #{startTime}))
    </select>

</mapper>