<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.ConferenceRoomDao">

	<select id="selectAllConferenceRoomMation" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.room_name roomName,
			a.room_img roomImg,
			a.room_num roomNum,
			a.room_capacity roomCapacity,
			a.room_position roomPosition,
			b.user_name roomAdmin,
			a.state,
			c.company_name company
		FROM
			company_mation c,
			conference_room a
			LEFT JOIN sys_eve_user_staff b ON a.room_admin = b.user_id
		WHERE
			a.state != 4
		AND a.company_id = c.id
			<if test="roomName != '' and roomName != null">
				AND a.room_name LIKE '%${roomName}%'
			</if>
			<if test="state != '' and state != null">
				AND a.state = #{state}
			</if>
		ORDER BY
			a.create_time DESC
	</select>
	
	<insert id="insertConferenceRoomMation" parameterType="java.util.Map">
	    INSERT into conference_room 
	    (id, room_name, room_img, room_num, room_capacity, room_position, room_equipment, room_admin,  room_add_desc, enclosure_info, state,
	     company_id, create_id, create_time)
        VALUES(#{id}, #{roomName}, #{roomImg}, #{roomNum}, #{roomCapacity}, #{roomPosition}, #{roomEquipment}, #{roomAdmin}, #{roomAddDesc}, #{enclosureInfo}, #{state},
         #{companyId}, #{createId}, #{createTime})
	</insert>
	
	<update id="deleteConferenceRoomById" parameterType="java.util.Map">
		UPDATE conference_room
		<set>
			state = 4
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="queryConferenceRoomState" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.state
		FROM
			conference_room a	
		WHERE 
			a.id = #{id}
	</select>
	
	<update id="updateConferenceRoomNormalById" parameterType="java.util.Map">
		UPDATE conference_room
		<set>
			state = 1
		</set>
		WHERE id = #{id}
	</update>
	
	<update id="updateConferenceRoomRepairById" parameterType="java.util.Map">
		UPDATE conference_room
		<set>
			state = 2
		</set>
		WHERE id = #{id}
	</update>
	
	
	<update id="updateConferenceRoomScrapById" parameterType="java.util.Map">
		UPDATE conference_room
		<set>
			state = 3
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="selectConferenceRoomDetailsById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.room_name roomName,
			a.room_img roomImg,
			a.room_num roomNum,
			a.room_capacity roomCapacity,
			a.room_position roomPosition,
			a.room_equipment roomEquipment,
			b.user_name roomAdmin,
			a.room_add_desc roomAddDesc,
			IFNULL(a.enclosure_info, '') enclosureInfo,
			CASE a.state WHEN '1' THEN 'state-up' ELSE 'state-down' END colorClass,
			CASE a.state WHEN '1' THEN '正常' WHEN '2' THEN '维修' WHEN '3' THEN '报废' END state,
			c.user_name createName,
			CONVERT (a.create_time, CHAR) createTime
		FROM
			conference_room a
		LEFT JOIN sys_eve_user_staff b ON a.room_admin = b.user_id
		LEFT JOIN sys_eve_user_staff c ON a.create_id = c.user_id
		WHERE a.id = #{id}
	</select>
	
	<select id="queryConferenceRoomMationById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.room_name roomName,
			a.room_img roomImg,
			a.room_capacity roomCapacity,
			a.room_position roomPosition,
			a.room_equipment roomEquipment,
			a.room_admin roomAdmin,
			a.room_add_desc roomAddDesc,
			IFNULL(a.enclosure_info, '') enclosureInfo
		FROM
			conference_room a
		WHERE a.id = #{id}
	</select>
	
	<update id="editConferenceRoomMationById" parameterType="java.util.Map">
		UPDATE conference_room
		<set>
			room_name = #{roomName},
			room_img = #{roomImg},
			room_capacity = #{roomCapacity},
			room_position = #{roomPosition},
			room_equipment = #{roomEquipment},
			room_admin = #{roomAdmin},
			room_add_desc = #{roomAddDesc},
			enclosure_info = #{enclosureInfo}
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="queryUserCompanyById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.company_id companyId
        FROM
            sys_eve_user_staff a
        WHERE
            a.user_id = #{id}
    </select>
    
	<!-- 用于会议室预定申请时的证照下拉框的选择 -->
	<select id="selectConferenceRoomListToChoose" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.room_name name
		FROM
			conference_room a
			LEFT JOIN sys_eve_user_staff b ON b.user_id = #{userId}
		WHERE
			a.company_id = b.company_id
		ORDER BY
			a.create_time DESC
	</select>
	
   <!--  根据预定id编辑预定表的数据 -->
    <update id="updateLicenceBorrowMation" parameterType="java.util.Map">
		UPDATE conference_room_reserve
		<set>
			<if test="conferenceRoom != '' and conferenceRoom != null">
				conference_room_id = #{conferenceRoom},
			</if>
			<if test="startTime != '' and startTime != null">
				start_time = #{startTime},
			</if>
			<if test="endTime != '' and endTime != null">
				end_time = #{endTime},
			</if>
			<if test="reserveReason != '' and reserveReason != null">
				reserve_reason = #{reserveReason},
			</if>
			remark = #{remark},
			enclosure_info = #{enclosureInfo}
		</set>
		WHERE id = #{id}
	</update>
	
</mapper>