<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.InspectionDao">

	<select id="selectAllInspectionMation" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.inspection_title inspectionTitle,
			b.license_plate licensePlate,
			a.inspection_price inspectionPrice,
			DATE_FORMAT(CONVERT (a.this_inspection_time, CHAR),'%Y-%m-%d') thisInspectionTime,
            DATE_FORMAT(CONVERT (a.next_inspection_time, CHAR),'%Y-%m-%d') nextInspectionTime
		FROM
			vehicle_inspection a
			LEFT JOIN vehicle_mation b ON a.vehicle_id = b.id
			LEFT JOIN sys_eve_user_staff c ON c.user_id = #{userId}
		WHERE
		    b.state != 4
		    AND b.vehicle_company = c.company_id
			<if test="inspectionTitle != '' and inspectionTitle != null">
				AND a.inspection_title LIKE '%${inspectionTitle}%'
			</if>
			<if test="inspectionPlate != '' and inspectionPlate != null">
				AND a.vehicle_id = #{inspectionPlate}
			</if>
		ORDER BY
			a.create_time DESC
	</select>
	
	<insert id="insertInspectionMation" parameterType="java.util.Map">
	    INSERT into vehicle_inspection 
	    (id, inspection_title, inspection_area, contact_information, this_inspection_time, next_inspection_time, inspection_price, room_add_desc, enclosure_info, vehicle_id, create_id, create_time)
	    VALUES(#{id}, #{inspectionTitle}, #{inspectionArea}, #{contactInformation}, #{thisInspectionTime}, #{nextInspectionTime}, #{inspectionPrice}, #{roomAddDesc}, #{enclosureInfo}, #{vehicleId}, #{createId}, #{createTime})
	</insert>
	
	<delete id="deleteInspectionById" parameterType="java.lang.String">
		DELETE 
		FROM 
			vehicle_inspection
		where 
			id = #{id}
	</delete>
	
	<select id="queryInspectionMationById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.inspection_title inspectionTitle,
			a.inspection_area inspectionArea,
			a.contact_information contactInformation,
			DATE_FORMAT(CONVERT (a.this_inspection_time, CHAR),'%Y-%m-%d') thisInspectionTime,
            DATE_FORMAT(CONVERT (a.next_inspection_time, CHAR),'%Y-%m-%d') nextInspectionTime,
			a.inspection_price inspectionPrice,
			a.room_add_desc roomAddDesc,
			IFNULL(a.enclosure_info, '') enclosureInfo,
			b.license_plate licensePlate,
			a.vehicle_id vehicleId
		FROM
			vehicle_inspection a
			LEFT JOIN vehicle_mation b ON a.vehicle_id = b.id
		WHERE a.id = #{id}
	</select>
	
	<update id="editInspectionMationById" parameterType="java.util.Map">
		UPDATE vehicle_inspection
		<set>
			<if test="thisInspectionTime != '' and thisInspectionTime != null">
				this_inspection_time = #{thisInspectionTime},
			</if>
			<if test="nextInspectionTime != '' and nextInspectionTime != null">
				next_inspection_time = #{nextInspectionTime},
			</if>
			inspection_area = #{inspectionArea},
			contact_information = #{contactInformation},
			inspection_price = #{inspectionPrice},
			room_add_desc = #{roomAddDesc},
			enclosure_info = #{enclosureInfo}
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="selectInspectionDetailsById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.inspection_title inspectionTitle,
			a.inspection_area inspectionArea,
			a.contact_information contactInformation,
			DATE_FORMAT(CONVERT (a.this_inspection_time, CHAR),'%Y-%m-%d') thisInspectionTime,
            DATE_FORMAT(CONVERT (a.next_inspection_time, CHAR),'%Y-%m-%d') nextInspectionTime,
			a.inspection_price inspectionPrice,
			a.room_add_desc roomAddDesc,
			IFNULL(a.enclosure_info, '') enclosureInfo,
			c.license_plate licensePlate,
			b.user_name userName,
			CONVERT (a.create_time, CHAR) createTime
		FROM
			vehicle_inspection a
		LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
		LEFT JOIN vehicle_mation c ON a.vehicle_id = c.id
		WHERE a.id = #{id}
	</select>

</mapper>