<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.InsuranceDao">

	<select id="selectAllInsuranceMation" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.insurance_title insuranceTitle,
			b.license_plate licensePlate,
			a.insurance_company insuranceCompany,
			a.insurance_all_price insuranceAllPrice,
			CONCAT(DATE_FORMAT(CONVERT (a.validity_start_time, CHAR),'%Y-%m-%d'),' ~ ',DATE_FORMAT(CONVERT (a.validity_end_time, CHAR),'%Y-%m-%d')) validityTime
		FROM
			vehicle_insurance a
			LEFT JOIN vehicle_mation b ON a.vehicle_id = b.id
			LEFT JOIN sys_eve_user_staff c ON c.user_id = #{userId}
		WHERE
		    b.state != 4
		    AND b.vehicle_company = c.company_id
			<if test="insuranceTitle != '' and insuranceTitle != null">
				AND a.insurance_title LIKE '%${insuranceTitle}%'
			</if>
			<if test="insurancePlate != '' and insurancePlate != null">
				AND a.vehicle_id = #{insurancePlate}
			</if>
		ORDER BY
			a.create_time DESC
	</select>
	
	<insert id="insertInsuranceMation" parameterType="java.util.Map">
	    INSERT into vehicle_insurance 
	    (id, insurance_title, vehicle_id, insurance_company, insured_telephone, validity_start_time, validity_end_time, insurance_all_price, room_add_desc, enclosure_info, create_id, create_time)
	    VALUES(#{id}, #{insuranceTitle}, #{vehicleId}, #{insuranceCompany}, #{insuredTelephone}, #{validityStartTime}, #{validityEndTime}, #{insuranceAllPrice}, #{roomAddDesc}, #{enclosureInfo}, #{createId}, #{createTime})
	</insert>
	
	<insert id="insertInsuranceMations" parameterType="java.util.Map">
	     insert into vehicle_insurance_coverage
	     (id, insurance_id, coverage_id, premium, insured_amount, `desc`, create_id, create_time)
	     values
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.id}, #{item.insuranceId}, #{item.coverageId}, #{item.premium}, #{item.insuredAmount}, #{item.desc}, #{item.createId}, #{item.createTime})  
		</foreach>  
	</insert>
	
	<delete id="deleteInsuranceById" parameterType="java.lang.String">
		DELETE 
		FROM 
			vehicle_insurance
		where 
			id = #{id}
	</delete>
	
	<delete id="deleteCoverageById" parameterType="java.lang.String">
		DELETE 
		FROM 
			vehicle_insurance_coverage
		where 
			insurance_id = #{id}
	</delete>
	
	<select id="queryInsuranceMationById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.insurance_title insuranceTitle,
			a.insurance_company insuranceCompany,
			a.insured_telephone insuredTelephone,
			CONCAT(DATE_FORMAT(CONVERT (a.validity_start_time, CHAR),'%Y-%m-%d'),' - ',DATE_FORMAT(CONVERT (a.validity_end_time, CHAR),'%Y-%m-%d')) validityTime,
			a.insurance_all_price insuranceAllPrice,
			a.room_add_desc roomAddDesc,
			IFNULL(a.enclosure_info, '') enclosureInfo,
			c.license_plate licensePlate,
			a.vehicle_id vehicleId,
			a.create_id createId,
			a.create_time createTime,
			GROUP_CONCAT(CONCAT(b.coverage_id,"-",b.premium,"-",b.insured_amount,"-",b.desc)) AS coverageId 
		FROM
			vehicle_insurance a
			LEFT JOIN vehicle_insurance_coverage b ON a.id = b.insurance_id
			LEFT JOIN vehicle_mation c ON a.vehicle_id = c.id
		WHERE a.id = #{id}
	</select>
	
	<update id="editInsuranceMationById" parameterType="java.util.Map">
		UPDATE vehicle_insurance
		<set>
			<if test="insuranceCompany != '' and insuranceCompany != null">
				insurance_company = #{insuranceCompany},
			</if>
			<if test="validityStartTime != '' and validityStartTime != null">
				validity_start_time = #{validityStartTime},
			</if>
			<if test="validityEndTime != '' and validityEndTime != null">
				validity_end_time = #{validityEndTime},
			</if>
			<if test="insuranceAllPrice != '' and insuranceAllPrice != null">
				insurance_all_price = #{insuranceAllPrice},
			</if>
			insured_telephone = #{insuredTelephone},
			room_add_desc = #{roomAddDesc},
			enclosure_info = #{enclosureInfo}
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="selectInsuranceDetailsById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.insurance_title insuranceTitle,
			a.insurance_company insuranceCompany,
			a.insured_telephone insuredTelephone,
			CONCAT(DATE_FORMAT(CONVERT (a.validity_start_time, CHAR),'%Y-%m-%d'),' - ',DATE_FORMAT(CONVERT (a.validity_end_time, CHAR),'%Y-%m-%d')) validityTime,
			a.insurance_all_price insuranceAllPrice,
			a.room_add_desc roomAddDesc,
			IFNULL(a.enclosure_info, '') enclosureInfo,
			c.license_plate licensePlate,
			b.user_name userName,
			CONVERT (a.create_time, CHAR) createTime,
      		GROUP_CONCAT(CONCAT(d.coverage_id,"-",d.premium,"-",d.insured_amount,"-",d.desc)) AS coverageId
		FROM
			vehicle_insurance a
		LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
		LEFT JOIN vehicle_mation c ON a.vehicle_id = c.id
		LEFT JOIN vehicle_insurance_coverage d ON a.id = d.insurance_id
		WHERE a.id = #{id}
	</select>

</mapper>