<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.LicenceApplyBorrowDao">

    <!-- 用于展示当前用户的证照借用申请列表 -->
    <select id="selectMyLicenceBorrowList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.odd_number oddNum,
            a.process_instance_id processInstanceId,
            a.state,
            CONVERT(a.create_time, char) createTime
        FROM
            licence_manage_use a
        WHERE a.create_id = #{userId}
        <if test="state != '' and state != null">
            AND a.state = #{state}
        </if>
        <if test="startTime != '' and startTime != null and endTime != '' and endTime != null">
            AND a.create_time >= #{startTime} AND #{endTime} >= a.create_time
        </if>
        ORDER BY a.create_time DESC
    </select>

    <insert id="insertLicenceBorrowMation" parameterType="java.util.Map">
        INSERT into licence_manage_use
        (id, title, odd_number, state, process_instance_id, remark, enclosure_info, create_id, create_time)
        VALUES(#{id}, #{title}, #{oddNumber}, #{state}, #{processInstanceId}, #{remark}, #{enclosureInfo}, #{createId}, #{createTime})
    </insert>

    <insert id="insertLicenceBorrowGoodsMation" parameterType="java.util.Map">
        insert into licence_manage_use_goods
        (id, use_id, licence_manage_id, licence_manage_name, remark, state)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.id}, #{item.useId}, #{item.licenceId}, #{item.licenceName}, #{item.remark}, #{item.state})
        </foreach>
    </insert>

    <!-- 根据流程id获取借用id及审批状态 -->
    <select id="queryLicenceBorrowByProcessInstanceId" resultType="java.util.Map">
        SELECT
            a.id,
            a.state,
            a.create_id createId
        FROM
            licence_manage_use a
        WHERE
            a.process_instance_id = #{processInstanceId}
    </select>

    <!-- 根据借用id获取借用数据 -->
    <select id="queryLicenceBorrowMationById" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.odd_number oddNumber,
            a.remark,
            a.state,
            b.user_name userName,
            IFNULL(a.enclosure_info, '') enclosureInfo,
            IFNULL(a.process_instance_id, '') processInstanceId
        FROM
            licence_manage_use a
            LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
        WHERE
            a.id = #{id}
    </select>

    <!-- 根据借用id获取借用人 -->
    <select id="queryBorrowNameLicenceBorrow" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.create_id createName
        FROM
            licence_manage_use a
        WHERE a.id = #{useId}
    </select>

    <!-- 根据借用id获取借用数据用于编辑 -->
    <select id="queryLicenceBorrowMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.odd_number oddNumber,
            a.remark,
            b.user_name userName,
            IFNULL(a.enclosure_info, '') enclosureInfo,
            a.process_instance_id processInstanceId,
            a.state
        FROM
            licence_manage_use a
            LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
        WHERE
            a.id = #{id}
    </select>

    <!-- 根据借用id获取关联表数据用于详情 -->
    <select id="queryLicenceBorrowGoodsByUseId" resultType="java.util.Map">
        SELECT
            a.id,
            a.licence_manage_id licenceId,
            a.licence_manage_name licenceName,
            a.remark,
            a.state,
            CASE a.state WHEN '0' THEN '未提交审批' WHEN '1' THEN '等待发放' WHEN '2' THEN '库存不足' WHEN '3' THEN '库存充足' WHEN '4' THEN '拒绝发放' END stateName
        FROM
            licence_manage_use_goods a
        WHERE a.use_id = #{useId}
    </select>

    <!-- 根据借用id获取关联表数据用于编辑 -->
    <select id="queryLicenceBorrowGoodsMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.licence_manage_id licenceId,
            a.remark
        FROM
            licence_manage_use_goods a
        WHERE a.use_id = #{id}
    </select>

    <!--  根据借用id编辑借用表的数据 -->
    <update id="updateLicenceBorrowMation" parameterType="java.util.Map">
        UPDATE licence_manage_use
        <set>
            remark = #{remark},
            enclosure_info = #{enclosureInfo}
        </set>
        WHERE id = #{id}
    </update>

    <!-- 根据借用id删除关联表的数据 -->
    <delete id="deleteLicenceBorrowGoodsMationById" parameterType="java.util.Map">
        DELETE
        FROM
            licence_manage_use_goods
        WHERE
            use_id = #{id}
    </delete>

    <!-- 根据借用id将审批状态更改为作废 -->
    <update id="updateLicenceBorrowToCancellation" parameterType="java.util.Map">
        UPDATE licence_manage_use
        <set>
            state = 4
        </set>
        WHERE id = #{id}
    </update>

    <!-- 根据借用id将借用审批状态更改为审批中 -->
    <update id="updateLicenceBorrowStateISInAudit" parameterType="java.util.Map">
        UPDATE licence_manage_use
        <set>
            state = '1',
            process_instance_id = #{processInId}
        </set>
        WHERE id = #{id}
    </update>

    <!-- 根据借用id将关联表中的状态更改为等待发放 -->
    <update id="updateLicenceBorrowGoodsStateISInAudit" parameterType="java.util.Map">
        UPDATE licence_manage_use_goods
        <set>
            state = '1'
        </set>
        WHERE use_id = #{useId}
    </update>

    <!--  根据借用id更改借用表中的审批状态 -->
    <update id="editLicenceBorrowById" parameterType="java.util.Map">
        update licence_manage_use
        <set>
            state = #{state},
        </set>
        WHERE id = #{id}
    </update>

    <update id="editLicenceBorrowToRevokeById">
        UPDATE
            licence_manage_use
        <set>
            state = 5,
            process_instance_id = ''
        </set>
        WHERE
        id = #{id}
    </update>

    <!-- 根据关联表id更改关联表中证照的库存状态 -->
    <update id="editLicenceBorrowGoodsByUseId">
        UPDATE
            licence_manage_use_goods
        <set>
            state = #{state}
        </set>
        WHERE use_id = #{useId}
    </update>

    <update id="editLicenceBorrowGoodsById">
        UPDATE
            licence_manage_use_goods
        <set>
            state = #{state}
        </set>
        WHERE id = #{id}
    </update>

</mapper>