<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.MaintenanceDao">

	<select id="selectAllMaintenanceMation" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.maintenance_title maintenanceTitle,
			b.license_plate licensePlate,
			CASE a.maintenance_type WHEN 1 THEN '维修' WHEN 2 THEN '保养' ELSE '无' END maintenanceType,
			a.maintenance_price maintenancePrice,
			CONCAT(DATE_FORMAT(CONVERT (a.start_time, CHAR),'%Y-%m-%d'),' ~ ',DATE_FORMAT(CONVERT (a.end_time, CHAR),'%Y-%m-%d')) Time
		FROM
			vehicle_maintenance a
			LEFT JOIN vehicle_mation b ON a.vehicle_id = b.id
			LEFT JOIN sys_eve_user_staff c ON c.user_id = #{userId}
		WHERE
		    b.state != 4
		    AND b.vehicle_company = c.company_id
			<if test="maintenanceTitle != '' and maintenanceTitle != null">
				AND a.maintenance_title LIKE '%${maintenanceTitle}%'
			</if>
			<if test="maintenancePlate != '' and maintenancePlate != null">
				AND a.vehicle_id = #{maintenancePlate}
			</if>
		ORDER BY
			a.create_time DESC
	</select>
	
	<insert id="insertMaintenanceMation" parameterType="java.util.Map">
	    INSERT into vehicle_maintenance 
	    (id, maintenance_title, maintenance_type, vehicle_id, maintenance_company, maintenance_price, start_time, end_time, concrete_content, room_add_desc, enclosure_info, create_id, create_time)
	    VALUES(#{id}, #{maintenanceTitle}, #{maintenanceType}, #{vehicleId}, #{maintenanceCompany}, #{maintenancePrice}, #{startTime}, #{endTime}, #{concreteContent}, #{roomAddDesc}, #{enclosureInfo}, #{createId}, #{createTime})
	</insert>
	
	<delete id="deleteMaintenanceById" parameterType="java.lang.String">
		DELETE 
		FROM 
			vehicle_maintenance
		where 
			id = #{id}
	</delete>
	
	<select id="queryMaintenanceMationById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.maintenance_title maintenanceTitle,
			a.maintenance_type maintenanceType,
			a.maintenance_company maintenanceCompany,
			a.maintenance_price maintenancePrice,
			a.concrete_content concreteContent,
			a.room_add_desc roomAddDesc,
			CONCAT(DATE_FORMAT(CONVERT (a.start_time, CHAR),'%Y-%m-%d'),' - ',DATE_FORMAT(CONVERT (a.end_time, CHAR),'%Y-%m-%d')) maintenanceTime,
			IFNULL(a.enclosure_info, '') enclosureInfo,
			b.license_plate licensePlate,
			a.vehicle_id vehicleId
		FROM
			vehicle_maintenance a
			LEFT JOIN vehicle_mation b ON a.vehicle_id = b.id
		WHERE a.id = #{id}
	</select>
	
	<update id="editMaintenanceMationById" parameterType="java.util.Map">
		UPDATE vehicle_maintenance
		<set>
			<if test="maintenanceType != '' and maintenanceType != null">
				maintenance_type = #{maintenanceType},
			</if>
			<if test="maintenancePrice != '' and maintenancePrice != null">
				maintenance_price = #{maintenancePrice},
			</if>
			<if test="concreteContent != '' and concreteContent != null">
				concrete_content = #{concreteContent},
			</if>
			<if test="startTime != '' and startTime != null">
				start_time = #{startTime},
			</if>
			<if test="endTime != '' and endTime != null">
				end_time = #{endTime},
			</if>
			maintenance_company = #{maintenanceCompany},
			room_add_desc = #{roomAddDesc},
			enclosure_info = #{enclosureInfo}
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="selectMaintenanceDetailsById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.maintenance_title maintenanceTitle,
			CASE a.maintenance_type WHEN 1 THEN '维修' WHEN 2 THEN '保养' ELSE '无' END maintenanceType,
			a.maintenance_company maintenanceCompany,
			a.maintenance_price maintenancePrice,
			a.concrete_content concreteContent,
			a.room_add_desc roomAddDesc,
			CONCAT(DATE_FORMAT(CONVERT (a.start_time, CHAR),'%Y-%m-%d'),' - ',DATE_FORMAT(CONVERT (a.end_time, CHAR),'%Y-%m-%d')) maintenanceTime,
			IFNULL(a.enclosure_info, '') enclosureInfo,
			c.license_plate licensePlate,
			b.user_name userName,
			CONVERT (a.create_time, CHAR) createTime
		FROM
			vehicle_maintenance a
		LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
		LEFT JOIN vehicle_mation c ON a.vehicle_id = c.id
		WHERE a.id = #{id}
	</select>

</mapper>