<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SealDao">

	<select id="selectAllSealMation" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			e.company_name companyName,
			a.seal_name sealName,
			DATE_FORMAT(CONVERT (a.enable_time, CHAR), '%Y-%m-%d') enableTime,
			b.user_name sealAdmin,
			c.user_name borrowId
		FROM
			seal_manage a
			LEFT JOIN sys_eve_user_staff b ON a.seal_admin = b.user_id
			LEFT JOIN sys_eve_user_staff c ON a.borrow_id = c.user_id
			LEFT JOIN sys_eve_user_staff d ON d.user_id = #{userId}
            LEFT JOIN company_mation e ON e.id = a.company_id
		WHERE
			d.company_id = a.company_id
			<if test="sealName != '' and sealName != null">
				AND a.seal_name LIKE '%${sealName}%'
			</if>
		ORDER BY
			a.create_time DESC
	</select>
	
	<insert id="insertSealMation" parameterType="java.util.Map">
	    INSERT into seal_manage 
	    (id, company_id, seal_name, enable_time, seal_admin, borrow_id, room_add_desc, enclosure_info, create_id, create_time)
        VALUES(#{id}, #{companyId}, #{sealName}, #{enableTime}, #{sealAdmin}, #{borrowId}, #{roomAddDesc}, #{enclosureInfo}, #{createId}, #{createTime})
	</insert>
	
	<delete id="deleteSealById" parameterType="java.lang.String">
		DELETE 
		FROM 
			seal_manage
		where id = #{id}
	</delete>
	
	<select id="querySealMationById" resultType="java.util.Map">
		SELECT
			a.id,
			a.seal_name sealName,
			DATE_FORMAT(CONVERT (a.enable_time, CHAR), '%Y-%m-%d') enableTime,
			IFNULL(a.seal_admin, '') sealAdmin,
			IFNULL(a.borrow_id, '') borrowId,
			a.room_add_desc roomAddDesc,
			a.enclosure_info enclosureInfo
		FROM
			seal_manage a
		WHERE a.id = #{id}
	</select>
	
	<update id="editSealMationById" parameterType="java.util.Map">
		UPDATE seal_manage
		<set>
			<if test="sealName != '' and sealName != null">
				seal_name = #{sealName},
			</if>
			<if test="enableTime != '' and enableTime != null">
				enable_time = #{enableTime},
			</if>
			<if test="sealAdmin != '' and sealAdmin != null">
				seal_admin = #{sealAdmin},
			</if>
			borrow_id = #{borrowId},
			room_add_desc = #{roomAddDesc},
			enclosure_info = #{enclosureInfo}
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="selectSealDetailsById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			d.company_name companyName,
			a.seal_name sealName,
			DATE_FORMAT(CONVERT (a.enable_time, CHAR),'%Y-%m-%d') enableTime,
			IFNULL(b.user_name, '') sealAdmin,
			IFNULL(c.user_name, '') borrowId,
			a.room_add_desc roomAddDesc,
			a.enclosure_info enclosureInfo
		FROM
			seal_manage a
			LEFT JOIN sys_eve_user_staff b ON a.seal_admin = b.user_id
			LEFT JOIN sys_eve_user_staff c ON a.borrow_id = c.user_id
			LEFT JOIN company_mation d ON d.id = a.company_id
		WHERE a.id = #{id}
	</select>

	<!-- 用于印章借用申请时的印章下拉框的选择，筛选没有借用人的数据 -->
	<select id="selectSealListToChoose" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.seal_name name
		FROM
			seal_manage a
			LEFT JOIN sys_eve_user_staff b ON b.user_id = #{userId}
		WHERE
			b.company_id = a.company_id
			AND (a.borrow_id = '' OR a.borrow_id IS NULL)
		ORDER BY
			a.create_time DESC
	</select>
	
	<!-- 根据印章id获取印章数据-->
    <select id="querySealEntityById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id sealId,
			a.seal_name sealName
		FROM
			seal_manage a
		WHERE a.id = #{sealId}
	</select>

	<!-- 根据印章id更改印章表中的借用人 -->
	<update id="editSealBorrowIdById" parameterType="java.util.Map">
		update seal_manage
		<set>
			borrow_id = #{borrowId}
		</set>
		WHERE id = #{id}
	</update>
    
    <!-- 用于印章归还申请时的印章下拉框的选择，筛选当前用户未归还的数据 -->
	<select id="selectRevertListToChoose" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.seal_name name
		FROM
			seal_manage a
		WHERE
			a.borrow_id = #{userId}
	</select>
	
	<select id="queryMySealManageList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			e.company_name companyName,
			a.seal_name sealName,
			b.user_name sealAdmin,
			c.user_name borrowName
		FROM
			seal_manage a
			LEFT JOIN sys_eve_user_staff b ON a.seal_admin = b.user_id
			LEFT JOIN sys_eve_user_staff c ON a.borrow_id = c.user_id
			LEFT JOIN company_mation e ON e.id = a.company_id
		WHERE a.borrow_id = #{userId}
			<if test="sealName != '' and sealName != null">
				AND a.seal_name LIKE '%${sealName}%'
			</if>
		ORDER BY a.seal_name DESC
	</select>
	
</mapper>