<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SealApplyRevertDao">

    <!-- 用于展示当前用户的印章归还申请列表 -->
    <select id="selectMySealRevertList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.odd_number oddNum,
            IFNULL(a.process_instance_id, '') processInstanceId,
            a.state,
            CONVERT(a.create_time, char) createTime
        FROM
            seal_manage_revert a
        WHERE a.create_id = #{userId}
        <if test="state != '' and state != null">
            AND a.state = #{state}
        </if>
        <if test="startTime != '' and startTime != null and endTime != '' and endTime != null">
            AND a.create_time >= #{startTime} AND #{endTime} >= a.create_time
        </if>
        ORDER BY a.create_time DESC
    </select>

    <!-- 根据流程id获取归还id及审批状态 -->
    <select id="querySealRevertByProcessInstanceId" resultType="java.util.Map">
        SELECT
            a.id,
            a.state
        FROM
            seal_manage_revert a
        WHERE
            a.process_instance_id = #{processInstanceId}
    </select>

    <!-- 根据归还id获取归还数据 -->
    <select id="querySealRevertMationById" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.odd_number oddNumber,
            a.remark,
            b.user_name userName,
            a.state,
            IFNULL(a.enclosure_info, '') enclosureInfo,
            IFNULL(a.process_instance_id, '') processInstanceId
        FROM
            seal_manage_revert a
            LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
        WHERE
            a.id = #{id}
    </select>

    <!-- 根据归还id获取归还数据用于编辑 -->
    <select id="querySealRevertMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.odd_number oddNumber,
            a.remark,
            b.user_name userName,
            IFNULL(a.enclosure_info, '') enclosureInfo,
            a.process_instance_id processInstanceId,
            a.state
        FROM
            seal_manage_revert a
            LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
        WHERE
            a.id = #{id}
    </select>

    <!-- 根据归还id获取关联表数据用于详情 -->
    <select id="querySealMationListByRevertId" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.seal_manage_id sealId,
            a.seal_manage_name sealName,
            a.remark,
            a.state,
            CASE a.state WHEN '0' THEN '草稿' WHEN '1' THEN '等待审批' WHEN '2' THEN '审批成功' WHEN '3' THEN '审批拒绝' END stateName
        FROM
            seal_manage_revert_goods a
        WHERE a.revert_id = #{revertId}
    </select>

    <!-- 根据归还id获取关联表数据用于编辑 -->
    <select id="querySealRevertGoodsMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.seal_manage_id sealId,
            a.remark
        FROM
            seal_manage_revert_goods a
        WHERE a.revert_id = #{id}
    </select>

    <!--  根据归还id编辑归还表的数据 -->
    <update id="updateSealRevertMation" parameterType="java.util.Map">
        UPDATE seal_manage_revert
        <set>
            remark = #{remark},
            enclosure_info = #{enclosureInfo}
        </set>
        WHERE id = #{id}
    </update>

    <!-- 根据归还id删除关联表的数据 -->
    <delete id="deleteSealRevertGoodsMationById" parameterType="java.util.Map">
        DELETE
        FROM
            seal_manage_revert_goods
        WHERE
            revert_id = #{id}
    </delete>

    <!-- 根据归还id将审批状态更改为作废 -->
    <update id="updateSealRevertToCancellation" parameterType="java.util.Map">
        UPDATE seal_manage_revert
        <set>
            state = 4
        </set>
        WHERE id = #{id}
    </update>

    <!-- 根据归还id将归还审批状态更改为审批中 -->
    <update id="updateSealRevertStateISInAudit">
        UPDATE seal_manage_revert
        <set>
            state = '1',
            process_instance_id = #{processInId}
        </set>
        WHERE id = #{id}
    </update>

    <!--  根据归还id更改归还表中的审批状态 -->
    <update id="editSealRevertById">
        update seal_manage_revert
        <set>
            state = #{state},
        </set>
        WHERE id = #{id}
    </update>

    <update id="editSealRevertToRevokeById">
        update seal_manage_revert
        <set>
            state = 5,
            process_instance_id = ''
        </set>
        WHERE id = #{id}
    </update>

    <insert id="insertSealRevertMation" parameterType="java.util.Map">
        INSERT into seal_manage_revert
        (id, title, odd_number, state, process_instance_id, remark, enclosure_info, create_id, create_time)
        VALUES(#{id}, #{title}, #{oddNumber}, #{state}, #{processInstanceId}, #{remark}, #{enclosureInfo}, #{createId}, #{createTime})
    </insert>

    <insert id="insertSealRevertGoodsMation" parameterType="java.util.Map">
        insert into seal_manage_revert_goods
        (id, revert_id, seal_manage_id, seal_manage_name, remark, state)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.id}, #{item.revertId}, #{item.sealId}, #{item.sealName}, #{item.remark}, #{item.state})
        </foreach>
    </insert>

    <update id="updateSealRevertGoodsStateByRevertId">
        update seal_manage_revert_goods
        <set>
            state = #{state}
        </set>
        WHERE revert_id = #{revertId}
    </update>

</mapper>