<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.VehicleApplyUseDao">

    <insert id="insertVehicleMationToUse" parameterType="java.util.Map">
        INSERT into vehicle_use
        (id, title, odd_number, passenger_num, passenger_info, is_self_drive, driver_id, departure_time, return_time, designated_vehicle_id,
         designated_vehicle_info, time_and_place_of_travel, reasons_for_using_car, remark, enclosure_info, state, create_id, create_time)
        VALUES(#{id}, #{title}, #{oddNumber}, #{passengerNum}, #{passengerInfo}, #{isSelfDrive}, #{driverId}, #{departureTime}, #{returnTime}, #{designatedVehicleId},
         #{designatedVehicleInfo}, #{timeAndPlaceOfTravel}, #{reasonsForUsingCar}, #{remark}, #{enclosureInfo}, #{state}, #{createId}, #{createTime})
    </insert>

    <select id="queryMyUseVehicleMation" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.odd_number oddNum,
            IFNULL(a.process_instance_id,'') processInstanceId,
            a.state,
            CONVERT(a.create_time, char) createTime
        FROM
            vehicle_use a
        WHERE a.create_id = #{userId}
        <if test="state != '' and state != null">
            AND a.state = #{state}
        </if>
        <if test="startTime != '' and startTime != null and endTime != '' and endTime != null">
            AND a.create_time >= #{startTime} AND #{endTime} >= a.create_time
        </if>
        ORDER BY a.create_time DESC
    </select>

    <select id="queryVehicleUseMationShowById" resultType="java.util.Map">
        SELECT
            a.title,
            a.state,
            a.odd_number oddNumber,
            a.process_instance_id processInstanceId,
            IF( IFNULL(c.user_name, '') = '', '无', c.user_name) driverName,
            CASE a.is_self_drive WHEN '1' THEN '自驾' WHEN '2' THEN '安排司机' ELSE '参数错误' END isSelfDrive,
            b.user_name userName,
            a.passenger_num passengerNum,
            a.passenger_info passengerInfo,
            CONCAT(a.departure_time, ' ~ ', a.return_time) departureTime,
            a.reasons_for_using_car reasonsForUsingCar,
            IF(a.time_and_place_of_travel = '', '暂未填写', a.time_and_place_of_travel) timeAndPlaceOfTravel,
            IF( IFNULL(a.designated_vehicle_info, '') = '', '暂不指定', a.designated_vehicle_info) designatedVehicleInfo,
            CASE a.vehicle_state WHEN '1' THEN '车辆充足，请参照实际用车' WHEN '2' THEN '该时间段车辆不足，紧急情况请联系管理员！' ELSE '' END vehicleStateName,
            IFNULL(a.vehicle_info, '') vehicleInfo,
            IFNULL(a.vehicle_img, '') vehicleImg,
            IF(a.remark = '', '无', a.remark) remark,
            a.enclosure_info enclosureInfo
        FROM
            vehicle_use a
            LEFT JOIN sys_eve_user_staff c ON a.driver_id = c.id
            LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
        WHERE a.id = #{id}
    </select>

    <update id="updateVehicleUseStateISInAudit">
        UPDATE vehicle_use
        <set>
            state = '1',
            process_instance_id = #{processInId}
        </set>
        WHERE id = #{id}
    </update>

    <select id="queryVehicleUseByProcessInstanceId" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            b.company_id userCompany
        FROM
            vehicle_use a,
            sys_eve_user_staff b
        WHERE a.process_instance_id = #{processInstanceId}
        AND a.state = '1'
        AND a.create_id = b.user_id
    </select>

    <update id="editVehicleUseById" parameterType="java.util.Map">
        update vehicle_use
        <set>
            state = #{state},
            vehicle_id = #{vehicleId},
            vehicle_info = #{vehicleInfo},
            vehicle_img = #{vehicleImg},
            driver_id = #{driverId},
            vehicle_state = #{vehicleState}
        </set>
        WHERE
        id = #{id}
    </update>

    <select id="queryVehicleUseMationById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.designated_vehicle_id designatedVehicleId,
            a.departure_time departureTime,
            a.return_time returnTime,
            a.is_self_drive isSelfDrive,
            a.driver_id driverId,
            IF(a.passenger_num > b.specifications, '1', '2') isOk,
            a.passenger_num passengerNum
        FROM
            vehicle_use a
            LEFT JOIN vehicle_mation b ON a.designated_vehicle_id = b.id
        WHERE a.id = #{id}
    </select>

    <select id="queryTheSuitableVehicleToUse" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id vehicleId,
            CONCAT(a.vehicle_name,'——车牌：',a.license_plate,'——准载人数：',a.specifications) vehicleInfo,
            a.vehicle_img vehicleImg
        FROM
            vehicle_mation a
        WHERE a.id NOT IN (SELECT
                             a.vehicle_id vehicleId
                         FROM
                             vehicle_use a
                         WHERE
                             a.vehicle_state = '1'
                           AND ((a.departure_time >= #{departureTime} AND #{returnTime} > a.departure_time)
                             OR (#{departureTime} >= a.departure_time AND a.return_time >= #{returnTime})
                             OR (#{returnTime} >= a.return_time AND a.return_time > #{departureTime}))
            )
          AND a.vehicle_company = #{userCompany}
          AND a.specifications >= #{passengerNum}
        ORDER BY a.specifications ASC
        LIMIT 1
    </select>

    <select id="queryVehicleUseDetails" resultType="java.util.Map">
        SELECT
            a.title,
            a.odd_number oddNumber,
            a.state,
            b.user_name userName,
            a.passenger_num passengerNum,
            a.passenger_info passengerInfo,
            CASE a.is_self_drive WHEN '1' THEN '自驾' WHEN '2' THEN '安排司机' ELSE '参数错误' END isSelfDrive,
            IF( IFNULL(c.user_name, '') = '', '无', c.user_name) driverName,
            CONCAT(a.departure_time, ' ~ ', a.return_time) departureTime,
            IF( IFNULL(a.designated_vehicle_info, '') = '', '暂不指定', a.designated_vehicle_info) designatedVehicleInfo,
            IF(a.time_and_place_of_travel = '', '暂未填写', a.time_and_place_of_travel) timeAndPlaceOfTravel,
            a.vehicle_state vehicleState,
            CASE a.vehicle_state WHEN '1' THEN '车辆充足，请参照实际用车' WHEN '2' THEN '该时间段车辆不足，紧急情况请联系管理员！' END vehicleStateName,
            IFNULL(a.vehicle_info, '') vehicleInfo,
            IFNULL(a.vehicle_img, '') vehicleImg,
            a.fuel_consumption fuelConsumption,
            a.vehicle_cost vehicleCost,
            a.reasons_for_using_car reasonsForUsingCar,
            IF(a.remark = '', '无', a.remark) remark,
            a.enclosure_info enclosureInfo
        FROM
            vehicle_use a
            LEFT JOIN sys_eve_user_staff c ON a.driver_id = c.id
            LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
        WHERE a.id = #{id}
    </select>

    <update id="updateVehicleUseToCancellation" parameterType="java.util.Map">
        UPDATE vehicle_use
        <set>
            state = 4
        </set>
        WHERE id = #{id}
    </update>

    <select id="queryVehicleUseMationToEdit" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.title,
            a.odd_number oddNumber,
            b.user_name userName,
            a.passenger_num passengerNum,
            a.passenger_info passengerInfo,
            a.is_self_drive isSelfDrive,
            a.driver_id driverId,
            CONCAT(a.departure_time, ' ~ ', a.return_time) departureTime,
            a.designated_vehicle_id designatedVehicleId,
            a.time_and_place_of_travel timeAndPlaceOfTravel,
            a.reasons_for_using_car reasonsForUsingCar,
            a.remark,
            a.state,
            a.enclosure_info enclosureInfo
        FROM
            vehicle_use a
            LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
        WHERE a.id = #{id}
    </select>

    <update id="updateVehicleUseMationToEdit" parameterType="java.util.Map">
        UPDATE vehicle_use
        <set>
            passenger_num = #{passengerNum},
            passenger_info = #{passengerInfo},
            is_self_drive = #{isSelfDrive},
            driver_id = #{driverId},
            departure_time = #{departureTime},
            return_time = #{returnTime},
            designated_vehicle_id = #{designatedVehicleId},
            designated_vehicle_info = #{designatedVehicleInfo},
            time_and_place_of_travel = #{timeAndPlaceOfTravel},
            reasons_for_using_car = #{reasonsForUsingCar},
            remark = #{remark},
            enclosure_info = #{enclosureInfo}
        </set>
        WHERE id = #{id}
    </update>

    <select id="queryVehicleIsHasUseById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id
        FROM
            vehicle_use a
        WHERE a.vehicle_id = #{designatedVehicleId}
          AND a.vehicle_state = '1'
          AND ((a.departure_time >= #{departureTime} AND #{returnTime} > a.departure_time)
            OR (#{departureTime} >= a.departure_time AND a.return_time >= #{returnTime})
            OR (#{returnTime} >= a.return_time AND a.return_time > #{departureTime}))
    </select>

    <update id="updateVehicleUseToRevoke" parameterType="java.util.Map">
        UPDATE vehicle_use
        <set>
            state = '5',
            process_instance_id = ''
        </set>
        WHERE process_instance_id = #{processInstanceId}
    </update>

</mapper>