<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="padding:20px; margin:0 auto;">
	    <form class="layui-form" action="" id="showForm">
	        
	    </form>
	</div>

	<script type="text/x-handlebars-template" id="showTemplate">
		{{#bean}}
		<div class="layui-form-item layui-col-xs12">
			<label class="layui-form-label">收件人：</label>
			<div class="layui-input-block ver-center">
				{{#each toPeople}}
					<span class="layui-badge layui-bg-blue skyeye-badge">{{this}}</span>
				{{/each}}
			</div>
		</div>
		<div class="layui-form-item layui-col-xs12">
			<label class="layui-form-label">抄送：</label>
			<div class="layui-input-block ver-center">
				{{#each toCc}}
					<span class="layui-badge layui-bg-blue skyeye-badge">{{this}}</span>
				{{/each}}
			</div>
		</div>
		<div class="layui-form-item layui-col-xs12">
			<label class="layui-form-label">密送：</label>
			<div class="layui-input-block ver-center">
				{{#each toBcc}}
					<span class="layui-badge layui-bg-blue skyeye-badge">{{this}}</span>
				{{/each}}
			</div>
		</div>
		<div class="layui-form-item layui-col-xs12">
			<label class="layui-form-label">主题：</label>
			<div class="layui-input-block ver-center">
				{{title}}
			</div>
		</div>
		{{/bean}}
	</script>

	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
        layui.config({base: '../../js/emailSendModel/'}).use('emailSendModelDetails');
    </script>
</body>
</html>