<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyeye.eve.dao.WagesModelApplicableObjectsDao">

    <insert id="insertWagesModelApplicableObjects">
        INSERT INTO wages_model_applicable_objects
        (model_id, object_id, object_type)
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.modelId}, #{item.objectId}, #{item.objectType})
        </foreach>
    </insert>

    <delete id="deleteWagesModelApplicableObjectsByModelId">
        DELETE
        FROM
            wages_model_applicable_objects
        WHERE
            model_id = #{modelId}
    </delete>

    <select id="queryWagesModelApplicableObjectsByModelId" resultType="java.util.Map">
        SELECT
            a.model_id modelId,
            a.object_id objectId,
            a.object_type objectType
        FROM
            wages_model_applicable_objects a
        WHERE a.model_id = #{modelId}
    </select>

    <select id="queryAllEanbleWagesModelApplicableObjects" resultType="java.util.Map">
        SELECT
            a.model_id modelId,
            a.object_id objectId,
            a.object_type objectType,
            b.title,
            b.sort_no sortNo
        FROM
            wages_model_applicable_objects a,
            wages_model b
        WHERE a.model_id = b.id
        AND b.state = 1
        AND date_format(CONCAT(b.start_month, '-01'), '%Y-%m') <![CDATA[ <= ]]> #{lastMonthDate}
        AND date_format(CONCAT(b.end_month, '-01'), '%Y-%m') >= #{lastMonthDate}
    </select>

</mapper>