<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.WagesStaffMationDao">

    <select id="queryWagesStaffWaitAllocatedMationList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.job_number jobNumber,
            a.user_name userName,
            a.user_photo userPhoto,
            a.user_sex userSex,
            a.email,
            a.phone,
            a.home_phone homePhone,
            a.qq,
            a.state,
            u.company_name companyName,
            q.department_name departmentName,
            p.job_name jobName,
            a.`type` staffType
        FROM
            sys_eve_user_staff a,
            company_job p,
            company_department q,
            company_mation u
        WHERE a.company_id = u.id
        AND a.department_id = q.id
        AND a.job_id = p.id
        AND a.state NOT IN(2, 5)
        AND a.design_wages = 1
        <if test="userName != '' and userName != null">
            AND a.user_name LIKE '%${userName}%'
        </if>
        <if test="jobNumber != '' and jobNumber != null">
            AND a.job_number LIKE '%${jobNumber}%'
        </if>
        <if test="userSex != '' and userSex != null">
            AND a.user_sex = #{userSex}
        </if>
        <if test="companyId != '' and companyId != null">
            AND a.company_id = #{companyId}
        </if>
        <if test="departmentId != '' and departmentId != null">
            AND a.department_id = #{departmentId}
        </if>
        <if test="jobId != '' and jobId != null">
            AND a.job_id = #{jobId}
        </if>
        ORDER BY a.entry_time DESC
    </select>

    <select id="querySysUserStaffMationById" resultType="java.util.Map">
        SELECT
            a.id,
            a.job_number jobNumber,
            a.user_name userName,
            a.company_id companyId,
            a.department_id departmentId,
            a.job_id jobId,
            IFNULL(a.job_score_id, '') jobScoreId
        FROM
            sys_eve_user_staff a
        WHERE a.id = #{staffId}
    </select>

    <update id="saveStaffWagesModelFieldMation">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE wages_field_staff_mation
            <set>
                amount_money = #{item.amountMoney}
            </set>
            WHERE staff_id = #{item.staffId}
            AND field_type_key = #{item.fieldKey}
        </foreach>
    </update>

    <update id="editStaffDesignWagesByStaffId">
        UPDATE sys_eve_user_staff
        <set>
            design_wages = #{state},
            act_wages = #{actMoney}
        </set>
        WHERE id = #{staffId}
    </update>

    <select id="queryWagesStaffDesignMationList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.job_number jobNumber,
            a.user_name userName,
            a.user_photo userPhoto,
            a.user_sex userSex,
            a.email,
            a.phone,
            a.home_phone homePhone,
            a.qq,
            a.state,
            u.company_name companyName,
            q.department_name departmentName,
            p.job_name jobName,
            a.`type` staffType,
            CONVERT(a.act_wages, decimal(24, 2)) actWages
        FROM
            sys_eve_user_staff a,
            company_job p,
            company_department q,
            company_mation u
        WHERE a.company_id = u.id
        AND a.department_id = q.id
        AND a.job_id = p.id
        AND a.design_wages = 2
        <if test="userName != '' and userName != null">
            AND a.user_name LIKE '%${userName}%'
        </if>
        <if test="jobNumber != '' and jobNumber != null">
            AND a.job_number LIKE '%${jobNumber}%'
        </if>
        <if test="userSex != '' and userSex != null">
            AND a.user_sex = #{userSex}
        </if>
        <if test="companyId != '' and companyId != null">
            AND a.company_id = #{companyId}
        </if>
        <if test="departmentId != '' and departmentId != null">
            AND a.department_id = #{departmentId}
        </if>
        <if test="jobId != '' and jobId != null">
            AND a.job_id = #{jobId}
        </if>
        ORDER BY a.entry_time DESC
    </select>

    <select id="queryNoWagesLastMonthByLastMonthDate" resultType="java.util.Map">
        SELECT
            a.id,
            a.company_id companyId,
            a.department_id departmentId,
            a.job_id jobId,
            IFNULL(a.job_score_id, '') jobScoreId,
            a.state,
            a.type,
            a.act_wages actWages
        FROM
            sys_eve_user_staff a
        WHERE
            date_format(a.entry_time, '%Y-%m') <![CDATA[ <= ]]> #{lastMonthDate}
        AND IF(LENGTH(a.quit_time) > 0 AND a.quit_time != '', date_format(a.quit_time, '%Y-%m') >= #{lastMonthDate}, 0 = 0)
        AND a.id NOT IN (SELECT b.staff_id FROM wages_payment_history b WHERE b.staff_id = a.id AND b.pay_month = #{lastMonthDate})
        AND a.design_wages = 2
        <if test="list != null and list.size > 0">
            AND a.id NOT IN
            <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        LIMIT 1
    </select>

    <select id="queryLastMonthCheckWork" resultType="java.util.Map">
        SELECT
            a.check_date checkDate,
            a.clock_in clockIn,
            a.time_id timeId,
            a.clock_in_state clockInState,
            IFNULL(a.clock_out, '') clockOut,
            IFNULL(a.clock_out_state, '') clockOutState,
            a.state
        FROM
            check_work a,
            sys_eve_user_staff b
        WHERE
            a.create_id = b.user_id
        AND b.id = #{staffId}
        AND date_format(a.check_date, '%Y-%m') = #{lastMonthDate}
    </select>

    <select id="queryLastMonthLeaveTime" resultType="java.util.Map">
        SELECT
            b.leave_type leaveType,
            b.leave_day leaveDay,
            b.leave_start_time leaveStartTime,
            b.leave_end_time leaveEndTime,
            b.time_id timeId,
            b.use_year_holiday useYearHoliday
        FROM
            check_work_leave a,
            check_work_leave_time_slot b,
            sys_eve_user_staff c
        WHERE
            a.create_id = c.id
          AND a.id = b.leave_id
          AND a.state = 2
          AND b.state = 2
          AND c.id = #{staffId}
          AND date_format(b.leave_day, '%Y-%m') = #{lastMonthDate}
    </select>

    <update id="editStaffMonthlyClearingWagesByStaffId">
        UPDATE
            wages_field_staff_mation a,
            wages_field_type b
        <set>
            amount_money = '0',
        </set>
        WHERE a.staff_id = #{staffId}
        AND a.field_type_key = b.`key`
        AND b.monthly_clearing = '1'
        AND b.id = (SELECT c.id FROM wages_field_type c WHERE c.`key` = a.field_type_key ORDER BY c.last_update_time DESC LIMIT 1)
    </update>

    <select id="queryWagesStaffPaymentDetail" resultType="java.util.Map">
        SELECT
            a.pay_month payMonth,
            a.wages_json wagesJson,
            CONVERT(a.act_wages, decimal(24, 2)) actWages,
            a.type,
            a.state
        FROM
            wages_payment_history a
        WHERE a.staff_id = #{staffId}
        AND a.pay_month = #{payMonth}
    </select>

    <select id="queryLastMonthCancleLeaveTime" resultType="java.util.Map">
        SELECT
            b.cancel_day cancelDay,
            b.cancel_start_time cancelStartTime,
            b.cancel_end_time cancelEndTime,
            b.cancel_hour cancelHour
        FROM
            check_work_cancel_leave a,
            check_work_cancel_leave_time_slot b,
            sys_eve_user_staff c
        WHERE
            a.create_id = c.id
        AND a.id = b.cancel_leave_id
        AND a.state = 2
        AND b.state = 2
        AND c.id = #{staffId}
        AND date_format(b.cancel_day, '%Y-%m') = #{lastMonthDate}
    </select>

</mapper>