<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyeye.eve.dao.WagesModelFieldDao">

    <insert id="insertWagesModelField">
        INSERT INTO wages_model_field
        (id, model_id, field_key, field_type, default_money, sort_no, formula, remark)
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.id}, #{item.modelId}, #{item.fieldKey}, #{item.fieldType}, #{item.defaultMoney}, #{item.sortNo}, #{item.formula}, #{item.remark})
        </foreach>
    </insert>

    <delete id="deleteWagesModelFieldByModelId">
        DELETE
        FROM
            wages_model_field
        WHERE
            model_id = #{modelId}
    </delete>

    <select id="queryWagesModelFieldByModelId" resultType="java.util.Map">
        SELECT
            a.id,
            a.model_id modelId,
            a.field_key fieldKey,
            IFNULL(b.name_cn, '') nameCn,
            b.name_en nameEn,
            a.field_type fieldType,
            CONVERT(a.default_money, decimal(24, 2)) defaultMoney,
            a.sort_no sortNo,
            a.formula,
            a.remark
        FROM
            wages_model_field a
            LEFT JOIN wages_field_type b ON a.field_key = b.key AND b.state = 1
        WHERE a.model_id = #{modelId}
        ORDER BY a.sort_no ASC
    </select>

    <select id="queryWagesModelFieldByModelIdsAndStaffId" resultType="java.util.Map">
        SELECT
            a.field_key fieldKey,
            b.name_cn nameCn,
            b.name_en nameEn,
            CONVERT(c.amount_money, decimal(24, 2)) amountMoney,
            b.wages_type wagesType,
            b.monthly_clearing monthlyClearing
            <if test="jobScoreId != '' and jobScoreId != null">
                ,
                CONVERT(d.min_money, decimal(24, 2)) minMoney,
                CONVERT(d.max_money, decimal(24, 2)) maxMoney
            </if>
        FROM
            wages_model_field a,
            wages_field_type b,
            wages_field_staff_mation c
            <if test="jobScoreId != '' and jobScoreId != null">
                LEFT JOIN company_job_score_field d ON c.field_type_key = d.field_key AND d.job_score_id = #{jobScoreId}
            </if>
        WHERE a.model_id IN
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        AND a.field_key = c.field_type_key
        AND c.staff_id = #{staffId}
        AND a.field_key = b.key
        AND b.state = 1
        GROUP BY a.field_key
    </select>

</mapper>