<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.WagesFieldTypeDao">

    <select id="queryWagesFieldTypeList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.name_cn nameCn,
            a.name_en nameEn,
            a.key,
            a.state,
            a.monthly_clearing monthlyClearing,
            a.wages_type wagesType,
            bu.user_name createName,
            DATE_FORMAT(CONVERT(a.create_time, CHAR),'%Y-%m-%d') createTime,
            cu.user_name lastUpdateName,
            DATE_FORMAT(CONVERT(a.last_update_time, CHAR),'%Y-%m-%d') lastUpdateTime
        FROM
            wages_field_type a
            LEFT JOIN sys_eve_user_staff bu ON a.create_id = bu.user_id
            LEFT JOIN sys_eve_user_staff cu ON a.last_update_id = cu.user_id
        WHERE a.state != '3'
        <if test="name != '' and name != null">
            AND (a.name_cn LIKE '%${name}%' OR a.name_en LIKE '%${name}%')
        </if>
        <if test="key != '' and key != null">
            AND a.`key` = #{key}
        </if>
        <if test="state != '' and state != null">
            AND a.state = #{state}
        </if>
    </select>

    <select id="queryWagesFieldTypeListByKey" resultType="java.util.Map">
        SELECT
            a.id,
            a.name_cn nameCn,
            a.name_en nameEn,
            a.`key`,
            a.state
        FROM
             wages_field_type a
        WHERE a.key = #{key}
    </select>

    <insert id="insertWagesFieldTypeMation" parameterType="java.util.Map">
        INSERT into wages_field_type
            (id, name_cn, name_en, `key`, state, monthly_clearing, wages_type, create_id, create_time, last_update_id, last_update_time)
        VALUES
            (#{id}, #{nameCn}, #{nameEn}, #{key}, #{state}, #{monthlyClearing}, #{wagesType}, #{createId}, #{createTime}, #{createId}, #{createTime})
    </insert>

    <select id="queryAllStaffMationList" resultType="java.util.Map">
        SELECT
            id
        FROM
            sys_eve_user_staff
    </select>

    <insert id="insertWagesFieldTypeKeyToStaff">
        INSERT into wages_field_staff_mation
        (staff_id, field_type_key)
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.id}, #{item.key})
        </foreach>
    </insert>

    <select id="queryWagesFieldTypeMationById" resultType="java.util.Map">
        SELECT
            a.id,
            a.name_cn nameCn,
            a.name_en nameEn,
            a.`key`,
            a.monthly_clearing monthlyClearing,
            a.wages_type wagesType,
            a.state
        FROM
            wages_field_type a
        WHERE a.id = #{id}
        AND a.state != '3'
    </select>

    <update id="editWagesFieldTypeMationById" parameterType="java.util.Map">
        UPDATE wages_field_type
        <set>
            name_cn = #{nameCn},
            name_en = #{nameEn},
            monthly_clearing = #{monthlyClearing},
            wages_type = #{wagesType},
            last_update_id = #{lastUpdateId},
            last_update_time = #{lastUpdateTime},
        </set>
        WHERE id = #{id}
        AND state != '3'
    </update>

    <update id="editWagesFieldTypeStateMationById">
        UPDATE wages_field_type
        <set>
            state = #{state},
        </set>
        WHERE id = #{id}
        AND state != '3'
    </update>

    <select id="queryEnableWagesFieldTypeList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.name_cn nameCn,
            a.name_en nameEn,
            a.monthly_clearing monthlyClearing,
            a.wages_type wagesType,
            a.key
        FROM
            wages_field_type a
        WHERE a.state = '1'
        <if test="name != '' and name != null">
            AND (a.name_cn LIKE '%${name}%' OR a.name_en LIKE '%${name}%')
        </if>
        <if test="key != '' and key != null">
            AND a.`key` = #{key}
        </if>
    </select>

    <select id="queryAllWagesFieldTypeList" resultType="java.util.Map">
        SELECT
            a.key
        FROM
            wages_field_type a
        GROUP BY a.key
    </select>

</mapper>