<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.ExpenditureDao">

    <select id="queryExpenditureByList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.change_amount changeAmount,
            FORMAT(a.total_price, 2) totalPrice,
            a.bill_no billNo,
            CONVERT (a.bill_time, CHAR) billTime,
            (SELECT group_concat(distinct m.user_name) FROM sys_eve_user_staff m WHERE INSTR(CONCAT(',', a.hands_person_id, ','), CONCAT(',', m.user_id, ','))) hansPersonName,
            a.remark,
            s.supplier supplierName
        FROM
            erp_accounthead a
        	LEFT JOIN erp_supplier s ON a.organ_id = s.id
        WHERE
            a.delete_flag = '0'
        AND a.type = #{type}
        <if test="billNo != '' and billNo != null">
            AND a.bill_no LIKE '%${billNo}%'
        </if>
        <if test="startTime != '' and startTime != null and endTime != '' and endTime != null">
            AND a.bill_time >= #{startTime} AND #{endTime} >= a.bill_time
        </if>
        ORDER BY a.bill_time DESC, a.id ASC
    </select>

    <insert id="insertExpenditure" parameterType="java.util.Map">
        INSERT INTO erp_accounthead(
            id, type, organ_id, hands_person_id, change_amount, total_price, account_id, bill_no, bill_time, remark, delete_flag
        ) VALUES 
        (#{id}, #{type}, #{organId}, #{handsPersonId}, #{changeAmount}, #{totalPrice}, #{accountId}, #{billNo}, #{operTime}, #{remark}, #{deleteFlag})
    </insert>

    <insert id="insertExpenditureItem" parameterType="java.util.Map">
        INSERT INTO erp_accountitem(
            id, header_id, in_out_item_id, each_amount, remark, delete_flag
        ) VALUES
        <foreach collection="list" item="item" index="index" separator="," >
        (#{item.id}, #{item.headerId}, #{item.inOutItemId}, #{item.eachAmount}, #{item.remark}, #{item.deleteFlag})
        </foreach>
    </insert>

    <select id="queryExpenditureToEditById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.type payType,
            a.organ_id organId,
            a.hands_person_id handsPersonId,
            CONVERT(a.change_amount, decimal(24, 2)) changeAmount,
            CONVERT(a.total_price, decimal(24, 2)) totalPrice,
            a.account_id accountId,
            a.bill_no billNo,
            CONVERT (a.bill_time, char) billTime,
            a.remark,
            s.supplier supplierName
        FROM
            erp_accounthead a
            LEFT JOIN erp_supplier s ON a.organ_id = s.id
        WHERE
            a.id = #{id}
        AND a.delete_flag = '0'
        ORDER BY a.bill_time DESC
    </select>

    <select id="queryExpenditureItemsToEditById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.in_out_item_id initemId,
            CONVERT(a.each_amount , decimal(24, 2)) initemMoney,
            a.remark
        FROM
            erp_accountitem a
        WHERE
            a.header_id = #{id}
    </select>

    <update id="editExpenditureById" parameterType="java.util.Map">
        UPDATE erp_accounthead
        <set>
            organ_id = #{organId},
            hands_person_id = #{handsPersonId},
            change_amount = #{changeAmount},
            total_price = #{totalPrice},
            account_id = #{accountId},
            bill_time = #{operTime},
            remark = #{remark}
        </set>
        WHERE
            id = #{id}
    </update>

    <delete id="deleteExpenditureItemById" parameterType="java.util.Map">
        DELETE
		FROM
			erp_accountitem
		WHERE
			header_id = #{id}
    </delete>

    <update id="editExpenditureByDeleteFlag" parameterType="java.util.Map">
        UPDATE erp_accounthead
        <set>
            delete_flag = #{deleteFlag}
        </set>
        WHERE
            id = #{id}
    </update>

    <update id="editExpenditureItemsByDeleteFlag" parameterType="java.util.Map">
        UPDATE erp_accountitem
        <set>
            delete_flag = #{deleteFlag}
        </set>
        WHERE
            header_id = #{id}
    </update>

    <select id="queryExpenditureDetailById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            FORMAT(a.change_amount, 2) changeAmount,
            FORMAT(a.total_price, 2) totalPrice,
            a.bill_no billNo,
            CONVERT (a.bill_time, CHAR) operTime,
            a.remark,
            s.supplier supplierName,
            group_concat(distinct b.user_name) hansPersonName,
            t.`name` accountName
        FROM
            erp_accounthead a
	        LEFT JOIN erp_supplier s ON a.organ_id = s.id
	        LEFT JOIN erp_account t ON a.account_id = t.id
	        LEFT JOIN sys_eve_user_staff b ON INSTR(CONCAT(',', a.hands_person_id, ','), CONCAT(',', b.user_id, ','))
        WHERE
            a.delete_flag = '0'
        AND a.id = #{id}
        ORDER BY a.bill_time DESC
    </select>

    <select id="queryExpenditureItemsDetailById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            FORMAT(a.each_amount, 2) eachAmount,
            a.remark,
            c.`name` inoutitemName
        FROM
            erp_accountitem a
	        LEFT JOIN erp_inoutitem c ON a.in_out_item_id = c.id
        WHERE
            a.header_id = #{id}
        AND a.delete_flag = '0'
    </select>
    
    <select id="queryMationToExcel" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.change_amount changeAmount,
            FORMAT(a.total_price, 2) totalPrice,
            a.bill_no billNo,
            CONVERT (a.bill_time, CHAR) billTime,
            (SELECT group_concat(distinct m.user_name) FROM sys_eve_user_staff m WHERE INSTR(CONCAT(',', a.hands_person_id, ','), CONCAT(',', m.user_id, ','))) hansPersonName,
            a.remark,
            s.supplier supplierName
        FROM
            erp_accounthead a
        	LEFT JOIN erp_supplier s ON a.organ_id = s.id
        WHERE
            a.delete_flag = '0'
        AND a.type = #{type}
        <if test="billNo != '' and billNo != null">
            AND a.bill_no LIKE '%${billNo}%'
        </if>
        <if test="startTime != '' and startTime != null and endTime != '' and endTime != null">
            AND a.bill_time >= #{startTime} AND #{endTime} >= a.bill_time
        </if>
        ORDER BY a.bill_time DESC, a.id ASC
    </select>

</mapper>