<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.InoutitemDao">

    <select id="queryInoutitemByList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            m.id,
            m.name inoutitemName,
            m.type inoutitemType,
            m.remark,
            CONVERT (m.create_time, CHAR) createTime
        FROM
            erp_inoutitem m
        WHERE
            m.delete_flag = 0
        <if test="inoutitemName != '' and inoutitemName != null">
            AND m.name LIKE '%${inoutitemName}%'
        </if>
        <if test="inoutitemType != '' and inoutitemType != null">
            AND m.type = #{inoutitemType}
        </if>
        <if test="remark != '' and remark != null">
            AND m.remark LIKE '%${remark}%'
        </if>
        ORDER BY m.create_time DESC
    </select>

    <select id="queryInoutitemByName" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            m.id
        FROM
            erp_inoutitem m
        WHERE m.delete_flag = 0
        AND m.name = #{inoutitemName}
        ORDER BY m.create_time DESC LIMIT 0,1
    </select>

    <insert id="insertInoutitem" parameterType="java.util.Map">
        INSERT INTO erp_inoutitem(
            id, name, type, remark, delete_flag, create_time
        ) VALUES (
            #{id}, #{inoutitemName}, #{inoutitemType}, #{remark}, #{deleteFlag}, #{createTime}
        )
    </insert>

    <select id="queryInoutitemById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            m.id,
            m.name inoutitemName,
            m.type inoutitemType,
            m.remark,
            CONVERT (m.create_time, CHAR) createTime
        FROM
            erp_inoutitem m
        WHERE m.delete_flag = 0
        AND m.id = #{id}
        ORDER BY m.create_time DESC LIMIT 0,1
    </select>

    <update id="editInoutitemByDeleteFlag" parameterType="java.util.Map">
        UPDATE
            erp_inoutitem
        <set>
            delete_flag = #{deleteFlag}
        </set>
        WHERE
            id = #{id}
    </update>

    <select id="queryInoutitemByIdAndName" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            m.id
        FROM
            erp_inoutitem m
        WHERE m.delete_flag = 0
        AND m.name = #{inoutitemName}
        AND m.id != #{id}
        ORDER BY m.create_time DESC LIMIT 0,1
    </select>

    <update id="editInoutitemById" parameterType="java.util.Map">
        UPDATE
            erp_inoutitem
        <set>
            name = #{inoutitemName},
            type = #{inoutitemType},
            remark = #{remark}
        </set>
        WHERE
            id = #{id}
        AND delete_flag = 0
    </update>

    <select id="queryInoutitemByIdAndInfo" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            m.id,
            m.name inoutitemName,
            m.type inoutitemType,
            m.remark,
            CONVERT (m.create_time, CHAR) createTime
        FROM
            erp_inoutitem m
        WHERE m.delete_flag = 0
        AND m.id = #{id}
        ORDER BY m.create_time DESC LIMIT 0,1
    </select>
    
    <select id="queryInoutitemListToSelect" parameterType="java.util.Map" resultType="java.util.Map">
    	SELECT
			a.id,
			a.`name`
		FROM
			erp_inoutitem a
		WHERE a.type = #{type}
    </select>

</mapper>