
.left-box-form {
    height: 100%;
    background-color: white;
    position: fixed;
    width: 266px;
}

.btntext {
    display: inline-block;
    background: #fff;
    color: #000;
    height: 70px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    z-index: 2;
}

.attr-mation {
    height: 28px;
    line-height: 28px;
    text-align: left;
    padding: 0px 10px;
}

.no-choose {
    cursor: not-allowed;
    color: grey;
}

.attr-mation .fa {
    margin-right: 5px;
}

.attr-mation .i-label-class {
    cursor: move;
}

.btntext:hover {
    background-color: #2e73ff;
    color: #ffffff;
}

.btntext:hover .skyeye-fa {
    color: #ffffff !important;
}

.btntext:hover .skyeye-svg {
    filter: drop-shadow(#ffffff 80px 0) !important;
}

.btntext .icon {
    padding: 10px 5px 12px;
    font-size: 22px;
    height: 22px;
}

.btntext label {
    font-size: 12px;
}

.btntext img {
    width: 34px;
    float: right;
}

#showForm .layui-form-item {
    z-index: 2;
}

#showForm .layui-form-item:hover {
    border: 1px dashed blue;
}

.center-box-form {
    width: calc(100% - 620px);
    margin-left: 280px;
    height: calc(100% - 50px);
    background-color: white;
    z-index: 1;
    position: absolute;
    overflow: auto;
}

.center-box-form-toolbar {
    width: calc(100% - 613px);
    margin-left: 266px;
    margin-bottom: 10px;
    background-color: white;
    text-align: right;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    height: 40px;
    padding: 0px 10px;
}

.right-box-form {
    height: 100%;
    background-color: white;
    position: fixed;
    width: 320px;
    right: 0px;
    top: 0px;
    padding-right: 5px;
    padding-top: 5px;
}

.droppable-active {
    background-color: #eaeaf6 !important;
}

.center-box-form .layui-form {
    float: left;
    margin-top: 10px;
    position: absolute;
    margin: 5px;
    width: calc(100% - 10px);
    height: auto;
    min-height: 600px;
}

.center-box-form .ui-sortable-placeholder {
    border: 1px dashed #cecece !important;
    visibility: visible !important;
    background: #e7eaec;
    margin: 0 0 23px !important;
}

.center-box-form .ui-sortable-placeholder-choose {
    visibility: visible !important;
    border: 1px #d9534f dashed;
}

.btn-base {
    display: none;
    text-align: right;
}

.btn-base button {
    color: white;
    width: 21px;
    height: 21px;
    border: 0px;
    background-color: #2e73ff;
}

.btn-base .btn-danger {
    background-color: red;
}
