<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
    <link href="../../assets/lib/layui/css/codemirror.css" rel="stylesheet" />
	<link href="dsFormPageDesign.css" rel="stylesheet" />
</head>
<body style="background-color: rgb(234, 234, 234)">
	<div class="left-box-form">
		<div class="layui-tab layui-tab-brief">
			<ul class="layui-tab-title">
				<li class="layui-this">基本组件</li>
				<li class="">属性</li>
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show" id="btnBox"></div>
				<div class="layui-tab-item" id="attrBox"></div>
			</div>
		</div>
	</div>
	<div class="winui-toolbar center-box-form-toolbar">
		<div class="winui-tool">
			<button id="save" class="winui-toolbtn"><i class="fa fa-save" aria-hidden="true"></i><language showName="com.skyeye.save"></language></button>
		</div>
	</div>
	<div class="center-box-form">
		<form class="layui-form" action="" id="showForm" autocomplete="off">

		</form>
	</div>
	<div class="right-box-form" id="btnBoxDesign">
		<iframe style="width: 100%; border: 0px; height: 100%" scrolling="no" id="editPageContent"></iframe>
	</div>

	<script type="text/html" id="leftBoxItem">
		{{#each bean}}
		<div class="layui-form-item layui-col-xs12">
			<span class="hr-title">{{@key}}</span><hr>
		</div>
		{{#each @this}}
		<div class="btntext component" componentId="{{id}}" title="{{remark}}">
			<div class="icon">
				{{{logo}}}
			</div>
			<label class="col-sm-12">
				{{name}}
			</label>
		</div>
		{{/each}}
		{{/each}}
	</script>

	<script type="text/html" id="leftAttrBoxItem">
		{{#each rows}}
		<div class="btntext attr-mation {{class}}" attrKey="{{attrKey}}" componentId="{{attrDefinitionCustom.dsFormComponent.id}}" title="{{showTitle}}">
			<label class="col-sm-12 {{class}}">
				<i class="fa fa-arrows fa-fw {{iLabelClass}}"></i>{{name}}
			</label>
		</div>
		{{/each}}
	</script>

	<script src="../../assets/lib/layui/layui.js"></script>
	<script src="../../assets/lib/layui/custom.js"></script>
	<script type="text/javascript">
		layui.config({base: '../../js/dsFormPage/'}).use('dsFormPageDesign');
	</script>

</body>
</html>