<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
	<link href="../../assets/lib/layui/css/codemirror.css" rel="stylesheet" />
	<style>
		.layui-table-cell {
			height: auto;
			text-overflow: inherit;
			overflow: visible;
			white-space: normal;
			word-wrap: break-word;
		}

		.layui-table-cell .layui-anim {
			height: 180px;
		}

		.place-holder {
			height: 200px;
		}
	</style>
</head>
<body>
	<div style="margin: 0 auto; padding: 20px;">
	    <form class="layui-form" action="" id="showForm" autocomplete="off">
			<div class="layui-form-item layui-col-xs12">
				<span class="hr-title">基本信息</span><hr>
			</div>
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">属性<i class="red">*</i></label>
				<div class="layui-input-block">
					<select lay-filter="attrKey" lay-search="" id="attrKey" win-verify="required">

					</select>
				</div>
			</div>
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">宽度比例<i class="red">*</i></label>
				<div class="layui-input-block">
					<select lay-filter="proportion" lay-search="" id="proportion" win-verify="required">

					</select>
				</div>
			</div>
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">序号<i class="red">*</i></label>
				<div class="layui-input-block">
					<input type="text" id="orderBy" name="orderBy" win-verify="required|number" placeholder="请输入序号" class="layui-input"/>
					<div class="layui-form-mid layui-word-aux">序号越大越往后。</div>
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12" id="tableBox">
				<label class="layui-form-label">表格属性<i class="red">*</i></label>
				<div class="layui-input-block">
					<div class="winui-tip alert-info">
						拖拽表格行可修改顺序。
					</div>
					<div class="winui-tool" style="text-align: left;">
						<button id="addRow" class="winui-toolbtn" type="button"><i class="fa fa-plus" aria-hidden="true"></i>新增行</button>
						<button id="deleteRow" class="winui-toolbtn" type="button"><i class="fa fa-trash-o" aria-hidden="true"></i>删除行</button>
					</div>
					<table class="layui-table" id="messageTable">

					</table>
				</div>
			</div>


		    <div class="layui-form-item layui-col-xs12">
		        <div class="layui-input-block">
		            <button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
		            <button class="winui-btn" lay-submit lay-filter="formAddBean"><language showName="com.skyeye.save"></language></button>
		        </div>
		    </div>
	    </form>
	</div>

	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
		layui.config({base: '../../js/processAttr/'}).use('processAttrAdd');
	</script>
</body>
</html>