<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="padding:20px; margin:0 auto;">
	    <form class="layui-form" action="" id="showForm">
		    <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">举报类型<i class="red">*</i></label>
	            <div class="layui-input-block">
					<select id="reportType" name="reportType" lay-filter="reportType" lay-search="" win-verify="required">
						
					</select>
	            </div>
	        </div>
		    <div class="layui-form-item layui-col-xs12 layui-hide" id="contentHide">
		        <label class="layui-form-label">举报内容<i class="red">*</i></label>
		        <div class="layui-input-block">
		        	<textarea id="reportContent" name="reportContent" placeholder="请输入举报内容" class="layui-textarea" style="height: 100px;" maxlength="200"></textarea>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">备注</label>
		        <div class="layui-input-block">
		        	<textarea id="reportDesc" name="reportDesc" placeholder="请输入备注" class="layui-textarea" style="height: 100px;" maxlength="200"></textarea>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <div class="layui-input-block">
		            <button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
		            <button class="winui-btn" lay-submit lay-filter="formAddBean">确定</button>
		        </div>
		    </div>
	    </form>
	</div>
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
        layui.config({base: '../../js/forumshow/'}).use('forumreport');
    </script>
</body>
</html>