<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body style="background-color: black;">
	<div style="height: 100%;">
		<div class="layui-col-xs12 sys-mation-module-operator">
			<div class="sys-mation-module-operator-left">
				服务器监控数据（每隔一分钟刷新一次）
			</div>
			<div class="sys-mation-module-operator-right">
				<font>距离下次数据更新还有<font class="refreshMinute">60</font>秒</font>
				<button title="全屏模式" id="qpModel">
					<i class="fa fa-fw fa-object-group"></i>
				</button>
				<button title="退出全屏" id="tcqpModel">
					<i class="fa fa-fw fa-object-ungroup"></i>
				</button>
			</div>
		</div>
		<div class="layui-col-xs12">
			<ul class="layui-row layui-this sys-mation-module-list">
				<li class="layui-col-xs2"><a class="layadmin-backlog-body">
					<h3>系统</h3>
					<p>
						<cite id="osName"></cite>
					</p>
				</a></li>
				<li class="layui-col-xs2"><a class="layadmin-backlog-body">
					<h3>IP</h3>
					<p>
						<cite id="IPName"></cite>
					</p>
				</a></li>
				<li class="layui-col-xs2"><a class="layadmin-backlog-body">
					<h3>总共物理内存(M)</h3>
					<p>
						<cite id="totalMemorySize"></cite>
					</p>
				</a></li>
				<li class="layui-col-xs2"><a class="layadmin-backlog-body">
					<h3>最大可使用内存(M)</h3>
					<p>
						<cite id="maxMemory"></cite>
					</p>
				</a></li>
			</ul>
		</div>
		<div class="sys-statistics-list">
	       	<div class="layui-col-xs4 sys-statistics">
	        	<div id="totalMemoryLine" class="sys-statistics-show"></div>
	        </div>
	        <div class="layui-col-xs4 sys-statistics">
	        	<div id="freeMemoryYLine" class="sys-statistics-show"></div>
	        </div>
	       	<div class="layui-col-xs4 sys-statistics">
	        	<div id="freePhysicalMemorySizeLine" class="sys-statistics-show"></div>
	        </div>
	        <div class="layui-col-xs4 sys-statistics">
	        	<div id="usedMemoryLine" class="sys-statistics-show"></div>
	        </div>
	       	<div class="layui-col-xs4 sys-statistics">
	        	<div id="totalThreadLine" class="sys-statistics-show"></div>
	        </div>
	        <div class="layui-col-xs4 sys-statistics">
	        	<div id="cpuRatioLine" class="sys-statistics-show"></div>
	        </div>
        </div>
    </div>
    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/sysmonitor/'}).use('sysmonitorlist');
    </script>
</body>
</html>