<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div class="layui-col-xs12">
		<div class="layui-col-xs2" style="min-height: 100px;">
			<div id="groupList" class="layui-col-xs12">
				<div class="winui-tool">
		            <button id="addFolder" class="winui-toolbtn"><i class="fa fa-plus" aria-hidden="true"></i>新增目录</button>
		            <button id="addFlower" class="winui-toolbtn"><i class="fa fa-plus" aria-hidden="true"></i>新增流程图</button>
		        </div>
				<table id="messageTable" lay-filter="messageTable"></table>
			</div>
		</div>
	    <div class="layui-col-xs10">
	    	<div id="toolBar" class="lct-toolBar layui-col-xs12">
				<ul>
					<li>
						<button class="layui-btn layui-btn-primary layui-btn-sm" id="addCustom1"><i class="iconfont icon-tuoyuan"></i></button>
					</li>
					<li>
						<button class="layui-btn layui-btn-primary layui-btn-sm" id="addCustom2"><i class="iconfont icon-changfangxing"></i></button>
					</li>
					<li>
						<button class="layui-btn layui-btn-primary layui-btn-sm" id="addCustom3"><i class="iconfont icon-lingxing-B"></i></button>
					</li>
					<li class="s-line">|</li>
					<li>
						<button class="layui-btn layui-btn-primary layui-btn-sm" id="addLine"><i class="iconfont icon-line"></i></button>
					</li>
					<li>
						<button class="layui-btn layui-btn-primary layui-btn-sm" id="addArrowLine"><i class="iconfont icon-one-line-arrow"></i></button>
					</li>
					<li>
						<button class="layui-btn layui-btn-primary layui-btn-sm" id="addSmooth"><i class="iconfont icon-quxian"></i></button>
					</li>
					<li>
						<button class="layui-btn layui-btn-primary layui-btn-sm" id="addArrowSmooth"><i class="iconfont icon-quxianjiantou"></i></button>
					</li>
					<!-- <li>
						<button class="layui-btn layui-btn-primary layui-btn-sm" id="addLineFlow"><i class="iconfont icon-zhexian"></i></button>
					</li> -->
					<li>
						<button class="layui-btn layui-btn-primary layui-btn-sm" id="addPolyLineFlow"><i class="iconfont icon-zhexianjiantou-copy"></i></button>
					</li>
					<li class="s-line">|</li>
					<li>
						<button class="layui-btn layui-btn-primary layui-btn-sm" id="drag"><i class="fa fa-arrows"></i></button>
					</li>
					<li>
						<button class="layui-btn layui-btn-primary layui-btn-sm" id="edit"><i class="fa fa-edit"></i></button>
					</li>
					<li class="s-line">|</li>
					<li>
						<button class="layui-btn layui-btn-primary layui-btn-sm" id="delete"><i class="fa fa-trash-o"></i></button>
					</li>
					<li>
						<button class="layui-btn layui-btn-primary layui-btn-sm" id="consoleJSON"><i class="fa fa-save"></i></button>
					</li>
				</ul>
			</div>
			
	        <div class="layui-col-xs12">
	        	<!-- <div class="layui-col-xs2 left-div">
		        </div> -->
		    	<div class="layui-col-xs12 coverModel" id="mountNode">
		        </div>
		        <!-- <div class="layui-col-xs2 right-div">
		        </div> -->
	        </div>
	    </div>
	</div>
    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/flowchart/'}).use('makeflowchart');
    </script>
</body>
</html>