<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="margin:0 auto;padding:20px;">
	    <form class="layui-form" action="" id="showForm">
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">名称<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="name" name="name" win-verify="required" placeholder="请输入名称" class="layui-input"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
                <label class="layui-form-label">类别<i class="red">*</i></label>
                <div class="layui-input-block">
                    <select lay-filter="typeId" lay-search="" id="typeId" win-verify="required">
                    
                    </select>
                </div>
			</div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">规格</label>
		        <div class="layui-input-block">
		            <input type="text" id="specifications" name="specifications" placeholder="请输入用品规格" class="layui-input"/>
		        	<div class="layui-form-mid layui-word-aux">例如：品牌、等级、成分、大小（尺寸、重量）等</div>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">计量单位<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="unitOfMeasurement" name="unitOfMeasurement" win-verify="required" placeholder="请输入计量单位，如：厘米，千克，本，个等" class="layui-input"/>
		        </div>
		    </div>
	        <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">初始化数量<i class="red">*</i></label>
		        <div class="layui-input-block">
		        	<input type="text" id="initialNum" name="initialNum" win-verify="required|number" placeholder="请输入初始化数量" class="layui-input"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">存放区域</label>
		        <div class="layui-input-block">
		        	<input type="text" id="storageArea" name="storageArea" placeholder="请输入用品的存放区域" class="layui-input"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">管理人</label>
		        <div class="layui-input-block">
		        	<input type="text" id="assetAdmin" name="assetAdmin" placeholder="请选择用品管理人" class="layui-input"/>
				    <i class="fa fa-user-plus input-icon" id="userNameSelPeople"></i>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">相关描述</label>
		        <div class="layui-input-block">
		        	<textarea id="remark" name="remark" placeholder="请输入相关描述" class="layui-textarea" style="height: 100px;" maxlength="200"></textarea>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">相关附件</label>
				<div class="layui-input-block" id="enclosureUpload">
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <div class="layui-input-block">
		            <button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
		            <button class="winui-btn" lay-submit lay-filter="formAddBean"><language showName="com.skyeye.save"></language></button>
		        </div>
		    </div>
	    </form>
	</div>
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
		layui.config({base: '../../js/assetArticles/'}).use('assetArticlesAdd');
	</script>
</body>
</html>