<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.CompanyJobScoreDao">

    <select id="queryCompanyJobScoreList" resultType="java.util.Map">
        SELECT
            a.id,
            a.name_cn nameCn,
            a.name_en nameEn,
            a.state,
            bu.user_name createName,
            DATE_FORMAT(CONVERT(a.create_time, CHAR),'%Y-%m-%d') createTime,
            cu.user_name lastUpdateName,
            DATE_FORMAT(CONVERT(a.last_update_time, CHAR),'%Y-%m-%d') lastUpdateTime
        FROM
            company_job_score a
            LEFT JOIN sys_eve_user_staff bu ON a.create_id = bu.user_id
            LEFT JOIN sys_eve_user_staff cu ON a.last_update_id = cu.user_id
        WHERE a.state != '3'
        AND a.job_id = #{jobId}
        <if test="name != '' and name != null">
            AND (a.name_cn LIKE '%${name}%' OR a.name_en LIKE '%${name}%')
        </if>
        <if test="state != '' and state != null">
            AND a.state = #{state}
        </if>
    </select>

    <select id="queryCompanyJobScoreByNameAndNotId" resultType="java.util.Map">
        SELECT
            a.id,
            a.name_cn
        FROM
            company_job_score a
        WHERE a.state != '3'
        AND a.name_cn = #{nameCn}
        <if test="notId != '' and notId != null">
            AND a.id != #{notId}
        </if>
        AND a.job_id = #{jobId}
    </select>

    <insert id="insertCompanyJobScoreMation" parameterType="java.util.Map">
        INSERT into company_job_score
        (id, name_cn, name_en, state, job_id, create_id, create_time, last_update_id, last_update_time)
        VALUES
        (#{id}, #{nameCn}, #{nameEn}, #{state}, #{jobId}, #{createId}, #{createTime}, #{createId}, #{createTime})
    </insert>

    <select id="queryCompanyJobScoreMationById" resultType="java.util.Map">
        SELECT
            a.id,
            a.name_cn nameCn,
            a.name_en nameEn,
            a.job_id jobId
        FROM
            company_job_score a
        WHERE a.state != '3'
        AND a.id = #{id}
    </select>

    <update id="editCompanyJobScoreMationById">
        UPDATE company_job_score
        <set>
            name_cn = #{nameCn},
            name_en = #{nameEn},
        </set>
        WHERE id = #{id}
    </update>

    <update id="editCompanyJobScoreStateMationById">
        UPDATE company_job_score
        <set>
            state = #{state},
        </set>
        WHERE id = #{id}
        AND state != '3'
    </update>

    <update id="editCompanyJobScoreStateMationByJobId">
        UPDATE company_job_score
        <set>
            state = #{state},
        </set>
        WHERE job_id = #{jobId}
        AND state != '3'
    </update>

    <select id="queryEnableCompanyJobScoreList" resultType="java.util.Map">
        SELECT
            a.id,
            a.name_cn title,
            '0' parentId,
            true isLast,
            '[{"type": "0", "isChecked": "0"}]' checkArr,
            '1' level
        FROM
            company_job_score a
        WHERE a.state = '1'
        AND a.job_id = #{jobId}
    </select>

</mapper>