<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.CompanyMationDao">
	
	<select id="queryCompanyMationList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.company_name companyName,
			a.company_desc companyDesc,
			a.p_id pId,
			b.`name` provinceName,
			c.`name` cityName,
			d.`name` areaName,
			e.`name` townshipName,
			a.address_detailed addressDetailed,
			(SELECT COUNT(*) FROM company_mation f WHERE a.id = f.p_id) childsNum,
			(SELECT COUNT(*) FROM sys_eve_user_staff g WHERE g.company_id = a.id) userNum,
			(SELECT COUNT(*) FROM company_department h WHERE a.id = h.company_id) departmentNum,
			CONVERT(a.create_time, char) createTime
		FROM
			company_mation a
			LEFT JOIN t_area b ON a.address_province = b.id
			LEFT JOIN t_area c ON a.address_city = c.id
			LEFT JOIN t_area d ON a.address_area = d.id
			LEFT JOIN t_area e ON a.address_township = e.id
		WHERE 1=1
			<if test="companyName != '' and companyName != null">
				AND a.company_name LIKE '%${companyName}%'
			</if>
			ORDER BY a.create_time DESC
	</select>
	
	<select id="queryCompanyMationByName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.company_name companyName
		FROM
			company_mation a
		WHERE 
			a.company_name = #{companyName}
	</select>
	
	<insert id="insertCompanyMation" parameterType="java.util.Map">
	     INSERT into company_mation
	     (id, company_name, company_desc, p_id, address_province, address_city, address_area, address_township, address_detailed, create_id, create_time)
	     VALUES
	     (#{id}, #{companyName}, #{companyDesc}, #{pId}, #{provinceId}, #{cityId}, #{areaId}, #{townshipId}, #{addressDetailed}, #{createId}, #{createTime})
	</insert>
	
	<select id="queryCompanyMationById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.company_name companyName,
			a.p_id pId,
			(SELECT COUNT(*) FROM company_mation b WHERE b.p_id = a.id) childsNum
		FROM
			company_mation a
		WHERE a.id = #{id}
	</select>
	
	<select id="queryCompanyDepartMentNumMationById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			COUNT(*) departmentNum
		FROM 
			company_department a 
		WHERE a.company_id = #{id}
	</select>
	
	<select id="queryCompanyUserNumMationById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			COUNT(*) companyUserNum
		FROM 
			sys_eve_user_staff a 
		WHERE a.company_id = #{id}
	</select>
	
	<delete id="deleteCompanyMationById">
		DELETE
		FROM
			company_mation
		WHERE
			id = #{companyId}
	</delete>
	
	<select id="queryCompanyMationToEditById" resultType="java.util.Map">
		SELECT
			a.id,
			a.company_name companyName,
			a.company_desc companyDesc,
			a.p_id pId,
			a.address_province provinceId,
			a.address_city cityId,
			a.address_area areaId,
			a.address_township townshipId,
			a.address_detailed addressDetailed,
			CONVERT(a.create_time, char) createTime
		FROM
			company_mation a
		WHERE a.id = #{companyId}
	</select>
	
	<select id="queryCompanyMationByNameAndId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.company_name companyName
		FROM
			company_mation a
		WHERE 
			a.company_name = #{companyName}
			AND a.id != #{id}
	</select>
	
	<update id="editCompanyMationById" parameterType="java.util.Map">
		UPDATE company_mation
		<set>
			<if test="companyName != '' and companyName != null">
				company_name = #{companyName},
			</if>
			address_province = #{provinceId},
			address_city = #{cityId},
			address_area = #{areaId},
			address_township = #{townshipId},
			address_detailed = #{addressDetailed},
			p_id = #{pId},
			company_desc = #{companyDesc},
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="queryOverAllCompanyMationList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.company_name name
		FROM
			company_mation a
		WHERE a.p_id = '0'
		<if test="notId != '' and notId != null">
			AND a.id != #{notId}
		</if>
		ORDER BY a.create_time DESC
	</select>
	
	<select id="queryCompanyMationListTree" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.company_name title,
			a.p_id parentId,
			'[{"type": "0", "isChecked": "0"}]' checkArr
		FROM
			company_mation a
		ORDER BY a.p_id ASC
	</select>
	
	<select id="queryCompanyListToSelect" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.company_name name,
		   '企业' title,
			a.p_id parentId
		FROM
			company_mation a
	</select>

	<select id="queryCompanyMationListToChoose" resultType="java.util.Map">
		SELECT
			a.id,
			a.company_name companyName,
			a.company_desc companyDesc,
			a.p_id pId,
			b.`name` provinceName,
			c.`name` cityName,
			d.`name` areaName,
			e.`name` townshipName,
			a.address_detailed addressDetailed,
			(SELECT COUNT(*) FROM sys_eve_user_staff g WHERE g.company_id = a.id) userNum,
			(SELECT COUNT(*) FROM company_department h WHERE a.id = h.company_id) departmentNum
		FROM
			company_mation a
			LEFT JOIN t_area b ON a.address_province = b.id
			LEFT JOIN t_area c ON a.address_city = c.id
			LEFT JOIN t_area d ON a.address_area = d.id
			LEFT JOIN t_area e ON a.address_township = e.id
		WHERE 1=1
			<if test="companyName != '' and companyName != null">
				AND a.company_name LIKE '%${companyName}%'
			</if>
			ORDER BY a.create_time DESC
	</select>

	<select id="queryCompanyMationListByIds" resultType="java.util.Map">
		SELECT
			a.id,
			a.company_name `name`
		FROM
			company_mation a
		WHERE 1=1
		<if test="idsList != null and idsList.size() &gt; 0">
			<foreach collection="idsList" item="id" separator="," open=" AND a.id in(" close=")">
				#{id}
			</foreach>
		</if>
	</select>

</mapper>