<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyeye.eve.dao.CompanyJobScoreFieldDao">

    <insert id="insertCompanyJobScoreField">
        INSERT INTO company_job_score_field
        (job_score_id, field_key, min_money, max_money, sort_no, remark)
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.jobScoreId}, #{item.fieldKey}, #{item.minMoney}, #{item.maxMoney}, #{item.sortNo}, #{item.remark})
        </foreach>
    </insert>

    <delete id="deleteCompanyJobScoreFieldByJobScoreId">
        DELETE
        FROM
            company_job_score_field
        WHERE
            job_score_id = #{jobScoreId}
    </delete>

    <select id="queryCompanyJobScoreFieldByJobScoreId" resultType="java.util.Map">
        SELECT
            a.job_score_id jobScoreId,
            a.field_key fieldKey,
            b.name_cn nameCn,
            b.name_en nameEn,
            b.key,
            a.min_money minMoney,
            a.max_money maxMoney,
            a.sort_no sortNo,
            a.remark
        FROM
            company_job_score_field a
            LEFT JOIN wages_field_type b ON a.field_key = b.key AND b.state != 3
        WHERE a.job_score_id = #{jobScoreId}
        ORDER BY a.sort_no ASC
    </select>

</mapper>