<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="height: 100%">
		<div class="layui-tab">
			<ul class="layui-tab-title">
				<li class="layui-this" id="orderMationLi">订单信息</li>
				<li>进度报表</li>
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					<form class="layui-form" action="" id="showForm">

					</form>
					<div class="layui-form-item layui-col-xs12">
						<div class="layui-input-block ver-center">
							<button class="winui-btn" type="button" id="jprint">打印</button>
						</div>
					</div>
				</div>
				<div class="layui-tab-item" style="height: 100%;">
					<iframe style="width: 100%; height: 100%; border: 0px;" id="contentIframe"></iframe>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/html" id="mainHtml">
		{{#bean}}
			<div class="layui-form-item layui-col-xs12">
    			<span class="hr-title">生产计划</span><hr>
	    	</div>
			<div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">计划单号：</label>
	            <div class="layui-input-block ver-center">
	                {{defaultNumber}}
	            </div>
	        </div>
			<div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">状态：</label>
	            <div class="layui-input-block ver-center">
	                {{{stateName}}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">商品名称：</label>
	            <div class="layui-input-block ver-center">
	                {{materialName}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">销售单号：</label>
	            <div class="layui-input-block ver-center">
	                {{salesNumber}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">商品型号：</label>
	            <div class="layui-input-block ver-center">
	                {{materialModel}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">计量单位：</label>
	            <div class="layui-input-block ver-center">
	                {{unitName}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">计划数量：</label>
	            <div class="layui-input-block ver-center">
	                {{number}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">计划开始时间：</label>
	            <div class="layui-input-block ver-center">
	                {{planStartDate}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">计划结束时间：</label>
	            <div class="layui-input-block ver-center">
	                {{planComplateDate}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">单据时间：</label>
	            <div class="layui-input-block ver-center">
	                {{operTime}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs12">
	            <label class="layui-form-label">备注说明：</label>
	            <div class="layui-input-block ver-center">
	                {{remark}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs12">
    			<span class="hr-title">生产工序</span><hr>
	    	</div>
	    	<div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">工序资料：</label>
		        <div class="layui-input-block">
					<table class="layui-table" style="table-layout:fixed">
			    		<thead>
			    			<tr>
			    				<th style="width: 100px">工序编号</th>
			    				<th style="width: 100px">工序名称</th>
			    				<th style="width: 100px">加工部门</th>
								<th style="width: 80px">加工单</th>
								<th style="width: 180px">单号</th>
			    			</tr>
			    		</thead>
			        	<tbody id="tBody">
			            	{{#each procedureMationList}}
								<tr>
               						<td>{{number}}</td>
               						<td>{{procedureName}}</td>
									<td>{{departmentName}}</td>
									<td>{{{stateName}}}</td>
									<td><a class="notice-title-click machinDetails" rowId="{{machinId}}">{{{machinOrderNum}}}</a></td>
            					</tr>
							{{/each}}
			            </tbody>
					</table>
		        </div>
		    </div>
	    	<div class="layui-form-item layui-col-xs12">
    			<span class="hr-title">生产建议</span><hr>
	    	</div>
	    	<div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">生产方案：</label>
	            <div class="layui-input-block ver-center">
	                {{title}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs12">
	            <label class="layui-form-label">子件清单：</label>
	            <div class="layui-input-block">
	            	<div class="winui-tip alert-info" id="showInfo">
						子件清单中如包含【自产】商品，请单独下达生产计划单
					</div>
			    	<table class="layui-table">
			    		<thead>
			    			<tr>
			    				<th>商品名称</th>
			    				<th>型号</th>
			    				<th>商品分类</th>
			    				<th>商品来源</th>
			    				<th>工序</th>
			    				<th style="text-align: center;">单位所需数量</th>
			    				<th style="text-align: center;">需求数量</th>
			    				<th style="text-align: center;">已采购数量</th>
			    				<th style="text-align: center;">采购/生产数量</th>
			    			</tr>
			    		</thead>
			        	<tbody id="tBody">
			            	{{#each childList}}
								<tr rowid="{{productId}}">
               						<td id="name{{productId}}">{{productName}}</td>
               						<td id="model{{productId}}">{{productModel}}</td>
									<td>{{categoryName}}</td>
               						<td>{{typeName}}</td>
									<td>
										{{#each procedureMationList}}
											<span class="layui-badge layui-bg-gray">{{number}}</span>{{procedureName}}<br>
										{{/each}}
									</td>
               						<td style="text-align: center;">{{needNum}}{{unitName}}</td>
									<td style="text-align: center;" id="needsNum">{{needsNum}}</td>
									<td style="text-align: center;">{{purchaseNum}}</td>
									<td style="text-align: center;">{{number}}</td>
            					</tr>
							{{/each}}
			            </tbody>
					</table>
	            </div>
	        </div>
			<div class="layui-form-item layui-col-xs12">
    			<span class="hr-title">审核信息</span><hr>
	    	</div>
			<div class="layui-form-item layui-col-xs12">
	            <label class="layui-form-label">审核意见：</label>
	            <div class="layui-input-block ver-center">
	                {{approvalContent}}
	            </div>
	        </div>
	    {{/bean}}
	</script>
	
	<script src="../../assets/lib/layui/layui.js"></script>
	<script src="../../assets/lib/layui/custom.js"></script>
	<script type="text/javascript">
	    layui.config({base: '../../js/erpProduction/'}).use('erpProductionDetail');
	</script>
</body>
</html>