<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
    <link href="../../assets/lib/layui/lay/modules/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
	<link href="../../assets/lib/layui/css/file-tree.css" rel="stylesheet" />
    <link href="../../assets/lib/layui/lay/modules/contextMenu/jquery.contextMenu.min.css" rel="stylesheet" />
    <style type="text/css" id="showListStyle">
    	
    </style>
    <!-- 颜色选择器样式 -->
    <style type="text/css">
    	.layui-colorpicker{
    		width: 28px;
    		height: 20px;
		    border: 0px;
		    padding: 0px;
    	}
    	
    	.select-box-dashed {
			position: absolute;
			display: none;
			width: 0px;
			height: 0px;
			padding: 0px;
			margin: 0px;
			border: 1px dashed #0099ff;
			background-color: #c3d5ed;
			opacity: 0.5;
			filter: alpha(opacity=50);
			font-size: 0px;
			z-index: 99999;
		}
    </style>
    <style type="text/css" id="fontColorStyleCss">
    
    </style>
</head>
<body style="-webkit-user-select:none; overflow: hidden; -moz-user-select:none; -ms-user-select:none; user-select:none;">
	<div class="fileconsole-mask">
		<div class="cent">
			<i class="fa fa-spin fa-spinner fa-fw"></i><br><br>
			<font>加载中</font>
		</div>
	</div>
	<div class="txtcenter manage-console">
	    <div class="manage-console-left">
	    	<div class="resize-bar"></div>
			<div class="resize-line"></div>
	    	<div class="left-top-is-tree">
	    		<ul id="treeDemo" class="ztree fsTree" method="get" isRoot="0"
    				treeIdKey="id" inputs="parentId" treePIdKey="pId" clickCallbackInputs="parentId:$id" treeName="name"></ul>
	    	</div>
	    	<div class="left-bottom-is-memory">
	    		<div class="memory-top">
	    			<div class="memory-scolor">
	    				
	    			</div>
	    			<div class="memory-num">
	    				0KB
	    			</div>
	    		</div>
	    		<div class="memory-buttom">
	    			<div class="memory-btn" id="recycleBinList">
	    				<i class="fa fa-trash-o fa-lg"></i>
	    				<span>回收站</span>
	    			</div>
	    			<div class="memory-btn" id="shareFileList">
	    				<i class="fa fa-share-alt fa-lg"></i>
	    				<span>我的分享</span>
	    			</div>
	    		</div>
	    	</div>
	    </div>
	    <div class="manage-console-right">
	    	<!-- 目录 -->
	    	<div class="right-top-is-route">
	    		<div class="layui-btn-group doc-op">
	    			<button class="btn-custom my-document" title="我的文档">
	    				<img alt="" src="../../assets/images/icon/home_icon.png">
	    			</button>
	    			<div class="doc-op-input-div">
	    				<ul class="yarnball">
	    					<li class="yarnlet first">
	    						<a title="/">/</a>
	    					</li>
	    					<li class="yarnlet folderName" rowid="2">
	    						<a title="我的文档/">我的文档/</a>
	    					</li>
	    				</ul>
	    			</div>
	    			<input class="doc-op-input" value="/"/>
	    			<button class="btn-custom" title="添加到收藏夹">
	    				<i class="fa fa-star"></i>
	    			</button>
	    		</div>
	    		<div class="layui-btn-group doc-search-op">
	    			<input class="doc-search-input" value=""/>
	    			<button class="btn-custom" title="搜索">
	    				<i class="fa fa-search"></i>
	    			</button>
	    		</div>
	    	</div>
	    	<!-- 操作 -->
	    	<div class="right-top2-is-operation">
	    		<div class="create-new">
	    			<button type="button" class="btn-custom" id="createNewFolder">
						<i class="fa fa-folder-open"></i>新建文件夹
					</button>
	    			<div class="layui-btn-dropdown">
						<button type="button" data-toggle="dropdown">
							<i class="fa fa-arrow-down" style="font-size: 14px"></i>
						</button>
						<ul class="layui-dropdown-menu">
							<li class="is-file" id="createTXTFile">
								<a href="javascript:;">
									<img alt="" src="../../assets/images/txt-icon.png" />
									<span>txt文件</span>
								</a>
							</li>
							<li class="is-file" id="createHtmlFile">
								<a href="javascript:;">
									<img alt="" src="../../assets/images/icon/html-icon.png" />
									<span>html文件</span>
								</a>
							</li>
							<li class="divider"></li>
							<li class="is-file" id="createWordFile">
								<a href="javascript:;">
									<img alt="" src="../../assets/images/word-icon.png" />
									<span>Word  docx 文件</span>
								</a>
							</li>
							<li class="is-file" id="createExcelFile">
								<a href="javascript:;">
									<img alt="" src="../../assets/images/excel-icon.png" />
									<span>Excel xlsx 文件</span>
								</a>
							</li>
							<li class="is-file" id="createPPTFile">
								<a href="javascript:;">
									<img alt="" src="../../assets/images/ppt-icon.png" />
									<span>PowerPoint pptx 文件</span>
								</a>
							</li>
						</ul>
					</div>
	    		</div>
	    		<div class="upload-file">
	    			<button type="button" class="btn-custom uploadFileBtn">
						<i class="fa fa-upload"></i>上传
					</button>
	    			<div class="layui-btn-dropdown">
						<button type="button" data-toggle="dropdown">
							<i class="fa fa-arrow-down" style="font-size: 14px"></i>
						</button>
						<ul class="layui-dropdown-menu">
							<li class="is-file uploadFileBtn">
								<a href="javascript:;">
									<img alt="" src="../../assets/images/cloud/file-icon.png" />
									<span>文件</span>
								</a>
							</li>
							<li class="is-file uploadFileFolderBtn">
								<a href="javascript:;">
									<img alt="" src="../../assets/images/icon/folder-icon.png" />
									<span>文件夹</span>
								</a>
							</li>
						</ul>
					</div>
	    		</div>
	    		<div class="select-op-more" style="display: none;">
	    			<button class="btn-custom shareFileBtn" title="分享">
	    				<img alt="" src="../../assets/images/icon/fx-icon.png"/>
	    				<span>分享</span>
	    			</button>
	    			<button class="btn-custom fileDownLoad" title="下载">
	    				<img alt="" src="../../assets/images/download-icon.png"/>
	    				<span>下载</span>
	    			</button>
	    			<button class="btn-custom fileReName" title="重命名">
	    				<img alt="" src="../../assets/images/rename-icon.png"/>
	    				<span>重命名</span>
	    			</button>
	    			<button class="btn-custom deleteFolderAndChild" title="删除">
	    				<img alt="" src="../../assets/images/icon/delete-icon.png"/>
	    				<span>删除</span>
	    			</button>
	    			<button class="btn-custom cancleChoose" title="取消选中">
	    				<img alt="" src="../../assets/images/cloud/cut-icon.png"/>
	    				<span>取消选中</span>
	    			</button>
	    			<div class="layui-btn-dropdown">
						<button type="button" data-toggle="dropdown">
							<i class="fa fa-ellipsis-h" style="font-size: 14px"></i>
							更多<i class="fa fa-arrow-down" style="font-size: 14px"></i>
						</button>
						<ul class="layui-dropdown-menu">
							<li class="is-file refreshContent">
								<a href="javascript:;">
									<img alt="" src="../../assets/images/refresh-icon.png" />
									<span>刷新</span>
								</a>
							</li>
							<li class="divider"></li>
							<li class="is-file createDuplicate">
								<a href="javascript:;">
									<img alt="" src="../../assets/images/icon/create-copy-icon.png" />
									<span>创建副本</span>
								</a>
							</li>
							<li class="is-file">
								<a href="javascript:;">
									<img alt="" src="../../assets/images/favorites-icon.png" />
									<span>添加到收藏夹</span>
								</a>
							</li>
							<li class="divider"></li>
							<li class="is-file packageOpteare unzipToTheCurrent">
								<a href="javascript:;">
									<img alt="" src="../../assets/images/decompression-now.png" />
									<span>解压到当前</span>
								</a>
							</li>
							<li class="is-file packageOpteare">
								<a href="javascript:;">
									<img alt="" src="../../assets/images/cloud/decompression-win.png" />
									<span>解压到文件夹</span>
								</a>
							</li>
							<li class="is-file createComPackage">
								<a href="javascript:;">
									<img alt="" src="../../assets/images/icon/create-package-icon.png" />
									<span>创建压缩包</span>
								</a>
							</li>
							<li class="is-file filePropertyMation">
								<a href="javascript:;">
									<img alt="" src="../../assets/images/attribute-icon.png" />
									<span>属性</span>
								</a>
							</li>
						</ul>
					</div>
	    		</div>
	    		<div class="select-optearor">
	    			<div class="layui-btn-dropdown">
	    				<button class="btn-custom" title="排序" data-toggle="dropdown" style="border-radius: 5px 0px 0px 5px;">
		    				<i class="fa fa-sort-amount-asc"></i>
		    			</button>
						<ul class="layui-dropdown-menu">
							<li class="is-file orderBy" data-type="1">
								<a href="javascript:;">
									<img alt="" src="" style="display: none"/>
									<span>名称</span>
								</a>
							</li>
							<li class="is-file orderBy" data-type="2">
								<a href="javascript:;">
									<img alt="" src="" style="display: none"/>
									<span>上传时间</span>
								</a>
							</li>
							<li class="is-file orderBy" data-type="3">
								<a href="javascript:;">
									<img alt="" src="../../assets/images/icon/icon_choose.png" />
									<span>类型</span>
								</a>
							</li>
							<li class="is-file orderBy" data-type="4">
								<a href="javascript:;">
									<img alt="" src="" style="display: none"/>
									<span>大小</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="layui-btn-dropdown">
	    				<button class="btn-custom" title="展示" data-toggle="dropdown" id="showTypeChoose" style="border-radius: 0px">
		    				<i class="fa fa-th-large"></i>
		    			</button>
						<ul class="layui-dropdown-menu">
							<li class="is-file showFileType" data-type="1">
								<a href="javascript:;">
									<img alt="" src="../../assets/images/icon/icon_choose.png" />
									<span>图标排列</span>
								</a>
							</li>
							<li class="is-file showFileType" data-type="2">
								<a href="javascript:;">
									<img alt="" src="" style="display: none"/>
									<span>列表排列</span>
								</a>
							</li>
						</ul>
					</div>
	    			<button class="btn-custom" title="字体颜色" id="fontColorStyleBox">
	    				<div id="fontColorStyle"></div>
	    			</button>
	    			<button class="btn-custom" title="在线预览类型" id="showFileInLine" style="border-radius: 0px 5px 5px 0px;">
	    				<i class="fa fa-low-vision"></i>
	    			</button>
	    		</div>
	    	</div>
	    	<!-- 内容 -->
	    	<div class="right-center-is-content" id="file-content">
	    		
	    	</div>
	    	<!-- 项目数量 -->
	    	<div class="right-bottom-is-num">
	    		<span class="item-num"></span>
	    	</div>
	    </div>
	</div>
	
	<div class="file-panel-upload">
		<ul class="filelist"></ul>
	    <div class="statusBar" style="display:none;">
	        <div class="progress">
	            <span class="text">0%</span>
	            <span class="percentage"></span>
	        </div>
	        <div class="info"></div>
	        <div class="btns">
	            <div class="closeBtn">关闭</div>
	            <div id="filePicker2"></div>
	            <div class="uploadBtn">开始上传</div>
	        </div>
	    </div>
	</div>
	
	<ul class="layui-dropdown-menu" id="treeRight">
		
	</ul>
	
	<ul class="layui-dropdown-menu" id="fileRightMenu">
		
	</ul>
	
	<script type="text/x-handlebars-template" id="treeRightTemplate">
		{{#bean}}
			<li class="is-file treeShareFolderAndChild">
				<a href="javascript:;">
					<img alt="" src="../../assets/images/icon/fx-icon.png" />
					<span>分享</span>
				</a>
			</li>
			<li class="is-file treerefreshContent">
				<a href="javascript:;">
					<img alt="" src="../../assets/images/refresh-icon.png" />
					<span>刷新</span>
				</a>
			</li>
			<li class="divider"></li>
			<li class="is-file copyUrl" data-clipboard-text="{'id':'{{id}}', 'name': '{{name}}', 'fileType': 'folder', 'type': '1'}">
				<a href="javascript:;">
					<img alt="" src="../../assets/images/cloud/copy-icon.png" />
					<span>复制</span>
				</a>
			</li>
			<li class="is-file cutUrl" data-clipboard-text="{'id':'{{id}}', 'name': '{{name}}', 'fileType': 'folder', 'type': '2'}">
				<a href="javascript:;">
					<img alt="" src="../../assets/images/cloud/cut-icon.png" />
					<span>剪切</span>
				</a>
			</li>
			<li class="is-file treePaste">
				<a href="javascript:;">
					<img alt="" src="../../assets/images/paste-icon.png" />
					<span>粘贴</span>
				</a>
			</li>
			<li class="is-file treedeleteFolderAndChildToRecycle">
				<a href="javascript:;">
					<img alt="" src="../../assets/images/rececyl-icon.png"/>
					<span>回收站</span>
				</a>
			</li>
			<li class="is-file treedeleteFolderAndChild">
				<a href="javascript:;">
					<img alt="" src="../../assets/images/icon/delete-icon.png" />
					<span>删除</span>
				</a>
			</li>
			<li class="divider"></li>
			<li class="is-file treecreateNewFolder">
				<a href="javascript:;">
					<img alt="" src="../../assets/images/icon/create-folder-icon.png" />
					<span>新建文件夹</span>
				</a>
			</li>
			<li class="is-file treeAddToFavorites">
				<a href="javascript:;">
					<img alt="" src="../../assets/images/favorites-icon.png" />
					<span>添加到收藏夹</span>
				</a>
			</li>
			<li class="divider"></li>
			<li class="is-file treeFilePropertyMation">
				<a href="javascript:;">
					<img alt="" src="../../assets/images/attribute-icon.png" />
					<span>属性</span>
				</a>
			</li>
		{{/bean}}
	</script>
	
	<script type="text/x-handlebars-template" id="fileRightMenuTemplate">
		{{#bean}}
			<li class="is-file shareFileBtn">
				<a href="javascript:;">
					<img alt="" src="../../assets/images/icon/fx-icon.png"/>
					<span>分享</span>
				</a>
			</li>
			<li class="is-file fileDownLoad">
				<a href="javascript:;">
					<img alt="" src="../../assets/images/download-icon.png"/>
					<span>下载</span>
				</a>
			</li>
			<li class="is-file openByOnlyOffice">
				<a href="javascript:;">
					<img alt="" src="../../assets/images/icon/icon_onlyoffice.png"/>
					<span>Onlyoffice在线编辑</span>
				</a>
			</li>
			<li class="is-file openByMicrosoftOffice">
				<a href="javascript:;">
					<img alt="" src="../../assets/images/icon/icon_officelive.png"/>
					<span>OfficeLive预览</span>
				</a>
			</li>
			<li class="divider"></li>
			<li class="is-file copyUrl" data-clipboard-text="{'id':'{{id}}', 'name': '{{name}}', 'fileType': '{{fileType}}', 'type': '1'}">
				<a href="javascript:;">
					<img alt="" src="../../assets/images/cloud/copy-icon.png"/>
					<span>复制</span>
				</a>
			</li>
			<li class="is-file cutUrl" data-clipboard-text="{'id':'{{id}}', 'name': '{{name}}', 'fileType': '{{fileType}}', 'type': '2'}">
				<a href="javascript:;">
					<img alt="" src="../../assets/images/cloud/cut-icon.png"/>
					<span>剪切</span>
				</a>
			</li>
			<li class="is-file fileReName">
				<a href="javascript:;">
					<img alt="" src="../../assets/images/rename-icon.png"/>
					<span>重命名</span>
				</a>
			</li>
			<li class="is-file deleteFolderAndChildToRecycle">
				<a href="javascript:;">
					<img alt="" src="../../assets/images/rececyl-icon.png"/>
					<span>回收站</span>
				</a>
			</li>
			<li class="is-file deleteFolderAndChild">
				<a href="javascript:;">
					<img alt="" src="../../assets/images/icon/delete-icon.png"/>
					<span>删除</span>
				</a>
			</li>
			<li class="divider"></li>
			<li class="is-file cancleChoose">
				<a href="javascript:;">
					<img alt="" src="../../assets/images/cloud/cut-icon.png"/>
					<span>取消选中</span>
				</a>
			</li>
			<li class="divider"></li>
			<li class="is-file filePropertyMation">
				<a href="javascript:;">
					<img alt="" src="../../assets/images/attribute-icon.png" />
					<span>属性</span>
				</a>
			</li>
		{{/bean}}
	</script>
	
	<!-- folderTemplate.tpl -->
	<script type="text/x-handlebars-template" id="folderTemplate">
		{{#bean}}
			<div class="file folder-box menu-folder" title="名称:{{name}}&#10;上传时间:{{createTime}}&#10;操作人:{{createName}}" rowid="{{id}}" filetype="folder" createId="{{createId}}">
				<div class="item-select">
					<div class="item-check">
						<input type="checkbox" id="check{{id}}" class="checkFile" name="checkFile"/>
						<label for="check{{id}}" class="checkLabel"></label>
					</div>
				</div>
				<div class="ico">
					<img alt="" src="{{icon}}">
					<div class="meta-info path-self-share" style="display: {{isShow}}">
						<i class="fa fa-share-alt"></i>
					</div>
				</div>
				<div class="filename">
					<span class="title db-click-rename">{{name}}</span>
				</div>
				<div class="filename-edit">
					<textarea class="layui-textarea filename-edit-text" style="min-height: 40px; padding: 4px;">{{name}}</textarea>
					<img src="../../assets/images/save-icon.png" title="保存" class="filename-edit-save" />
					<img src="../../assets/images/icon/cancle-icon.png" title="取消" class="filename-edit-cancle" />
				</div>
				<div class="uploadtime" style="display: none">
					<span>{{createTime}}</span>
				</div>
			</div>
		{{/bean}}
	</script>
	
	<!-- imagesTemplate.tpl -->
	<script type="text/x-handlebars-template" id="imagesTemplate">
		{{#bean}}
			<div class="file images-box menu-folder" title="名称:{{name}}&#10;大小:{{fileSize}}&#10;上传时间:{{createTime}}&#10;操作人:{{createName}}" rowid="{{id}}" filetype="{{type}}" createId="{{createId}}">
				<div class="item-select">
					<div class="item-check">
						<input type="checkbox" id="check{{id}}" class="checkFile" name="checkFile"/>
						<label for="check{{id}}" class="checkLabel"></label>
					</div>
				</div>
				<div class="ico">
					<img alt="{{name}}" src="{{fileBasePath}}{{icon}}" data-original="{{icon}}">
					<div class="meta-info path-self-share" style="display: {{isShow}}">
						<i class="fa fa-share-alt"></i>
					</div>
				</div>
				<div class="filename">
					<span class="title db-click-rename">{{name}}</span>
				</div>
				<div class="filename-edit">
					<textarea class="layui-textarea filename-edit-text" style="min-height: 40px; padding: 4px;">{{name}}</textarea>
					<img src="../../assets/images/save-icon.png" title="保存" class="filename-edit-save" />
					<img src="../../assets/images/icon/cancle-icon.png" title="取消" class="filename-edit-cancle" />
				</div>
				<div class="uploadtime" style="display: none">
					<span>{{createTime}}</span>
				</div>
			</div>
		{{/bean}}
	</script>
	
	<!-- officeTemplate.tpl -->
	<script type="text/x-handlebars-template" id="officeTemplate">
		{{#bean}}
			<div class="file office-box menu-folder" title="名称:{{name}}&#10;大小:{{fileSize}}&#10;上传时间:{{createTime}}&#10;操作人:{{createName}}" rowid="{{id}}" filetype="{{type}}" createId="{{createId}}">
				<div class="item-select">
					<div class="item-check">
						<input type="checkbox" id="check{{id}}" class="checkFile" name="checkFile"/>
						<label for="check{{id}}" class="checkLabel"></label>
					</div>
				</div>
				<div class="ico">
					<img alt="" src="{{icon}}">
					<div class="meta-info path-self-share" style="display: {{isShow}}">
						<i class="fa fa-share-alt"></i>
					</div>
				</div>
				<div class="filename">
					<span class="title db-click-rename">{{name}}</span>
				</div>
				<div class="filename-edit">
					<textarea class="layui-textarea filename-edit-text" style="min-height: 40px; padding: 4px;">{{name}}</textarea>
					<img src="../../assets/images/save-icon.png" title="保存" class="filename-edit-save" />
					<img src="../../assets/images/icon/cancle-icon.png" title="取消" class="filename-edit-cancle" />
				</div>
				<div class="uploadtime" style="display: none">
					<span>{{createTime}}</span>
				</div>
			</div>
		{{/bean}}
	</script>
	
	<!-- vedioTemplate.tpl -->
	<script type="text/x-handlebars-template" id="vedioTemplate">
		{{#bean}}
			<div class="file vedio-box menu-folder" title="名称:{{name}}&#10;大小:{{fileSize}}&#10;上传时间:{{createTime}}&#10;操作人:{{createName}}" rowid="{{id}}" filetype="{{type}}" createId="{{createId}}">
				<div class="item-select">
					<div class="item-check">
						<input type="checkbox" id="check{{id}}" class="checkFile" name="checkFile"/>
						<label for="check{{id}}" class="checkLabel"></label>
					</div>
				</div>
				<div class="ico">
					<img alt="{{name}}" src="{{fileBasePath}}{{icon}}">
					<div class="meta-info path-self-share" style="display: {{isShow}}">
						<i class="fa fa-share-alt"></i>
					</div>
				</div>
				<div class="filename">
					<span class="title db-click-rename">{{name}}</span>
				</div>
				<div class="filename-edit">
					<textarea class="layui-textarea filename-edit-text" style="min-height: 40px; padding: 4px;">{{name}}</textarea>
					<img src="../../assets/images/save-icon.png" title="保存" class="filename-edit-save" />
					<img src="../../assets/images/icon/cancle-icon.png" title="取消" class="filename-edit-cancle" />
				</div>
				<div class="uploadtime" style="display: none">
					<span>{{createTime}}</span>
				</div>
			</div>
		{{/bean}}
	</script>
	
	<!-- packageTemplate.tpl -->
	<script type="text/x-handlebars-template" id="packageTemplate">
		{{#bean}}
			<div class="file package-box menu-folder" title="名称:{{name}}&#10;大小:{{fileSize}}&#10;上传时间:{{createTime}}&#10;操作人:{{createName}}" rowid="{{id}}" filetype="{{type}}" createId="{{createId}}">
				<div class="item-select">
					<div class="item-check">
						<input type="checkbox" id="check{{id}}" class="checkFile" name="checkFile"/>
						<label for="check{{id}}" class="checkLabel"></label>
					</div>
				</div>
				<div class="ico">
					<img alt="{{name}}" src="{{icon}}">
					<div class="meta-info path-self-share" style="display: {{isShow}}">
						<i class="fa fa-share-alt"></i>
					</div>
				</div>
				<div class="filename">
					<span class="title db-click-rename">{{name}}</span>
				</div>
				<div class="filename-edit">
					<textarea class="layui-textarea filename-edit-text" style="min-height: 40px; padding: 4px;">{{name}}</textarea>
					<img src="../../assets/images/save-icon.png" title="保存" class="filename-edit-save" />
					<img src="../../assets/images/icon/cancle-icon.png" title="取消" class="filename-edit-cancle" />
				</div>
				<div class="uploadtime" style="display: none">
					<span>{{createTime}}</span>
				</div>
			</div>
		{{/bean}}
	</script>
	
	<!-- aceTemplate.tpl -->
	<script type="text/x-handlebars-template" id="aceTemplate">
		{{#bean}}
			<div class="file ace-box menu-folder" title="名称:{{name}}&#10;大小:{{fileSize}}&#10;上传时间:{{createTime}}&#10;操作人:{{createName}}" rowid="{{id}}" filetype="{{type}}" createId="{{createId}}">
				<div class="item-select">
					<div class="item-check">
						<input type="checkbox" id="check{{id}}" class="checkFile" name="checkFile"/>
						<label for="check{{id}}" class="checkLabel"></label>
					</div>
				</div>
				<div class="ico">
					<img alt="{{name}}" src="{{icon}}">
					<div class="meta-info path-self-share" style="display: {{isShow}}">
						<i class="fa fa-share-alt"></i>
					</div>
				</div>
				<div class="filename">
					<span class="title db-click-rename">{{name}}</span>
				</div>
				<div class="filename-edit">
					<textarea class="layui-textarea filename-edit-text" style="min-height: 40px; padding: 4px;">{{name}}</textarea>
					<img src="../../assets/images/save-icon.png" title="保存" class="filename-edit-save" />
					<img src="../../assets/images/icon/cancle-icon.png" title="取消" class="filename-edit-cancle" />
				</div>
				<div class="uploadtime" style="display: none">
					<span>{{createTime}}</span>
				</div>
			</div>
		{{/bean}}
	</script>
	
	<!-- otherTemplate.tpl -->
	<script type="text/x-handlebars-template" id="otherTemplate">
		{{#bean}}
			<div class="file other-box menu-folder" title="名称:{{name}}&#10;大小:{{fileSize}}&#10;上传时间:{{createTime}}&#10;操作人:{{createName}}" rowid="{{id}}" filetype="{{type}}" createId="{{createId}}">
				<div class="item-select">
					<div class="item-check">
						<input type="checkbox" id="check{{id}}" class="checkFile" name="checkFile"/>
						<label for="check{{id}}" class="checkLabel"></label>
					</div>
				</div>
				<div class="ico">
					<img alt="{{name}}" src="{{icon}}">
					<div class="meta-info path-self-share" style="display: {{isShow}}">
						<i class="fa fa-share-alt"></i>
					</div>
				</div>
				<div class="filename">
					<span class="title db-click-rename">{{name}}</span>
				</div>
				<div class="filename-edit">
					<textarea class="layui-textarea filename-edit-text" style="min-height: 40px; padding: 4px;">{{name}}</textarea>
					<img src="../../assets/images/save-icon.png" title="保存" class="filename-edit-save" />
					<img src="../../assets/images/icon/cancle-icon.png" title="取消" class="filename-edit-cancle" />
				</div>
				<div class="uploadtime" style="display: none">
					<span>{{createTime}}</span>
				</div>
			</div>
		{{/bean}}
	</script>
	
	<!-- epubTemplate.tpl -->
	<script type="text/x-handlebars-template" id="epubTemplate">
		{{#bean}}
			<div class="file epub-box menu-folder" title="名称:{{name}}&#10;大小:{{fileSize}}&#10;上传时间:{{createTime}}&#10;操作人:{{createName}}" rowid="{{id}}" filetype="{{type}}" createId="{{createId}}">
				<div class="item-select">
					<div class="item-check">
						<input type="checkbox" id="check{{id}}" class="checkFile" name="checkFile"/>
						<label for="check{{id}}" class="checkLabel"></label>
					</div>
				</div>
				<div class="ico">
					<img alt="{{name}}" src="{{icon}}">
					<div class="meta-info path-self-share" style="display: {{isShow}}">
						<i class="fa fa-share-alt"></i>
					</div>
				</div>
				<div class="filename">
					<span class="title db-click-rename">{{name}}</span>
				</div>
				<div class="filename-edit">
					<textarea class="layui-textarea filename-edit-text" style="min-height: 40px; padding: 4px;">{{name}}</textarea>
					<img src="../../assets/images/save-icon.png" title="保存" class="filename-edit-save" />
					<img src="../../assets/images/icon/cancle-icon.png" title="取消" class="filename-edit-cancle" />
				</div>
				<div class="uploadtime" style="display: none">
					<span>{{createTime}}</span>
				</div>
			</div>
		{{/bean}}
	</script>
	
	<script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript" src="../../assets/lib/layui/lay/modules/jquery-min.js"></script>
    <script type="text/javascript" src="../../assets/lib/layui/lay/modules/contextMenu/jquery.contextMenu.min.js"></script>
    <script type="text/javascript" src="../../assets/lib/layui/lay/modules/ztree/js/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="../../assets/lib/layui/lay/modules/ztree/js/jquery.ztree.exhide.min.js"></script>
    <script src="../../js/commonFile/fileConsoleListCommon.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/fileconsole/'}).use('fileconsolelist');
    </script>
</body>
</html>