<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div class="txtcenter" style="margin:0 auto;padding-top:10px;">
	    <form class="layui-form layui-form-pane" action="" autocomplete="off">
	        <div class="layui-form-item">
	            <div class="layui-inline">
	                <label class="layui-form-label">合同名称</label>
	                <div class="layui-input-inline">
	                    <input type="text" id="title" name="title" placeholder="请输入合同名称" class="layui-input" />
	                </div>
	                <label class="layui-form-label">客户</label>
					<div class="layui-input-inline">
						<select id="customer" name="customer" lay-filter="customer" lay-search="">
						</select>
					</div>
	                <label class="layui-form-label">状态</label>
	                <div class="layui-input-inline">
	                    <select id="state">
	                    	<option value="">全部</option>
	                    	<option value="0">草稿</option>
	                    	<option value="1">审核中</option>
	                    	<option value="2">执行中</option>
	                    	<option value="3">已关闭</option>
	                    	<option value="4">已撤销</option>
	                    	<option value="5">已搁置</option>
	                    </select>
	                </div>
	                <label class="layui-form-label">新增时间</label>
	                <div class="layui-input-inline">
	                    <select id="createTime">
	                    	<option value="">全部</option>
	                    	<option value="0">本周新增</option>
	                    	<option value="1">上周新增</option>
	                    	<option value="2">本月新增</option>
	                    	<option value="3">上月新增</option>
	                    	<option value="4">本季度新增</option>
	                    	<option value="5">上季度新增</option>
	                    </select>
	                </div>
	                <button type="reset" class="layui-btn layui-btn-primary list-form-search"><language showName="com.skyeye.reset"></language></button>
	                <button class="layui-btn list-form-search" type="button" id="formSearch"><language showName="com.skyeye.search2"></language></button>
	            </div>
	        </div>
	    </form>
	</div>
    <div class="winui-toolbar">
        <div class="winui-tool">
            <button id="reloadTable" class="winui-toolbtn"><i class="fa fa-refresh" aria-hidden="true"></i><language showName="com.skyeye.refreshDataBtn"></language></button>
        </div>
    </div>
    <div style="margin:auto 10px;">
        <table id="messageTable" lay-filter="messageTable"></table>
    </div>
    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/crmcontractmanage/'}).use('crmcontractlist');
    </script>
</body>
</html>