<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
    <div style="padding:20px; margin:0 auto;">
        <form class="layui-form" action="" id="showForm">
            
        </form>
    </div>

    <script type="text/x-handlebars-template" id="simpleTemplate">
        {{#bean}}
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">订单编号：</label>
            <div class="layui-input-block ver-center">
                {{orderNum}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">订单状态：</label>
            <div class="layui-input-block ver-center">
                {{{state}}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">订单来源：</label>
            <div class="layui-input-block ver-center">
                {{type}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">操作员：</label>
            <div class="layui-input-block ver-center">
                {{createName}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">门店：</label>
            <div class="layui-input-block ver-center">
                {{storeName}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">会员：</label>
            <div class="layui-input-block ver-center">
                {{contacts}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs12">
            <label class="layui-form-label">套餐</label>
            <div class="layui-input-block">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>套餐</th>
                        <th>可使用次数</th>
                        <th>金额</th>
                        <th>车辆</th>
                    </tr>
                    </thead>
                    <tbody id="useTable" class="insurance-table">
                        {{#each mealOrderChildMationList}}
                        <tr>
                            <td><div style="width: 100px;">{{title}}</div></td>
                            <td><div style="width: 80px;">{{mealNum}}</div></td>
                            <td><div style="width: 80px;">{{mealPrice}}</div></td>
                            <td><div style="width: 100px;">{{plate}}</div></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="layui-form-item layui-col-xs12">
            <label class="layui-form-label">应付金额：</label>
            <div class="layui-input-block ver-center">
                {{payablePrice}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">实付金额：</label>
            <div class="layui-input-block ver-center">
                {{payPrice}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">实付日期：</label>
            <div class="layui-input-block ver-center">
                {{payTime}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs12">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block ver-center">
                {{{remark}}}
            </div>
        </div>
        {{/bean}}
    </script>

    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/mealOrder/'}).use('storeMealOrderDetails');
    </script>
</body>
</html>