<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
    <div class="txtcenter" style="margin:0 auto;padding-top:10px;">
        <form class="layui-form layui-form-pane layui-col-xs12" action="" autocomplete="off">
            <div class="winui-toolbar layui-col-xs12">
                <div class="winui-tool layui-col-xs3">
                    <select id="storeId" name="storeId" lay-filter="storeId" lay-search="">

                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-col-xs12" style="margin-top: 10px;">
                <div class="layui-inline">
                    <label class="layui-form-label">订单编号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="orderNum" name="orderNum" placeholder="请输入订单编号" class="layui-input" />
                    </div>
                    <label class="layui-form-label">会员名称</label>
                    <div class="layui-input-inline">
                        <input type="text" id="memberName" name="memberName" placeholder="请输入会员名称" class="layui-input" />
                    </div>
                    <label class="layui-form-label">会员手机号</label>
                    <div class="layui-input-inline">
                        <input type="text" id="memberPhone" name="memberPhone" placeholder="请输入会员手机号" class="layui-input" />
                    </div>
                    <label class="layui-form-label">订单状态</label>
                    <div class="layui-input-inline">
                        <select id="state" name="state" lay-filter="state" lay-search="">
                            <option value="">全部</option>
                            <option value="0">已提交</option>
                            <option value="1">待支付</option>
                            <option value="2">已支付</option>
                            <option value="3">已收货</option>
                            <option value="4">已关闭</option>
                            <option value="5">已退款</option>
                            <option value="10">已取消</option>
                        </select>
                    </div>
                    <label class="layui-form-label">订单性质</label>
                    <div class="layui-input-inline">
                        <select id="natureId" name="natureId" lay-filter="natureId" lay-search="">
                        </select>
                    </div>
                    <button type="reset" class="layui-btn layui-btn-primary list-form-search"><language showName="com.skyeye.reset"></language></button>
                    <button class="layui-btn list-form-search" lay-submit lay-filter="formSearch"><language showName="com.skyeye.search2"></language></button>
                </div>
            </div>
        </form>
    </div>
    <div class="winui-toolbar layui-col-xs12">
        <div class="winui-tool">
            <button id="reloadTable" class="winui-toolbtn"><i class="fa fa-refresh" aria-hidden="true"></i><language showName="com.skyeye.refreshDataBtn"></language></button>
        </div>
    </div>
    <div style="margin:auto 10px;">
        <table id="messageTable" lay-filter="messageTable"></table>

        <script type="text/html" id="tableBar">
            {{# if(d.cancleState == 1 && d.state == 1 && auth('1644239605004')){ }}
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete"><language showName="com.skyeye.deleteBtn"></language></a>
            {{# } }}
            {{# if(d.cancleState == 1 && d.state == 1 && auth('1644250434164')){ }}
                <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="complatePay">完成支付</a>
            {{# } }}
            {{# if(d.cancleState == 1 && d.state == 1 && auth('1644842735595')){ }}
                <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="cancleOrder">取消订单</a>
            {{# } }}
        </script>
    </div>

    <script type="text/x-handlebars-template" id="selectTemplate">
        {{#each rows}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </script>

    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/mealOrder/'}).use('storeMealOrderList');
    </script>
</body>
</html>