<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="margin:0 auto;padding:20px;">
	    <form class="layui-form" action="" id="showForm" autocomplete="off">
	        <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">流程名称<i class="red">*</i></label>
		        <div class="layui-input-block">
		        	<input type="text" id="typeName" name="typeName" win-verify="required" placeholder="请输入流程名称" class="layui-input"/>
		        </div>
		    </div>
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">所属类型<i class="red">*</i></label>
				<div class="layui-input-block">
					<select lay-filter="typeId" lay-search="" win-verify="required" id="typeId" name="typeId">
					</select>
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">工作流模型<i class="red">*</i></label>
				<div class="layui-input-block">
					<input type="text" id="actFlowId" name="actFlowId" win-verify="required" placeholder="请选择工作流模型" class="layui-input" readonly/>
					<i class="fa fa-user-plus input-icon" id="actFlowIdSel"></i>
				</div>
			</div>
	        <div class="layui-form-item layui-col-xs12">
	            <label class="layui-form-label">新增页面<i class="red">*</i></label>
		        <div class="layui-input-block">
		        	<input type="text" id="addPageUrl" name="addPageUrl" win-verify="required" placeholder="请输入页面URL" class="layui-input"/>
		        	<div class="layui-form-mid layui-word-aux">格式为：../../tpl/model/modelAdd.html</div>
		        </div>
	        </div>
	        <div class="layui-form-item layui-col-xs12">
	            <label class="layui-form-label">编辑页面<i class="red">*</i></label>
		        <div class="layui-input-block">
		        	<input type="text" id="editPageUrl" name="editPageUrl" win-verify="required" placeholder="请输入页面URL" class="layui-input"/>
		        	<div class="layui-form-mid layui-word-aux">格式为：../../tpl/model/modelEdit.html</div>
		        </div>
	        </div>

	        <div class="layui-form-item layui-col-xs12">
	            <label class="layui-form-label">撤销接口<i class="red">*</i></label>
		        <div class="layui-input-block">
		        	<input type="text" id="revokeMapping" name="revokeMapping" win-verify="required" placeholder="请输入撤销接口" class="layui-input"/>
		        	<div class="layui-form-mid layui-word-aux">格式为：bbb001；直接填写接口名即可</div>
		        </div>
	        </div>

			<div class="layui-form-item layui-col-xs12" id="iconMation">

			</div>

		    <div class="layui-form-item layui-col-xs12">
	            <label class="layui-form-label">回调地址</label>
		        <div class="layui-input-block">
		        	<input type="text" id="tokenUrl" name="tokenUrl" placeholder="请输入回调地址URL" win-verify="url" class="layui-input"/>
		        	<div class="layui-form-mid layui-word-aux">格式为：http://localhost:8081/tpl/model.html</div>
		        	<div class="layui-form-mid layui-word-aux">流程执行完之后进行该地址回调。</div>
		        	<div class="layui-form-mid layui-word-aux">动态表单回调参数以自定义id为准。</div>
		        </div>
	        </div>
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">是否常用/热门<i class="red">*</i></label>
				<div class="layui-input-block winui-radio">
					<input type="radio" name="commonUsed" value="1" title="是" checked/>
					<input type="radio" name="commonUsed" value="2" title="否" />
				</div>
			</div>
	        <div class="layui-form-item layui-col-xs12">
	            <label class="layui-form-label">备注说明</label>
	            <div class="layui-input-block">
	                <textarea id="remark" name="remark" placeholder="请输入备注说明" maxlength="200" class="layui-textarea" style="height: 100px;"></textarea>
	            </div>
	        </div>
		    <div class="layui-form-item layui-col-xs12">
		        <div class="layui-input-block">
		            <button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
		            <button class="winui-btn" lay-submit lay-filter="formAddBean"><language showName="com.skyeye.save"></language></button>
		        </div>
		    </div>
	    </form>
	</div>
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
		layui.config({base: '../../js/actModel/'}).use('actModelAdd');
	</script>
</body>
</html>