<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="padding:20px; margin:0 auto;">
	    <form class="layui-form" action="" id="showForm">
	        
	    </form>
	</div>
	
	<script type="text/x-handlebars-template" id="beanTemplate">
		{{#bean}}
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">流程名称：</label>
				<div class="layui-input-block ver-center">
					{{title}}
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">工作流模型：</label>
				<div class="layui-input-block ver-center">
					{{actFlowName}}
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">新增页面：</label>
				<div class="layui-input-block ver-center">
					{{addPageUrl}}
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">编辑页面：</label>
				<div class="layui-input-block ver-center">
					{{editPageUrl}}
				</div>
			</div>
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">撤销接口：</label>
				<div class="layui-input-block ver-center">
					{{revokeMapping}}<br>
				</div>
			</div>

			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">图标类型：</label>
				<div class="layui-input-block ver-center" id="iconType">

				</div>
			</div>
			<div class="layui-form-item layui-col-xs12 iconTypeIsOne">
				<label class="layui-form-label">图标：</label>
				<div class="layui-input-block">
					<i class="fa fa-fw {{icon}}" style="font-size: 48px; line-height: 65px; color: {{iconColor}}"></i>
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12 iconTypeIsTwo">
				<label class="layui-form-label">图片：</label>
				<div class="layui-input-block ver-center">
					<img src="{{iconPic}}" class="photo-img" id="userPhoto">
				</div>
			</div>
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">背景颜色：</label>
				<div class="layui-input-block ver-center">
					{{iconBg}}
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">回调地址：</label>
				<div class="layui-input-block ver-center">
					{{tokenUrl}}
				</div>
			</div>
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">是否常用/热门：</label>
				<div class="layui-input-block ver-center" id="commonUsed">

				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">备注说明：</label>
				<div class="layui-input-block ver-center">
					{{remark}}
				</div>
			</div>
		{{/bean}}
	</script>
	
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
        layui.config({base: '../../js/actModel/'}).use('actModelDetails');
    </script>
</body>
</html>