<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.ActGroupUserDao">

    <select id="queryUserListToActiviti" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.user_code firstName,
            b.user_name lastName,
            b.email
        FROM
            sys_eve_user a,
            sys_eve_user_staff b,
            act_group_user c
        WHERE a.id = b.user_id
        AND a.user_lock = '0'
        AND b.state = '1'
        AND c.user_id = a.id
        <if test="name != '' and name != null">
            AND a.user_code LIKE '${name}'
        </if>
    </select>

    <select id="queryUserListToActivitiByGroup" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.user_code firstName,
            b.user_name lastName,
            b.email
        FROM
            sys_eve_user a,
            sys_eve_user_staff b,
            act_group_user c
        WHERE a.id = b.user_id
        AND a.user_lock = '0'
        AND b.state = '1'
        AND c.user_id = a.id
        AND c.group_id = #{groupId}
        <if test="name != '' and name != null">
            AND a.user_code LIKE '${name}'
        </if>
    </select>

    <select id="queryActUserList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            b.user_id id,
            b.user_name firstName,
            c.user_code lastName,
            b.email
        FROM
            act_group_user a,
            sys_eve_user_staff b,
            sys_eve_user c
        WHERE
            a.user_id = b.user_id
          AND b.user_id = c.id
    </select>

    <select id="queryActUserGroupList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.group_id groupId,
            a.user_id userId
        FROM
            act_group_user a
    </select>

    <select id="queryActGroupListByUserId" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.group_id groupId,
            a.user_id userId
        FROM
            act_group_user a
        WHERE
            a.user_id = #{id}
    </select>

    <select id="queryUserIsInActGroup" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            IFNULL(GROUP_CONCAT(user_id), '') userId
        FROM
            act_group_user
        WHERE
            group_id = #{groupId}
          AND FIND_IN_SET(user_id, #{userId})
    </select>

    <insert id="insertActGroupUserByGroupId" parameterType="java.util.Map">
        INSERT INTO act_group_user
        (id, group_id, user_id, create_id, create_time)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.groupId}, #{item.userId}, #{item.createId}, #{item.createTime})
        </foreach>
    </insert>

    <delete id="deleteActGroupUserByGroupId" parameterType="java.util.Map">
        DELETE
        FROM
            act_group_user
        WHERE
            group_id = #{groupId}
    </delete>

    <delete id="deleteActGroupUserByGroupIdAndUserId" parameterType="java.util.Map">
        DELETE
        FROM
            act_group_user
        WHERE id = #{id}
    </delete>

    <select id="selectUserInfoOnActGroup" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            b.user_name userName,
            c.company_name companyName,
            d.department_name departmentName,
            e.job_name jobName,
            b.email
        FROM
            act_group_user a,
            sys_eve_user_staff b,
            company_mation c,
            company_department d,
            company_job e
        WHERE a.group_id = #{groupId}
        AND a.user_id = b.user_id
        AND b.company_id = c.id
        AND b.department_id = d.id
        AND b.job_id = e.id
        <if test="userName != '' and userName != null">
            AND b.user_name LIKE '%${userName}%'
        </if>
    </select>

    <select id="queryActGroupUserByGroupId" resultType="java.util.Map">
        SELECT
            distinct a.user_id userId
        FROM
            act_group_user a
        WHERE
        <foreach collection="groupIds" item="groupId" separator="," open=" a.group_id in(" close=")">
            #{groupId}
        </foreach>
    </select>



</mapper>