<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.ActGroupDao">

	<insert id="insertActGroupMation" parameterType="java.util.Map">
		INSERT INTO act_group 
	    (id, group_name, create_id, create_time)
	    VALUES
	    (#{id}, #{groupName}, #{createId}, #{createTime})
	</insert>
	
	<select id="selectAllActGroupMation" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.group_name name
		FROM
			act_group a
		ORDER BY
			a.create_time
	</select>
	
	<update id="editActGroupNameByGroupId" parameterType="java.util.Map">
		UPDATE act_group
		<set>
			group_name = #{groupName}
		</set>
		WHERE id = #{groupId}
	</update>
	
	<delete id="deleteActGroupByGroupId" parameterType="java.util.Map">
		DELETE
		FROM
			act_group
		WHERE
			id = #{groupId}
	</delete>

	<select id="queryGroupListToActiviti" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.group_name `name`
		FROM
			act_group a
		WHERE 1 = 1
		<if test="name != '' and name != null">
			AND (a.group_name LIKE '${name}')
		</if>
	</select>

	<select id="queryActGroupList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.group_name `name`
		FROM
			act_group a
	</select>
	
</mapper>