<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.ActGroupDao">

	<insert id="insertActGroupMation" parameterType="java.util.Map">
		INSERT INTO act_group 
	    (id, group_name, create_id, create_time)
	    VALUES
	    (#{id}, #{groupName}, #{createId}, #{createTime})
	</insert>
	
	<select id="selectAllActGroupMation" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.group_name name
		FROM
			act_group a
		ORDER BY
			a.create_time
	</select>
	
	<select id="queryUserIsInActGroup" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			IFNULL(GROUP_CONCAT(user_id), '') userId
		FROM
			act_group_user
		WHERE
			group_id = #{groupId}
		AND FIND_IN_SET(user_id, #{userId})
	</select>
	
	<insert id="insertActGroupUserByGroupId" parameterType="java.util.Map">
		INSERT INTO act_group_user 
	    (id, group_id, user_id, create_id, create_time)
	    VALUES
	    <foreach collection="list" item="item" index="index" separator=",">
	    	(#{item.id}, #{item.groupId}, #{item.userId}, #{item.createId}, #{item.createTime})
	    </foreach>
	</insert>
	
	<update id="editActGroupNameByGroupId" parameterType="java.util.Map">
		UPDATE act_group
		<set>
			group_name = #{groupName}
		</set>
		WHERE id = #{groupId}
	</update>
	
	<delete id="deleteActGroupByGroupId" parameterType="java.util.Map">
		DELETE
		FROM
			act_group
		WHERE
			id = #{groupId}
	</delete>
	
	<delete id="deleteActGroupUserByGroupId" parameterType="java.util.Map">
		DELETE
		FROM
			act_group_user
		WHERE
			group_id = #{groupId}
	</delete>
	
	<delete id="deleteActGroupUserByGroupIdAndUserId" parameterType="java.util.Map">
		DELETE
		FROM
			act_group_user
		WHERE id = #{id}
	</delete>
	
	<select id="selectUserInfoOnActGroup" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			b.user_name userName,
			c.company_name companyName,
			d.department_name departmentName,
			e.job_name jobName,
			b.email
		FROM
			act_group_user a,
			sys_eve_user_staff b,
			company_mation c,
			company_department d,
			company_job e
		WHERE
			a.group_id = #{groupId}
		AND a.user_id = b.user_id
		AND b.company_id = c.id
		AND b.department_id = d.id
		AND b.job_id = e.id
		<if test="userName != '' and userName != null">
			AND b.user_name LIKE '%${userName}%'
		</if>
	</select>
	
</mapper>