<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.ActModelDao">

    <select id="queryActModelMationByNameOrUrlAndId" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id
        FROM
            act_model a
        WHERE
        (a.title = #{title}
        <if test="pageTypes == '1'.toString()">
            OR a.page_url = #{pageUrl} OR a.edit_page_url = #{editPageUrl}
        </if>
        <if test="pageTypes == '2'.toString()">
            OR a.ds_form_id = #{dsFormId}
        </if>
        )
        AND a.state != '4'
        AND a.id != #{id}
    </select>

    <select id="queryActModelMationByNameOrUrl" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id
        FROM
            act_model a
        WHERE
        (a.title = #{title}
        <if test="pageTypes == '1'.toString()">
            OR a.page_url = #{pageUrl} OR a.edit_page_url = #{editPageUrl}
        </if>
        <if test="pageTypes == '2'.toString()">
            OR a.ds_form_id = #{dsFormId}
        </if>
        )
        AND a.state != '4'
    </select>

    <select id="queryCountOrderbyInModle" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            COUNT(*) orderBy
        FROM
            act_model a
        WHERE
            a.type_id = #{typeId}
    </select>

    <insert id="insertActModle" parameterType="java.util.Map">
        INSERT INTO act_model
        (id, title, page_url, edit_page_url, background_color, act_id, state, order_by, type_id, page_types, ds_form_id, token_url,
         revoke_mapping, create_id, create_time, remark, menu_icon_type, menu_icon_pic, menu_icon, menu_icon_color, common_used)
        VALUES
        (#{id}, #{title}, #{pageUrl}, #{editPageUrl}, #{backgroundColor}, #{actId}, #{state}, #{orderBy}, #{typeId}, #{pageTypes}, #{dsFormId}, #{tokenUrl},
         #{revokeMapping}, #{createId}, #{createTime}, #{remark}, #{menuIconType}, #{menuIconPic}, #{menuIcon}, #{menuIconColor}, #{commonUsed})
    </insert>

    <select id="queryActModleDetailsById" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.act_id actId,
            a.state,
            a.page_url pageUrl,
            a.edit_page_url editPageUrl,
            a.background_color backgroundColor,
            IFNULL(a.ds_form_id, '') dsFormId,
            c.page_name dsFormName,
            a.page_types pageTypes,
            IFNULL(a.token_url, '') tokenUrl,
            a.revoke_mapping revokeMapping,
            a.menu_icon_type menuIconType,
            a.menu_icon_pic menuIconPic,
            a.menu_icon menuIcon,
            a.menu_icon_color menuIconColor,
            a.common_used commonUsed,
            a.remark,
            b.title typeName
        FROM
            act_model a
            LEFT JOIN ds_form_page c ON a.ds_form_id = c.id,
            act_modle_type b
        WHERE a.id = #{id}
        AND a.type_id = b.id
        AND a.state != 4
    </select>

    <select id="selectActModleTypeMation" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.type_id typeId,
            a.title,
            a.act_id actId,
            CASE a.page_types WHEN '1' THEN a.page_url WHEN '2' THEN (SELECT k.page_name FROM ds_form_page k WHERE k.id = a.ds_form_id) END pageUrl,
            CASE a.page_types WHEN '1' THEN a.edit_page_url WHEN '2' THEN (SELECT k.page_name FROM ds_form_page k WHERE k.id = a.ds_form_id) END editPageUrl,
            a.background_color backgroundColor,
            a.state,
            c.title typeName,
            b.user_name createName,
            CONVERT(a.create_time, char) createTime
        FROM
            act_model a,
            act_modle_type c,
            sys_eve_user_staff b
        WHERE a.type_id = #{typeId}
        AND a.create_id = b.user_id
        AND a.type_id = c.id
        AND a.state != 4
        <if test="title != '' and title != null">
            AND a.title LIKE '%${title}%'
        </if>
        ORDER BY a.order_by DESC
    </select>

    <update id="editActModleMationById" parameterType="java.util.Map">
        UPDATE act_model
        <set>
            title = #{title},
            page_url = #{pageUrl},
            edit_page_url = #{editPageUrl},
            background_color = #{backgroundColor},
            page_types = #{pageTypes},
            ds_form_id = #{dsFormId},
            token_url = #{tokenUrl},
            revoke_mapping = #{revokeMapping},
            remark = #{remark},
            menu_icon_type = #{menuIconType},
            menu_icon_pic = #{menuIconPic},
            menu_icon = #{menuIcon},
            menu_icon_color = #{menuIconColor},
            common_used = #{commonUsed},
        </set>
        WHERE id = #{id}
    </update>

    <update id="editActModleStateById">
        UPDATE act_model
        <set>
            state = #{state}
        </set>
        WHERE id = #{id}
    </update>

    <select id="queryActModleUpMationById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.order_by thisOrderBy,
            b.id,
            b.order_by prevOrderBy
        FROM
            act_model a,
            act_model b
        WHERE
            a.id = #{id}
          AND b.type_id = #{typeId}
          AND b.order_by > a.order_by
          AND b.state != 4
        ORDER BY
            b.order_by ASC
            LIMIT 1
    </select>

    <update id="editActModleMationOrderNumUpById" parameterType="java.util.Map">
        UPDATE act_model
        <set>
            order_by = #{upOrderBy},
        </set>
        WHERE id = #{id}
    </update>

    <select id="queryActModleDownMationById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.order_by thisOrderBy,
            b.id,
            b.order_by prevOrderBy
        FROM
            act_model a,
            act_model b
        WHERE
            a.id = #{id}
          AND b.type_id = #{typeId}
          AND a.order_by > b.order_by
          AND b.state != 4
        ORDER BY
            b.order_by DESC
            LIMIT 1
    </select>

    <select id="queryActModleUpStateByUpStateTypeId" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.act_id actId,
            IF ( IFNULL( a.page_url, '' ) = '', '../../tpl/dsFormPageSequence/dsFormPageSequenceDraftProcessAdd.html',  a.page_url ) pageUrl,
            a.background_color backgroundColor,
            IFNULL(a.ds_form_id, '') dsFormId,
            a.menu_icon_type menuIconType,
            a.menu_icon_pic menuIconPic,
            a.menu_icon menuIcon,
            a.menu_icon_color menuIconColor,
            a.common_used commonUsed,
            a.remark
        FROM
            act_model a
        WHERE a.state = '2'
          AND a.type_id = #{id}
        ORDER BY
            a.order_by DESC
    </select>

    <select id="queryActModelMationByPageUrl" resultType="java.util.Map">
        SELECT
            a.title,
            a.act_id actKey
        FROM
            act_model a
        WHERE a.page_url = #{pageUrl}
          AND a.state = '2'
    </select>

    <select id="queryHasModelList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.act_id actId
        FROM
            act_model a
        WHERE
            a.state != '4'
    </select>

    <select id="queryActModelByActKey" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.title
        FROM
            act_model a
        WHERE
            a.act_id = #{actKey}
          AND a.state != '4'
		LIMIT 1
    </select>

    <select id="queryHotActModleDetailsById" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.act_id actId,
            IF ( IFNULL( a.page_url, '' ) = '', '../../tpl/dsFormPageSequence/dsFormPageSequenceDraftProcessAdd.html',  a.page_url ) pageUrl,
            a.background_color backgroundColor,
            IFNULL(a.ds_form_id, '') dsFormId,
            a.menu_icon_type menuIconType,
            a.menu_icon_pic menuIconPic,
            a.menu_icon menuIcon,
            a.menu_icon_color menuIconColor,
            a.common_used commonUsed,
            a.remark
        FROM
            act_model a
        WHERE a.state = '2'
          AND a.common_used = '1'
        ORDER BY
            a.order_by DESC
        LIMIT 12
    </select>

</mapper>