<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.PageSequenceDao">

	<select id="queryDsFormISDraftListByUser" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			CONVERT(a.create_time, char) createTime,
			b.title,
			c.title typeTitle,
			a.state,
			a.page_id pageId
		FROM
			ds_form_page_sequence a
			LEFT JOIN act_model b ON a.page_id = b.ds_form_id
			LEFT JOIN act_modle_type c ON b.type_id = c.id
		WHERE
			a.create_id = #{userId}
		AND a.state = '1'
		<if test="startTime != '' and startTime != null and endTime != '' and endTime != null">
			AND a.create_time >= #{startTime} AND #{endTime} >= a.create_time
		</if>
	</select>
	
	<select id="queryDsFormStateById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			b.act_id actKey
		FROM
			ds_form_page_sequence a
			LEFT JOIN act_model b ON a.page_id = b.ds_form_id
		WHERE
			a.create_id = #{userId}
		AND a.state = '1'
		AND a.id = #{id}
	</select>
	
	<delete id="deleteDsFormISDraftByUser" parameterType="java.lang.String">
		DELETE 
		FROM 
			ds_form_page_sequence
		where 
			id = #{id}
	</delete>
	
	<delete id="deleteDsFormContentISDraftByUser" parameterType="java.lang.String">
		DELETE 
		FROM 
			ds_form_page_data
		where 
			sequence_id = #{id}
	</delete>
	
	<select id="queryDsFormISDraftToEditById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.content_id contentId,
			a.id `name`,
			a.title labelContent,
			a.placeholder,
			a.`value`,
			a.text,
			CONCAT('layui-col-xs', a.default_width) defaultWidth,
			a.page_id pageId,
			a.html_content htmlContent,
			a.js_content jsContent,
			a.order_by orderBy,
			IFNULL(a.key_id, '') keyId,
			IFNULL(a.associated_data_types,'') associatedDataTypes,
			IFNULL(a.a_data,'') aData,
			IFNULL(a.display_template,'') templateContent,
			a.`require`
		FROM
			ds_form_page_data a
		WHERE a.sequence_id = #{id}
		ORDER BY
			a.order_by ASC
	</select>
	
	<update id="editDsFormISDraftById" parameterType="java.util.Map">
		UPDATE ds_form_page_data
		<set>
			`value` = #{value},
			text = #{text}
		</set>
		WHERE id = #{rowId}
	</update>
	
	<update id="editDsFormISDraftToSubApprovalById" parameterType="java.util.Map">
		UPDATE ds_form_page_sequence
		<set>
			process_instance_id = #{processInId},
			state = '2'
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="queryDsFormContentBySequenceId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.title `name`,
			a.`value`,
			a.text,
			a.show_type showType,
			a.default_width proportion,
			a.content_id rowId,
			a.editable_node_id editableNodeId,
			a.editable_node_name editableNodeName,
			'' formItemType,
			a.order_by orderBy,
			IF(IFNULL(a.key_id, '') = '', a.content_id, a.key_id) keyId
		FROM
			ds_form_page_data a
		WHERE
			a.sequence_id = #{id}
	</select>
	
	<select id="queryDsFormISDraftDetailsById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.title `name`,
			a.text,
			a.show_type showType,
			a.default_width proportion,
			a.content_id rowId
		FROM
			ds_form_page_data a
		WHERE
			a.sequence_id = #{id}
		ORDER BY a.order_by ASC
	</select>
	
</mapper>