<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div class="winui-toolbar">
		<div class="winui-tool" style="text-align: left;">
			<button id="reloadTable" class="winui-toolbtn search-table-btn-right"><i class="fa fa-refresh" aria-hidden="true"></i><language showName="com.skyeye.refreshDataBtn"></language></button>
			<button id="addBean" class="winui-toolbtn search-table-btn-right" auth="1596957289917"><i class="fa fa-plus" aria-hidden="true"></i>用品领用申请</button>
		</div>
	</div>
	<div style="margin:auto 10px;">
		<table id="lingyongTable" lay-filter="lingyongTable"></table>
		<script type="text/html" id="lingyongTableBar">
			{{# if(d.editRow == '1'){ }}
				{{# if(auth('1596957208717')){ }}
					<a class="layui-btn layui-btn-xs" lay-event="subApproval">提交审批</a>
				{{# } }}
				{{# if(auth('1596957217708')){ }}
					<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="cancellation">作废</a>
				{{# } }}
				{{# if(auth('1596957289917')){ }}
					<a class="layui-btn layui-btn-xs" lay-event="edit"><language showName="com.skyeye.editBtn"></language></a>
				{{# } }}
			{{# } }}
			{{# if(d.editRow == '2'){ }}
				{{# if(auth('1596957196901')){ }}
					<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="revoke">撤销</a>
				{{# } }}
			{{# } }}
		</script>
	</div>

    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/assetArticlesUse/'}).use('assetArticlesUseList');
    </script>
</body>
</html>