<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
    <div style="margin:0 auto;padding:20px;">
        <form class="layui-form" action="" id="showForm">

        </form>
    </div>

    <!-- useTemplate -->
    <script type="text/x-handlebars-template" id="useTemplate">
        {{#bean}}
            <div class="layui-form-item layui-col-xs12">
                <label class="layui-form-label">标题：</label>
                <div class="layui-input-block ver-center">
                    {{title}}
                </div>
            </div>
            <div class="layui-form-item layui-col-xs6">
                <label class="layui-form-label">单号：</label>
                <div class="layui-input-block ver-center">
                    {{oddNumber}}
                </div>
            </div>
            <div class="layui-form-item layui-col-xs6">
                <label class="layui-form-label">状态：</label>
                <div class="layui-input-block ver-center">
                    {{{stateName}}}
                </div>
            </div>
            <div class="layui-form-item layui-col-xs6">
                <label class="layui-form-label">责任人：</label>
                <div class="layui-input-block ver-center">
                    {{userName}}
                </div>
            </div>
            <div class="layui-form-item layui-col-xs6">
                <label class="layui-form-label">申请时间：</label>
                <div class="layui-input-block ver-center">
                    {{createTime}}
                </div>
            </div>
            <div class="layui-form-item layui-col-xs12">
                <label class="layui-form-label">请假日期：</label>
                <div class="layui-input-block">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th style="width: 100px;">班次</th>
                            <th style="width: 80px;">打卡时间</th>
                            <th style="width: 80px;">假期类型</th>
                            <th style="width: 100px;">请假日期</th>
                            <th style="width: 80px;">开始时间</th>
                            <th style="width: 80px;">结束时间</th>
                            <th style="width: 80px;">请假工时</th>
                            <th style="width: 80px;">状态</th>
                            <th style="min-width: 80px;">备注</th>
                        </tr>
                        </thead>
                        <tbody id="beanTable" class="insurance-table">
                            {{#each leaveDay}}
                                <tr>
                                    <td>{{timeName}}</td>
                                    <td>{{timeStartTime}} ~ {{timeEndTime}}</td>
                                    <td>{{leaveTypeName}}</td>
                                    <td>{{leaveDay}}</td>
                                    <td>{{leaveStartTime}}</td>
                                    <td>{{leaveEndTime}}</td>
                                    <td>{{leaveHour}}</td>
                                    <td>{{stateName}}</td>
                                    <td>{{remark}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layui-form-item layui-col-xs12">
                <label class="layui-form-label">相关描述：</label>
                <div class="layui-input-block ver-center">
                    {{remark}}
                </div>
            </div>
            <div class="layui-form-item layui-col-xs12">
                <label class="layui-form-label">相关附件：</label>
                <div class="layui-input-block ver-center" id="enclosureUpload">
                </div>
            </div>
        {{/bean}}
    </script>

    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/checkWorkLeave/'}).use('checkWorkLeaveDetails');
    </script>
</body>
</html>