<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="margin:0 auto; height: 100%;">
        <div class="winui-toolbar">
	        <div class="winui-tool">
	        	<button id="reloadTable" class="winui-toolbtn"><i class="fa fa-refresh" aria-hidden="true"></i><language showName="com.skyeye.refreshDataBtn"></language></button>
	            <button id="addMailType" class="winui-toolbtn" auth="1634980505597"><i class="fa fa-plus" aria-hidden="true"></i><language showName="com.skyeye.addBtn"></language></button>
	        </div>
	    </div>
    	<div class="plan-data-box">
       		<table id="messageTable" lay-filter="messageTable"></table>
       		<script type="text/html" id="tableBar">
				{{# if(auth('1634980522203')){ }}
					<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit"><language showName="com.skyeye.editBtn"></language></a>
				{{# } }}
				{{# if(d.perpleNum == 0 && auth('1634980512823')){ }}
					<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del"><language showName="com.skyeye.deleteBtn"></language></a>
				{{# } }}
			</script>
       	</div>
	</div>
    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/mailGroup/'}).use('mailGroupList');
    </script>
</body>
</html>