<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.MainPageDao">
	
	<select id="queryCheckOnWorkNumByUserId" resultType="String">
		SELECT
			COUNT(a.id) checkOnWorkNum
		FROM
			check_work a
		WHERE
			date_format(a.check_date, '%Y-%m') = date_format(now(), '%Y-%m')
		AND a.state = '1'
		AND a.create_id = #{userId}
		<if test="tenantId != null and tenantId != ''">
			AND a.tenant_id = #{tenantId}
		</if>
	</select>
	
	<select id="queryDiskCloudFileNumByUserId" resultType="String">
		SELECT
			COUNT(a.id) diskCloudFileNum
		FROM
			file_catelog_papers a
		WHERE
			a.create_id = #{userId}
		<if test="tenantId != null and tenantId != ''">
			AND a.tenant_id = #{tenantId}
		</if>
	</select>
	
	<select id="queryForumNumByUserId" resultType="String">
		SELECT
			COUNT(a.id) forumNum
		FROM
			forum_content a
		WHERE
			a.create_id = #{userId}
		<if test="tenantId != null and tenantId != ''">
			AND a.tenant_id = #{tenantId}
		</if>
	</select>

	<select id="queryKnowledgeNumByUserId" resultType="String">
		SELECT
			COUNT(a.id) knowledgeNum
		FROM
			knowlg_content a
		WHERE
			a.create_id = #{userId}
		AND a.state = 2
		<if test="tenantId != null and tenantId != ''">
			AND a.tenant_id = #{tenantId}
		</if>
	</select>

</mapper>