<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.AuthDao">
	
    <select id="isTableExist" parameterType="java.util.Map" resultType="int">
        select count(*) from information_schema.TABLES where table_name = #{tableName}
    </select>
    
    <update id="createNewTable" parameterType="java.util.Map">  
        CREATE TABLE `sys_auth` (
		  `id` varchar(32) NOT NULL,
		  `name` varchar(100) NOT NULL COMMENT '公司名称',
		  `code` varchar(100) NOT NULL COMMENT '授权码',
		  `create_time` datetime NOT NULL,
		  PRIMARY KEY (`id`)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='授权码'
    </update>
    
    <select id="queryAuthCode" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.`name`,
			a.`code`,
			CONVERT (a.create_time, CHAR) createTime
		FROM
			sys_auth a
		LIMIT 1
    </select>
    
    <insert id="insertAuthCode" parameterType="java.util.Map">
        INSERT INTO sys_auth(
            id, `name`, `code`, create_time
        ) values (
            #{id}, #{name}, #{code}, #{createTime}
        )
    </insert>
    
    <select id="querySysDataBaseSelectList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.TABLE_NAME AS id,
			a.TABLE_NAME AS `name`
		FROM
			information_schema.COLUMNS a
		WHERE
			a.TABLE_SCHEMA = #{dbName}
		GROUP BY
			a.TABLE_NAME
	</select>
	
	<delete id="deleteTableContent" parameterType="java.util.Map">
		DELETE
		FROM
			${name}
	</delete>

</mapper>