<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.DsFormLimitRequirementDao">
	
	<select id="queryDsFormLimitRequirementList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.`name` requireName,
			a.former_requirement formerRequirement,
			a.after_requirement afterRequirement,
			CONVERT(a.create_time, char) createTime
		FROM
			ds_form_limit_requirement a
		WHERE 1 = 1
			<if test="requireName != '' and requireName != null">
				AND a.`name` LIKE '%${requireName}%'
			</if>
			<if test="formerRequirement != '' and formerRequirement != null">
				AND a.former_requirement LIKE '%${formerRequirement}%'
			</if>
			<if test="afterRequirement != '' and afterRequirement != null">
				AND a.after_requirement LIKE '%${afterRequirement}%'
			</if>
			ORDER BY a.create_time DESC
	</select>
	
	<select id="queryDsFormLimitRequirementMationByName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.`name` requireName
		FROM
			ds_form_limit_requirement a
		WHERE
			a.`name` = #{requireName}
	</select>
	
	<insert id="insertDsFormLimitRequirementMation" parameterType="java.util.Map">
	     INSERT into ds_form_limit_requirement 
	     (id, `name`, former_requirement, after_requirement, create_id, create_time)
	     VALUES
	     (#{id}, #{requireName}, #{formerRequirement}, #{afterRequirement}, #{createId}, #{createTime})
	</insert>
	
	<delete id="deleteDsFormLimitRequirementMationById" parameterType="java.util.Map">
		DELETE
		FROM
			ds_form_limit_requirement
		WHERE
			id = #{id}
	</delete>
	
	<select id="queryDsFormLimitRequirementMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.`name` requireName,
			a.former_requirement formerRequirement,
			a.after_requirement afterRequirement
		FROM
			ds_form_limit_requirement a
		WHERE
			a.id = #{id}
	</select>
	
	<select id="queryDsFormLimitRequirementMationByNameAndId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.`name` requireName
		FROM
			ds_form_limit_requirement a
		WHERE
			a.`name` = #{requireName}
			AND a.id != #{id}
	</select>
	
	<update id="editDsFormLimitRequirementMationById" parameterType="java.util.Map">
		UPDATE ds_form_limit_requirement
		<set>
			<if test="requireName != '' and requireName != null">
				`name` = #{requireName},
			</if>
			<if test="formerRequirement != '' and formerRequirement != null">
				former_requirement = #{formerRequirement},
			</if>
			<if test="afterRequirement != '' and afterRequirement != null">
				after_requirement = #{afterRequirement},
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="queryDsFormLimitRequirementMationToShow" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.`name` requireName,
			a.former_requirement formerRequirement,
			a.after_requirement afterRequirement,
			CONVERT(a.create_time, char) createTime
		FROM
			ds_form_limit_requirement a
		ORDER BY a.create_time DESC
	</select>
	
</mapper>