<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SysEveMenuDao">
	
	<select id="querySysMenuList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.menu_name menuName,
			a.menu_icon menuIcon,
			a.menu_icon_color menuIconColor,
			a.menu_icon_bg menuIconBg,
			a.title_name titleName,
			a.menu_level menuLevel,
			a.menu_type menuType,
			a.menu_sys_type menuSysType,
			a.menu_parent_id parentId,
			a.menu_url menuUrl,
			CONVERT(a.create_time, char) createTime,
			b.user_name userName,
			a.order_num orderNum,
			IFNULL(GROUP_CONCAT(c.menu_name separator '->'), '创世菜单') menuParentName,
			(SELECT COUNT(*) FROM sys_eve_role_menu d WHERE d.menu_id = a.id) roleNum
		FROM
			sys_eve_menu a
			LEFT JOIN sys_eve_user b ON a.creater = b.id
			LEFT JOIN sys_eve_menu c ON INSTR(CONCAT(',', a.menu_parent_id, ','), CONCAT(',', c.id, ','))
		WHERE 1=1
		<if test="menuName != '' and menuName != null">
			AND a.menu_name LIKE '%${menuName}%'
		</if>
		<if test="menuUrl != '' and menuUrl != null">
			AND a.menu_url LIKE '%${menuUrl}%'
		</if>
		<if test="menuLevel != '' and menuLevel != null">
			AND a.menu_level = #{menuLevel}
		</if>
		<if test="parentId != '' and parentId != null and parentId != '0'.toString()">
			AND INSTR(CONCAT(',', a.menu_parent_id, ','), CONCAT(',', #{parentId}, ','))
		</if>
		GROUP BY a.id
		ORDER BY a.order_num ASC
	</select>
	
	<select id="querySysMenuAfterOrderBumByParentId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.order_num orderNum
		FROM
			sys_eve_menu a
		WHERE
			a.menu_parent_id = #{parentId}
		ORDER BY a.order_num DESC 
		LIMIT 1
	</select>
	
	<insert id="insertSysMenuMation" parameterType="java.util.Map">
	     INSERT into sys_eve_menu 
	     (id, menu_name, title_name, menu_icon, menu_url, menu_type, menu_sys_type, menu_parent_id, menu_level, open_type, order_num, menu_icon_bg, menu_icon_color, creater, create_time)
	     VALUES
	     (#{id}, #{menuName}, #{titleName}, #{menuIcon}, #{menuUrl}, #{menuType}, #{menuSysType}, #{parentId}, #{menuLevel}, #{openType}, #{orderNum}, #{menuIconBg}, #{menuIconColor}, #{createId}, #{createTime})
	</insert>
	
	<select id="querySysMenuMationBySimpleLevel" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.menu_name menuName,
			a.menu_level menuLevel
		FROM
			sys_eve_menu a
			<if test="parentId != &quot;0&quot;">
				,sys_eve_menu b
			</if>
		WHERE INSTR(CONCAT(',', a.menu_parent_id, ','), CONCAT(',', #{parentId}, ','))
		<if test="parentId != &quot;0&quot;">
			AND b.id = #{parentId}
			AND (b.menu_level + 1) = a.menu_level
		</if>
		ORDER BY a.order_num ASC
	</select>
	
	<select id="querySysMenuMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.menu_name menuName,
			a.menu_icon menuIcon,
			a.menu_icon_color menuIconColor,
			a.menu_icon_bg menuIconBg,
			a.title_name titleName,
			a.menu_level menuLevel,
			a.menu_type menuType,
			a.menu_sys_type menuSysType,
			a.menu_parent_id parentId,
			a.menu_url menuUrl
		FROM
			sys_eve_menu a
		WHERE a.id = #{id}
	</select>
	
	<update id="editSysMenuMationById" parameterType="java.util.Map">
		UPDATE sys_eve_menu
		<set>
			<if test="menuName != '' and menuName != null">
				menu_name = #{menuName},
			</if>
			<if test="menuIcon != '' and menuIcon != null">
				menu_icon = #{menuIcon},
			</if>
			<if test="titleName != '' and titleName != null">
				title_name = #{titleName},
			</if>
			<if test="menuLevel != '' and menuLevel != null">
				menu_level = #{menuLevel},
			</if>
			<if test="menuType != '' and menuType != null">
				menu_type = #{menuType},
			</if>
			<if test="menuSysType != '' and menuSysType != null">
				menu_sys_type = #{menuSysType},
			</if>
			<if test="parentId != '' and parentId != null">
				menu_parent_id = #{parentId},
			</if>
			<if test="menuUrl != '' and menuUrl != null">
				menu_url = #{menuUrl},
			</if>
			<if test="openType != '' and openType != null">
				open_type = #{openType},
			</if>
			<if test="orderNum != '' and orderNum != null">
				order_num = #{orderNum},
			</if>
			menu_icon_bg = #{menuIconBg},
			menu_icon_color = #{menuIconColor},
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="queryUseThisMenuRoleById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			COUNT(*) roleNum
		FROM 
			sys_eve_role_menu d 
		WHERE d.menu_id = #{id}
	</select>
	
	<delete id="deleteSysMenuChildMationById" parameterType="java.util.Map">
		DELETE
		FROM
			sys_eve_menu
		WHERE
			INSTR(CONCAT(',', menu_parent_id, ','), CONCAT(',', #{id}, ','))
	</delete>
	
	<delete id="deleteSysMenuMationById" parameterType="java.util.Map">
		DELETE
		FROM
			sys_eve_menu
		WHERE
			id = #{id}
	</delete>
	
	<select id="queryTreeSysMenuMationBySimpleLevel" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.menu_name name,
			a.menu_parent_id pId,
			'true' isParent
		FROM
			sys_eve_menu a
			<if test="parentId != &quot;0&quot;">
				,sys_eve_menu b
			</if>
		WHERE INSTR(CONCAT(',', a.menu_parent_id, ','), CONCAT(',', #{parentId}, ','))
		<if test="parentId != &quot;0&quot;">
			AND b.id = #{parentId}
			AND (b.menu_level + 1) = a.menu_level
		</if>
		ORDER BY a.order_num ASC
	</select>
	
	<select id="querySysMenuLevelList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.menu_level id,
			CASE a.menu_level WHEN '0' THEN '创世菜单' ELSE CONCAT(CONVERT(a.menu_level, char), '级子菜单') END name
		FROM
			sys_eve_menu a
		GROUP BY a.menu_level
	</select>
	
	<select id="queryOldParentIdById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.menu_parent_id parentId
		FROM
			sys_eve_menu a
		WHERE
			a.id = #{id}
	</select>
	
	<select id="querySysEveMenuISTopByThisId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			b.id,
			b.order_num orderNum,
			a.order_num thisOrderNum
		FROM
			sys_eve_menu a,
			sys_eve_menu b
		WHERE
			a.id = #{id}
		AND b.menu_parent_id = a.menu_parent_id
		AND a.order_num > b.order_num
		ORDER BY b.order_num DESC LIMIT 1
	</select>
	
	<update id="editSysEveMenuSortTopById" parameterType="java.util.Map">
		UPDATE sys_eve_menu
		<set>
			order_num = #{orderNum},
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="querySysEveMenuISLowerByThisId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			b.id,
			b.order_num orderNum,
			a.order_num thisOrderNum
		FROM
			sys_eve_menu a,
			sys_eve_menu b
		WHERE
			a.id = #{id}
		AND b.menu_parent_id = a.menu_parent_id
		AND b.order_num > a.order_num
		ORDER BY b.order_num DESC LIMIT 1
	</select>
	
	<update id="editSysEveMenuSortLowerById" parameterType="java.util.Map">
		UPDATE sys_eve_menu
		<set>
			order_num = #{orderNum},
		</set>
		WHERE id = #{id}
	</update>
	
</mapper>