<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="margin:0 auto;padding:20px;">
	    <form class="layui-form" action="" id="showForm" autocomplete="off">
	        <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">名称<i class="red">*</i></label>
		        <div class="layui-input-block">
		        	<input type="text" id="dictName" name="dictName" win-verify="required" placeholder="请输入名称" class="layui-input"/>
					<div class="layui-form-mid layui-word-aux">同一分类下，名称不能重复。</div>
		        </div>
		    </div>
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">分类<i class="red">*</i></label>
				<div class="layui-input-block">
					<select lay-filter="dictTypeId" lay-search="" id="dictTypeId" win-verify="required">

					</select>
					<div class="layui-form-mid layui-word-aux">已启用的分类。</div>
				</div>
			</div>
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">序号<i class="red">*</i></label>
				<div class="layui-input-block">
					<input type="text" id="dictSort" name="dictSort" win-verify="required|number" placeholder="请输入序号" class="layui-input"/>
					<div class="layui-form-mid layui-word-aux">序号越大越往后。</div>
				</div>
			</div>
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">默认值<i class="red">*</i></label>
				<div class="layui-input-block winui-radio">
					<input type="radio" name="isDefault" value="Y" title="是" checked="checked"/>
					<input type="radio" name="isDefault" value="N" title="否" />
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">状态<i class="red">*</i></label>
				<div class="layui-input-block winui-radio">
					<input type="radio" name="status" value="0" title="启用" checked="checked"/>
					<input type="radio" name="status" value="1" title="禁用" />
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">备注</label>
				<div class="layui-input-block">
					<textarea id="remark" name="remark" placeholder="请输入备注" class="layui-textarea" style="height: 100px;" maxlength="200"></textarea>
				</div>
			</div>
		    <div class="layui-form-item layui-col-xs12">
		        <div class="layui-input-block">
		            <button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
		            <button class="winui-btn" lay-submit lay-filter="formAddBean"><language showName="com.skyeye.save"></language></button>
		        </div>
		    </div>
	    </form>
	</div>
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
		layui.config({base: '../../js/sysDictData/'}).use('sysDictDataAdd');
	</script>
</body>
</html>