<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div class="txtcenter" style="margin:0 auto;padding-top:10px;">
	    <form class="layui-form layui-form-pane" action="" autocomplete="off">
	        <div class="layui-form-item">
	            <div class="layui-inline">
	                <label class="layui-form-label">类型名称</label>
	                <div class="layui-input-inline">
	                    <input type="text" id="name" name="name" placeholder="请输入公告类型名称" class="layui-input" />
	                </div>
	                <label class="layui-form-label">一级类型</label>
	                <div class="layui-input-inline">
	                    <select lay-filter="firstType" lay-search="" id="firstType">
	                    
	                    </select>
	                </div>
	                <button type="reset" class="layui-btn layui-btn-primary list-form-search"><language showName="com.skyeye.reset"></language></button>
	                <button class="layui-btn list-form-search" type="button" id="formSearch"><language showName="com.skyeye.search2"></language></button>
	            </div>
	        </div>
	    </form>
	</div>
    <div class="winui-toolbar">
        <div class="winui-tool">
            <button id="reloadTable" class="winui-toolbtn"><i class="fa fa-refresh" aria-hidden="true"></i><language showName="com.skyeye.refreshDataBtn"></language></button>
            <button id="addBean" class="winui-toolbtn" auth="1561106812907"><i class="fa fa-plus" aria-hidden="true"></i><language showName="com.skyeye.addBtn"></language></button>
        </div>
    </div>
    <div style="margin:auto 10px;">
        <table id="messageTable" lay-filter="messageTable"></table>
        <script type="text/html" id="tableBar">
			{{# if(d.state == 3){ }}
				{{# if(auth('1561106862355')){ }}
            		<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit"><language showName="com.skyeye.editBtn"></language></a>
				{{# } }}
				{{# if(auth('1561106829283')){ }}
            		<a class="layui-btn layui-btn-xs" lay-event="up">上线</a>
				{{# } }}
				{{# if(auth('1561106794451')){ }}
            		<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delet"><language showName="com.skyeye.deleteBtn"></language></a>
				{{# } }}
			{{# }else if(d.state == 2 && auth('1561106844126')){ }}
				<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="down">下线</a>
			{{# }else if(d.state == 1){ }}
				{{# if(auth('1561106862355')){ }}
            		<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit"><language showName="com.skyeye.editBtn"></language></a>
				{{# } }}
				{{# if(auth('1561106829283')){ }}
            		<a class="layui-btn layui-btn-xs" lay-event="up">上线</a>
				{{# } }}
				{{# if(auth('1561106794451')){ }}
            		<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delet"><language showName="com.skyeye.deleteBtn"></language></a>
				{{# } }}
			{{# } else { }}
				参数错误
			{{# } }}
			{{# if(auth('1561106879576')){ }}
            	<a class="layui-btn layui-btn-xs" lay-event="upMove">上移</a>
			{{# } }}
			{{# if(auth('1561106893228')){ }}
            	<a class="layui-btn layui-btn-xs" lay-event="downMove">下移</a>
			{{# } }}
        </script>
    </div>
    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/sysnoticetype/'}).use('sysnoticetypelist');
    </script>
</body>
</html>