<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="padding:20px; margin:0 auto;">
	    <form class="layui-form" action="" id="showForm">
	        
	    </form>
	</div>

	<script type="text/x-handlebars-template" id="beanTemplate">
		{{#bean}}
			<div class="layui-form-item layui-col-xs12">
				<span class="hr-title">基本信息</span><hr>
			</div>
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">中文名称<i class="red">*</i></label>
				<div class="layui-input-block">
					<input type="text" id="desktopName" name="desktopName" win-verify="required" placeholder="请输入桌面名称" class="layui-input" value="{{desktopName}}"/>
					<div class="layui-form-mid layui-word-aux">该名称在系统中唯一。</div>
				</div>
			</div>
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">英文名称<i class="red">*</i></label>
				<div class="layui-input-block">
					<input type="text" id="desktopCnName" name="desktopCnName" win-verify="required" placeholder="请输入英文名称" class="layui-input" value="{{desktopCnName}}"/>
					<div class="layui-form-mid layui-word-aux">该名称可重复。</div>
				</div>
			</div>
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">编码<i class="red">*</i></label>
				<div class="layui-input-block">
					<input type="text" id="code" name="code" win-verify="required" placeholder="请输入编码" class="layui-input" value="{{code}}"/>
					<div class="layui-form-mid layui-word-aux">该编码在系统中唯一。例如：ERP_DESKTOP</div>
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">状态<i class="red">*</i></label>
				<div class="layui-input-block winui-radio">
					<input type="radio" name="state" value="1" title="启用" lay-filter="state" />
					<input type="radio" name="state" value="2" title="禁用" lay-filter="state" />
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">logo<i class="red">*</i></label>
				<div class="layui-input-block">
					<div class="upload" id="logo"></div>
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<span class="hr-title">APP配置</span><hr>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">跳转地址</label>
				<div class="layui-input-block">
					<input type="text" id="appPageUrl" name="appPageUrl" placeholder="请输入跳转地址" class="layui-input" value="{{appPageUrl}}"/>
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<div class="layui-input-block">
					<button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
					<button class="winui-btn" lay-submit lay-filter="formEditBean"><language showName="com.skyeye.save"></language></button>
				</div>
			</div>
		{{/bean}}
	</script>

	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
        layui.config({base: '../../js/sysEveDesktop/'}).use('sysEveDesktopEdit');
    </script>
</body>
</html>