<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="margin:0 auto;padding:20px;">
	    <form class="layui-form" action="" id="showForm" autocomplete="off">
	    	<div class="layui-form-item layui-col-xs12">
    			<span class="hr-title">基本信息</span><hr>
	    	</div>
	        <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">中文名称<i class="red">*</i></label>
		        <div class="layui-input-block">
		        	<input type="text" id="desktopName" name="desktopName" win-verify="required" placeholder="请输入桌面名称" class="layui-input"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">英文名称<i class="red">*</i></label>
		        <div class="layui-input-block">
		        	<input type="text" id="desktopCnName" name="desktopCnName" win-verify="required" placeholder="请输入英文名称" class="layui-input"/>
		        </div>
		    </div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">状态<i class="red">*</i></label>
				<div class="layui-input-block winui-radio">
					<input type="radio" name="state" value="1" title="启用" lay-filter="state" checked="checked" />
					<input type="radio" name="state" value="2" title="禁用" lay-filter="state" />
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">logo<i class="red">*</i></label>
				<div class="layui-input-block">
					<div class="upload" id="logo"></div>
				</div>
			</div>
		    <div class="layui-form-item layui-col-xs12">
		        <div class="layui-input-block">
		            <button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
		            <button class="winui-btn" lay-submit lay-filter="formAddBean"><language showName="com.skyeye.save"></language></button>
		        </div>
		    </div>
	    </form>
	</div>
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
		layui.config({base: '../../js/sysEveDesktop/'}).use('sysEveDesktopAdd');
	</script>
</body>
</html>