body {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0px;
    background-color: rgb(240, 240, 240);
    overflow: hidden;
}

.left-box {
    height: calc(100% - 60px);
    float: left;
    border: 1px dashed gainsboro;
}

.left-box > div {
    height: 100%;
    float: left;
    overflow-y: auto;
}

.left-box .type-first {
    width: 80px;
}

.type-first .pulldown {
    position: absolute;
    cursor: default;
    display: none;
    top: 60px;
    z-index: 9999;
    width: 450px;
    max-height: 270px;
    overflow-y: auto;
}

.type-first .pulldown .child-menu {
    background: #F6F6F9;
    color: #333;
    text-align: left;
    border-radius: 3px;
    border: rgb(175, 175, 175) 1px solid;
    border-width: 0 1px 1px 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    position: relative;
    z-index: 1
}

.type-first a:hover,
.type-first a:active {
    text-decoration: none;
}

.type-first .def-nav {
    float: left;
    color: white;
    text-align: center;
    width: 100%;
    padding: 4px 0px;
    cursor: pointer;
    transition: border-radius 0.5s ease;
    transition: background-color 0.5s ease;
}

.type-first .hover,
.type-first .def-nav:hover {
    background-color: RGB(142, 154, 213);
    border-radius: 10px;
}

.left-box .type-second {
    width: calc(100% - 80px);
    background-color: white;
}

.type-second a,
.type-second a:hover {
    color: #333;
}

.type-second .li {
    cursor: pointer;
    padding-top: 4px;
    float: left;
    text-align: center;
    margin: 8px 5px;
    width: calc(50% - 10px);
    transition: background-color 0.5s ease;
}

.type-second .li:hover {
    background-color: #e0e1e5;
}

.type-first .def-nav .icon,
.type-second .icon {
    margin: 0 auto;
    width: 35px;
    height: 35px;
    display: block;
    font-size: 21px;
    line-height: 35px;
}

.type-second .li .image {
    margin: 0 auto;
    width: 90px;
    height: 60px;
    display: block;
    font-size: 25px;
    line-height: 40px;
}

.type-second .li .text {
    height: 30px;
    display: block;
    font: 14px/30px "Microsoft YaHei", "Microsoft JhengHei";
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}

.type-second .layui-field-title {
    width: 100%;
}

.content-top {
    height: 45px;
    float: left;
    background-color: white;
    line-height: 45px;
    padding: 0 15px;
}

.skyeyeScaleBox {
    position: fixed;
    top: 105px;
    _position: absolute;
    overflow: hidden;
    –webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.report-content {
    position: fixed;
    left: 44px;
    top: 150px;
    _position: absolute;
    z-index: 990;
    overflow: auto;
    width: calc(100% - 770px);
    height: calc(100% - 180px);
    border: 1px solid RGB(130, 214, 195);
    –webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    overflow-x: hidden;
}

.right-box {
    height: calc(100% - 60px);
    width: 345px;
    float: right;
    background-color: white;
    border: 1px dashed gainsboro;
}

.skyeyeScaleRuler_h,
.skyeyeScaleRuler_v {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 999;
}

.skyeyeScaleRuler_h {
    width: 100%;
    height: 18px;
    background-blend-mode: lighten;
}

.skyeyeScaleRuler_v {
    width: 18px;
    height: 100%;
    background-blend-mode: lighten;
}

.skyeyeScaleRuler_v .n,
.skyeyeScaleRuler_h .n {
    position: absolute;
    font: 10px/1 Arial, sans-serif;
    color: #333;
    cursor: default;
}

.skyeyeScaleRuler_v .n {
    width: 8px;
    left: 3px;
    word-wrap: break-word;
}

.skyeyeScaleRuler_h .n {
    top: 1px;
}

.hd-main {
    height: 60px;
    background: #fff;
    border-bottom: #b3b3b3 1px solid;
    box-shadow: 0 0 5px #333;
    float: left;
    width: 100%;
}

.kuang {
    box-sizing: border-box;
    border: 1px solid darkgray;
    width: 450px;
    height: 300px;
    position: absolute;
    top: 0px;
    background-color: white;
    z-index: 100;
}

.kuang .dian {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #0f0;
}

.left_top {
    left: -5px;
    top: -5px;
    cursor: nw-resize;
}

.right_top {
    right: -5px;
    top: -5px;
    cursor: ne-resize;
}

.left_bottom {
    left: -5px;
    bottom: -5px;
    cursor: ne-resize;
}

.right_bottom {
    right: -5px;
    bottom: -5px;
    cursor: nw-resize;
}

.top {
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    cursor: n-resize;
}

.bottom {
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    cursor: n-resize;
}

.left {
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: e-resize;
}

.right {
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: e-resize;
}

.img-box, .dom-box, .word-box, .table-box, .echarts-box {
    width: 100%;
    height: 100%;
    position: absolute;
}

.form-box {
    height: calc(100% - 78px);
    position: fixed;
    width: 346px;
    top: 78px;
    right: 0px;
    background-color: white;
    z-index: 300;
}

.layui-form-label {
    width: 100px !important;
}

.layui-input-block {
    margin-left: 115px !important;
}

.layui-colorpicker-trigger-bgcolor {
    height: 19px;
}

.layui-colla-item {
    height: auto;
    width: 100%;
    display: table;
}

.layui-colla-title {
    height: 35px;
    line-height: 35px;
    padding: 0 15px 0 15px;
}

.layui-colla-title .f-icon {
    position: absolute;
    line-height: 35px;
    top: 13px;
}

.layui-colla-title .arrow-top {
    border-bottom: 8px solid darkgray;
}

.layui-colla-title .arrow-bottom {
    border-top: 8px solid darkgray;
}

.layui-colla-title span {
    margin-left: 25px;
}

.layui-colla-content {
    height: auto;
    position: relative;
    padding: 5px 0px;
}

.active {
    border: 1px solid #0f0 !important;
    z-index: 200 !important;
}

@keyframes masked-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
}









