<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="margin:0 auto;padding:20px;">
	    <form class="layui-form" action="" id="showForm" autocomplete="off">
	        
	    </form>
	</div>
	
	<!-- usetableTemplate -->
	<script type="text/x-handlebars-template" id="usetableTemplate">
		<tr trcusid="{{trId}}">
			<td><input type="checkbox" rowId="{{id}}" lay-filter="checkboxProperty" name="tableCheckRow"/></td>
			<td><input type="text" class="layui-input" id="{{name}}" win-verify="required" maxlength="50"/></td>
			<td><input type="text" class="layui-input" id="{{idcard}}" win-verify="required|identity" maxlength="18"/></td>
			<td><input type="text" class="layui-input" id="{{unit}}" win-verify="required" maxlength="50"/></td>
			<td><input type="text" class="layui-input" id="{{phone}}" win-verify="required|phone" maxlength="11"/></td>
			<td><input type="text" class="layui-input" id="{{nation}}" win-verify="required" maxlength="25"/></td>
			<td><input type="text" class="layui-input" id="{{residenceNo}}" win-verify="required" maxlength="50"/></td>
			<td><input type="text" class="layui-input" id="{{callName}}" win-verify="required" maxlength="25"/></td>
			<td><input type="text" class="layui-input" id="{{speciality}}" maxlength="100"/></td>
		</tr>
	</script>
	
	<script type="text/x-handlebars-template" id="editTemplate">
		{{#bean}}
			<div class="layui-form-item layui-col-xs12">
    			<span class="hr-title">基本信息</span><hr>
	    	</div>
	    	<div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">学生姓名<i class="red">*</i></label>
	            <div class="layui-input-block">
                	<input type="text" id="studentName" name="studentName" win-verify="required" placeholder="请输入学生姓名" class="layui-input" maxlength="50" value="{{studentName}}"/>
                </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">学生照</label>
		        <div class="layui-input-block">
		        	<div class="upload" id="userPhoto"></div>
		        </div>
		    </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">曾用名</label>
	            <div class="layui-input-block">
                	<input type="text" id="nameUseBefore" name="nameUseBefore" placeholder="请输入曾用名" class="layui-input" maxlength="50" value="{{nameUseBefore}}"/>
                </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">学号<i class="red">*</i></label>
	            <div class="layui-input-block">
                	<input type="text" id="studentNo" name="studentNo" win-verify="required" placeholder="请输入学号" class="layui-input" maxlength="20" value="{{studentNo}}"/>
                </div>
	        </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">性别<i class="red">*</i></label>
		        <div class="layui-input-block winui-radio">
		            <input type="radio" name="userSex" value="0" title="保密" />
		            <input type="radio" name="userSex" value="1" title="男" />
		            <input type="radio" name="userSex" value="2" title="女" />
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">民族<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="nation" name="nation" win-verify="required" placeholder="请输入民族" class="layui-input" maxlength="25" value="{{nation}}"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">证件类型<i class="red">*</i></label>
		        <div class="layui-input-block winui-radio">
		            <input type="radio" name="idcardType" value="1" title="居民身份证" />
		            <input type="radio" name="idcardType" value="2" title="其他" />
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">身份证<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="idCard" name="idCard" win-verify="required|identity" placeholder="请输入身份证" class="layui-input" maxlength="30" value="{{idcard}}"/>
		            <div class="layui-form-mid layui-word-aux">如果证件类型选择其他，请填写编号。</div>
		        </div>
		    </div>
	        <div class="layui-form-item layui-col-xs4">
	            <label class="layui-form-label">所属学校：</label>
	            <div class="layui-input-block ver-center">
	            	{{schoolName}}
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs4">
	            <label class="layui-form-label">所属年级<i class="red">*</i></label>
	            <div class="layui-input-block">
	            	<select id="gradeId" lay-filter="gradeId" lay-search="" win-verify="required">
	            		<option value="">请选择</option>
	            	</select>
	            	<div class="layui-form-mid layui-word-aux">该年级为入校时的年级，学生可能在不同的年级阶段进入该校</div>
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs4">
	            <label class="layui-form-label">所属班级</label>
	            <div class="layui-input-block">
	            	<select id="classId" lay-filter="classId" lay-search="">
	            		<option value="">请选择</option>
	            	</select>
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">状态<i class="red">*</i></label>
		        <div class="layui-input-block winui-radio">
		            <input type="radio" name="state" value="1" title="在校" />
		            <input type="radio" name="state" value="2" title="毕业" />
		            <input type="radio" name="state" value="3" title="休学" />
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">户口类型<i class="red">*</i></label>
	            <div class="layui-input-block winui-radio">
		            <input type="radio" name="residenceType" value="1" title="农业户口" />
		            <input type="radio" name="residenceType" value="2" title="非农业户口" />
		        </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">户口所在地编码<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="residenceNo" name="residenceNo" win-verify="required" placeholder="请输入户口所在地编码" class="layui-input" maxlength="50" value="{{residenceNo}}"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">户口所在地派出所<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="residencePoliceStation" name="residencePoliceStation" win-verify="required" placeholder="请输入户口所在地派出所" class="layui-input" maxlength="100" value="{{residencePoliceStation}}"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">入校时间<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="joinTime" name="joinTime" win-verify="required" placeholder="请选择入校时间" class="layui-input" maxlength="30" value="{{joinTime}}"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">哪一届<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="sessionYear" name="sessionYear" win-verify="required" placeholder="请选择届" class="layui-input" maxlength="10" value="{{sessionYear}}"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">家庭住址<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="homeAddress" name="homeAddress" win-verify="required" placeholder="请输入家庭住址" class="layui-input" maxlength="75" value="{{homeAddress}}"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">家庭邮编<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="homePostalCode" name="homePostalCode" win-verify="required" placeholder="请输入家庭邮编" class="layui-input" maxlength="20" value="{{homePostalCode}}"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">家庭联系人<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="homeContact" name="homeContact" win-verify="required" placeholder="请输入家庭联系人" class="layui-input" maxlength="50" value="{{homeContact}}"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">家庭电话<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="homePhone" name="homePhone" win-verify="required" placeholder="请输入家庭电话" class="layui-input" maxlength="30" value="{{homePhone}}"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
	            <label class="layui-form-label">学生特长</label>
	            <div class="layui-input-block">
	            	<textarea id="speciality" name="speciality" placeholder="请输入学生特长" class="layui-textarea" style="height: 100px;" maxlength="100">{{speciality}}</textarea>
                </div>
	        </div>
		    <div class="layui-form-item layui-col-xs12">
    			<span class="hr-title">监护人</span><hr>
	    	</div>
	    	<div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">姓名<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="guardian" name="guardian" win-verify="required" placeholder="请输入姓名" class="layui-input" maxlength="15" value="{{guardian}}"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">身份证号<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="guardianIdcard" name="guardianIdcard" win-verify="required|identity" placeholder="请输入身份证号" class="layui-input" maxlength="18" value="{{guardianIdcard}}"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
    			<span class="hr-title">本地联系人</span><hr>
	    	</div>
	    	<div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">姓名<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="localContact" name="localContact" win-verify="required" placeholder="请输入姓名" class="layui-input" maxlength="50" value="{{localContact}}"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">关系<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="contactRelationship" name="contactRelationship" win-verify="required" placeholder="请输入关系" class="layui-input" maxlength="25" value="{{contactRelationship}}"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">手机号<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="contactPhone" name="contactPhone" win-verify="required|phone" placeholder="请输入手机号" class="layui-input" maxlength="11" value="{{contactPhone}}"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
    			<span class="hr-title">家庭成员</span><hr>
	    	</div>
	    	<div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">成员项</label>
		        <div class="layui-input-block">
		        	<div class="winui-toolbar">
				        <div class="winui-tool" style="text-align: left;">
				            <button id="addRow" class="winui-toolbtn" type="button"><i class="fa fa-plus" aria-hidden="true"></i>新增行</button>
				            <button id="deleteRow" class="winui-toolbtn" type="button"><i class="fa fa-trash-o" aria-hidden="true"></i>删除行</button>
				        </div>
				    </div>
		            <table class="layui-table">
		                <thead>
		                    <tr>
		                    	<th style="width: 30px;"></th>
		                        <th style="width: 120px;">姓名<i class="red">*</i></th>
		                        <th style="width: 120px;">身份证号<i class="red">*</i></th>
		                        <th style="width: 70px;">工作单位<i class="red">*</i></th>
		                        <th style="width: 80px;">手机号<i class="red">*</i></th>
		                        <th style="width: 80px;">民族<i class="red">*</i></th>
		                        <th style="width: 80px;">户口所在地编码<i class="red">*</i></th>
		                        <th style="width: 80px;">称呼<i class="red">*</i></th>
		                        <th style="min-width: 100px;">特长</th>
		                    </tr>
		                </thead>
		                <tbody id="useTable" class="insurance-table">
		                </tbody>
					</table>
		        </div>
		    </div>
	    	
		    <div class="layui-form-item layui-col-xs12">
    			<span class="hr-title">其他信息</span><hr>
	    	</div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">学生类别<i class="red">*</i></label>
	            <div class="layui-input-block winui-radio">
		            <input type="radio" name="stuType" value="1" title="普通学生" />
		            <input type="radio" name="stuType" value="2" title="转校生" />
		        </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">学区外<i class="red">*</i></label>
	            <div class="layui-input-block winui-radio">
		            <input type="radio" name="outsideSchool" value="1" title="是" />
		            <input type="radio" name="outsideSchool" value="2" title="否" />
		        </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">外地学生<i class="red">*</i></label>
	            <div class="layui-input-block winui-radio">
		            <input type="radio" name="foreignStudents" value="1" title="是" />
		            <input type="radio" name="foreignStudents" value="2" title="否" />
		        </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">独生子女<i class="red">*</i></label>
	            <div class="layui-input-block winui-radio">
		            <input type="radio" name="onlyChild" value="1" title="是" />
		            <input type="radio" name="onlyChild" value="2" title="否" />
		        </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">留守儿童<i class="red">*</i></label>
	            <div class="layui-input-block winui-radio">
		            <input type="radio" name="behindChildren" value="1" title="是" />
		            <input type="radio" name="behindChildren" value="2" title="否" />
		        </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">流动人口<i class="red">*</i></label>
	            <div class="layui-input-block winui-radio">
		            <input type="radio" name="floatingPopulation" value="1" title="是" />
		            <input type="radio" name="floatingPopulation" value="2" title="否" />
		        </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">单亲家庭<i class="red">*</i></label>
	            <div class="layui-input-block winui-radio">
		            <input type="radio" name="singleParentFamily" value="1" title="是" />
		            <input type="radio" name="singleParentFamily" value="2" title="否" />
		        </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">入学方式<i class="red">*</i></label>
	            <div class="layui-input-block winui-radio">
		            <input type="radio" name="entranceType" value="1" title="普通入学" />
		            <input type="radio" name="entranceType" value="2" title="其他" />
		        </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">择校生<i class="red">*</i></label>
	            <div class="layui-input-block winui-radio">
		            <input type="radio" name="schoolChoiceStudents" value="1" title="是" />
		            <input type="radio" name="schoolChoiceStudents" value="2" title="否" />
		        </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">就读方式<i class="red">*</i></label>
	            <div class="layui-input-block winui-radio">
		            <input type="radio" name="attendType" value="1" title="走读" />
		            <input type="radio" name="attendType" value="2" title="住校" />
		            <input type="radio" name="attendType" value="3" title="其他" />
		        </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">健康状态<i class="red">*</i></label>
	            <div class="layui-input-block winui-radio">
		            <input type="radio" name="healthCondition" value="1" title="健康" />
		            <input type="radio" name="healthCondition" value="2" title="良好" />
		            <input type="radio" name="healthCondition" value="3" title="一般" />
		            <input type="radio" name="healthCondition" value="4" title="较弱" />
		        </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">港台华侨<i class="red">*</i></label>
	            <div class="layui-input-block winui-radio">
		            <input type="radio" name="overseasChinese" value="1" title="是" />
		            <input type="radio" name="overseasChinese" value="2" title="否" />
		        </div>
	        </div>
	        <div class="layui-col-xs12">
		        <div class="layui-form-item layui-col-xs6">
		            <label class="layui-form-label">家庭情况</label>
	            	<div class="layui-input-block" id="homeSituation">
		            
		        	</div>
		        </div>
		        <div class="layui-form-item layui-col-xs6">
		            <label class="layui-form-label">身心障碍</label>
	            	<div class="layui-input-block" id="bodyMind">
		            
		        	</div>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">血型<i class="red">*</i></label>
	            <div class="layui-input-block winui-radio">
		            <input type="radio" name="bloodType" value="1" title="A型" />
		            <input type="radio" name="bloodType" value="2" title="B型" />
		            <input type="radio" name="bloodType" value="3" title="AB型" />
		            <input type="radio" name="bloodType" value="4" title="O型" />
		            <input type="radio" name="bloodType" value="5" title="其他" />
		            <input type="radio" name="bloodType" value="6" title="未定" />
		        </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">是否孤儿<i class="red">*</i></label>
	            <div class="layui-input-block winui-radio">
		            <input type="radio" name="orphan" value="1" title="是" />
		            <input type="radio" name="orphan" value="2" title="否" />
		        </div>
	        </div>
	        <div class="layui-col-xs12">
		        <div class="layui-form-item layui-col-xs6">
		            <label class="layui-form-label">学前教育<i class="red">*</i></label>
		            <div class="layui-input-block winui-radio">
			            <input type="radio" name="preschoolEducation" value="1" title="是" lay-filter="preschoolEducation" />
			            <input type="radio" name="preschoolEducation" value="2" title="否" lay-filter="preschoolEducation" />
			        </div>
		        </div>
		        <div class="layui-form-item layui-col-xs6" id="preschoolSchoolBox">
			        <label class="layui-form-label">学前教育学校</label>
			        <div class="layui-input-block">
			            <input type="text" id="preschoolSchool" name="preschoolSchool" placeholder="请输入学前教育学校" class="layui-input" maxlength="50" value="{{preschoolSchool}}"/>
			        </div>
			    </div>
			</div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">烈士/优抚子女<i class="red">*</i></label>
	            <div class="layui-input-block winui-radio">
		            <input type="radio" name="preferential" value="1" title="是" />
		            <input type="radio" name="preferential" value="2" title="否" />
		        </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">享受一补<i class="red">*</i></label>
	            <div class="layui-input-block winui-radio">
		            <input type="radio" name="onePatch" value="1" title="是" />
		            <input type="radio" name="onePatch" value="2" title="否" />
		        </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">交通方式</label>
	            <div class="layui-input-block">
	            	<select id="modeOfTransportation" lay-filter="modeOfTransportation" lay-search="">
	            		<option value="">请选择</option>
	            	</select>
	            </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">乘坐校车<i class="red">*</i></label>
	            <div class="layui-input-block winui-radio">
		            <input type="radio" name="schoolBus" value="1" title="是" />
		            <input type="radio" name="schoolBus" value="2" title="否" />
		        </div>
	        </div>
	        <div class="layui-form-item layui-col-xs6">
	            <label class="layui-form-label">疫苗接种情况<i class="red">*</i></label>
	            <div class="layui-input-block winui-radio">
		            <input type="radio" name="vaccination" value="1" title="全部打完" />
		            <input type="radio" name="vaccination" value="2" title="没有打完" />
		        </div>
	        </div>
	        
	        <div class="layui-form-item layui-col-xs12">
	            <div class="layui-input-block">
					<button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
	                <button class="winui-btn" lay-submit lay-filter="formEditBean"><language showName="com.skyeye.save"></language></button>
	            </div>
	        </div>
		{{/bean}}
	</script>
	
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
        layui.config({base: '../../js/schoolstudentmation/'}).use('schoolStudentEdit');
    </script>
</body>
</html>