<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
    <div style="padding:20px; margin:0 auto;">
        <form class="layui-form" action="" id="showForm">
            
        </form>
    </div>

    <script type="text/x-handlebars-template" id="simpleTemplate">
        {{#bean}}
        <div class="layui-form-item layui-col-xs12">
            <span class="hr-title">基本信息</span><hr>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">订单编号：</label>
            <div class="layui-input-block ver-center">
                {{orderNum}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">订单状态：</label>
            <div class="layui-input-block ver-center">
                {{{state}}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">订单来源：</label>
            <div class="layui-input-block ver-center">
                {{type}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">服务顾问：</label>
            <div class="layui-input-block ver-center">
                {{createName}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">门店：</label>
            <div class="layui-input-block ver-center">
                {{storeName}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">客户类型：</label>
            <div class="layui-input-block ver-center">
                {{userType}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">会员：</label>
            <div class="layui-input-block ver-center">
                {{contacts}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">车辆信息：</label>
            <div class="layui-input-block ver-center">
                {{memberCarPlate}}
            </div>
        </div>
        <!--<div class="layui-form-item layui-col-xs12">
            <label class="layui-form-label">耗材</label>
            <div class="layui-input-block">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th style="width: 150px;">耗材说明</th>
                        <th style="width: 150px;">金额</th>
                    </tr>
                    </thead>
                    <tbody id="useTable" class="insurance-table">
                        {{#each keepFitOrderConsumeMationList}}
                        <tr>
                            <td><div style="width: 200px;">{{consumeExplain}}</div></td>
                            <td><div style="width: 100px;">{{price}}</div></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="layui-form-item layui-col-xs12">
            <label class="layui-form-label">应付金额：</label>
            <div class="layui-input-block ver-center">
                {{payablePrice}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs12">
            <label class="layui-form-label">服务费：</label>
            <div class="layui-input-block ver-center">
                {{servicePrice}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">实付金额：</label>
            <div class="layui-input-block ver-center">
                {{payPrice}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">实付日期：</label>
            <div class="layui-input-block ver-center">
                {{payTime}}
            </div>
        </div>-->
        <div class="layui-form-item layui-col-xs12">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block ver-center">
                {{{remark}}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs12">
            <span class="hr-title">套餐信息</span><hr>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">套餐：</label>
            <div class="layui-input-block ver-center">
                {{mealName}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">套餐内消耗：</label>
            <div class="layui-input-block ver-center">
                {{mealSinglePrice}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs12">
            <label class="layui-form-label">套餐说明：</label>
            <div class="layui-input-block ver-center">
                {{mealExplain}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs12">
            <label class="layui-form-label">耗材说明：</label>
            <div class="layui-input-block ver-center">
                {{mealConsume}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs12">
            <span class="hr-title">保养信息</span><hr>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">维修技师：</label>
            <div class="layui-input-block ver-center">
                {{serviceTechnicianName}}
            </div>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">下次保养公里数：</label>
            <div class="layui-input-block ver-center">
                {{nextServiceMileage}} KM
            </div>
        </div>
        <div class="layui-form-item layui-col-xs6">
            <label class="layui-form-label">下次保养时间：</label>
            <div class="layui-input-block ver-center">
                {{nextServiceTime}}
            </div>
        </div>
        {{/bean}}
    </script>

    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/keepFitOrder/'}).use('keepFitOrderDetails');
    </script>
</body>
</html>