<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
    <div style="padding:20px; margin:0 auto;">
        <form class="layui-form" action="" id="showForm">
            <div class="layui-form-item layui-col-xs12">
                <span class="hr-title">保养订单信息</span><hr>
            </div>
            <div class="layui-form-item layui-col-xs6">
                <label class="layui-form-label">门店<i class="red">*</i></label>
                <div class="layui-input-block">
                    <select id="storeId" name="storeId" lay-filter="storeId" lay-search="" win-verify="required">

                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-col-xs6">
                <label class="layui-form-label">用户类型<i class="red">*</i></label>
                <div class="layui-input-block winui-radio">
<!--                    <input type="radio" name="userType" value="1" title="匿名用户" lay-filter="userType"/>-->
                    <input type="radio" name="userType" value="2" title="会员" lay-filter="userType" checked="checked"/>
                </div>
            </div>
            <div class="layui-form-item layui-col-xs6 memberMation">
                <label class="layui-form-label">会员<i class="red">*</i></label>
                <div class="layui-input-block">
                    <input type="text" id="memberId" name="memberId" placeholder="请选择会员" class="layui-input" readonly="readonly"/>
                    <i class="fa fa-plus-circle input-icon chooseMemberBtn"></i>
                </div>
            </div>
            <div class="layui-form-item layui-col-xs6 memberMation">
                <label class="layui-form-label">车辆信息<i class="red">*</i></label>
                <div class="layui-input-block">
                    <select id="memberCar" name="memberCar" lay-filter="memberCar" lay-search="">

                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-col-xs12 memberMation">
                <label class="layui-form-label">套餐信息<i class="red">*</i></label>
                <div class="layui-input-block">
                    <select id="mealId" name="mealId" lay-filter="mealId" lay-search="" win-verify="required">

                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-col-xs12 memberMation">
                <label class="layui-form-label">套餐说明：</label>
                <div class="layui-input-block ver-center" id="mealExplain">

                </div>
            </div>
            <div class="layui-form-item layui-col-xs12 memberMation">
                <label class="layui-form-label">耗材说明：</label>
                <div class="layui-input-block ver-center" id="mealConsume">

                </div>
            </div>
            <div class="layui-form-item layui-col-xs12 anonymousUserMation" style="display: none">
                <label class="layui-form-label">车牌号<i class="red">*</i></label>
                <div class="layui-input-block">
                    <input type="text" id="memberCarPlate" name="memberCarPlate" placeholder="请输入车牌号" class="layui-input"/>
                </div>
            </div>
            <!--<div class="layui-form-item layui-col-xs12">
                <label class="layui-form-label">耗材</label>
                <div class="layui-input-block">
                    <div class="winui-toolbar">
                        <div class="winui-tool" style="text-align: left;">
                            <button id="addRow" class="winui-toolbtn" type="button"><i class="fa fa-plus" aria-hidden="true"></i>新增行</button>
                            <button id="deleteRow" class="winui-toolbtn" type="button"><i class="fa fa-trash-o" aria-hidden="true"></i>删除行</button>
                        </div>
                    </div>
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th style="width: 30px;"></th>
                            <th style="width: 150px;">耗材说明<i class="red">*</i></th>
                            <th style="width: 150px;">金额<i class="red">*</i></th>
                        </tr>
                        </thead>
                        <tbody id="useTable" class="insurance-table">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layui-form-item layui-col-xs12">
                <label class="layui-form-label">服务费</label>
                <div class="layui-input-block">
                    <input type="text" id="servicePrice" name="servicePrice" placeholder="请输入服务费" class="layui-input calcPrice" win-verify="money"/>
                </div>
            </div>
            <div class="layui-form-item layui-col-xs12">
                <label class="layui-form-label">总价</label>
                <div class="layui-input-block ver-center" id="allPrice">
                    0 元
                </div>
            </div>-->
            <div class="layui-form-item layui-col-xs12">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea id="remark" name="remark" placeholder="请输入备注信息" maxlength="400" class="layui-textarea" style="height: 100px;"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-col-xs12">
                <div class="layui-input-block">
                    <button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
                    <button class="winui-btn" lay-submit lay-filter="formAddBean"><language showName="com.skyeye.save"></language></button>
                </div>
            </div>
        </form>
    </div>

    <script type="text/x-handlebars-template" id="usetableTemplate">
        <tr trcusid="{{trId}}">
            <td><input type="checkbox" rowId="{{id}}" lay-filter="checkboxProperty" name="tableCheckRow"/></td>
            <td><input type="text" class="layui-input" id="{{consumeExplain}}" win-verify="required"/></td>
            <td><input type="text" class="layui-input calcPrice" id="{{price}}" win-verify="required|money"/></td>
        </tr>
    </script>

    <script type="text/x-handlebars-template" id="selectTemplate">
        {{#each rows}}
            <option value="{{id}}">【{{areaName}}】 {{name}}</option>
        {{/each}}
    </script>

    <script type="text/x-handlebars-template" id="mealTemplate">
        <option value="">全部</option>
        {{#each rows}}
        <option value="{{id}}" {{choose}}>{{name}} 适用区域：【{{areaName}}】</option>
        {{/each}}
    </script>

    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/keepFitOrder/'}).use('keepFitOrderAdd');
    </script>
</body>
</html>