<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="margin: 0 auto; padding: 20px;">
	    <form class="layui-form" action="" id="showForm">
	    	<div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">主题<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="title" name="title" win-verify="required" placeholder="请输入主题" class="layui-input"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">报销人<i class="red">*</i></label>
		        <div class="layui-input-block ver-center" id="writePeople">
		            
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">所属部门<i class="red">*</i></label>
		        <div class="layui-input-block">
		        	<select id="departments" name="departments" win-verify="required">
                		
                	</select>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">所属项目<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <select id="proId" lay-filter="proIdProperty" lay-search win-verify="required">
		            </select>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">报销日期<i class="red">*</i></label>
	            <div class="layui-input-block">
		            <input type="text" id="reimbursementTime" name="reimbursementTime" win-verify="required" placeholder="请选择报销日期" class="layui-input"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">任务<i class="red">*</i></label>
		        <div class="layui-input-block">
		        	<div class="winui-toolbar">
				        <div class="winui-tool" style="text-align: left;">
				            <button id="addRow" class="winui-toolbtn" type="button"><i class="fa fa-plus" aria-hidden="true"></i>新增行</button>
				            <button id="deleteRow" class="winui-toolbtn" type="button"><i class="fa fa-trash-o" aria-hidden="true"></i>删除行</button>
				        </div>
				    </div>
		            <table class="layui-table">
		                <thead>
		                    <tr>
		                    	<th style="width: 30px;"></th>
		                        <th style="width: 180px;">支出分类</th>
		                        <th style="width: 150px;">用途说明</th>
		                        <th style="width: 100px;">费用金额</th>
		                        <th style="width: 100px;">对方单位</th>
		                        <th style="width: 100px;">经手人</th>
		                    </tr>
		                </thead>
		                <tbody id="useTable" class="insurance-table">
		                </tbody>
					</table>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs4" style="margin-left: 60%;">
		        <label class="layui-form-label">合计</label>
		        <div class="layui-input-block ver-center" id="thisRowLoad">
		            0
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">附件</label>
				<div class="layui-input-block" id="enclosureUpload">
		        	
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <div class="layui-input-block">
		            <button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
		            <button class="winui-btn typeOne layui-hide" lay-submit lay-filter="formEditBean">保存为草稿</button>
		            <button class="winui-btn typeOne layui-hide" lay-submit lay-filter="formSubBean">提交审批</button>
		            <button class="winui-btn typeTwo layui-hide" lay-submit lay-filter="subBean"><language showName="com.skyeye.save"></language></button>
		        </div>
		    </div>
	    </form>
	</div>
	
	<!-- usetableTemplate -->
	<script type="text/x-handlebars-template" id="usetableTemplate">
		<tr trcusid="{{trId}}">
			<td><input type="checkbox" rowId="{{id}}" lay-filter="checkboxProperty" name="tableCheckRow"/></td>
			<td><select id="{{costType}}" lay-search win-verify="required"></select></td>
			<td><input type="text" id="{{purposeContent}}" win-verify="required" placeholder="请输入用途说明" class="layui-input" maxlength="200"/></td>
			<td><input type="text" id="{{price}}" win-verify="required|money" placeholder="请输入费用金额" class="layui-input priceInput" value="0"/></td>
			<td><input type="text" id="{{opposUnit}}" win-verify="required" placeholder="请输入对方单位" class="layui-input"/></td>
			<td><input type="text" id="{{experiencedPerson}}" placeholder="请输入经手人" class="layui-input"/></td>
		</tr>
	</script>
	
	<!-- 回显时使用的模板 -->
	<script type="text/x-handlebars-template" id="showTemplate">
		<tr trcusid="{{trId}}">
			<td><input type="checkbox" rowId="{{id}}" lay-filter="checkboxProperty" name="tableCheckRow"/></td>
			<td><select id="{{costType}}" lay-search win-verify="required"></select></td>
			<td><input type="text" id="{{purposeContent}}" win-verify="required" placeholder="请输入用途说明" class="layui-input" maxlength="200" value="{{purposeContentVal}}"/></td>
			<td><input type="text" id="{{price}}" win-verify="required|money" placeholder="请输入费用金额" class="layui-input priceInput" value="{{priceVal}}"/></td>
			<td><input type="text" id="{{opposUnit}}" win-verify="required" placeholder="请输入对方单位" class="layui-input" value="{{opposUnitVal}}"/></td>
			<td><input type="text" id="{{experiencedPerson}}" placeholder="请输入经手人" class="layui-input" value="{{experiencedPersonVal}}"/></td>
		</tr>
	</script>
	
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
		layui.config({base: '../../js/procostexpense/'}).use('procostexpenseedit');
	</script>
</body>
</html>