<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SysStaffCertificateDao">

    <select id="queryAllSysStaffCertificateList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			a.certificate_number certificateNumber,
			a.`name` certificateName,
			a.issue_organ issueOrgan,
			a.validity_type validityType,
			DATE_FORMAT(a.issue_time,'%Y-%m-%d') issueTime,
			DATE_FORMAT(a.validity_time, '%Y-%m-%d') validityTime,
			DATE_FORMAT(a.create_time, '%Y-%m-%d') createTime,
			a.enclosure,
			b.user_name userName,
			b.job_number jobNumber,
			b.state,
			d.`name` certificateTypeName
		FROM
			sys_staff_certificate a
			LEFT JOIN sys_staff_data_dictionary d ON a.type_id = d.id,
			sys_eve_user_staff b
		WHERE a.staff_id = b.id
        <if test="userName != '' and userName != null">
            AND b.user_name LIKE '%${userName}%'
        </if>
        <if test="jobNumber != '' and jobNumber != null">
            AND b.job_number LIKE '%${jobNumber}%'
        </if>
        <if test="certificateNumber != '' and certificateNumber != null">
            AND a.certificate_number LIKE '%${certificateNumber}%'
        </if>
        <if test="certificateName != '' and certificateName != null">
            AND a.`name` LIKE '%${certificateName}%'
        </if>
        <if test="state != '' and state != null">
            AND b.state = #{state}
        </if>
        ORDER BY a.create_time DESC
    </select>

    <insert id="insertSysStaffCertificateMation" parameterType="java.util.Map">
        INSERT INTO sys_staff_certificate
        (id, certificate_number, `name`, type_id, issue_time, issue_organ, validity_type, validity_time,
        	enclosure, staff_id, create_time)
        VALUES
        (#{id}, #{certificateNumber}, #{certificateName}, #{typeId}, #{issueTime}, #{issueOrgan}, #{validityType}, #{validityTime},
        	#{enclosureInfo}, #{staffId}, #{createTime})
    </insert>
    
    <select id="querySysStaffCertificateMationToEdit" resultType="java.util.Map">
        SELECT
			a.id,
			a.certificate_number certificateNumber,
			a.`name` certificateName,
			a.issue_organ issueOrgan,
			a.validity_type validityType,
			DATE_FORMAT(a.issue_time,'%Y-%m-%d') issueTime,
			DATE_FORMAT(a.validity_time, '%Y-%m-%d') validityTime,
			DATE_FORMAT(a.create_time, '%Y-%m-%d') createTime,
			a.enclosure,
			a.type_id typeId,
			b.user_name userName,
			b.job_number jobNumber,
			b.state,
			d.`name` certificateTypeName
		FROM
			sys_staff_certificate a
			LEFT JOIN sys_staff_data_dictionary d ON a.type_id = d.id,
			sys_eve_user_staff b
		WHERE a.staff_id = b.id
        AND a.id = #{id}
    </select>
    
    <update id="editSysStaffCertificateMationById">
        UPDATE sys_staff_certificate
        <set>
            certificate_number = #{certificateNumber},
            `name` = #{certificateName},
            type_id = #{typeId},
            issue_time = #{issueTime},
            issue_organ = #{issueOrgan},
            validity_type = #{validityType},
            validity_time = #{validityTime},
            enclosure = #{enclosureInfo},
        </set>
        WHERE
        id = #{id}
    </update>
    
    <delete id="deleteSysStaffCertificateMationById">
		DELETE
		FROM
			sys_staff_certificate
		WHERE
			id = #{id}
	</delete>
	
	<select id="queryPointStaffSysStaffCertificateList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			a.certificate_number certificateNumber,
			a.`name` certificateName,
			a.issue_organ issueOrgan,
			a.validity_type validityType,
			DATE_FORMAT(a.issue_time,'%Y-%m-%d') issueTime,
			DATE_FORMAT(a.validity_time, '%Y-%m-%d') validityTime,
			DATE_FORMAT(a.create_time, '%Y-%m-%d') createTime,
			a.enclosure,
			b.user_name userName,
			b.job_number jobNumber,
			b.state,
			d.`name` certificateTypeName
		FROM
			sys_staff_certificate a
			LEFT JOIN sys_staff_data_dictionary d ON a.type_id = d.id,
			sys_eve_user_staff b
		WHERE a.staff_id = b.id
        AND b.id = #{staffId}
        ORDER BY a.create_time DESC
    </select>

</mapper>