<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SysStaffContractDao">

    <select id="queryAllSysStaffContractList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			a.contract_number contractNumber,
			DATE_FORMAT(a.start_time,'%Y-%m-%d') startTime,
			DATE_FORMAT(a.end_time, '%Y-%m-%d') endTime,
			DATE_FORMAT(a.create_time, '%Y-%m-%d') createTime,
			a.enclosure,
			a.state contractState,
			b.user_name userName,
			b.job_number jobNumber,
			b.state,
			d.`name` typeName,
			e.`name` moldName,
            f.company_name companyName
		FROM
			sys_staff_contract a
			LEFT JOIN sys_staff_data_dictionary d ON a.type_id = d.id
			LEFT JOIN sys_staff_data_dictionary e ON a.mold_id = e.id
			LEFT JOIN company_mation f ON a.company_id = f.id,
			sys_eve_user_staff b
		WHERE a.staff_id = b.id
        <if test="userName != '' and userName != null">
            AND b.user_name LIKE '%${userName}%'
        </if>
        <if test="jobNumber != '' and jobNumber != null">
            AND b.job_number LIKE '%${jobNumber}%'
        </if>
        <if test="contractNumber != '' and contractNumber != null">
            AND a.contract_number LIKE '%${contractNumber}%'
        </if>
        <if test="state != '' and state != null">
            AND b.state = #{state}
        </if>
        ORDER BY a.create_time DESC
    </select>

    <insert id="insertSysStaffContractMation" parameterType="java.util.Map">
        INSERT INTO sys_staff_contract
        (id, contract_number, type_id, mold_id, start_time, end_time, use_expire_time, state,
        	enclosure, staff_id, create_time, company_id)
        VALUES
        (#{id}, #{contractNumber}, #{typeId}, #{moldId}, #{startTime}, #{endTime}, #{useExpireTime}, '1',
        	#{enclosureInfo}, #{staffId}, #{createTime}, #{companyId})
    </insert>
    
    <select id="querySysStaffContractMationToEdit" resultType="java.util.Map">
        SELECT
			a.id,
			a.contract_number contractNumber,
			DATE_FORMAT(a.start_time,'%Y-%m-%d') startTime,
			DATE_FORMAT(a.end_time, '%Y-%m-%d') endTime,
			DATE_FORMAT(a.create_time, '%Y-%m-%d') createTime,
			a.enclosure,
			a.state contractState,
			b.user_name userName,
			b.job_number jobNumber,
			b.state,
			a.type_id typeId,
			a.mold_id moldId,
            a.company_id companyId
		FROM
			sys_staff_contract a,
			sys_eve_user_staff b
		WHERE a.staff_id = b.id
        AND a.id = #{id}
    </select>
    
    <update id="editSysStaffContractMationById">
        UPDATE sys_staff_contract
        <set>
            contract_number = #{contractNumber},
            start_time = #{startTime},
            end_time = #{endTime},
            type_id = #{typeId},
            mold_id = #{moldId},
            enclosure = #{enclosureInfo},
			company_id = #{companyId}
        </set>
        WHERE id = #{id}
    </update>
    
    <delete id="deleteSysStaffContractMationById">
		DELETE
		FROM
			sys_staff_contract
		WHERE id = #{id}
	</delete>
	
	<select id="queryPointStaffSysStaffContractList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			a.contract_number contractNumber,
			DATE_FORMAT(a.start_time,'%Y-%m-%d') startTime,
			DATE_FORMAT(a.end_time, '%Y-%m-%d') endTime,
			DATE_FORMAT(a.create_time, '%Y-%m-%d') createTime,
			a.enclosure,
			a.state contractState,
			b.user_name userName,
			b.job_number jobNumber,
			b.state,
			d.`name` typeName,
			e.`name` moldName,
			f.company_name companyName
		FROM
			sys_staff_contract a
			LEFT JOIN sys_staff_data_dictionary d ON a.type_id = d.id
			LEFT JOIN sys_staff_data_dictionary e ON a.mold_id = e.id
			LEFT JOIN company_mation f ON a.company_id = f.id,
			sys_eve_user_staff b
		WHERE a.staff_id = b.id
        AND b.id = #{staffId}
        ORDER BY a.create_time DESC
    </select>
    
    <update id="editSysStaffContractStateById">
        UPDATE sys_staff_contract
        <set>
            state = #{state},
        </set>
        WHERE id = #{id}
    </update>

</mapper>