<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SysStaffRewardPunishDao">

    <select id="queryAllSysStaffRewardPunishList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			a.`name`,
			a.price,
			a.content,
			a.`desc`,
			DATE_FORMAT(a.reward_punish_time, '%Y-%m-%d') rewardPunishTime,
			DATE_FORMAT(a.create_time, '%Y-%m-%d') createTime,
			a.award_unit awardUnit,
			a.enclosure,
			b.user_name userName,
			b.job_number jobNumber,
			b.state,
			d.`name` rewardPunishTypeName
		FROM
			sys_staff_reward_punish a
			LEFT JOIN sys_staff_data_dictionary d ON a.type_id = d.id,
			sys_eve_user_staff b
		WHERE a.staff_id = b.id
        <if test="name != '' and name != null">
            AND a.`name` LIKE '%${name}%'
        </if>
        <if test="userName != '' and userName != null">
            AND b.user_name LIKE '%${userName}%'
        </if>
        <if test="jobNumber != '' and jobNumber != null">
            AND b.job_number LIKE '%${jobNumber}%'
        </if>
        <if test="state != '' and state != null">
            AND b.state = #{state}
        </if>
        ORDER BY a.create_time DESC
    </select>

    <insert id="insertSysStaffRewardPunishMation" parameterType="java.util.Map">
        INSERT INTO sys_staff_reward_punish
        (id, reward_punish_time, `name`, price, content, `desc`, type_id, award_unit,
        	enclosure, staff_id, create_time)
        VALUES
        (#{id}, #{rewardPunishTime}, #{name}, #{price}, #{content}, #{desc}, #{typeId}, #{awardUnit},
        	#{enclosureInfo}, #{staffId}, #{createTime})
    </insert>
    
    <select id="querySysStaffRewardPunishMationToEdit" resultType="java.util.Map">
        SELECT
			a.id,
			a.`name`,
			a.price,
			a.content,
			a.`desc`,
			DATE_FORMAT(a.reward_punish_time, '%Y-%m-%d') rewardPunishTime,
			DATE_FORMAT(a.create_time, '%Y-%m-%d') createTime,
			a.award_unit awardUnit,
			a.enclosure,
			a.staff_id staffId,
			CONCAT_WS('_', c.job_number, c.user_name) staffName,
			b.user_name userName,
			b.job_number jobNumber,
			b.state,
			a.type_id typeId,
			d.`name` rewardPunishTypeName
		FROM
			sys_staff_reward_punish a
			LEFT JOIN sys_staff_data_dictionary d ON a.type_id = d.id
			LEFT JOIN sys_eve_user_staff c ON a.staff_id = c.id,
			sys_eve_user_staff b
		WHERE a.staff_id = b.id
        AND a.id = #{id}
    </select>
    
    <update id="editSysStaffRewardPunishMationById">
        UPDATE sys_staff_reward_punish
        <set>
            `name` = #{name},
            price = #{price},
            content = #{content},
            `desc` = #{desc},
            reward_punish_time = #{rewardPunishTime},
            award_unit = #{awardUnit},
            enclosure = #{enclosureInfo},
            type_id = #{typeId},
            staff_id = #{staffId}
        </set>
        WHERE 
        	id = #{id}
    </update>
    
    <delete id="deleteSysStaffRewardPunishMationById">
		DELETE
		FROM
			sys_staff_reward_punish
		WHERE
			id = #{id}
	</delete>
	
	<select id="queryPointStaffSysStaffRewardPunishList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			a.`name`,
			a.price,
			a.content,
			a.`desc`,
			DATE_FORMAT(a.reward_punish_time, '%Y-%m-%d') rewardPunishTime,
			DATE_FORMAT(a.create_time, '%Y-%m-%d') createTime,
			a.award_unit awardUnit,
			a.enclosure,
			b.user_name userName,
			b.job_number jobNumber,
			b.state,
			d.`name` rewardPunishTypeName
		FROM
			sys_staff_reward_punish a
			LEFT JOIN sys_staff_data_dictionary d ON a.type_id = d.id,
			sys_eve_user_staff b
		WHERE a.staff_id = b.id
        AND b.id = #{staffId}
        ORDER BY a.create_time DESC
    </select>

</mapper>