<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SysStaffLanguageDao">

    <select id="queryAllSysStaffLanguageList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			DATE_FORMAT(a.get_time,'%Y-%m-%d') getTime,
			DATE_FORMAT(a.create_time, '%Y-%m-%d') createTime,
			a.enclosure,
			b.user_name userName,
			b.job_number jobNumber,
			b.state,
			d.`name` languageTypeName,
			e.`name` levelName
		FROM
			sys_staff_language a
			LEFT JOIN sys_staff_data_dictionary d ON a.language_id = d.id
			LEFT JOIN sys_staff_language_level e ON a.level_id = e.id,
			sys_eve_user_staff b
		WHERE a.staff_id = b.id
        <if test="userName != '' and userName != null">
            AND b.user_name LIKE '%${userName}%'
        </if>
        <if test="jobNumber != '' and jobNumber != null">
            AND b.job_number LIKE '%${jobNumber}%'
        </if>
        <if test="state != '' and state != null">
            AND b.state = #{state}
        </if>
        ORDER BY a.create_time DESC
    </select>

    <insert id="insertSysStaffLanguageMation" parameterType="java.util.Map">
        INSERT INTO sys_staff_language
        (id, language_id, level_id, get_time,
        	enclosure, staff_id, create_time)
        VALUES
        (#{id}, #{languageId}, #{levelId}, #{getTime},
        	#{enclosureInfo}, #{staffId}, #{createTime})
    </insert>
    
    <select id="querySysStaffLanguageMationToEdit" resultType="java.util.Map">
        SELECT
			a.id,
			DATE_FORMAT(a.get_time,'%Y-%m-%d') getTime,
			DATE_FORMAT(a.create_time, '%Y-%m-%d') createTime,
			a.enclosure,
			b.user_name userName,
			b.job_number jobNumber,
			b.state,
			a.language_id languageId,
			d.`name` languageTypeName,
			a.level_id levelId,
			e.`name` levelName
		FROM
			sys_staff_language a
			LEFT JOIN sys_staff_data_dictionary d ON a.language_id = d.id
			LEFT JOIN sys_staff_language_level e ON a.level_id = e.id,
			sys_eve_user_staff b
		WHERE a.staff_id = b.id
        AND a.id = #{id}
    </select>
    
    <update id="editSysStaffLanguageMationById">
        UPDATE sys_staff_language
        <set>
            get_time = #{getTime},
            language_id = #{languageId},
            level_id = #{levelId},
            enclosure = #{enclosureInfo},
        </set>
        WHERE
        id = #{id}
    </update>
    
    <delete id="deleteSysStaffLanguageMationById">
		DELETE
		FROM
			sys_staff_language
		WHERE
			id = #{id}
	</delete>
	
	<select id="queryPointStaffSysStaffLanguageList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			DATE_FORMAT(a.get_time,'%Y-%m-%d') getTime,
			DATE_FORMAT(a.create_time, '%Y-%m-%d') createTime,
			a.enclosure,
			b.user_name userName,
			b.job_number jobNumber,
			b.state,
			d.`name` languageTypeName,
			e.`name` levelName
		FROM
			sys_staff_language a
			LEFT JOIN sys_staff_data_dictionary d ON a.language_id = d.id
			LEFT JOIN sys_staff_language_level e ON a.level_id = e.id,
			sys_eve_user_staff b
		WHERE a.staff_id = b.id
        AND b.id = #{staffId}
        ORDER BY a.create_time DESC
    </select>

</mapper>