<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="padding:20px; margin:0 auto;">
	    <form class="layui-form" action="" id="showForm">
	        
	    </form>
	</div>

	<script type="text/x-handlebars-template" id="beanTemplate">
		{{#bean}}
		<div class="layui-form-item layui-col-xs12">
			<label class="layui-form-label">资产名称：</label>
			<div class="layui-input-block ver-center">
				{{assetName}}
			</div>
		</div>
		<div class="layui-form-item layui-col-xs12">
			<label class="layui-form-label">图片：</label>
			<div class="layui-input-block ver-center">
				<img src="" class="photo-img" id="assetImg">
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">资产类型：</label>
			<div class="layui-input-block ver-center">
				{{typeId}}
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">资产编号前缀：</label>
			<div class="layui-input-block ver-center">
				{{numberPrefix}}
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">资产规格：</label>
			<div class="layui-input-block ver-center">
				{{specifications}}
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">参考价：</label>
			<div class="layui-input-block ver-center">
				{{readPrice}}
			</div>
		</div>
		<div class="layui-form-item layui-col-xs12">
			<label class="layui-form-label">相关描述：</label>
			<div class="layui-input-block ver-center">
				{{describe}}
			</div>
		</div>
		<div class="layui-form-item layui-col-xs12">
			<label class="layui-form-label">相关附件：</label>
			<div class="layui-input-block ver-center" id="enclosureUpload">

			</div>
		</div>
		{{/bean}}
	</script>

	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
        layui.config({base: '../../js/assetManage/'}).use('assetManageDetails');
    </script>
</body>
</html>