<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.AppWorkPageAuthPointDao">
	
	<select id="queryAppWorkPageAuthPointListByMenuId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title authMenuName,
			a.url authMenu,
			a.auth_num menuNum,
			(SELECT COUNT(*) FROM app_workbench_page_auth_role b WHERE b.auth_id = a.id) useNum
		FROM
			app_workbench_page_auth a
		WHERE
			a.page_id = #{menuId}
		<if test="authMenuName != '' and authMenuName != null">
			AND a.title LIKE '%${authMenuName}%'
		</if>
		<if test="authMenu != '' and authMenu != null">
			AND a.url LIKE '%${authMenu}%'
		</if>
		<if test="menuNum != '' and menuNum != null">
			AND a.auth_num LIKE '%${menuNum}%'
		</if>
		ORDER BY a.create_time DESC
	</select>
	
	<select id="queryAppWorkPageAuthPointMationByAuthName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title authMenuName,
			a.url authMenu,
			a.auth_num menuNum
		FROM
			app_workbench_page_auth a
		WHERE
			a.page_id = #{menuId}
		AND (a.title = #{authMenuName}
				OR a.url = #{authMenu})
	</select>
	
	<insert id="insertAppWorkPageAuthPointMation" parameterType="java.util.Map">
	     insert into app_workbench_page_auth 
	     (id, page_id, title, url, auth_num, create_id, create_time)
	     values(#{id}, #{menuId}, #{authMenuName}, #{authMenu}, #{menuNum}, #{createId}, #{createTime})
	</insert>
	
	<select id="queryAppWorkPageAuthPointMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title authMenuName,
			a.url authMenu
		FROM
			app_workbench_page_auth a
		WHERE
			a.id = #{id}
	</select>
	
	<select id="queryAppWorkPageAuthPointMationByAuthNameAndId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title authMenuName,
			a.url authMenu
		FROM
			app_workbench_page_auth a
		WHERE
			a.title = #{authMenuName}
		AND a.id != #{id}
		AND a.page_id = #{menuId}
	</select>
	
	<update id="editAppWorkPageAuthPointMationById" parameterType="java.util.Map">
		UPDATE app_workbench_page_auth
		<set>
			<if test="authMenuName != '' and authMenuName != null">
				title = #{authMenuName},
			</if>
			<if test="authMenu != '' and authMenu != null">
				url = #{authMenu},
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<delete id="deleteAppWorkPageAuthPointMationById" parameterType="java.util.Map">
		DELETE
		FROM
			app_workbench_page_auth
		WHERE
			id = #{id}
	</delete>
	
</mapper>