<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SysEveDesktopDao">

	<select id="querySysDesktopByDesktopName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id
		FROM
			sys_eve_desktop a
		WHERE a.desktop_name = #{desktopName}
		AND a.state != 0
		<if test="id != '' and id != null">
			AND a.id != #{id}
		</if>
	</select>

	<select id="querySysDesktopList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.desktop_name desktopName,
			a.desktop_name_cn desktopCnName,
			b.user_name createName,
			CONVERT(a.create_time, char) createTime,
			a.state,
			a.order_by orderBy,
			(SELECT COUNT(*) FROM sys_eve_menu b WHERE b.desktop_id = a.id) allNum
		FROM
			sys_eve_desktop a,		
			sys_eve_user_staff b
		WHERE 
			a.create_id = b.user_id
			<if test="desktopName != '' and desktopName != null">
				AND a.desktop_name LIKE '%${desktopName}%'
			</if>
			AND a.state != 0
			ORDER BY a.order_by DESC
	</select>
	
	<insert id="insertSysDesktopMation" parameterType="java.util.Map">
	    INSERT into sys_eve_desktop 
	    (id, desktop_name, desktop_name_cn, order_by, state, create_id, create_time)
	    VALUES(#{id}, #{desktopName}, #{desktopCnName}, #{orderBy}, #{state}, #{createId}, #{createTime})
	</insert>
	
	<select id="querySysDesktopBySimpleLevel" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			COUNT(*) simpleNum
		FROM
			sys_eve_desktop 
	</select>
	
	<update id="deleteSysDesktopById" parameterType="java.util.Map">
		UPDATE sys_eve_desktop
		<set>
			state = 0
		</set>
		WHERE id = #{id}
	</update>
	
	<update id="updateUpSysDesktopById" parameterType="java.util.Map">
		UPDATE sys_eve_desktop
		<set>
			state = 2
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="querySysDesktopStateById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.state
		FROM
			sys_eve_desktop a	
		WHERE 
			a.id = #{id}
	</select>
	
	<update id="updateDownSysDesktopById" parameterType="java.util.Map">
		UPDATE sys_eve_desktop
		<set>
			state = 3
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="selectSysDesktopById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.desktop_name desktopName,
			a.desktop_name_cn desktopCnName
		FROM
			sys_eve_desktop a	
		WHERE 
			a.id = #{id}
	</select>
	
	<update id="editSysDesktopMationById" parameterType="java.util.Map">
		UPDATE sys_eve_desktop
		<set>
			desktop_name = #{desktopName},
			desktop_name_cn = #{desktopCnName},
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="querySysDesktopUpMationById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.order_by thisOrderBy,
			b.id,
			b.order_by prevOrderBy
		FROM
			sys_eve_desktop a,
			sys_eve_desktop b
		WHERE
			a.id = #{id}
		AND b.order_by > a.order_by
		AND b.state != 0
		ORDER BY
			b.order_by ASC
		LIMIT 1
	</select>
	
	<update id="editSysDesktopMationOrderNumUpById" parameterType="java.util.Map">
		UPDATE sys_eve_desktop
		<set>
			order_by = #{upOrderBy},
		</set>
		WHERE id = #{id}
	</update>

	<select id="querySysDesktopDownMationById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.order_by thisOrderBy,
			b.id,
			b.order_by prevOrderBy
		FROM
			sys_eve_desktop a,
			sys_eve_desktop b
		WHERE
			a.id = #{id}
		AND a.order_by > b.order_by
		AND b.state != 0
		ORDER BY
			b.order_by DESC
		LIMIT 1
	</select>
	
	<select id="queryAllSysDesktopList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            CASE #{language} WHEN 'zh' THEN a.desktop_name WHEN 'cn' THEN a.desktop_name_cn ELSE '' END name
        FROM
            sys_eve_desktop a
        WHERE 
            a.state != 0
            ORDER BY a.order_by DESC
    </select>
    
    <update id="removeAllSysEveMenuByDesktopId" parameterType="java.util.Map">
        UPDATE sys_eve_menu
        <set>
            desktop_id = #{desktopId},
        </set>
        WHERE desktop_id = #{id}
    </update>
	
    <select id="querySysDesktopStateAndMenuNumById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.state,
            (SELECT COUNT(*) FROM sys_eve_menu b WHERE b.desktop_id = a.id) allNum
        FROM
            sys_eve_desktop a	
        WHERE 
            a.id = #{id}
    </select>

</mapper>