<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SysEveMenuAuthPointDao">
	
	<select id="querySysEveMenuAuthPointListByMenuId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.auth_menu_name authMenuName,
			a.auth_menu authMenu,
			a.menu_num menuNum,
			(SELECT COUNT(*) FROM sys_eve_role_menu b WHERE b.menu_id = a.id) useNum
		FROM
			sys_eve_menu_auth_point a
		WHERE
			a.menu_id = #{menuId}
		<if test="authMenuName != '' and authMenuName != null">
			AND a.auth_menu_name LIKE '%${authMenuName}%'
		</if>
		<if test="authMenu != '' and authMenu != null">
			AND a.auth_menu LIKE '%${authMenu}%'
		</if>
		<if test="menuNum != '' and menuNum != null">
			AND a.menu_num LIKE '%${menuNum}%'
		</if>
		ORDER BY a.create_time DESC
	</select>
	
	<select id="querySysEveMenuAuthPointMationByAuthName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.auth_menu_name authMenuName,
			a.auth_menu authMenu,
			a.menu_num menuNum
		FROM
			sys_eve_menu_auth_point a
		WHERE
			a.menu_id = #{menuId}
		AND (a.auth_menu_name = #{authMenuName}
				OR a.auth_menu = #{authMenu})
	</select>
	
	<insert id="insertSysEveMenuAuthPointMation" parameterType="java.util.Map">
	     insert into sys_eve_menu_auth_point 
	     (id, menu_id, auth_menu_name, auth_menu, menu_num, create_id, create_time)
	     values(#{id}, #{menuId}, #{authMenuName}, #{authMenu}, #{menuNum}, #{createId}, #{createTime})
	</insert>
	
	<select id="querySysEveMenuAuthPointMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.auth_menu_name authMenuName,
			a.auth_menu authMenu
		FROM
			sys_eve_menu_auth_point a
		WHERE
			a.id = #{id}
	</select>
	
	<select id="querySysEveMenuAuthPointMationByAuthNameAndId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.auth_menu_name authMenuName,
			a.auth_menu authMenu
		FROM
			sys_eve_menu_auth_point a
		WHERE
			a.auth_menu_name = #{authMenuName}
		AND a.id != #{id}
		AND a.menu_id = #{menuId}
	</select>
	
	<update id="editSysEveMenuAuthPointMationById" parameterType="java.util.Map">
		UPDATE sys_eve_menu_auth_point
		<set>
			<if test="authMenuName != '' and authMenuName != null">
				auth_menu_name = #{authMenuName},
			</if>
			<if test="authMenu != '' and authMenu != null">
				auth_menu = #{authMenu},
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<delete id="deleteSysEveMenuAuthPointMationById" parameterType="java.util.Map">
		DELETE
		FROM
			sys_eve_menu_auth_point
		WHERE
			id = #{id}
	</delete>
	
</mapper>