<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SysWorkLogDao">
	
	<select id="querySysWorkLogList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.message,
			a.user_name userName,
			CONVERT (a.create_time, CHAR) createTime,
			a.req_ip ip,
			a.real_path realPath,
			a.log_level logLevel
		FROM
			sys_work_log a
			INNER JOIN (
				SELECT
					id
				FROM
					sys_work_log
				WHERE 1=1
				<if test="userName != '' and userName != null">
					AND user_name LIKE '%${userName}%'
				</if>
				<if test="realPath != '' and realPath != null">
					AND real_path LIKE '%${realPath}%'
				</if>
				ORDER BY
					create_time DESC
				LIMIT ${total}, ${limit}
			) AS myNew USING (id)
	</select>
	
	<select id="querySysWorkLogListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT
			COUNT(*)
		FROM 
			sys_work_log a
	</select>
	
</mapper>