<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.CheckWorkCancelLeaveDao">
    <select id="queryMyCheckWorkCancelLeaveList" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.odd_number oddNum,
            IFNULL(a.process_instance_id,'') processInstanceId,
            a.state,
            IF((a.state = 0 OR a.state = 1 OR a.state = 3 OR a.state = 5), 1, -1) editRow,
            CASE a.state WHEN '0' THEN '草稿' WHEN '1' THEN '审核中' WHEN '2' THEN '审核通过' WHEN '3' THEN '审核不通过' WHEN '4' THEN '作废' WHEN '5' THEN '撤销' END stateName,
            CONVERT(a.create_time, char) createTime
        FROM
            check_work_cancel_leave a
        WHERE a.create_id = #{userId}
        <if test="state != '' and state != null">
            AND a.state = #{state}
        </if>
        <if test="startTime != '' and startTime != null and endTime != '' and endTime != null">
            AND a.create_time >= #{startTime} AND #{endTime} >= a.create_time
        </if>
        ORDER BY a.create_time DESC
    </select>

    <select id="queryCheckWorkCancelLeaveDetailById" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.odd_number oddNumber,
            IFNULL(a.process_instance_id,'') processInstanceId,
            a.state,
            a.remark,
            IFNULL(a.enclosure_info, '') enclosureInfo,
            CASE a.state WHEN '0' THEN '草稿' WHEN '1' THEN '审核中' WHEN '2' THEN '审核通过' WHEN '3' THEN '审核不通过' WHEN '4' THEN '作废' WHEN '5' THEN '撤销' END stateName,
            b.user_name userName,
            CONVERT(a.create_time, char) createTime
        FROM
            check_work_cancel_leave a,
            sys_eve_user_staff b
        WHERE a.id = #{cancelLeaveId}
        AND a.create_id = b.user_id
    </select>

    <select id="queryCheckWorkCancelLeaveDaysDetailByCancelLeaveId" resultType="java.util.Map">
        SELECT
            b.title timeName,
            b.rest_start_time restStartTime,
            b.rest_end_time restEndTime,
            a.time_id timeId,
            a.id,
            a.time_start_time timeStartTime,
            a.time_end_time timeEndTime,
            a.cancel_day cancelDay,
            a.cancel_start_time cancelStartTime,
            a.cancel_end_time cancelEndTime,
            a.cancel_hour cancelHour,
            a.state,
            CASE a.state WHEN '0' THEN '未提交审批' WHEN '1' THEN '等待审批' WHEN '2' THEN '审批通过' WHEN '3' THEN '审批不通过' END stateName,
            a.remark
        FROM
            check_work_cancel_leave_time_slot a
            LEFT JOIN check_work_time b ON a.time_id = b.id
        WHERE a.cancel_leave_id = #{cancelLeaveId}
    </select>

    <update id="updateCheckWorkCancelLeaveStateAndProcessInId">
        UPDATE check_work_cancel_leave
        <set>
            state = #{state},
            process_instance_id = #{processInId}
        </set>
        WHERE id = #{cancelLeaveId}
    </update>

    <update id="updateCheckWorkCancelLeaveDaysStateByCancelLeaveId">
        UPDATE check_work_cancel_leave_time_slot
        <set>
            state = #{state},
        </set>
        WHERE cancel_leave_id = #{cancelLeaveId}
    </update>

    <update id="updateCheckWorkCancelLeaveMation">
        UPDATE check_work_cancel_leave
        <set>
            remark = #{remark},
            enclosure_info = #{enclosureInfo}
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateCheckWorkCancelLeaveStateById">
        UPDATE check_work_cancel_leave
        <set>
            state = #{state},
        </set>
        WHERE id = #{cancelLeaveId}
    </update>

    <insert id="insertCheckWorkCancelLeaveMation">
        INSERT into check_work_cancel_leave
        (id, title, odd_number, state, process_instance_id, remark, enclosure_info, create_id, create_time)
        VALUES(#{id}, #{title}, #{oddNumber}, #{state}, #{processInstanceId}, #{remark}, #{enclosureInfo}, #{createId}, #{createTime})
    </insert>

    <insert id="insertCheckWorkCancelLeaveDaysMation" parameterType="java.util.Map">
        insert into check_work_cancel_leave_time_slot
        (id, cancel_leave_id, time_id, cancel_day, cancel_start_time, cancel_end_time,
         cancel_hour, state, remark, time_start_time, time_end_time)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.id}, #{item.cancelLeaveId}, #{item.timeId}, #{item.cancelDay}, #{item.cancelStartTime}, #{item.cancelEndTime},
            #{item.cancelHour}, '0', #{item.remark}, #{item.timeStartTime}, #{item.timeEndTime})
        </foreach>
    </insert>

    <select id="queryCheckWorkCancelLeaveToEditById" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.odd_number oddNumber,
            IFNULL(a.process_instance_id, '') processInstanceId,
            a.state,
            a.remark,
            IFNULL(a.enclosure_info, '') enclosureInfo,
            b.user_name userName
        FROM
            check_work_cancel_leave a,
            sys_eve_user_staff b
        WHERE a.id = #{cancelLeaveId}
        AND a.create_id = b.user_id
    </select>

    <select id="queryCheckWorkCancelLeaveDaysMationToEditByCancelLeaveId" resultType="java.util.Map">
        SELECT
            a.time_id timeId,
            a.time_start_time timeStartTime,
            a.time_end_time timeEndTime,
            a.cancel_day cancelDay,
            a.cancel_start_time cancelStartTime,
            a.cancel_end_time cancelEndTime,
            a.cancel_hour cancelHour,
            a.remark
        FROM
            check_work_cancel_leave_time_slot a
        WHERE a.cancel_leave_id = #{cancelLeaveId}
    </select>

    <select id="queryCheckWorkCancelLeaveByProcessInstanceId" resultType="java.util.Map">
        SELECT
            a.id,
            a.create_id createId
        FROM
            check_work_cancel_leave a
        WHERE a.process_instance_id = #{processInstanceId}
    </select>

    <delete id="deleteCheckWorkCancelLeaveDaysMationByCancelLeaveId">
        DELETE
        FROM
            check_work_cancel_leave_time_slot
        WHERE
            cancel_leave_id = #{cancelLeaveId}
    </delete>

    <update id="updateCheckWorkCancelLeaveSoltStateById">
        UPDATE check_work_cancel_leave_time_slot
        <set>
            state = #{state},
        </set>
        WHERE id = #{cancelLeaveTimeId}
    </update>

    <select id="queryCheckWorkCancelLeaveByMation" resultType="java.util.Map">
        SELECT
            b.id
        FROM
            check_work_cancel_leave a,
            check_work_cancel_leave_time_slot b
        WHERE a.create_id = #{createId}
        AND a.id = b.cancel_leave_id
        AND b.state = '2'
        AND b.cancel_day = #{cancelDay}
    </select>

</mapper>