<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.CheckWorkLeaveDao">
    <select id="queryMyCheckWorkLeaveList" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.odd_number oddNum,
            IFNULL(a.process_instance_id,'') processInstanceId,
            a.state,
            IF((a.state = 0 OR a.state = 1 OR a.state = 3 OR a.state = 5), 1, -1) editRow,
            CASE a.state WHEN '0' THEN '草稿' WHEN '1' THEN '审核中' WHEN '2' THEN '审核通过' WHEN '3' THEN '审核不通过' WHEN '4' THEN '作废' WHEN '5' THEN '撤销' END stateName,
            CONVERT(a.create_time, char) createTime
        FROM
            check_work_leave a
        WHERE a.create_id = #{userId}
        <if test="state != '' and state != null">
            AND a.state = #{state}
        </if>
        <if test="startTime != '' and startTime != null and endTime != '' and endTime != null">
            AND a.create_time >= #{startTime} AND #{endTime} >= a.create_time
        </if>
        ORDER BY a.create_time DESC
    </select>

    <select id="queryCheckWorkLeaveStateById" resultType="java.util.Map">
        SELECT
            a.id,
            a.state
        FROM
            check_work_leave a
        WHERE
            a.id = #{leaveId}
    </select>

    <select id="queryCheckWorkLeaveDetailById" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.odd_number oddNumber,
            IFNULL(a.process_instance_id,'') processInstanceId,
            a.state,
            a.remark,
            IFNULL(a.enclosure_info, '') enclosureInfo,
            CASE a.state WHEN '0' THEN '草稿' WHEN '1' THEN '审核中' WHEN '2' THEN '审核通过' WHEN '3' THEN '审核不通过' WHEN '4' THEN '作废' WHEN '5' THEN '撤销' END stateName,
            b.user_name userName,
            CONVERT(a.create_time, char) createTime
        FROM
            check_work_leave a,
            sys_eve_user_staff b
        WHERE a.id = #{leaveId}
        AND a.create_id = b.user_id
    </select>

    <select id="queryCheckWorkLeaveDaysDetailByLeaveId" resultType="java.util.Map">
        SELECT
            b.title timeName,
            b.rest_start_time restStartTime,
            b.rest_end_time restEndTime,
            a.id,
            a.time_start_time timeStartTime,
            a.time_end_time timeEndTime,
            a.leave_type leaveType,
            a.leave_type_name leaveTypeName,
            a.leave_day leaveDay,
            a.leave_start_time leaveStartTime,
            a.leave_end_time leaveEndTime,
            a.leave_hour leaveHour,
            a.state,
            CASE a.state WHEN '0' THEN '未提交审批' WHEN '1' THEN '等待审批' WHEN '2' THEN '审批通过' WHEN '3' THEN '审批不通过' END stateName,
            a.remark
        FROM
            check_work_leave_time_slot a
            LEFT JOIN check_work_time b ON a.time_id = b.id
        WHERE a.leave_id = #{leaveId}
    </select>

    <update id="updateCheckWorkLeaveStateAndProcessInId">
        UPDATE check_work_leave
        <set>
            state = #{state},
            process_instance_id = #{processInId}
        </set>
        WHERE id = #{leaveId}
    </update>

    <update id="updateCheckWorkLeaveDaysStateByLeaveId">
        UPDATE check_work_leave_time_slot
        <set>
            state = #{state},
        </set>
        WHERE leave_id = #{leaveId}
    </update>

    <update id="updateCheckWorkLeaveMation">
        UPDATE check_work_leave
        <set>
            remark = #{remark},
            enclosure_info = #{enclosureInfo}
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateCheckWorkLeaveStateById">
        UPDATE check_work_leave
        <set>
            state = #{state},
        </set>
        WHERE id = #{leaveId}
    </update>

    <insert id="insertCheckWorkLeaveMation">
        INSERT into check_work_leave
        (id, title, odd_number, state, process_instance_id, remark, enclosure_info, create_id, create_time)
        VALUES(#{id}, #{title}, #{oddNumber}, #{state}, #{processInstanceId}, #{remark}, #{enclosureInfo}, #{createId}, #{createTime})
    </insert>

    <insert id="insertCheckWorkLeaveDaysMation" parameterType="java.util.Map">
        insert into check_work_leave_time_slot
        (id, leave_id, time_id, leave_type, leave_type_name, leave_day, leave_start_time, leave_end_time,
         leave_hour, state, remark, time_start_time, time_end_time)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.id}, #{item.leaveId}, #{item.timeId}, #{item.leaveType}, #{item.leaveTypeName}, #{item.leaveDay}, #{item.leaveStartTime}, #{item.leaveEndTime},
            #{item.leaveHour}, '0', #{item.remark}, #{item.timeStartTime}, #{item.timeEndTime})
        </foreach>
    </insert>

    <select id="queryCheckWorkLeaveToEditById" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.odd_number oddNumber,
            IFNULL(a.process_instance_id, '') processInstanceId,
            a.state,
            a.remark,
            IFNULL(a.enclosure_info, '') enclosureInfo,
            b.user_name userName
        FROM
            check_work_leave a,
            sys_eve_user_staff b
        WHERE a.id = #{leaveId}
        AND a.create_id = b.user_id
    </select>

    <select id="queryCheckWorkLeaveDaysMationToEditByLeaveId" resultType="java.util.Map">
        SELECT
            a.time_id timeId,
            a.time_start_time timeStartTime,
            a.time_end_time timeEndTime,
            a.leave_type leaveType,
            a.leave_day leaveDay,
            a.leave_start_time leaveStartTime,
            a.leave_end_time leaveEndTime,
            a.leave_hour leaveHour,
            a.remark
        FROM
            check_work_leave_time_slot a
        WHERE a.leave_id = #{leaveId}
    </select>

    <select id="queryCheckWorkLeaveByProcessInstanceId" resultType="java.util.Map">
        SELECT
            a.id,
            a.create_id createId
        FROM
            check_work_leave a
        WHERE a.process_instance_id = #{processInstanceId}
    </select>

    <delete id="deleteCheckWorkLeaveDaysMationByLeaveId">
        DELETE
        FROM
            check_work_leave_time_slot
        WHERE
            leave_id = #{leaveId}
    </delete>

    <update id="updateCheckWorkLeaveSoltStateByLeaveId">
        UPDATE check_work_leave_time_slot
        <set>
            state = #{state},
            <if test="useYearHoliday != '' and useYearHoliday != null">
                use_year_holiday = #{useYearHoliday},
            </if>
        </set>
        WHERE id = #{leaveTimeId}
    </update>

    <select id="queryCheckWorkLeaveByMation" resultType="java.util.Map">
        SELECT
            b.id,
            b.leave_hour leaveHour,
            b.use_year_holiday useYearHoliday
        FROM
            check_work_leave a,
            check_work_leave_time_slot b
        WHERE a.create_id = #{createId}
        AND a.id = b.leave_id
        AND b.state = '2'
        AND b.leave_day = #{leaveDay}
        AND b.time_id = #{timeId}
    </select>

    <select id="queryStateIsSuccessLeaveDayByUserIdAndMonths" resultType="java.util.Map">
        SELECT
            a.id,
            '请假' title,
            a.leave_day 'start',
            a.leave_day 'end'
        FROM
            check_work_leave_time_slot a,
            check_work_leave b
        WHERE b.create_id = #{userId}
        AND b.id = a.leave_id
        AND a.state = '2'
        AND a.time_id = #{timeId}
        <if test="months != null and months.size() &gt; 0">
            <foreach collection="months" item="month" separator="," open=" AND date_format(a.leave_day, '%Y-%m') in(" close=")">
                #{month}
            </foreach>
        </if>
    </select>

</mapper>