<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.CheckWorkOvertimeDao">
    <select id="queryMyCheckWorkOvertimeList" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.odd_number oddNum,
            IFNULL(a.process_instance_id,'') processInstanceId,
            a.state,
            IF((a.state = 0 OR a.state = 1 OR a.state = 3 OR a.state = 5), 1, -1) editRow,
            CASE a.state WHEN '0' THEN '草稿' WHEN '1' THEN '审核中' WHEN '2' THEN '审核通过' WHEN '3' THEN '审核不通过' WHEN '4' THEN '作废' WHEN '5' THEN '撤销' END stateName,
            CONVERT(a.create_time, char) createTime
        FROM
            check_work_overtime a
        WHERE a.create_id = #{userId}
        <if test="state != '' and state != null">
            AND a.state = #{state}
        </if>
        <if test="startTime != '' and startTime != null and endTime != '' and endTime != null">
            AND a.create_time >= #{startTime} AND #{endTime} >= a.create_time
        </if>
        ORDER BY a.create_time DESC
    </select>

    <select id="queryCheckWorkOvertimeStateById" resultType="java.util.Map">
        SELECT
            a.id,
            a.state
        FROM
            check_work_overtime a
        WHERE
            a.id = #{overtimeId}
    </select>

    <select id="queryCheckWorkOvertimeDetailById" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.odd_number oddNumber,
            a.content,
            IFNULL(a.process_instance_id,'') processInstanceId,
            a.state,
            a.remark,
            IFNULL(a.enclosure_info, '') enclosureInfo,
            CASE a.state WHEN '0' THEN '草稿' WHEN '1' THEN '审核中' WHEN '2' THEN '审核通过' WHEN '3' THEN '审核不通过' WHEN '4' THEN '作废' WHEN '5' THEN '撤销' END stateName,
            b.user_name userName,
            CONVERT(a.create_time, char) createTime
        FROM
            check_work_overtime a,
            sys_eve_user_staff b
        WHERE a.id = #{overtimeId}
        AND a.create_id = b.user_id
    </select>

    <select id="queryCheckWorkOvertimeDaysDetailByOvertimeId" resultType="java.util.Map">
        SELECT
            a.id,
            a.overtime_day overtimeDay,
            a.overtime_start_time overtimeStartTime,
            a.overtime_end_time overtimeEndTime,
            a.overtime_hour overtimeHour,
            a.state,
            CASE a.state WHEN '0' THEN '未提交审批' WHEN '1' THEN '等待审批' WHEN '2' THEN '审批通过' WHEN '3' THEN '审批不通过' END stateName,
            a.remark
        FROM
            check_work_overtime_time_slot a
        WHERE a.overtime_id = #{overtimeId}
    </select>

    <update id="updateCheckWorkOvertimeStateAndProcessInId">
        UPDATE check_work_overtime
        <set>
            state = #{state},
            process_instance_id = #{processInId}
        </set>
        WHERE id = #{overtimeId}
    </update>

    <update id="updateCheckWorkOvertimeDaysStateByOvertimeId">
        UPDATE check_work_overtime_time_slot
        <set>
            state = #{state},
        </set>
        WHERE overtime_id = #{overtimeId}
    </update>

    <update id="updateCheckWorkOvertimeMation">
        UPDATE check_work_overtime
        <set>
            content = #{content},
            remark = #{remark},
            enclosure_info = #{enclosureInfo}
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateCheckWorkOvertimeStateById">
        UPDATE check_work_overtime
        <set>
            state = #{state},
        </set>
        WHERE id = #{overtimeId}
    </update>

    <insert id="insertCheckWorkOvertimeMation">
        INSERT into check_work_overtime
        (id, title, odd_number, content, state, process_instance_id, remark, enclosure_info, create_id, create_time)
        VALUES(#{id}, #{title}, #{oddNumber}, #{content}, #{state}, #{processInstanceId}, #{remark}, #{enclosureInfo}, #{createId}, #{createTime})
    </insert>

    <insert id="insertCheckWorkOvertimeDaysMation" parameterType="java.util.Map">
        insert into check_work_overtime_time_slot
        (id, overtime_id, overtime_day, overtime_start_time, overtime_end_time,
        overtime_hour, state, remark)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.id}, #{item.overtimeId}, #{item.overtimeDay}, #{item.overtimeStartTime}, #{item.overtimeEndTime},
            #{item.overtimeHour}, '0', #{item.remark})
        </foreach>
    </insert>

    <select id="queryCheckWorkOvertimeToEditById" resultType="java.util.Map">
        SELECT
            a.id,
            a.title,
            a.odd_number oddNumber,
            a.content,
            IFNULL(a.process_instance_id, '') processInstanceId,
            a.state,
            a.remark,
            IFNULL(a.enclosure_info, '') enclosureInfo,
            b.user_name userName
        FROM
            check_work_overtime a,
            sys_eve_user_staff b
        WHERE a.id = #{overtimeId}
        AND a.create_id = b.user_id
    </select>

    <select id="queryCheckWorkOvertimeDaysMationToEditByOvertimeId" resultType="java.util.Map">
        SELECT
            a.overtime_day overtimeDay,
            a.overtime_start_time overtimeStartTime,
            a.overtime_end_time overtimeEndTime,
            a.overtime_hour overtimeHour,
            a.remark
        FROM
            check_work_overtime_time_slot a
        WHERE a.overtime_id = #{overtimeId}
    </select>

    <select id="queryCheckWorkOvertimeByProcessInstanceId" resultType="java.util.Map">
        SELECT
            a.id,
            a.create_id createId
        FROM
            check_work_overtime a
        WHERE a.process_instance_id = #{processInstanceId}
    </select>

    <delete id="deleteCheckWorkOvertimeDaysMationByOvertimeId">
        DELETE
        FROM
            check_work_overtime_time_slot
        WHERE
            overtime_id = #{overtimeId}
    </delete>

    <update id="updateCheckWorkOvertimeSoltStateByOvertimeId">
        UPDATE check_work_overtime_time_slot
        <set>
            state = #{state},
        </set>
        WHERE id = #{overtimeSoltId}
    </update>

    <select id="queryPassThisDayAndCreateId" resultType="java.util.Map">
        SELECT
            b.id,
            b.overtime_start_time clockIn,
            b.overtime_end_time clockOut
        FROM
            check_work_overtime a,
            check_work_overtime_time_slot b
        WHERE
            a.create_id = #{createId}
          AND a.id = b.overtime_id
          AND b.state = '2'
          AND b.overtime_day = #{overtimeDay}
    </select>

    <select id="queryStateIsSuccessWorkOvertimeDayByUserIdAndMonths" resultType="java.util.Map">
        SELECT
            a.id,
            '加班' title,
            a.overtime_day 'start',
            a.overtime_day 'end'
        FROM
            check_work_overtime_time_slot a,
            check_work_overtime b
        WHERE b.create_id = #{userId}
        AND b.id = a.overtime_id
        AND a.state = '2'
        <if test="months != null and months.size() &gt; 0">
            <foreach collection="months" item="month" separator="," open=" AND date_format(a.overtime_day, '%Y-%m') in(" close=")">
                #{month}
            </foreach>
        </if>
    </select>

    <update id="updateOvertimeSettlementType">
        UPDATE check_work_overtime_time_slot
        <set>
            overtime_settlement_type = #{overtimeSettlementType}
        </set>
        WHERE id = #{overtimeSoltId}
    </update>

    <update id="updateOvertimeSettleState">
        UPDATE check_work_overtime_time_slot
        <set>
            settle_state = #{settleState}
        </set>
        WHERE id = #{overtimeSoltId}
    </update>

    <select id="queryCheckWorkOvertimeWaitSettlement" resultType="java.util.Map">
        SELECT
            b.id,
            a.create_id createId,
            DATE_FORMAT(b.overtime_day, '%Y-%m') overtimeMonth,
            b.overtime_hour overtimeHour,
            c.company_id companyId,
            c.department_id departmentId,
            c.id staffId,
            c.act_wages actWages,
            b.overtime_settlement_type overtimeSettlementType
        FROM
            check_work_overtime a
            LEFT JOIN sys_eve_user_staff c ON a.create_id = c.user_id,
            check_work_overtime_time_slot b
        WHERE a.id = b.overtime_id
        AND b.state = 2
        AND b.settle_state = 1
    </select>

</mapper>