<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="padding: 20px; margin: 0 auto;">
	    <form class="layui-form" action="" id="showForm">
	        
	    </form>
	</div>
	
	<script type="text/html" id="beanTemplate">
		{{#bean}}
			<div class="layui-form-item layui-col-xs12">
				<span class="hr-title">基本信息</span><hr>
			</div>
			<div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">标题<i class="red">*</i></label>
		        <div class="layui-input-block">
		        	<input type="text" id="title" name="title" win-verify="required" placeholder="请输入标题" class="layui-input" value="{{title}}"/>
		        </div>
		    </div>
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">类型<i class="red">*</i></label>
				<div class="layui-input-block winui-radio">
					<input type="radio" name="type" value="1" title="单休" lay-filter="type" />
					<input type="radio" name="type" value="2" title="双休" lay-filter="type" />
					<input type="radio" name="type" value="3" title="单双休" lay-filter="type" />
					<input type="radio" name="type" value="4" title="自定义" lay-filter="type" />
				</div>
			</div>
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">状态<i class="red">*</i></label>
				<div class="layui-input-block winui-radio">
					<input type="radio" name="state" value="1" title="启用"/>
					<input type="radio" name="state" value="2" title="禁用" />
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">工作日<i class="red">*</i></label>
				<div class="layui-input-block ver-center">
					<span class="layui-badge layui-bg-blue weekDay" value="1">一</span>
					<span class="layui-badge layui-bg-blue weekDay" value="2">二</span>
					<span class="layui-badge layui-bg-blue weekDay" value="3">三</span>
					<span class="layui-badge layui-bg-blue weekDay" value="4">四</span>
					<span class="layui-badge layui-bg-blue weekDay" value="5">五</span>
					<span class="layui-badge layui-bg-blue weekDay" value="6">六</span>
					<span class="layui-badge layui-bg-gray weekDay" value="7">日</span><br>
					<div class="layui-form-mid layui-word-aux ver-center" style="padding-top: 8px !important">
						<span class="layui-badge layui-bg-blue" style="height: 12px;"> </span>：每周的当天都工作；
						<span class="layui-badge layui-bg-gray" style="height: 12px;"> </span>：每周的当天都休假；
						<span class="layui-badge layui-bg-orange" style="height: 12px;"> </span>：单周上班，双周休假。
					</div>
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<span class="hr-title">工作时间</span><hr>
			</div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">开始时间<i class="red">*</i></label>
		        <div class="layui-input-block">
		        	<input type="text" id="startTime" name="startTime" win-verify="required" placeholder="请选择开始时间" class="layui-input" value="{{startTime}}"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">结束时间<i class="red">*</i></label>
		        <div class="layui-input-block">
		        	<input type="text" id="endTime" name="endTime" win-verify="required" placeholder="请选择结束时间" class="layui-input" value="{{endTime}}"/>
		        </div>
		    </div>
			<div class="layui-form-item layui-col-xs12">
				<span class="hr-title">作息时间</span><hr>
			</div>
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">开始时间<i class="red">*</i></label>
				<div class="layui-input-block">
					<input type="text" id="restStartTime" name="restStartTime" win-verify="" placeholder="请选择开始时间" class="layui-input" value="{{restStartTime}}"/>
				</div>
			</div>
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">结束时间<i class="red">*</i></label>
				<div class="layui-input-block">
					<input type="text" id="restEndTime" name="restEndTime" win-verify="" placeholder="请选择结束时间" class="layui-input" value="{{restEndTime}}"/>
				</div>
			</div>
		    <div class="layui-form-item layui-col-xs12">
		        <div class="layui-input-block">
		            <button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
		            <button class="winui-btn" lay-submit lay-filter="formEditBean"><language showName="com.skyeye.save"></language></button>
		        </div>
		    </div>
		{{/bean}}
	</script>
	
	<script src="../../assets/lib/layui/layui.js"></script>
	<script src="../../assets/lib/layui/custom.js"></script>
	<script type="text/javascript">
		layui.config({base: '../../js/checkWorkTime/'}).use('checkWorkTimeEdit');
	</script>
</body>
</html>