<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div class="winui-tip alert-info" id="showInfo">温馨提示：已经拥有员工使用的班次信息无法进行删除操作。</div>
    <div class="winui-toolbar">
        <div class="winui-tool">
            <button id="reloadTable" class="winui-toolbtn search-table-btn-right"><i class="fa fa-refresh" aria-hidden="true"></i><language showName="com.skyeye.refreshDataBtn"></language></button>
            <button id="addBean" class="winui-toolbtn search-table-btn-right" auth="1603026174350"><i class="fa fa-plus" aria-hidden="true"></i><language showName="com.skyeye.addBtn"></language></button>
        </div>
    </div>
    <div style="margin:auto 10px;">
        <table id="messageTable" lay-filter="messageTable"></table>
        <script type="text/html" id="tableBar">
			{{# if(auth('1603026174350')) { }}
            	<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit"><language showName="com.skyeye.editBtn"></language></a>
			{{# } }}
			{{# if(auth('1603026192319')) { }}
            	<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delet"><language showName="com.skyeye.deleteBtn"></language></a>
			{{# } }}
            {{# if(auth('1714276416911')) { }}
                <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="setOnline">线上打卡信息</a>
            {{# } }}
        </script>
    </div>
    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/checkWorkTime/'}).use('checkWorkTimeList');
    </script>
</body>
</html>