<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body style="background-color: rgb(242, 242, 242);">

    <div class="layui-col-xs12">
        <div class="winui-tip alert-info layui-col-xs12">
            <span class="layui-badge layui-bg-blue" style="height: 12px;"> </span>：每周的当天都工作；
            <span class="layui-badge layui-bg-gray" style="height: 12px;"> </span>：每周的当天都休假；
            <span class="layui-badge layui-bg-orange" style="height: 12px;"> </span>：单周上班，双周休假。
        </div>
        <div id="showBox" class="layui-col-xs12 margin-top-10 layui-col-space15">

        </div>
    </div>

    <script type="text/x-handlebars-template" id="showTemplate">
        {{#each rows}}
            <div class="layui-col-sm6 layui-col-md4">
                <div class="layui-card">
                    <div class="layui-card-header">
                        {{title}}
                        <span class="layui-badge layui-bg-blue header-right-top">{{typeName}}</span>
                    </div>
                    <div class="layui-card-body layuiadmin-card-list">
                        <p>工作时间段：{{startTime}} ~ {{endTime}}</p>
                        <p>作息时间段：{{restStartTime}} ~ {{restEndTime}}</p>
                        <p id="{{timeId}}">工作日：
                            <span class="layui-badge layui-bg-blue weekDay" value="1">一</span>
                            <span class="layui-badge layui-bg-blue weekDay" value="2">二</span>
                            <span class="layui-badge layui-bg-blue weekDay" value="3">三</span>
                            <span class="layui-badge layui-bg-blue weekDay" value="4">四</span>
                            <span class="layui-badge layui-bg-blue weekDay" value="5">五</span>
                            <span class="layui-badge layui-bg-blue weekDay" value="6">六</span>
                            <span class="layui-badge layui-bg-gray weekDay" value="7">日</span>
                        </p>
                    </div>
                </div>
            </div>
        {{/each}}
    </script>

    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/checkWorkTime/'}).use('loginUserCheckWorkTime');
    </script>
</body>
</html>