<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
    <div style="padding:20px; margin:0 auto;">
        <form class="layui-form" action="" id="showForm" autocomplete="off">

        </form>
        <script type="text/x-handlebars-template" id="simpleTemplate">
            {{#bean}}
            <div class="layui-form-item layui-col-xs12">
                <label class="layui-form-label">套餐名称：</label>
                <div class="layui-input-block ver-center">
                    {{title}}
                </div>
            </div>
            <div class="layui-form-item layui-col-xs6">
                <label class="layui-form-label">套餐LOGO：</label>
                <div class="layui-input-block ver-center">
                    <img src="" class="photo-img" id="logo">
                </div>
            </div>
            <div class="layui-form-item layui-col-xs6">
                <label class="layui-form-label">套餐类型：</label>
                <div class="layui-input-block ver-center" id="type">

                </div>
            </div>
            <div class="layui-form-item layui-col-xs6">
                <label class="layui-form-label">套餐价格：</label>
                <div class="layui-input-block ver-center">
                    {{price}}
                </div>
            </div>
            <div class="layui-form-item layui-col-xs12">
                <label class="layui-form-label">可使用次数：</label>
                <div class="layui-input-block ver-center">
                    {{mealNum}}
                </div>
            </div>
            <div class="layui-form-item layui-col-xs12">
                <label class="layui-form-label">套餐说明：</label>
                <div class="layui-input-block ver-center">
                    {{{mealExplain}}}
                </div>
            </div>
            <div class="layui-form-item layui-col-xs6">
                <label class="layui-form-label">状态：</label>
                <div class="layui-input-block ver-center" id="state">

                </div>
            </div>
            <div class="layui-form-item layui-col-xs12">
                <label class="layui-form-label">可用区域：</label>
                <div class="layui-input-block ver-center">
                    {{#each mealAreaMationList}}
                        <span class="layui-badge layui-bg-blue skyeye-badge">{{areaName}}</span>
                    {{/each}}
                </div>
            </div>
            <div class="layui-form-item layui-col-xs12">
                <label class="layui-form-label">套餐耗材：</label>
                <div class="layui-input-block">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th style="width: 150px;">耗材说明</th>
                        </tr>
                        </thead>
                        <tbody id="useTable" class="insurance-table">
                        {{#each mealConsumeMationList}}
                            <tr>
                                <td>{{consumeExplain}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            {{/bean}}
        </script>
    </div>
    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/meal/'}).use('mealInfo');
    </script>
</body>
</html>