<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.SchoolMationDao">
	
	<select id="querySchoolMationList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.school_name schoolName,
			a.school_desc schoolDesc,
			a.p_id pId,
			a.address_province provinceName,
			a.address_city cityName,
			a.address_area areaName,
			a.address_township townshipName,
			a.address_detailed addressDetailed,
			(SELECT COUNT(*) FROM school_mation f WHERE a.id = f.p_id) childsNum,
			CONVERT(a.create_time, char) createTime,
			CASE a.power WHEN '1' THEN '查看所有' WHEN '2' THEN '只看本校' ELSE '参数错误' END powerName
		FROM
			school_mation a
		WHERE 1=1
			<if test="schoolName != '' and schoolName != null">
				AND a.school_name LIKE '%${schoolName}%'
			</if>
			ORDER BY a.create_time DESC
	</select>
	
	<select id="querySchoolMationByName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.school_name schoolName
		FROM
			school_mation a
		WHERE 
			a.school_name = #{schoolName}
	</select>
	
	<insert id="insertSchoolMation" parameterType="java.util.Map">
	     INSERT into school_mation
	     (id, school_name, school_desc, p_id, longitude, latitude, address_province, address_city, address_area, address_township, address_detailed, power, create_id, create_time)
	     VALUES
	     (#{id}, #{schoolName}, #{schoolDesc}, #{pId}, #{longitude}, #{latitude}, #{provinceId}, #{cityId}, #{areaId}, #{townshipId}, #{addressDetailed}, #{power}, #{createId}, #{createTime})
	</insert>
	
	<select id="querySchoolMationById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.school_name schoolName,
			a.p_id pId,
			(SELECT COUNT(*) FROM school_mation b WHERE b.p_id = a.id) childsNum
		FROM
			school_mation a
		WHERE a.id = #{id}
	</select>
	
	<delete id="deleteSchoolMationById" parameterType="java.util.Map">
		DELETE
		FROM
			school_mation
		WHERE
			id = #{id}
	</delete>
	
	<select id="querySchoolMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.school_name schoolName,
			a.school_desc schoolDesc,
			a.p_id pId,
			a.address_province provinceId,
			a.address_city cityId,
			a.address_area areaId,
			a.address_township townshipId,
			a.address_detailed addressDetailed,
			a.longitude,
			a.latitude,
			a.power,
			CONVERT(a.create_time, char) createTime
		FROM
			school_mation a
		WHERE a.id = #{id}
	</select>
	
	<select id="querySchoolMationByNameAndId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.school_name schoolName
		FROM
			school_mation a
		WHERE 
			a.school_name = #{schoolName}
			AND a.id != #{id}
	</select>
	
	<update id="editSchoolMationById" parameterType="java.util.Map">
		UPDATE school_mation
		<set>
			<if test="schoolName != '' and schoolName != null">
				school_name = #{schoolName},
			</if>
			address_province = #{provinceId},
			address_city = #{cityId},
			address_area = #{areaId},
			address_township = #{townshipId},
			longitude = #{longitude},
			latitude = #{latitude},
			power = #{power},
			address_detailed = #{addressDetailed},
			p_id = #{pId},
			school_desc = #{schoolDesc},
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="queryOverAllSchoolMationList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.school_name name
		FROM
			school_mation a
		WHERE a.p_id = '0'
			ORDER BY a.create_time DESC
	</select>
	
	<select id="querySchoolListToSelect" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.school_name name
		FROM
			school_mation a
	</select>
	
	<select id="querySchoolPowerListToSelect" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.school_name name
		FROM
			school_mation a
		WHERE 1=1
		<choose>
			<!-- 查询的不是所有的数据 -->
    		<when test="schoolPowerId != 'all'.toString()">
    			AND a.id = #{schoolPowerId}
    		</when>
		</choose>
	</select>
	
</mapper>