<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="margin:0 auto;padding:20px;">
	    <form class="layui-form" action="" id="showForm" autocomplete="off">

	    </form>
	</div>

	<script type="text/x-handlebars-template" id="beanTemplate">
		{{#bean}}
		<div class="layui-form-item layui-col-xs12">
			<span class="hr-title">基础信息</span><hr>
		</div>
		<div class="layui-form-item layui-col-xs12">
			<label class="layui-form-label">名称：</label>
			<div class="layui-input-block ver-center">
				{{title}}
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">执行月份：</label>
			<div class="layui-input-block ver-center">
				{{startMonth}} ~ {{endMonth}}
			</div>
		</div>
		<div class="layui-form-item layui-col-xs12">
			<label class="layui-form-label">说明：</label>
			<div class="layui-input-block ver-center">
				{{desc}}
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">类型：</label>
			<div class="layui-input-block ver-center">
				{{nameCn}}
			</div>
		</div>
		<div class="layui-form-item layui-col-xs6">
			<label class="layui-form-label">序号：</label>
			<div class="layui-input-block ver-center">
				{{sortNo}}
			</div>
		</div>
		<div class="layui-form-item layui-col-xs12">
			<label class="layui-form-label">适用企业：</label>
			<div class="layui-input-block ver-center" id="company">
			</div>
		</div>
		<div class="layui-form-item layui-col-xs12">
			<label class="layui-form-label">适用部门：</label>
			<div class="layui-input-block ver-center" id="department">
			</div>
		</div>
		<div class="layui-form-item layui-col-xs12">
			<label class="layui-form-label">适用员工：</label>
			<div class="layui-input-block ver-center" id="userStaff">
			</div>
		</div>
		<div class="layui-form-item layui-col-xs12">
			<label class="layui-form-label">列表项：</label>
			<div class="layui-input-block">
				<table class="layui-table">
					<thead>
					<tr>
						<th style="min-width: 120px;">字段</th>
						<th style="width: 80px;">类型</th>
						<th style="min-width: 100px;">默认值(优先以员工个人薪资设计维度为准，如果员工该字段薪资为0，则在计算时，系统默认取该默认值。)</th>
						<th style="min-width: 100px;">公式</th>
						<th style="min-width: 100px;">备注</th>
					</tr>
					</thead>
					<tbody id="useTable" class="insurance-table">
					</tbody>
				</table>
			</div>
		</div>
		{{/bean}}
	</script>

	<!-- usetableTemplate -->
	<script type="text/x-handlebars-template" id="usetableTemplate">
		<tr trcusid="{{trId}}">
			<td id="{{fieldId}}"></td>
			<td id="{{fieldType}}"></td>
			<td id="{{defaultMoney}}"></td>
			<td id="{{formula}}"></td>
			<td id="{{remark}}"></td>
		</tr>
	</script>

	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
		layui.config({base: '../../js/wagesModel/'}).use('wagesModelDetail');
	</script>
</body>
</html>