<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.server.dao.AutoServerDao">

    <select id="queryAutoServerList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.name,
            a.remark,
            a.cpu,
            a.disk,
            a.ip,
            a.mem,
            a.environment_id environmentId,
            a.probe_type probeType,
            a.probe_port probePort,
            a.probe_path probePath,
            a.probe_timeout probeTimeout,
            a.online_status onlineStatus,
            CONVERT(a.last_probe_time, char) lastProbeTime,
            a.last_latency lastLatency,
            a.last_probe_msg lastProbeMsg,
            a.ssh_enabled sshEnabled,
            a.ssh_port sshPort,
            a.ssh_user sshUser,
            a.ssh_timeout sshTimeout,
            CASE WHEN a.ssh_password IS NOT NULL AND a.ssh_password != '' THEN 1 ELSE 0 END hasSshPassword,
            a.cpu_usage cpuUsage,
            a.mem_usage memUsage,
            a.disk_usage diskUsage,
            a.load_avg loadAvg,
            a.metric_status metricStatus,
            CONVERT(a.last_metric_time, char) lastMetricTime,
            a.last_metric_msg lastMetricMsg,
            a.object_id objectId,
            a.object_key objectKey,
            a.create_id createId,
            CONVERT(a.create_time, char) createTime,
            a.last_update_id lastUpdateId,
            CONVERT(a.last_update_time, char) lastUpdateTime
        FROM
            auto_server a
        <where>
            <if test="tenantId != '' and tenantId != null">
                AND a.tenant_id = #{tenantId}
            </if>
            <if test="objectId != null and objectId != ''">
                AND a.object_id = #{objectId}
            </if>
            <if test="objectKey != null and objectKey != ''">
                AND a.object_key = #{objectKey}
            </if>
            <if test="sqlExtract != '' and sqlExtract != null">
                ${sqlExtract}
            </if>
            <if test="keyword != '' and keyword != null">
                AND a.`name` like '%${keyword}%'
            </if>
        </where>
        ORDER BY a.create_time DESC
    </select>

</mapper>