<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.CrmContractDao">

    <select id="queryCrmContractList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			CONCAT(b.name, '-', a.title) title,
			a.num,
			format(a.price, 2) price,
			a.state,
			c.process_instance_id processInstanceId,
			CASE a.state WHEN '0' THEN '草稿' WHEN '1' THEN '审核中' WHEN '11' THEN '审核通过' WHEN '12' THEN '审核不通过' WHEN '2' THEN '执行中' WHEN '3' THEN '已关闭' WHEN '4' THEN '已撤销' WHEN '5' THEN '已搁置' END stateName, 
			DATE_FORMAT(CONVERT (a.signing_time, CHAR),'%Y-%m-%d') signingTime,
			DATE_FORMAT(CONVERT (a.create_time, CHAR),'%Y-%m-%d') createTime
		FROM
			crm_contract a
			LEFT JOIN crm_customer b ON a.customer_id = b.id
			LEFT JOIN crm_contract_process c ON c.contract_id = a.id
		WHERE 1 = 1
			<if test="title != '' and title != null">
                AND a.title like '%${title}%'
            </if>
            <if test="customer != '' and customer != null">
                AND a.customer_id = #{customer}
            </if>
            <if test="state != '' and state != null">
                AND a.state = #{state}
            </if>
            <if test="createTime != '' and createTime != null and createTime == '0'.toString()">
				AND YEARWEEK(date_format(a.create_time,'%Y/%m/%d')) = YEARWEEK(now())
			</if>
			<if test="createTime != '' and createTime != null and createTime == '1'.toString()">
				AND YEARWEEK(date_format(a.create_time,'%Y/%m/%d')) = YEARWEEK(now()) - 1
			</if>
			<if test="createTime != '' and createTime != null and createTime == '2'.toString()">
				AND date_format(a.create_time,'%Y-%m')=date_format(now(),'%Y-%m')
			</if>
			<if test="createTime != '' and createTime != null and createTime == '3'.toString()">
				AND date_format(a.create_time,'%Y-%m')=date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH),'%Y-%m')
			</if>
			<if test="createTime != '' and createTime != null and createTime == '4'.toString()">
				AND QUARTER(a.create_time)=QUARTER(now())
			</if>
			<if test="createTime != '' and createTime != null and createTime == '5'.toString()">
				AND QUARTER(a.create_time)=QUARTER(DATE_SUB(now(),interval 1 QUARTER))
			</if>
        ORDER BY a.create_time desc
    </select>
    
    <select id="queryMyCrmContractList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			CONCAT(b.name, '-', a.title) title,
			a.num,
			format(a.price, 2) price,
			a.state,
			IFNULL(c.process_instance_id, '') processInstanceId,
			CASE a.state WHEN '0' THEN '草稿' WHEN '1' THEN '审核中' WHEN '11' THEN '审核通过' WHEN '12' THEN '审核不通过' WHEN '2' THEN '执行中' WHEN '3' THEN '已关闭' WHEN '4' THEN '已撤销' WHEN '5' THEN '已搁置' END stateName, 
			DATE_FORMAT(CONVERT (a.signing_time, CHAR),'%Y-%m-%d') signingTime,
			DATE_FORMAT(CONVERT (a.create_time, CHAR),'%Y-%m-%d') createTime
		FROM
			crm_contract a
			LEFT JOIN crm_customer b ON a.customer_id = b.id
			LEFT JOIN crm_contract_process c ON c.contract_id = a.id
		WHERE a.create_id = #{userId}
			<if test="title != '' and title != null">
                AND a.title like '%${title}%'
            </if>
            <if test="customer != '' and customer != null">
                AND a.customer_id = #{customer}
            </if>
            <if test="state != '' and state != null">
                AND a.state = #{state}
            </if>
            <if test="createTime != '' and createTime != null and createTime == '0'.toString()">
				AND YEARWEEK(date_format(a.create_time, '%Y/%m/%d')) = YEARWEEK(now())
			</if>
			<if test="createTime != '' and createTime != null and createTime == '1'.toString()">
				AND YEARWEEK(date_format(a.create_time, '%Y/%m/%d')) = YEARWEEK(now()) - 1
			</if>
			<if test="createTime != '' and createTime != null and createTime == '2'.toString()">
				AND date_format(a.create_time, '%Y-%m') = date_format(now(), '%Y-%m')
			</if>
			<if test="createTime != '' and createTime != null and createTime == '3'.toString()">
				AND date_format(a.create_time, '%Y-%m') = date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH), '%Y-%m')
			</if>
			<if test="createTime != '' and createTime != null and createTime == '4'.toString()">
				AND QUARTER(a.create_time) = QUARTER(now())
			</if>
			<if test="createTime != '' and createTime != null and createTime == '5'.toString()">
				AND QUARTER(a.create_time) = QUARTER(DATE_SUB(now(), interval 1 QUARTER))
			</if> 
        ORDER BY a.create_time desc
    </select>
    
    <select id="queryDepartmentListToChoose" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.department_name `name`
		FROM
			company_department a
		WHERE
			a.company_id = (
				SELECT
					a.company_id
				FROM
					sys_eve_user_staff a
				WHERE a.user_id = #{userId}
			)
	</select>
	
	<select id="queryCrmContractMationByNameAndNum" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id
		FROM
			crm_contract a
		WHERE a.customer_id = #{customerId} AND (a.title = #{title} OR a.num = #{num})
    </select>
    
    <select id="queryCrmContractMationByNameAndId" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id
		FROM
			crm_contract a
		WHERE a.customer_id = #{customerId} AND (a.title = #{title} OR a.num = #{num}) AND a.id != #{id}
    </select>
    
    <insert id="insertCrmContractMation" parameterType="java.util.Map">
        insert into crm_contract
        (id, `title`, customer_id, city, detail_address, num, price, signing_time, effect_time, service_end_time, contacts,
         work_phone, mobile_phone, email, qq, technical_terms, business_terms, enclosure_info, department_id, relation_user_id, state,
         create_name, create_id, create_time)
        values(#{id}, #{title}, #{customerId}, #{city}, #{detailAddress}, #{num}, #{price}, #{signingTime}, #{effectTime}, #{serviceEndTime}, #{contacts},
         #{workPhone}, #{mobilePhone}, #{email}, #{qq}, #{technicalTerms}, #{businessTerms}, #{enclosureInfo}, #{departmentId}, #{relationUserId}, #{state},
         #{createName}, #{createId}, #{createTime})
    </insert>
    
    <select id="queryCrmContractMationById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id, 
			a.`title`, 
			a.customer_id customerId, 
			c.`name` customerName,
			a.city, 
			a.detail_address detailAddress, 
			a.num, 
			a.price, 
			DATE_FORMAT(CONVERT (a.signing_time, CHAR),'%Y-%m-%d') signingTime,
			DATE_FORMAT(CONVERT (a.effect_time, CHAR),'%Y-%m-%d') effectTime, 
			DATE_FORMAT(CONVERT (a.service_end_time, CHAR),'%Y-%m-%d') serviceEndTime, 
			a.contacts, 
			a.work_phone workPhone, 
			a.mobile_phone mobilePhone,
			a.email, 
			a.qq, 
			a.technical_terms technicalTerms, 
			a.business_terms businessTerms, 
			a.enclosure_info enclosureInfo,
			a.department_id departmentId, 
			a.relation_user_id relationUserId,
			IFNULL(b.process_instance_id, '') processInstanceId,
			a.state
		FROM
			crm_contract a
			LEFT JOIN crm_customer c ON a.customer_id = c.id
			LEFT JOIN crm_contract_process b ON b.contract_id = a.id
		WHERE a.id = #{id}
    </select>
    
    <update id="editCrmContractMationById" parameterType="java.util.Map">
        UPDATE crm_contract
        <set>
            <if test="customerId != '' and customerId != null">
                customer_id = #{customerId},
            </if>
            <if test="title != '' and title != null">
                title = #{title},
            </if>
            <if test="num != '' and num != null">
                num = #{num},
            </if>
            <if test="signingTime != '' and signingTime != null">
                signing_time = #{signingTime},
            </if>
            <if test="contacts != '' and contacts != null">
                contacts = #{contacts},
            </if>
            <if test="departmentId != '' and departmentId != null">
                department_id = #{departmentId},
            </if>
            <if test="relationUserId != '' and relationUserId != null">
                relation_user_id = #{relationUserId},
            </if>
            city = #{city},
            detail_address = #{detailAddress},
            price = #{price},
            effect_time = #{effectTime},
            service_end_time = #{serviceEndTime},
            work_phone = #{workPhone},
            mobile_phone = #{mobilePhone},
            email = #{email},
            qq = #{qq},
            technical_terms = #{technicalTerms},
            business_terms = #{businessTerms},
            enclosure_info = #{enclosureInfo},
        </set>
        WHERE id = #{id}
    </update>
    
    <select id="queryCrmContractMationToDetail" resultType="java.util.Map">
		SELECT
			a.id, 
			a.`title`, 
			b.name customerId, 
			a.city, 
			a.detail_address detailAddress, 
			a.num, 
			format(a.price, 2) price, 
			DATE_FORMAT(CONVERT (a.signing_time, CHAR),'%Y-%m-%d') signingTime,
			DATE_FORMAT(CONVERT (a.effect_time, CHAR),'%Y-%m-%d') effectTime, 
			DATE_FORMAT(CONVERT (a.service_end_time, CHAR),'%Y-%m-%d') serviceEndTime, 
			a.contacts, 
			a.work_phone workPhone, 
			a.mobile_phone mobilePhone,
			a.email, 
			a.qq, 
			a.technical_terms technicalTerms, 
			a.business_terms businessTerms, 
			IFNULL(a.enclosure_info, '') enclosureInfo,
			IFNULL(d.process_instance_id, '') processInstanceId,
			c.department_name departmentId, 
			(SELECT GROUP_CONCAT(user_name) FROM sys_eve_user_staff WHERE instr(concat(',', a.relation_user_id, ','),concat(',', user_id, ','))) relationUserId,
		    a.state,
			CASE a.state WHEN '0' THEN '草稿' WHEN '1' THEN '审核中'  WHEN '11' THEN '审核通过' WHEN '12' THEN '审核不通过' WHEN '2' THEN '执行中' WHEN '3' THEN '已关闭' WHEN '4' THEN '已撤销' WHEN '5' THEN '已搁置' END stateName,
			a.create_id createId,
		    a.create_name userName
		FROM
			crm_contract a
			LEFT JOIN crm_customer b ON a.customer_id = b.id
			LEFT JOIN company_department c ON a.department_id = c.id
			LEFT JOIN crm_contract_process d ON d.contract_id = a.id
		WHERE a.id = #{id}
    </select>
    
    <select id="queryCrmContractListToChoose" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			a.num `name`,
			CONCAT(c.name, '-', a.title) title,
			b.department_name departmentId, 
			(SELECT GROUP_CONCAT(user_name) FROM sys_eve_user_staff WHERE instr(concat(',', a.relation_user_id, ','),concat(',', user_id, ','))) relationUserId,
			DATE_FORMAT(CONVERT (a.signing_time, CHAR),'%Y-%m-%d') signingTime,
			IFNULL(DATE_FORMAT(CONVERT (a.effect_time, CHAR),'%Y-%m-%d'), '') effectTime, 
			IFNULL(DATE_FORMAT(CONVERT (a.service_end_time, CHAR),'%Y-%m-%d'), '') serviceEndTime, 
			CASE a.state WHEN '0' THEN '草稿' WHEN '1' THEN '审核中'  WHEN '11' THEN '审核通过' WHEN '12' THEN '审核不通过' WHEN '2' THEN '执行中' WHEN '3' THEN '已关闭' WHEN '4' THEN '已撤销' WHEN '5' THEN '已搁置' END state
		FROM
			crm_contract a
			LEFT JOIN company_department b ON a.department_id = b.id
			LEFT JOIN crm_customer c ON a.customer_id = c.id
		WHERE a.customer_id = #{id}
        ORDER BY a.create_time desc
    </select>
    
	<select id="queryCrmContractStateById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id, 
			a.state
		FROM
			crm_contract a
		WHERE a.id = #{id}
    </select>
    
	<!-- 将合同表的状态更改为审核中 -->
    <update id="updateCrmContractStateISInAudit">
		UPDATE crm_contract
		<set>
			state = '1'
		</set>
		WHERE id = #{id}
	</update>
	
	<!-- 更改合同表的状态 -->
    <update id="updateCrmContractState" parameterType="java.util.Map">
		UPDATE crm_contract
		<set>
			state = #{state}
		</set>
		WHERE id = #{contractId}
	</update>
	
	<!-- 更改合同关联表的状态 -->
    <update id="updateCrmContractRelationState" parameterType="java.util.Map">
		UPDATE crm_contract_process
		<set>
			state = #{approvalState}
		</set>
		WHERE id = #{id}
	</update>
	
	<insert id="insertCrmContractRelationMation" parameterType="java.util.Map">
        insert into crm_contract_process
        (id, process_instance_id, contract_id, state, type, sub_id, sub_time)
        values(#{id}, #{processInId}, #{contractId}, #{state}, #{type}, #{subId}, #{subTime})
    </insert>
    
    <select id="queryCrmContractRelationByProcessInstanceId" resultType="java.util.Map">
		SELECT
			a.id,
			a.contract_id contractId
		FROM
			crm_contract_process a
		WHERE
			a.process_instance_id = #{processInstanceId}
	</select>
	
	<delete id="deleteCrmContractRelationByContractId">
        DELETE 
		FROM 
			crm_contract_process
		where contract_id = #{id}
    </delete>
    
    <delete id="deleteCrmContractById" parameterType="java.util.Map">
        DELETE 
		FROM 
			crm_contract
		where id = #{id}
    </delete>
    
    <delete id="deleteCrmServiceByContractId" parameterType="java.util.Map">
        DELETE 
		FROM 
			crm_service
		where contract_id = #{id}
		AND contract_type = '1'
    </delete>
    
    <update id="editCrmContractStateToRevokeById" parameterType="java.util.Map">
		UPDATE crm_contract
		<set>
			state = '4'
		</set>
		WHERE id = #{id}
	</update>
    
</mapper>