<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.CrmDocumentaryDao">

    <select id="queryMyDocumentaryList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			CONCAT(d.name, '-', b.title) opportunityName,
			c.name typeName,
			CONVERT(a.documentary_time, char) documentaryTime,
			a.create_name createName,
			a.detail
		FROM
			crm_documentary a
		LEFT JOIN crm_opportunity b ON a.opportunity_id = b.id
		LEFT JOIN crm_documentary_type c ON a.type_id = c.id
		LEFT JOIN crm_customer d ON d.id = b.customer_id
		WHERE a.create_id = #{userId}
			<if test="opportunityName != '' and opportunityName != null">
                AND b.title LIKE '%${opportunityName}%'
            </if>
			<if test="typeId != '' and typeId != null">
                AND a.type_id = #{typeId}
            </if>
            <if test="startTime != '' and startTime != null and endTime != '' and endTime != null">
				AND #{endTime} >= a.documentary_time AND a.documentary_time >= #{startTime}
			</if>
        ORDER BY a.create_time desc
    </select>
    
    <select id="queryAllDocumentaryList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			CONCAT(d.name, '-', b.title) opportunityName,
			c.name typeName,
			CONVERT(a.documentary_time, char) documentaryTime,
			a.create_name createName,
			a.detail
		FROM
			crm_documentary a
		LEFT JOIN crm_opportunity b ON a.opportunity_id = b.id
		LEFT JOIN crm_documentary_type c ON a.type_id = c.id
		LEFT JOIN crm_customer d ON d.id = b.customer_id
		WHERE 1 = 1
			<if test="opportunityName != '' and opportunityName != null">
                AND b.title LIKE '%${opportunityName}%'
            </if>
			<if test="typeId != '' and typeId != null">
                AND a.type_id = #{typeId}
            </if>
            <if test="startTime != '' and startTime != null and endTime != '' and endTime != null">
				AND #{endTime} >= a.documentary_time AND a.documentary_time >= #{startTime}
			</if>
        ORDER BY a.create_time desc
    </select>
    
    <insert id="insertDocumentary" parameterType="java.util.Map">
        insert into crm_documentary
        (id, opportunity_id, type_id, documentary_time, detail, enclosure_info, create_name, create_id, create_time)
        values(#{id}, #{opportunityId}, #{typeId}, #{documentaryTime}, #{detail}, #{enclosureInfo}, #{createName},  #{createId},  #{createTime})
    </insert>
    
    <select id="queryDocumentaryMationById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
			a.id,
			a.opportunity_id opportunityId,
			a.type_id typeId,
			CONVERT(a.documentary_time, char) documentaryTime,
			a.detail,
			a.enclosure_info enclosureInfo
		FROM
			crm_documentary a
		WHERE a.id = #{id}
    </select>
    
    <update id="editDocumentaryMationById" parameterType="java.util.Map">
        UPDATE crm_documentary
        <set>
            <if test="opportunityId != '' and opportunityId != null">
                opportunity_id = #{opportunityId},
            </if>
            <if test="typeId != '' and typeId != null">
                type_id = #{typeId},
            </if>
            <if test="documentaryTime != '' and documentaryTime != null">
                documentary_time = #{documentaryTime},
            </if>
            <if test="detail != '' and detail != null">
                detail = #{detail},
            </if>
            enclosure_info = #{enclosureInfo}
        </set>
        WHERE id = #{id}
    </update>
    
    <delete id="deleteDocumentaryMationById" parameterType="java.util.Map">
		DELETE
		FROM
			crm_documentary
		WHERE
			id = #{id}
	</delete>
	
	<select id="queryDocumentaryMationToDetail" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			CONCAT(d.name, '-', b.title) opportunityName,
			c.name typeName,
			CONVERT(a.documentary_time, char) documentaryTime,
			a.create_name createName,
			a.detail,
			a.enclosure_info enclosureInfo
		FROM
			crm_documentary a
		LEFT JOIN crm_opportunity b ON a.opportunity_id = b.id
		LEFT JOIN crm_documentary_type c ON a.type_id = c.id
		LEFT JOIN crm_customer d ON d.id = b.customer_id
		WHERE a.id = #{id}
    </select>
	
</mapper>