<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.CrmOpportunityChangeHistoryDao">

    <insert id="insertOpportunityChangeHistory" parameterType="java.util.Map">
        INSERT INTO crm_opportunity_change_history
        (id, opportunity_id, original_state, now_state, create_id, create_time)
        VALUES(#{id}, #{opportunityId}, #{originalState}, #{nowState}, #{userId}, #{createTime})
    </insert>
    
    <select id="queryOpportunityChangeHistoryByOpportunityId" resultType="java.util.Map">
    	SELECT
    		a.id,
    		a.opportunity_id opportunityId,
    		CASE a.original_state WHEN 1 THEN '审核中' WHEN 2 THEN '初期沟通' WHEN 3 THEN '方案与报价' WHEN 4 THEN '竞争与投标'
    			WHEN 5 THEN '商务谈判' WHEN 6 THEN '成交' WHEN 7 THEN '丢单' WHEN 8 THEN '搁置'
    			WHEN 11 THEN '审核通过' WHEN 12 THEN '审核不通过' ELSE '' END originalStateName,
    		CASE a.now_state WHEN 1 THEN '审核中' WHEN 2 THEN '初期沟通' WHEN 3 THEN '方案与报价' WHEN 4 THEN '竞争与投标'
    			WHEN 5 THEN '商务谈判' WHEN 6 THEN '成交' WHEN 7 THEN '丢单' WHEN 8 THEN '搁置'
    			WHEN 11 THEN '审核通过' WHEN 12 THEN '审核不通过' ELSE '' END nowStateName,
    		b.user_name createName,
    		DATE_FORMAT(a.create_time,'%Y-%m-%d %T') createTime
    	FROM
    		crm_opportunity_change_history a
    		LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id
    	WHERE
    		a.opportunity_id = #{opportunityId}
    	ORDER BY a.create_time DESC
    </select>
    
</mapper>