<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main.css?v=1.0?v=1.0"/>
    <style type="text/css">
    	#tip .layui-form-select{
    		width:100px;
    		float: left;
    		height:28px;
    		padding-left: 0px;
    		padding-right: 0px;
    	}
    </style>
</head>
<body>
	<div style="padding:20px; margin:0 auto;">
	    <form class="layui-form" action="" id="showForm">
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">人员<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="userName" name="userName" win-verify="required" placeholder="请选择人员" disabled class="layui-input"/>
		            <i class="fa fa-user-plus input-icon" id="userIdSelPeople"></i>
		        </div>
		    </div>
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">经度<i class="red">*</i></label>
				<div class="layui-input-block">
					<input type="text" id="longitude" win-verify="required" placeholder="请进行地图定位" disabled class="layui-input"/>
				</div>
			</div>
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">纬度<i class="red">*</i></label>
				<div class="layui-input-block">
					<input type="text" id="latitude" win-verify="required" placeholder="请进行地图定位" disabled class="layui-input"/>
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">地址<i class="red">*</i></label>
				<div class="layui-input-block">
					<input type="text" id="absoluteAddress" win-verify="required" placeholder="请进行地图定位" disabled class="layui-input"/>
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">地图定位<i class="red">*</i></label>
				<div class="layui-input-block ver-center">
					<div class="layui-col-xs12" style="height:400px;">
						<div class="col-sm-12" style="height:100%;" id="qpDiv">
							<div id="container" class="form-group" style="height:100%;">

							</div>
							<div id="tip">
								<font style="float: left;">省：</font><select id='province' win-verify="required" lay-filter="province" lay-search=""></select>
								<font style="float: left;">市：</font><select id='city' win-verify="required" lay-filter="city" lay-search=""></select>
								<font style="float: left;">区：</font><select id='district' win-verify="required" lay-filter="district" lay-search=""></select>
								<font style="float: left;" id="qp">全屏</font>
							</div>
						</div>
					</div>
				</div>
			</div>
		    <div class="layui-form-item layui-col-xs12">
		        <div class="layui-input-block">
		            <button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
		            <button class="winui-btn" lay-submit lay-filter="formAddBean"><language showName="com.skyeye.save"></language></button>
		        </div>
		    </div>
	    </form>
	</div>
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>

	<script type="text/javascript">
		window._AMapSecurityConfig = {
			securityJsCode: sysMainMation.skyeyeMapKey
		}
	</script>
   	<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.6&key=7e3eb4aa298949346daf89edeeb3dec8&plugin=AMap.DistrictSearch"></script>
	<script type="text/javascript" src="https://webapi.amap.com/demos/js/liteToolbar.js"></script>
   	<script type="text/javascript">
        layui.config({base: '../../js/sealWorker/'}).use('writeSealWorker');
    </script>
</body>
</html>