<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="margin:0 auto;padding:20px;">
	    <form class="layui-form" action="" id="showForm" autocomplete="off">
	    	
	    </form>
	</div>
	
	<script type="text/x-handlebars-template" id="showBaseTemplate">
		{{#bean}}
			<div class="layui-form-item layui-col-xs12">
				<span class="hr-title">基础信息</span><hr>
			</div>
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">名称<i class="red">*</i></label>
				<div class="layui-input-block">
					<input type="text" id="name" name="name" win-verify="required" placeholder="请输入名称" class="layui-input" maxlength="200" value="{{name}}"/>
				</div>
			</div>
			<div class="layui-form-item layui-col-xs6">
				<label class="layui-form-label">状态<i class="red">*</i></label>
				<div class="layui-input-block winui-radio" id="enabled">
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">月度清零<i class="red">*</i></label>
				<div class="layui-input-block winui-radio">
					<input type="radio" name="monthlyClearing" value="1" title="是" />
					<input type="radio" name="monthlyClearing" value="2" title="否" />
					<div class="layui-form-mid layui-word-aux" style="width: 100%">是否系统每月统计上月薪资时，该字段的薪资数据自动清零</div>
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">字段类型<i class="red">*</i></label>
				<div class="layui-input-block winui-radio">
					<input type="radio" name="wagesType" value="1" title="薪资增加" />
					<input type="radio" name="wagesType" value="2" title="薪资减少" />
					<div class="layui-form-mid layui-word-aux" style="width: 100%">该字段是用于薪资增加还是薪资减少，方便系统统计时进行判断。</div>
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<label class="layui-form-label">字段key：</label>
				<div class="layui-input-block ver-center" id="key">
					{{key}}
				</div>
			</div>
			<div class="layui-form-item layui-col-xs12">
				<div class="layui-input-block">
					<button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
					<button class="winui-btn" lay-submit lay-filter="formEditBean"><language showName="com.skyeye.save"></language></button>
				</div>
			</div>
		{{/bean}}
	</script>
	
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
		layui.config({base: '../../js/wagesFieldType/'}).use('wagesFieldTypeEdit');
	</script>
</body>
</html>