<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
    <div class="type-group">
        <form class="layui-form" action="" id="showForm" autocomplete="off" style="width: 200px">
            <select lay-filter="fieldType" lay-search="" id="fieldType" name="fieldType">
                <option value="1">自定义类型</option>
                <option value="2">系统类型</option>
            </select>
        </form>
    </div>
    <div class="winui-toolbar">
        <div class="winui-tool">
            <button id="reloadTable" class="winui-toolbtn search-table-btn-right"><i class="fa fa-refresh" aria-hidden="true"></i><language showName="com.skyeye.refreshDataBtn"></language></button>
        </div>
    </div>
    <div style="margin:auto 10px;">
		<table id="messageTable" lay-filter="messageTable"></table>
    </div>
    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/wagesFieldType/'}).use('wagesFieldTypeChoose');
    </script>
</body>
</html>