<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
		<ul class="layui-tab-title">
			<li class="layui-this">系统日志</li>
	    	<li>日志统计</li>
		</ul>
		<div class="layui-tab-content">
			<div class="layui-tab-item layui-show">
				<div class="txtcenter" style="margin:0 auto;padding-top:5px;">
					<form class="layui-form layui-form-pane" action="" autocomplete="off">
						<div class="layui-form-item">
				            <div class="layui-inline">
				                <label class="layui-form-label">操作人</label>
				                <div class="layui-input-inline">
				                    <input type="text" id="userName" name="userName" placeholder="请输入操作人账号" class="layui-input" />
				                </div>
				                <label class="layui-form-label">真实链接</label>
				                <div class="layui-input-inline">
				                    <input type="text" id="realPath" name="realPath" placeholder="请输入真实链接" class="layui-input" />
				                </div>
				                <button type="reset" class="layui-btn layui-btn-primary list-form-search"><language showName="com.skyeye.reset"></language></button>
				                <button class="layui-btn list-form-search" type="button" id="searchForm"><language showName="com.skyeye.search2"></language></button>
				            </div>
				        </div>
			        </form>
		        </div>
				<div style="margin:auto 10px;">
			        <table id="messageTable" lay-filter="messageTable"></table>
			    </div>
			</div>
			<div class="layui-tab-item">
				内容2
			</div>
		</div>
    </div> 
    
    <script src="../../assets/lib/layui/layui.js"></script>
    <script src="../../assets/lib/layui/custom.js"></script>
    <script type="text/javascript">
        layui.config({base: '../../js/sysworklog/'}).use('sysworkloglist');
    </script>
</body>
</html>