<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.codemodel.dao.CodeModelDao">
	
	<select id="queryCodeModelList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.model_name modelName,
			a.model_content modelContent,
			a.model_text modelText,
			a.model_type modelType,
			CONVERT(a.create_time, char) createTime,
			(SELECT COUNT(*) FROM code_model_history b WHERE b.model_id = a.id) useNum
		FROM
			code_model a
		WHERE a.group_id = #{groupId}
			ORDER BY a.create_time DESC
	</select>
	
	<select id="queryCodeModelMationByName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.model_name modelName
		FROM
			code_model a
		WHERE a.group_id = #{groupId}
			AND a.model_name = #{modelName}
	</select>
	
	<insert id="insertCodeModelMation" parameterType="java.util.Map">
	     INSERT into code_model 
	     (id, group_id, model_name, model_content, model_text, model_type, create_id, create_time)
	     VALUES
	     (#{id}, #{groupId}, #{modelName}, #{modelContent}, #{modelText}, #{modelType}, #{createId}, #{createTime})
	</insert>
	
	<delete id="deleteCodeModelById" parameterType="java.util.Map">
		DELETE
		FROM
			code_model
		WHERE
			id = #{id}
	</delete>
	
	<select id="queryCodeModelMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.model_name modelName,
			a.model_content modelContent,
			a.model_text modelText,
			a.model_type modelType
		FROM
			code_model a
		WHERE a.id = #{id}
	</select>
	
	<select id="queryCodeModelMationByIdAndName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.model_name modelName
		FROM
			code_model a
		WHERE a.id != #{id}
			AND a.group_id = #{groupId}
			AND a.model_name = #{modelName}
	</select>
	
	<update id="editCodeModelMationById" parameterType="java.util.Map">
		UPDATE code_model
		<set>
			<if test="modelName != '' and modelName != null">
				model_name = #{modelName},
			</if>
			<if test="modelContent != '' and modelContent != null">
				model_content = #{modelContent},
			</if>
			<if test="modelText != '' and modelText != null">
				model_text = #{modelText},
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
</mapper>