<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.codemodel.dao.CodeModelGroupDao">
	
	<select id="queryCodeModelGroupList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.group_name groupName,
			a.group_num groupNum,
			a.group_desc groupDesc,
			CONVERT(a.create_time, char) createTime,
			(SELECT COUNT(*) FROM code_model b WHERE b.group_id = a.id) modelNum
		FROM
			code_model_group a
		WHERE 1 = 1
			<if test="groupName != '' and groupName != null">
				AND a.group_name LIKE '%${groupName}%'
			</if>
			<if test="groupNum != '' and groupNum != null">
				AND a.group_num LIKE '%${groupNum}%'
			</if>
			ORDER BY a.create_time DESC
	</select>
	
	<select id="queryCodeModelGroupMationByName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.group_name groupName
		FROM
			code_model_group a
		WHERE a.group_name = #{groupName}
	</select>
	
	<insert id="insertCodeModelGroupMation" parameterType="java.util.Map">
	     INSERT into code_model_group 
	     (id, group_name, group_num, group_desc, create_id, create_time)
	     VALUES
	     (#{id}, #{groupName}, #{groupNum}, #{groupDesc}, #{createId}, #{createTime})
	</insert>
	
	<select id="queryCodeModelNumById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			COUNT(*) modelNum
		FROM 
			code_model b 
		WHERE 
			b.group_id = #{id} 
	</select>
	
	<delete id="deleteCodeModelGroupById" parameterType="java.util.Map">
		DELETE
		FROM
			code_model_group
		WHERE
			id = #{id}
	</delete>
	
	<select id="queryCodeModelGroupMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.group_name groupName,
			a.group_desc groupDesc
		FROM
			code_model_group a
		WHERE a.id = #{id}
	</select>
	
	<select id="queryCodeModelGroupMationByIdAndName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.group_name groupName
		FROM
			code_model_group a
		WHERE a.id != #{id}
			AND a.group_name = #{rmTypeName}
	</select>
	
	<update id="editCodeModelGroupMationById" parameterType="java.util.Map">
		UPDATE code_model_group
		<set>
			<if test="groupName != '' and groupName != null">
				group_name = #{groupName},
			</if>
			<if test="groupDesc != '' and groupDesc != null">
				group_desc = #{groupDesc},
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
</mapper>