<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.company.dao.CompanyDepartmentDao">
	
	<select id="queryCompanyDepartmentList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.department_name departmentName,
			a.department_desc departmentDesc,
			(SELECT COUNT(*) FROM company_user b WHERE b.department_id = a.id) userNum,
			CONVERT(a.create_time, char) createTime
		FROM
			company_department a
		WHERE a.company_id = #{companyId}
			ORDER BY a.create_time DESC
	</select>
	
	<select id="queryCompanyDepartmentMationByName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.department_name departmentName
		FROM
			company_department a
		WHERE 
			a.company_id = #{companyId}
			AND a.department_name = #{departmentName}
	</select>
	
	<insert id="insertCompanyDepartmentMation" parameterType="java.util.Map">
	     INSERT into  
	     (id, company_id, department_name, department_desc, p_id, create_id, create_time)
	     VALUES
	     (#{id}, #{companyId}, #{departmentName}, #{departmentDesc}, #{pId}, #{createId}, #{createTime})
	</insert>
	
	<select id="queryCompanyDepartmentUserMationById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			COUNT(*) childsNum
		FROM
			company_user b 
		WHERE b.department_id = #{id}
	</select>
	
	<delete id="deleteCompanyDepartmentMationById" parameterType="java.util.Map">
		DELETE
		FROM
			company_department
		WHERE
			id = #{id}
	</delete>
	
	<select id="queryCompanyDepartmentMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.department_name departmentName,
			a.department_desc departmentDesc
		FROM
			company_department a
		WHERE a.id = #{id}
	</select>
	
	<select id="queryCompanyDepartmentMationByNameAndId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.department_name departmentName
		FROM
			company_department a
		WHERE 
			a.company_id = #{companyId}
			AND a.department_name = #{departmentName}
			AND a.id != #{id}
	</select>
	
	<update id="editCompanyDepartmentMationById" parameterType="java.util.Map">
		UPDATE company_department
		<set>
			<if test="departmentName != '' and departmentName != null">
				department_name = #{departmentName},
			</if>
			department_desc = #{departmentDesc},
		</set>
		WHERE id = #{id}
	</update>
	
</mapper>