<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.company.dao.CompanyMatonDao">
	
	<select id="queryCompanyMatonList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			CONVERT(a.create_time, char) createTime
		FROM
			
		WHERE 
			ORDER BY a.create_time DESC
	</select>
	
	<select id="queryCompanyMatonMationByName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id
		FROM
			
		WHERE 
	</select>
	
	<insert id="insertCompanyMatonMation" parameterType="java.util.Map">
	     INSERT into  
	     (id, create_id, create_time)
	     VALUES
	     (#{id}, #{createId}, #{createTime})
	</insert>
	
	<delete id="deleteCompanyMatonMationById" parameterType="java.util.Map">
		DELETE
		FROM
			
		WHERE
			id = #{id}
	</delete>
	
	<select id="queryCompanyMatonMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id
		FROM
			
		WHERE a.id = #{id}
	</select>
	
	<select id="queryCompanyMatonMationByNameAndId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id
		FROM
			
		WHERE a.id != #{id}
	</select>
	
	<update id="editCompanyMatonMationById" parameterType="java.util.Map">
		UPDATE 
		<set>
			
		</set>
		WHERE id = #{id}
	</update>
	
</mapper>