<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.smprogram.dao.RmPropertyDao">
	
	<select id="queryRmPropertyList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			a.property_tag propertyTag,
			CASE a.property_out WHEN '1' THEN '是' WHEN '2' THEN '否' ELSE '否' END propertyOut,
			b.`name` contentName,
			a.html_content htmlContent,
			a.js_content jsContent,
			a.js_rely_on jsRelyOn,
			a.property_unit propertyUnit,
			(SELECT COUNT(*) FROM rm_property_value c WHERE c.property_id = a.id) propertyValueNum,
			(SELECT COUNT(*) FROM rm_group_member_property d WHERE d.property_id = a.id) useNum,
			CASE a.wether_sel_child_data WHEN '1' THEN '是' WHEN '2' THEN '否' ELSE '否' END selChildData,
			CONVERT(a.create_time, char) createTime
		FROM
			rm_property a
			LEFT JOIN ds_form_content b ON a.ds_form_content_id = b.id
		WHERE 1 = 1
			<if test="title != '' and title != null">
				AND a.title LIKE '%${title}%'
			</if>
			<if test="propertyTag != '' and propertyTag != null">
				AND a.property_tag LIKE '%${propertyTag}%'
			</if>
			<if test="dsFormContentId != '' and dsFormContentId != null">
				AND a.ds_form_content_id = #{dsFormContentId}
			</if>
			ORDER BY a.create_time DESC
	</select>
	
	<select id="queryRmPropertyMationByName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			a.property_tag propertyTag
		FROM
			rm_property a
		WHERE 
			a.title = #{title}
	</select>
	
	<insert id="insertRmPropertyMation" parameterType="java.util.Map">
	     INSERT into rm_property
	     (id, title, property_tag, property_out, property_unit, ds_form_content_id, html_content, js_content, js_rely_on, wether_sel_child_data, create_id, create_time)
	     VALUES
	     (#{id}, #{title}, #{propertyTag}, #{propertyOut}, #{propertyUnit}, #{dsFormContentId}, #{htmlContent}, #{jsContent}, #{jsRelyOn}, #{selChildData}, #{createId}, #{createTime})
	</insert>
	
	<select id="queryRmPropertyValueNumById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			COUNT(*) propertyValueNum
		FROM 
			rm_property_value a 
		WHERE a.property_id = #{id}
	</select>
	
	<select id="queryUseRmPropertyNumById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			COUNT(*) usePropertyNum
		FROM 
			rm_group_member_property a 
		WHERE a.property_id = #{id}
	</select>
	
	<delete id="deleteRmPropertyMationById" parameterType="java.util.Map">
		DELETE
		FROM
			rm_property
		WHERE
			id = #{id}
	</delete>
	
	<select id="queryRmPropertyMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			a.property_tag propertyTag,
			a.property_out propertyOut,
			a.ds_form_content_id dsFormContentId,
			a.html_content htmlContent,
			a.js_content jsContent,
			a.js_rely_on jsRelyOn,
			a.property_unit propertyUnit,
			b.html_content htmlModelContent,
			b.js_content jsModelContent,
			a.wether_sel_child_data selChildData
		FROM
			rm_property a
			LEFT JOIN ds_form_content b ON a.ds_form_content_id = b.id
		WHERE a.id = #{id}
	</select>
	
	<select id="queryRmPropertyMationByNameAndId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			a.property_tag propertyTag
		FROM
			rm_property a
		WHERE a.id != #{id}
			AND a.title = #{title}
	</select>
	
	<update id="editRmPropertyMationById" parameterType="java.util.Map">
		UPDATE rm_property
		<set>
			<if test="title != '' and title != null">
				title = #{title},
			</if>
			<if test="propertyTag != '' and propertyTag != null">
				property_tag = #{propertyTag},
			</if>
			<if test="propertyOut != '' and propertyOut != null">
				property_out = #{propertyOut},
			</if>
			<if test="dsFormContentId != '' and dsFormContentId != null">
				ds_form_content_id = #{dsFormContentId},
			</if>
			<if test="htmlContent != '' and htmlContent != null">
				html_content = #{htmlContent},
			</if>
			<if test="selChildData != '' and selChildData != null">
				wether_sel_child_data = #{selChildData},
			</if>
			js_content = #{jsContent},
			js_rely_on = #{jsRelyOn},
			property_unit = #{propertyUnit},
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="queryRmPropertyListToShow" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			CONCAT(a.title, '-->', a.property_tag) name
		FROM
			rm_property a
	</select>
	
</mapper>