<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.smprogram.dao.RmTypeDao">
	
	<select id="queryRmTypeList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.name rmTypeName,
			(SELECT COUNT(*) FROM rm_group b WHERE b.rm_type_id = a.id) groupNum,
			CONVERT(a.create_time, char) createTime
		FROM
			rm_type a
		WHERE 1 = 1
			<if test="rmTypeName != '' and rmTypeName != null">
				AND a.name LIKE '%${rmTypeName}%'
			</if>
			ORDER BY a.sort DESC, a.create_time DESC
	</select>
	
	<select id="queryRmTypeByName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.name rmTypeName
		FROM
			rm_type a
		WHERE a.name = #{rmTypeName}
	</select>
	
	<select id="queryRmTypeISTop" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.name rmTypeName,
			a.sort
		FROM
			rm_type a
		ORDER BY a.sort DESC LIMIT 1
	</select>
	
	<insert id="insertRmTypeMation" parameterType="java.util.Map">
	     INSERT into rm_type 
	     (id, name, create_id, create_time, sort)
	     VALUES
	     (#{id}, #{rmTypeName}, #{createId}, #{createTime}, #{sort})
	</insert>
	
	<select id="queryRmTypeGroupNumById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			COUNT(*) groupNum
		FROM 
			rm_group b 
		WHERE 
			b.rm_type_id = #{id} 
	</select>
	
	<delete id="deleteRmTypeById" parameterType="java.util.Map">
		DELETE
		FROM
			rm_type
		WHERE
			id = #{id}
	</delete>
	
	<select id="queryRmTypeMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.name rmTypeName
		FROM
			rm_type a
		WHERE a.id = #{id}
	</select>
	
	<select id="queryRmTypeMationByIdAndName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.name rmTypeName
		FROM
			rm_type a
		WHERE a.id != #{id}
			AND a.name = #{rmTypeName}
	</select>
	
	<update id="editRmTypeMationById" parameterType="java.util.Map">
		UPDATE rm_type
		<set>
			<if test="rmTypeName != '' and rmTypeName != null">
				name = #{rmTypeName},
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="queryRmTypeISTopByThisId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.name rmTypeName,
			a.sort,
			b.sort thisSort
		FROM
			rm_type a,
			rm_type b
		WHERE a.sort > b.sort
			AND b.id = #{id}
		ORDER BY a.sort ASC LIMIT 1
	</select>
	
	<update id="editRmTypeSortTopById" parameterType="java.util.Map">
		UPDATE rm_type
		<set>
			<if test="sort != '' and sort != null">
				sort = #{sort},
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="queryRmTypeISLowerByThisId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.name rmTypeName,
			a.sort,
			b.sort thisSort
		FROM
			rm_type a,
			rm_type b
		WHERE a.sort &lt; b.sort
			AND b.id = #{id}
		ORDER BY a.sort DESC LIMIT 1
	</select>
	
</mapper>