<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.authority.dao.SysEveRoleDao">
	
	<select id="querySysRoleList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.role_name roleName,
			a.role_desc roleDesc,
			CONVERT(a.create_time, char) createTime,
			IFNULL((SELECT b.role_name FROM sys_eve_role b WHERE a.role_parent_id = b.id), '主角色') parentName
		FROM
			sys_eve_role a
		WHERE 1 = 1
		<if test="roleName != '' and roleName != null">
			AND a.role_name LIKE '%${roleName}%'
		</if>
		<if test="parentId != '' and parentId != null and parentId != '0'.toString()">
			AND role_parent_id = #{parentId}
		</if>
		ORDER BY a.create_time DESC
	</select>
	
	<select id="querySysRoleBandMenuList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.menu_name name,
			a.menu_parent_id pId,
			'true' isParent,
			(a.menu_level + 1) type,
			'true' open
		FROM
			sys_eve_menu a
	</select>
	
	<select id="querySysRoleNameByName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.role_name roleName
		FROM
			sys_eve_role a
		WHERE
			a.role_name = #{roleName}
	</select>
	
	<insert id="insertSysRoleMation" parameterType="java.util.Map">
	     insert into sys_eve_role 
	     (id, role_name, role_desc, role_parent_id, creater, create_time)
	     values(#{id}, #{roleName}, #{roleDesc}, '', #{createId}, #{createTime})
	</insert>
	
	<insert id="insertSysRoleMenuMation" parameterType="java.util.Map">
	     insert into sys_eve_role_menu
	     (id, role_id, menu_id, creater, create_time)
	     values
		<foreach collection="list" item="item" index="index" separator="," >  
			(#{item.id}, #{item.roleId}, #{item.menuId}, #{item.createId}, #{item.createTime})  
		</foreach>  
	</insert>
	
	<select id="querySysRoleMationByRoleId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.role_name roleName,
			a.role_desc roleDesc
		FROM
			sys_eve_role a
		WHERE
			a.id = #{id}
	</select>
	
	<select id="querySysRoleMenuIdByRoleId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.menu_id menuId
		FROM
			sys_eve_role_menu a
		WHERE
			a.role_id = #{id}
	</select>
	
	<select id="queryRoleNameByIdAndName" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.role_name roleName,
			a.role_desc roleDesc
		FROM
			sys_eve_role a
		WHERE
			a.id != #{id}
		AND a.role_name = #{roleName}
	</select>
	
	<update id="editSysRoleMationById" parameterType="java.util.Map">
		UPDATE sys_eve_role
		<set>
			role_name = #{roleName},
			role_desc = #{roleDesc},
		</set>
		WHERE id = #{id}
	</update>
	
	<delete id="deleteRoleMenuByRoleId" parameterType="java.util.Map">
		DELETE
		FROM
			sys_eve_role_menu
		WHERE
			role_id = #{id}
	</delete>
	
	<delete id="deleteRoleByRoleId" parameterType="java.util.Map">
		DELETE
		FROM
			sys_eve_role
		WHERE
			id = #{id}
	</delete>
	
	<select id="queryUserRoleByRoleId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			IFNULL(COUNT(*), 0) num
		FROM
			sys_eve_user a
		WHERE
			INSTR(CONCAT(',', #{id}, ','), CONCAT(',', a.role_id, ','))
	</select>
	
</mapper>