<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.authority.dao.SysEveMenuDao">
	
	<select id="querySysMenuList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.menu_name menuName,
			a.menu_icon menuIcon,
			a.title_name titleName,
			a.menu_level menuLevel,
			a.menu_type menuType,
			a.menu_sys_type menuSysType,
			a.menu_parent_id parentId,
			a.menu_url menuUrl,
			CONVERT(a.create_time, char) createTime
		FROM
			sys_eve_menu a
			LEFT JOIN sys_eve_user b ON a.creater = a.id
		WHERE 1=1
		<if test="menuName != '' and menuName != null">
			AND a.menu_name LIKE '%${menuName}%'
		</if>
		<if test="menuUrl != '' and menuUrl != null">
			AND a.menu_url LIKE '%${menuUrl}%'
		</if>
		ORDER BY a.create_time DESC
	</select>
	
	<insert id="insertSysMenuMation" parameterType="java.util.Map">
	     INSERT into sys_eve_menu 
	     (id, menu_name, title_name, menu_icon, menu_url, menu_type, menu_sys_type, menu_parent_id, menu_level, open_type, creater, create_time)
	     VALUES
	     (#{id}, #{menuName}, #{titleName}, #{menuIcon}, #{menuUrl}, #{menuType}, #{menuSysType}, #{parentId}, #{menuLevel}, #{openType}, #{createId}, #{createTime})
	</insert>
	
</mapper>