<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.authority.dao.SysEveUserDao">
	
	<select id="querySysUserList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.user_code userCode,
			a.pwd_num_enc pwdNumEnc,
			a.user_name userName,
			a.user_photo userPhoto,
			a.user_idcard userIdCard,
			a.user_sex sexName,
			a.user_lock userLock,
			(SELECT c.user_name FROM sys_eve_user c WHERE a.creater = c.id) createName,
			(SELECT group_concat(distinct b.name) FROM sys_eve_role b WHERE INSTR(CONCAT(',', a.role_id, ','), CONCAT(',', b.id, ','))) roleName,
			CONVERT(a.create_time, char) createTime
		FROM
			sys_eve_user a
		WHERE 1 = 1
		<if test="userCode != '' and userCode != null">
			AND a.user_code like '%${userCode}%'
		</if>
		<if test="userName != '' and userName != null">
			AND a.user_name like '%${userName}%'
		</if>
		ORDER BY a.create_time DESC
	</select>
	
	<select id="querySysUserLockStateById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.user_lock userLock
		FROM
			sys_eve_user a
		WHERE a.id = #{id}
	</select>
	
	<update id="editSysUserLockStateToLockById" parameterType="java.util.Map">
		UPDATE sys_eve_user
		<set>
			user_lock = #{userLock}
		</set>
		WHERE id = #{id}
	</update>
	
	<update id="editSysUserLockStateToUnLockById" parameterType="java.util.Map">
		UPDATE sys_eve_user
		<set>
			user_lock = #{userLock}
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="querySysUserMationToEditById" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.user_code userCode,
			a.pwd_num_enc pwdNumEnc,
			a.user_name userName,
			a.user_photo userPhoto,
			a.user_idcard userIdCard,
			a.user_sex userSex
		FROM
			sys_eve_user a
		WHERE a.id = #{id}
	</select>
	
	<update id="editSysUserMationById" parameterType="java.util.Map">
		UPDATE sys_eve_user
		<set>
			user_name = #{userName},
			user_idcard = #{userIdCard},
			user_sex = #{userSex},
			<if test="userPhoto != '' and userPhoto != null">
				user_photo = #{userPhoto},
			</if>
		</set>
		WHERE id = #{id}
	</update>
	
</mapper>