<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.authority.dao.SysMonitorDao">
	
	<insert id="insertMonitorMation" parameterType="java.util.Map">
	     INSERT into sys_eve_monitor 
	     (id, total_memory, free_memory, max_memory, os_name, total_memory_size, free_physical_memory_size, used_memory, total_thread, cpu_ratio, create_time)
	     VALUES
	     (#{id}, #{totalMemory}, #{freeMemory}, #{maxMemory}, #{osName}, #{totalMemorySize}, #{freePhysicalMemorySize}, #{usedMemory}, #{totalThread}, #{cpuRatio}, #{createTime})
	</insert>
	
	<select id="queryMonitorInfoMationList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.total_memory totalMemory,
			a.free_memory freeMemory,
			a.max_memory maxMemory,
			a.os_name osName,
			a.total_memory_size totalMemorySize,
			a.free_physical_memory_size freePhysicalMemorySize,
			a.used_memory usedMemory,
			a.total_thread totalThread,
			a.cpu_ratio cpuRatio,
			CONVERT(a.create_time, char) createTime
		FROM
			sys_eve_monitor a
		ORDER BY a.create_time DESC
		LIMIT 50
	</select>
	
	<delete id="deleteMonitorSaveFiveHandlber" parameterType="java.util.Map">
		DELETE a
		FROM
			sys_eve_monitor a
		LEFT JOIN (
			SELECT
				b.id
			FROM
				sys_eve_monitor b
			ORDER BY
				b.create_time DESC
			LIMIT 500
		) t1 ON a.id = t1.id
		WHERE
			t1.id IS NULL
	</delete>
	
</mapper>