<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.usercase.dao.AutoCaseDao">

    <select id="queryAutoCaseList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.name,
            a.remark,
            a.object_id objectId,
            a.object_key objectKey,
            a.module_id moduleId,
            a.result_key resultKey,
            a.create_id createId,
            CONVERT(a.create_time, char) createTime,
            a.last_update_id lastUpdateId,
            CONVERT(a.last_update_time, char) lastUpdateTime
        FROM
            auto_case a
        <where>
            a.object_id = #{objectId}
            AND a.object_key = #{objectKey}
            <if test="tenantId != '' and tenantId != null">
                AND a.tenant_id = #{tenantId}
            </if>
            <if test="moduleId != null and moduleId != ''">
                AND a.module_id = #{moduleId}
            </if>
            <if test="sqlExtract != '' and sqlExtract != null">
                ${sqlExtract}
            </if>
            <if test="keyword != '' and keyword != null">
                AND a.`name` like '%${keyword}%'
            </if>
        </where>
        ORDER BY a.create_time DESC
    </select>

</mapper>