<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.ApiModelDao">

    <select id="queryApiModelList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.name `name`
        FROM
            api_model  a
        WHERE
            1 = 1
        <if test="name != '' and name != null">
            AND a.name LIKE '%${name}%'
        </if>
        ORDER BY a.last_update_time DESC
    </select>

    <select id="queryApiModelMationByName" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id
        FROM
            api_model a
        WHERE
            a.name = #{name}
        <if test="id != '' and id != null">
            AND a.id != #{id}
        </if>
    </select>

    <insert id="insertApiModel" parameterType="java.util.Map">
        INSERT INTO api_model
            (id, `name`, create_id, create_time, last_update_id, last_update_time)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.name}, #{item.userId}, #{item.createTime}, #{item.userId}, #{item.createTime})
        </foreach>
    </insert>

    <select id="queryApiModelToEditById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            a.id,
            a.name `name`
        FROM
            api_model  a
        WHERE
            a.id = #{id}
    </select>

    <update id="editApiModelById" parameterType="java.util.Map">
        UPDATE api_model 
        <set>
            `name` = #{name},
            last_update_id = #{userId},
            last_update_time = #{lastUpdateTime}
        </set>
        WHERE
            id = #{id}
    </update>

    <delete id="deleteApiModelById" parameterType="java.util.Map">
        DELETE
		FROM
			api_model
		WHERE
			id = #{id}
    </delete>

</mapper>