<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div class="winui-toolbar">
	    <div class="winui-tool">
	        <button id="reloadTable" class="winui-toolbtn search-table-btn-right"><i class="fa fa-refresh" aria-hidden="true"></i><language showName="com.skyeye.refreshDataBtn"></language></button>
	        <button id="addBean" class="winui-toolbtn search-table-btn-right" auth="1571638020191"><i class="fa fa-plus" aria-hidden="true"></i><language showName="com.skyeye.addBtn"></language></button>
	    </div>
	</div>
	<div style="margin: auto 10px; height: calc(100% - 50px);">
		<div style="width: 200px; float: left; height: 100%; overflow-y: auto;" id="ifsOrderType">

		</div>
		<div style="width: calc(100% - 200px); float: left;">
			<div style="margin:auto 10px;">
				<table id="messageTable" lay-filter="messageTable"></table>
			</div>
		</div>
	</div>

	<script type="text/html" id="tableBar">
		<!-- 单据提交类型  1.走工作流提交  2.直接提交-->
		{{# if(d.submitType == 1){ }}
			{{# if(d.editRow == '1'){ }}
				{{# if(auth('1642323133958')){ }}
					<a class="layui-btn layui-btn-xs" lay-event="subExamine">提交审核</a>
				{{# } }}
				{{# if(auth('1571638039187')){ }}
					<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete"><language showName="com.skyeye.deleteBtn"></language></a>
				{{# } }}
			{{# } }}
			{{# if(d.editRow == '1' || d.editRow == '2'){ }}
				{{# if(auth('1571638030608')){ }}
					<a class="layui-btn layui-btn-xs" lay-event="edit"><language showName="com.skyeye.editBtn"></language></a>
				{{# } }}
			{{# } }}
			{{# if(d.editRow == '2'){ }}
				{{# if(auth('1642323144571')){ }}
					<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="revoke">撤销</a>
				{{# } }}
			{{# } }}
		{{# } else if(d.submitType == 2) { }}
			{{# if(d.state == 0){ }}
				{{# if(auth('1571638030608')){ }}
					<a class="layui-btn layui-btn-xs" lay-event="edit"><language showName="com.skyeye.editBtn"></language></a>
				{{# } }}
				{{# if(auth('1571638039187')){ }}
					<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete"><language showName="com.skyeye.deleteBtn"></language></a>
				{{# } }}
				{{# if(auth('1642323133958')){ }}
					<a class="layui-btn layui-btn-xs" lay-event="submitToSave">提交</a>
				{{# } }}
			{{# } }}
		{{# } }}
	</script>

	<script src="../../assets/lib/layui/layui.js"></script>
	<script src="../../assets/lib/layui/custom.js"></script>
	<script type="text/javascript">
	    layui.config({base: '../../js/income/'}).use('incomeList');
	</script>
</body>
</html>