<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="margin: 0 auto; padding: 20px;">
	    <form class="layui-form" action="" id="showForm">
	    	
	    </form>
	</div>
	
	<!-- 数据展示模板 -->
	<script type="text/x-handlebars-template" id="beanTemplate">
	{{#bean}}
		<div class="layui-form-item layui-col-xs12">
	        <label class="layui-form-label">主题：</label>
	        <div class="layui-input-block ver-center">
	            {{title}}
	        </div>
	    </div>
	    <div class="layui-form-item layui-col-xs6">
	        <label class="layui-form-label">填报人：</label>
	        <div class="layui-input-block ver-center">
	            {{userName}}
	        </div>
	    </div>
	    <div class="layui-form-item layui-col-xs6">
	        <label class="layui-form-label">日期类型：</label>
            <div class="layui-input-block ver-center">
	            {{workLoadType}}
	        </div>
	    </div>
	    <div class="layui-form-item layui-col-xs6">
	        <label class="layui-form-label">所属项目：</label>
	        <div class="layui-input-block ver-center">
	            {{projectName}}
	        </div>
	    </div>
	    <div class="layui-form-item layui-col-xs6">
	        <label class="layui-form-label">项目编号：</label>
	        <div class="layui-input-block ver-center">
	            {{projectNumber}}
	        </div>
	    </div>
	    <div class="layui-form-item layui-col-xs12">
	        <label class="layui-form-label">任务：</label>
	        <div class="layui-input-block">
	            <table class="layui-table">
	                <thead>
	                    <tr>
	                        <th style="width: 180px;" rowspan="2">填报人相关任务</th>
	                        <th style="width: 150px;" rowspan="2">任务执行人</th>
	                        <th style="width: 70px;">周一</th>
	                        <th style="width: 70px;">周二</th>
	                        <th style="width: 70px;">周三</th>
	                        <th style="width: 70px;">周四</th>
	                        <th style="width: 70px;">周五</th>
	                        <th style="width: 70px;">周六</th>
	                        <th style="width: 70px;">周日</th>
	                        <th style="width: 70px;" rowspan="2">小计</th>
	                    </tr>
	                    <tr id="dataTr">
	                        <th id="monTh"></th>
	                        <th id="tuesTh"></th>
	                        <th id="wedTh"></th>
	                        <th id="thurTh"></th>
	                        <th id="friTh"></th>
	                        <th id="satuTh"></th>
	                        <th id="sunTh"></th>
	                    </tr>
	                </thead>
	                <tbody id="useTable" class="insurance-table">
					{{#each tasks}}
						<td>{{taskContent}}</td>
						<td>{{executePeople}}</td>
						<td>{{monAmount}}</td>
						<td>{{tuesAmount}}</td>
						<td>{{wedAmount}}</td>
						<td>{{thurAmount}}</td>
						<td>{{friAmount}}</td>
						<td>{{satuAmount}}</td>
						<td>{{sunAmount}}</td>
						<td>{{allWorkLoad}}</td>
					{{/each}}
	                </tbody>
				</table>
	        </div>
	    </div>
	    <div class="layui-form-item layui-col-xs4" style="margin-left: 60%;">
	        <label class="layui-form-label">合计：</label>
	        <div class="layui-input-block ver-center" id="thisRowLoad">
	            {{allworkload}}
	        </div>
	    </div>
	    <div class="layui-form-item layui-col-xs12">
	        <label class="layui-form-label">附加描述：</label>
	        <div class="layui-input-block ver-center">
	        	{{remark}}
	        </div>
	    </div>
	    <div class="layui-form-item layui-col-xs12">
	        <label class="layui-form-label">附件：</label>
	        <div class="layui-input-block ver-center" id="enclosureUploadBox">
	        </div>
	    </div>
	{{/bean}}
	</script>
	
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
		layui.config({base: '../../js/proworkload/'}).use('proworkloaddetails');
	</script>
</body>
</html>