<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="margin: 0 auto; padding: 20px;">
	    <form class="layui-form" action="" id="showForm">
	    	<div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">主题<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <input type="text" id="title" name="title" win-verify="required" placeholder="请输入主题" class="layui-input"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">填报人<i class="red">*</i></label>
		        <div class="layui-input-block ver-center" id="writePeople">
		            
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">日期类型<i class="red">*</i></label>
	            <div class="layui-input-block winui-radio">
		            <input type="radio" name="workLoadType" lay-filter="workLoadType" value="1" title="上一周"/>
		            <input type="radio" name="workLoadType" lay-filter="workLoadType" value="2" title="本周"/>
		            <input type="radio" name="workLoadType" lay-filter="workLoadType" value="3" title="下一周"/>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">所属项目<i class="red">*</i></label>
		        <div class="layui-input-block">
		            <select id="proId" lay-filter="proIdProperty" lay-search win-verify="required">
		            </select>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">项目编号<i class="red">*</i></label>
		        <div class="layui-input-block ver-center" id="projectNumber">
		            
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">任务<i class="red">*</i></label>
		        <div class="layui-input-block">
		        	<div class="winui-toolbar">
				        <div class="winui-tool" style="text-align: left;">
				            <button id="addRow" class="winui-toolbtn" type="button"><i class="fa fa-plus" aria-hidden="true"></i>新增行</button>
				            <button id="deleteRow" class="winui-toolbtn" type="button"><i class="fa fa-trash-o" aria-hidden="true"></i>删除行</button>
				        </div>
				    </div>
		            <table class="layui-table">
		                <thead>
		                    <tr>
		                    	<th style="width: 30px;" rowspan="2"></th>
		                        <th style="width: 180px;" rowspan="2">填报人相关任务</th>
		                        <th style="width: 150px;" rowspan="2">任务执行人</th>
		                        <th style="width: 70px;">周一</th>
		                        <th style="width: 70px;">周二</th>
		                        <th style="width: 70px;">周三</th>
		                        <th style="width: 70px;">周四</th>
		                        <th style="width: 70px;">周五</th>
		                        <th style="width: 70px;">周六</th>
		                        <th style="width: 70px;">周日</th>
		                        <th style="width: 70px;" rowspan="2">小计</th>
		                    </tr>
		                    <tr id="dataTr">
		                        <th id="monTh"></th>
		                        <th id="tuesTh"></th>
		                        <th id="wedTh"></th>
		                        <th id="thurTh"></th>
		                        <th id="friTh"></th>
		                        <th id="satuTh"></th>
		                        <th id="sunTh"></th>
		                    </tr>
		                </thead>
		                <tbody id="useTable" class="insurance-table">
		                </tbody>
					</table>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs4" style="margin-left: 60%;">
		        <label class="layui-form-label">合计</label>
		        <div class="layui-input-block ver-center" id="thisRowLoad">
		            0
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">附加描述</label>
		        <div class="layui-input-block">
		        	<textarea id="desc" name="desc" placeholder="请输入附加描述" class="layui-textarea" style="height: 100px;" maxlength="200"></textarea>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">附件</label>
				<div class="layui-input-block" id="enclosureUpload">
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <div class="layui-input-block">
		            <button class="winui-btn" id="cancle"><language showName="com.skyeye.cancel"></language></button>
		            <button class="winui-btn typeOne layui-hide" lay-submit lay-filter="formEditBean">保存为草稿</button>
		            <button class="winui-btn typeOne layui-hide" lay-submit lay-filter="formSubBean">提交审批</button>
		            <button class="winui-btn typeTwo layui-hide" lay-submit lay-filter="subBean"><language showName="com.skyeye.save"></language></button>
		        </div>
		    </div>
	    </form>
	</div>
	
	<!-- usetableTemplate -->
	<script type="text/x-handlebars-template" id="usetableTemplate">
		<tr trcusid="{{trId}}">
			<td><input type="checkbox" rowId="{{id}}" lay-filter="checkboxProperty" name="tableCheckRow"/></td>
			<td><select id="{{content}}" lay-search win-verify="required"></select></td>
			<td><input type="text" id="{{execute}}" win-verify="required" placeholder="多个执行人逗号隔开" class="layui-input" maxlength="200"/></td>
			<td><input type="number" id="{{mon}}" win-verify="number" placeholder="请输入工作量" class="layui-input wkLoad" value="0"/></td>
			<td><input type="number" id="{{tues}}" win-verify="number" placeholder="请输入工作量" class="layui-input wkLoad" value="0"/></td>
			<td><input type="number" id="{{wed}}" win-verify="number" placeholder="请输入工作量" class="layui-input wkLoad" value="0"/></td>
			<td><input type="number" id="{{thur}}" win-verify="number" placeholder="请输入工作量" class="layui-input wkLoad" value="0"/></td>
			<td><input type="number" id="{{fri}}" win-verify="number" placeholder="请输入工作量" class="layui-input wkLoad" value="0"/></td>
			<td><input type="number" id="{{satu}}" win-verify="number" placeholder="请输入工作量" class="layui-input wkLoad" value="0"/></td>
			<td><input type="number" id="{{sun}}" win-verify="number" placeholder="请输入工作量" class="layui-input wkLoad" value="0"/></td>
			<td id="{{allload}}">0</td>
		</tr>
	</script>
	
	<!-- 回显时使用的模板 -->
	<script type="text/x-handlebars-template" id="showTemplate">
		<tr trcusid="{{trId}}">
			<td><input type="checkbox" rowId="{{id}}" lay-filter="checkboxProperty" name="tableCheckRow"/></td>
			<td><select id="{{content}}" lay-search win-verify="required"></select></td>
			<td><input type="text" id="{{execute}}" win-verify="required" placeholder="多个执行人逗号隔开" class="layui-input" maxlength="200" value="{{executeContent}}"/></td>
			<td><input type="number" id="{{mon}}" win-verify="number" placeholder="请输入工作量" class="layui-input wkLoad" value="{{monContent}}"/></td>
			<td><input type="number" id="{{tues}}" win-verify="number" placeholder="请输入工作量" class="layui-input wkLoad" value="{{tuesContent}}"/></td>
			<td><input type="number" id="{{wed}}" win-verify="number" placeholder="请输入工作量" class="layui-input wkLoad" value="{{wedContent}}"/></td>
			<td><input type="number" id="{{thur}}" win-verify="number" placeholder="请输入工作量" class="layui-input wkLoad" value="{{thurContent}}"/></td>
			<td><input type="number" id="{{fri}}" win-verify="number" placeholder="请输入工作量" class="layui-input wkLoad" value="{{friContent}}"/></td>
			<td><input type="number" id="{{satu}}" win-verify="number" placeholder="请输入工作量" class="layui-input wkLoad" value="{{satuContent}}"/></td>
			<td><input type="number" id="{{sun}}" win-verify="number" placeholder="请输入工作量" class="layui-input wkLoad" value="{{sunContent}}"/></td>
			<td id="{{allload}}">{{allloadContent}}</td>
		</tr>
	</script>
	
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
		layui.config({base: '../../js/proworkload/'}).use('proworkloadedit');
	</script>
</body>
</html>