<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div style="margin:0 auto;padding:20px;">
	    <form class="layui-form" action="" id="showForm">
		    
	    </form>
	</div>
	
	<!-- useTemplate -->
	<script type="text/x-handlebars-template" id="useTemplate">
		{{#bean}}
			<div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">名称：</label>
		        <div class="layui-input-block ver-center">
		            {{taskName}}
		        </div>
		    </div>
			<div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">类型：</label>
		        <div class="layui-input-block ver-center">
		            {{taskTypeName}}
		        </div>
		    </div>
			<div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">所属项目：</label>
		        <div class="layui-input-block ver-center">
		            {{{projectName}}}
		        </div>
		    </div>
			<div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">所属部门：</label>
		        <div class="layui-input-block ver-center">
		            {{{departments}}}
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">创建人：</label>
		        <div class="layui-input-block ver-center">
		            {{createId}}
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">创建时间：</label>
		        <div class="layui-input-block ver-center">
		            {{createTime}}
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">开始时间：</label>
		        <div class="layui-input-block ver-center">
		            {{startTime}}
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">结束时间：</label>
		        <div class="layui-input-block ver-center">
		            {{endTime}}
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">执行人：</label>
		        <div class="layui-input-block ver-center">
		        	{{performId}}
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs6">
		        <label class="layui-form-label">预估工作量：</label>
		        <div class="layui-input-block ver-center">
		        	{{estimatedWorkload}}
		        </div>
		    </div>
			<div class="actual layui-hide">
				<div class="layui-form-item layui-col-xs12">
					<label class="layui-form-label">实际工作量：</label>
					<div class="layui-input-block ver-center">
						{{{actualWorkload}}}
					</div>
				</div>
			</div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">任务说明：</label>
		        <div class="layui-input-block">
					<iframe id="taskInstructionsShowBox" style="width: 100%; border: 0px;" scrolling="no"></iframe>
		        </div>
		    </div>
		    <div class="layui-form-item layui-col-xs12">
		        <label class="layui-form-label">附件：</label>
		        <div class="layui-input-block ver-center" id="enclosureUploadBtn">
		            
		        </div>
		    </div>
			<div class="actual layui-hide">
				<div class="layui-form-item layui-col-xs12">
					<label class="layui-form-label">执行结果：</label>
					<div class="layui-input-block">
						<iframe id="executionResultShowBox" style="width: 100%; border: 0px;" scrolling="no"></iframe>
					</div>
				</div>
				<div class="layui-form-item layui-col-xs12">
					<label class="layui-form-label">附件：</label>
					<div class="layui-input-block ver-center" id="executionEnclosureUploadBtn">
						
					</div>
				</div>
		    </div>
		{{/bean}}
	</script>
	
	<script src="../../assets/lib/layui/layui.js"></script>
   	<script src="../../assets/lib/layui/custom.js"></script>
   	<script type="text/javascript">
		layui.config({base: '../../js/protask/'}).use('protaskdetails');
	</script>
</body>
</html>