<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.ProFileDao">

    <select id="queryProFileList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			c.project_name projectName,
			DATE_FORMAT(a.update_time,'%Y-%m-%d %H:%i') updateTime,
			IFNULL(b.process_instance_id, '') processInstanceId,
			a.state,
			IF((a.state = 0 OR a.state = 1 OR a.state = 12 OR a.state = 3), 1, -1) editRow,
			g.title taskType
		FROM
			pro_file a
			LEFT JOIN pro_file_process b ON a.id = b.file_id,
			pro_project c,
			act_model g
		WHERE a.create_id = #{userId}
		AND a.pro_id = c.id
		AND g.page_url = '../../tpl/profile/profileadd.html'
		<if test="state != '' and state != null">
			AND a.state = #{state}
		</if>
		<if test="title != '' and title != null">
			AND a.title like '%${title}%'
		</if>
		<if test="projectName != '' and projectName != null">
			AND c.project_name like '%${projectName}%'
		</if>
		ORDER BY a.update_time DESC
	</select>
	
	<select id="queryProFileByTitle" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id
		FROM
			pro_file a	
		WHERE 
			a.title = #{title}
		AND a.pro_id = #{proId}
		<if test="id != '' and id != null">
			AND a.id != #{id}
		</if>
	</select>
	
	<insert id="insertProFileMation" parameterType="java.util.Map">
		insert into pro_file
        (id, pro_id, type_id, content, title, enclosure_info, state, create_id, create_time, update_time)
		values(#{id}, #{proId}, #{typeId}, #{content}, #{title}, #{enclosureInfo}, #{state}, #{createId},  #{createTime}, #{updateTime})
    </insert>
    
    <select id="queryProFileMationById" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			c.`name` typeName,
			b.project_name projectName,
			a.content,
		    a.state,
			a.enclosure_info enclosureInfo,
			IFNULL(e.process_instance_id, '') processInstanceId,
			d.user_name userName,
		    a.create_id createId
		FROM
			pro_file a
			LEFT JOIN pro_file_process e ON a.id = e.file_id,
			pro_project b,
			pro_file_type c,
			sys_eve_user_staff d 
		WHERE
			a.id = #{id}
		AND a.pro_id = b.id
		AND a.type_id = c.id
		AND a.create_id = d.user_id
	</select>
	
	<select id="queryProFileMationToEdit" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			a.type_id typeId,
			a.pro_id proId,
			a.content,
			a.enclosure_info enclosureInfo,
			a.state
		FROM
			pro_file a
		WHERE
			a.id = #{id}
	</select>
	
	<update id="editProFileMation" parameterType="java.util.Map">
		UPDATE pro_file
		<set>
			pro_id = #{proId},
			type_id = #{typeId},
			title = #{title},
			content = #{content},
			enclosure_info = #{enclosureInfo}
		</set>
		WHERE id = #{id}
	</update>
	
	<update id="updateProFileStateISInAudit">
		UPDATE pro_file
		<set>
			state = '1'
		</set>
		WHERE id = #{id}
	</update>
	
	<delete id="deleteProFileProcessById">
		DELETE
		FROM
			pro_file_process
		WHERE
			file_id = #{id}
	</delete>
	
	<insert id="insertProFileProcess" parameterType="java.util.Map">
		insert into pro_file_process
        (id, process_instance_id, file_id, state, type, sub_id, sub_time)
		values(#{id}, #{processInId}, #{fileId}, #{state}, #{type}, #{subId},  #{subTime})
    </insert>
    
    <select id="queryFileIdByProcessInstanceId" resultType="java.util.Map">
		SELECT
			a.id,
			a.file_id fileId
		FROM
			pro_file_process a
		WHERE
			a.process_instance_id = #{processInstanceId}
		AND a.state = '0'
	</select>
	
	<update id="editProFileStateById" parameterType="java.util.Map">
		UPDATE pro_file
		<set>
			state = #{state}
		</set>
		WHERE id = #{fileId}
	</update>
	
	<update id="editProFileProcessStateById" parameterType="java.util.Map">
		UPDATE pro_file_process
		<set>
			state = #{processState}
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="queryProFileId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.file_id id
		FROM
			pro_file_process a
		WHERE
			a.process_instance_id = #{processInstanceId}
	</select>
	
	<update id="editProFileProcessToRevoke" parameterType="java.util.Map">
		UPDATE pro_file
		<set>
			state = '3'
		</set>
		WHERE id = #{id}
	</update>
	
	<delete id="deleteProFileProcessToRevoke" parameterType="java.util.Map">
		DELETE
		FROM
			pro_file_process
		WHERE
			file_id = #{id}
		AND state = '0'
	</delete>
	
	<delete id="deleteProFileMationById" parameterType="java.util.Map">
		DELETE a.*, b.*
		FROM
			pro_file a
			LEFT JOIN pro_file_process b ON a.id = b.file_id
		WHERE
			a.id = #{id}
	</delete>
	
	<update id="updateProFileToCancellation" parameterType="java.util.Map">
		UPDATE pro_file
		<set>
			state = '2'
		</set>
		WHERE id = #{id}
	</update>
	
	<select id="queryAllProFileList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			c.project_name projectName,
			d.user_name createName,
			DATE_FORMAT(a.update_time,'%Y-%m-%d %H:%i') updateTime,
			IFNULL(b.process_instance_id, '') processInstanceId,
			a.state,
			g.title taskType
		FROM
			pro_file a
			LEFT JOIN pro_file_process b ON a.id = b.file_id
			LEFT JOIN sys_eve_user_staff d ON a.create_id = d.user_id,
			pro_project c,
			act_model g
		WHERE a.pro_id = c.id
		AND g.page_url = '../../tpl/profile/profileadd.html'
		<if test="state != '' and state != null">
			AND a.state = #{state}
		</if>
		<if test="title != '' and title != null">
			AND a.title like '%${title}%'
		</if>
		<if test="projectName != '' and projectName != null">
			AND c.project_name like '%${projectName}%'
		</if>
		ORDER BY a.update_time DESC
	</select>
	
	<select id="queryAllStateupProFileByProId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			DATE_FORMAT(a.update_time,'%Y-%m-%d %H:%i') updateTime,
			b.user_name createName,
			c.`name` typeName
		FROM
			pro_file a
			LEFT JOIN sys_eve_user_staff b ON a.create_id = b.user_id,
			pro_file_type c
		WHERE a.pro_id = #{id}
		AND a.state = '11'
		AND a.type_id = c.id
		ORDER BY a.update_time DESC
	</select>
	
</mapper>