<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.dao.ProProjectDiscussDao">

    <select id="queryProProjectDiscussList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			a.create_name createName,
			(SELECT COUNT(id) from pro_project_discuss_reply where discuss_id = a.id) replyNum,
			(SELECT DATE_FORMAT(create_time,'%Y-%m-%d %H:%i') from pro_project_discuss_reply where discuss_id = a.id ORDER BY create_time DESC LIMIT 1) recoveryTime,
			DATE_FORMAT(a.create_time,'%Y-%m-%d %H:%i') createTime
		FROM
			pro_project_discuss a
		WHERE a.pro_id = #{id}
	</select>
	
	<insert id="insertProProjectDiscuss" parameterType="java.util.Map">
		insert into pro_project_discuss
        (id, pro_id, type_id, content, title, create_name, create_id, create_time)
		values(#{id}, #{proId}, #{typeId}, #{content}, #{title}, #{createName}, #{createId},  #{createTime})
    </insert>
    
    <insert id="insertProProjectDiscussReply" parameterType="java.util.Map">
		insert into pro_project_discuss_reply
        (id, pro_id, discuss_id, content, create_name, create_id, create_time)
		values(#{id}, #{proId}, #{discussId}, #{content}, #{createName}, #{createId},  #{createTime})
    </insert>
    
    <delete id="deleteDiscussMationById" parameterType="java.util.Map">
		DELETE a.*, b.*
		FROM
			pro_project_discuss a
		LEFT JOIN pro_project_discuss_reply b ON a.id = b.discuss_id
		WHERE a.id = #{discussId}
	</delete>
	
	<select id="queryDiscussMationById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        	a.id,
			a.title,
			a.content,
			a.create_id createId,
			a.create_name createName,
			DATE_FORMAT(a.create_time,'%Y-%m-%d %H:%i') createTime,
			(SELECT COUNT(id) from pro_project_discuss_reply where discuss_id = a.id) replyNum
		FROM
			pro_project_discuss a
		WHERE a.id = #{discussId}
    </select>
    
    <select id="queryDiscussReplyByDiscussId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.content,
			a.create_id createId,
			a.create_name createName,
			b.user_photo createPhoto,
			DATE_FORMAT(a.create_time,'%Y-%m-%d %H:%i') createTime
		FROM
			pro_project_discuss_reply a,
			sys_eve_user_staff b
		WHERE a.discuss_id = #{discussId}
		AND b.user_id = a.create_id
		ORDER BY a.create_time ASC
    </select>
    
    <select id="queryAllDiscussList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id,
			a.title,
			a.create_name createName,
			(SELECT COUNT(id) from pro_project_discuss_reply where discuss_id = a.id) replyNum,
			(SELECT DATE_FORMAT(create_time,'%Y-%m-%d %H:%i') from pro_project_discuss_reply where discuss_id = a.id ORDER BY create_time DESC LIMIT 1) recoveryTime,
			DATE_FORMAT(a.create_time,'%Y-%m-%d %H:%i') createTime,
			a.pro_id proId,
			b.project_name projectName
		FROM
			pro_project_discuss a
			LEFT JOIN pro_project b ON a.pro_id = b.id
		WHERE 1=1
			<if test="title != '' and title != null">
				AND a.title like '%${title}%'
			</if>
			<if test="projectName != '' and projectName != null">
				AND b.project_name like '%${projectName}%'
			</if>
	</select>
	
</mapper>