<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.skyeye.eve.dao.EmailSendModelDao">
	
	<select id="queryEmailSendModelList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			esm.id,
			esm.title,
			b.user_name createName,
			CONVERT(esm.create_time, char) createTime,
			c.user_name lastUpdateName,
			CONVERT(esm.last_update_time, char) lastUpdateTime
		FROM
		    email_send_model esm
			LEFT JOIN sys_eve_user_staff b ON esm.create_id = b.user_id
			LEFT JOIN sys_eve_user_staff c ON esm.last_update_id = c.user_id
		WHERE 1 = 1
		<if test="title != null and title != ''">
			AND esm.title = '%${title}%'
		</if>
		ORDER BY esm.create_time DESC
	</select>

	<insert id="insertEmailSendModel" parameterType="java.util.Map">
		INSERT INTO email_send_model
		 (id, title, to_people, to_cc, to_bcc, create_id, create_time, last_update_id, last_update_time)
		VALUES
		 (#{id}, #{title}, #{toPeople}, #{toCc}, #{toBcc}, #{userId}, #{createTime}, #{userId}, #{createTime})
	</insert>

	<select id="queryEmailSendModelInfoById" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT
		    esm.id,
		    esm.title,
		    esm.to_people toPeople,
		    IFNULL(esm.to_cc, '') toCc,
			IFNULL(esm.to_bcc, '') toBcc,
			b.user_name createName,
			CONVERT(esm.create_time, char) createTime,
			c.user_name lastUpdateName,
			CONVERT(esm.last_update_time, char) lastUpdateTime
		FROM
		    email_send_model esm
		LEFT JOIN sys_eve_user_staff b ON esm.create_id = b.user_id
		LEFT JOIN sys_eve_user_staff c ON esm.last_update_id = c.user_id
		WHERE esm.id = #{id}
	</select>

	<update id="updateEmailSendModelById" parameterType="java.util.Map">
		UPDATE
		    email_send_model
		SET
			title = #{title},
			to_people = #{toPeople},
			to_cc = #{toCc},
			to_bcc = #{toBcc},
			last_update_id = #{userId},
			last_update_time = #{lastUpdateTime}
		WHERE id = #{id}
	</update>

	<delete id="delEmailSendModelById" parameterType="java.lang.String">
		DELETE FROM
			email_send_model
		WHERE id = #{id}
	</delete>

</mapper>