<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
	<link href="../../assets/lib/layui/css/layui.css" rel="stylesheet" />
	<link href="../../assets/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
	<div class="txtcenter" style="margin: 0 auto; padding-top: 10px;">
		<form class="layui-form layui-form-pane" action="" autocomplete="off">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">班次</label>
					<div class="layui-input-inline">
						<select lay-filter="timeId" lay-search="" id="timeId">
						</select>
					</div>
					<label class="layui-form-label">时间</label>
					<div class="layui-input-inline">
						<input type="text" id="checkTime" name="checkTime" placeholder="请选择时间段" class="layui-input" />
					</div>
					<label class="layui-form-label">姓名</label>
					<div class="layui-input-inline">
						<input type="text" id="userName" name="userName" placeholder="请输入姓名" class="layui-input" />
					</div>
					<button class="layui-btn list-form-search" type="button" id="formSearch"><language showName="com.skyeye.search2"></language></button>
				</div>
			</div>
		</form>
	</div>
	<div class="winui-toolbar">
		<div class="winui-tool">
			<button id="reloadTable" class="winui-toolbtn"><i class="fa fa-refresh" aria-hidden="true"></i><language showName="com.skyeye.refreshDataBtn"></language></button>
		</div>
	</div>
	<div class="layui-col-xs12" style="padding: 0px 15px; font-size: 12px; color: grey; float: left;">
		应出勤：选中时间段内除去节假日后的实际应上班天数；<br/>
		全勤：上班和下班都打了卡；<br/>
		缺勤：上班和下班都没打卡；<br/>
		工时不足：没有达到规定的工作时长；<br/>
		迟到：超过上班的打卡时间才打卡；<br/>
		早退：还没到下班的打卡时间就打卡；<br/>
		漏签：早卡和晚卡两个当中缺少一个的；
	</div>
	<div style="margin: auto 10px; float: left; width: calc(100% - 20px);">
		<form class="layui-form" action="">
			<div class="layui-input-block" style="height: 35px;">
				<input type="radio" name="type" lay-filter="type" value="table" title="表格模式" checked>
				<input type="radio" name="type" lay-filter="type" value="image" title="图标模式">
			</div>
			<div class="title" id="title" style="margin:0 auto; text-align:center;"></div>
		</form>
		<div id="tableList">
			<table id="messageTable" lay-filter="messageTable"></table>
		</div>
		<div id="echartsPie" style="width: 1000px;height:600px;margin:0 auto;overflow-x:auto"></div>
	</div>
	<script src="../../assets/lib/layui/layui.js"></script>
	<script src="../../assets/lib/layui/custom.js"></script>
	<script type="text/javascript">
		layui.config({base: '../../js/checkwork/'}).use('checkworkReport');
	</script>
</body>
</html>